/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$spectrum-table-header-cell-color = $spectrum-global-color-grey8;
$spectrum-table-background-color = $spectrum-global-color-grey2;
$spectrum-table-background-color-hover = rgba($spectrum-global-color-grey10, .03);

$spectrum-table-border-color = $spectrum-global-color-grey5;

.coral-Table-headerCell {
  color: $spectrum-table-header-cell-color;
}

.coral-Table-head {
  .coral-Table-row:not(:first-of-type) {
    .coral-Table-cell,
    .coral-Table-headerCell {
      border-top-color: $spectrum-table-border-color;
    }
  }
}

.coral-Table-body {
  .coral-Table-cell {
    background-color: $spectrum-table-background-color;
    border-top-color: $spectrum-table-border-color;

    &:first-of-type {
      border-left-color: $spectrum-table-border-color;
    }

    &:last-of-type {
      border-right-color: $spectrum-table-border-color;
    }
  }

  .coral-Table-row {
    &:first-of-type {
      .coral-Table-cell {
        border-top-color: $spectrum-table-border-color;
      }
    }

    &:last-of-type {
      .coral-Table-cell {
        border-bottom-color: $spectrum-table-border-color;
      }
    }
  }
}

.coral-Table--bordered {
  .coral-Table-head {
    .coral-Table-cell,
    .coral-Table-headerCell {
      &:not(:last-of-type) {
        border-right-color: $spectrum-table-border-color;
      }
    }
  }

  .coral-Table-body {
    .coral-Table-cell:not(:last-of-type) {
      border-right-color: $spectrum-table-border-color;
    }
  }
}

.coral-Table--hover {
  .coral-Table-body {
    .coral-Table-row:hover {
      .coral-Table-cell {
        background-color: $spectrum-table-background-color-hover;
      }
    }
  }
}
