/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

// default wait (spinner)

@keyframes spectrum-wait-spinner-small-animation {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -960*$px center;
  }
}

@keyframes spectrum-wait-spinner-medium-animation {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -1920*$px center;
  }
}

@keyframes spectrum-wait-spinner-large-animation {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -3840*$px center;
  }
}

// dots wait (three dots)

@keyframes spectrum-wait-dots-small-animation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -960*$px center;
  }
}

@keyframes spectrum-wait-dots-medium-animation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -1280*$px center;
  }
}

@keyframes spectrum-wait-dots-large-animation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -2560*$px center;
  }
}
