/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@require '../../commons'
@require 'animation.styl'

$spectrum-wait-spinner-small-height = 16*$px
$spectrum-wait-spinner-small-width = 16*$px
$spectrum-wait-spinner-medium-height = 32*$px
$spectrum-wait-spinner-medium-width = 32*$px
$spectrum-wait-spinner-large-height = 64*$px
$spectrum-wait-spinner-large-width = 64*$px

$spectrum-wait-dots-small-height = 9*$px
$spectrum-wait-dots-small-width = 24*$px
$spectrum-wait-dots-medium-height = 12*$px
$spectrum-wait-dots-medium-width = 32*$px
$spectrum-wait-dots-large-height = 24*$px
$spectrum-wait-dots-large-width = 64*$px

/*
 * this is common
 */
spectrum-wait--centered() {
  position: absolute;
  top: 50%;
  left: 50%;
}

/*
 * this is the wait spinner
 */
spectrum-wait-spinner() {
  display: inline-block;

  background-size: auto 100%;
  background-repeat: no-repeat;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps(60);
}
spectrum-wait-spinner--small() {
  width: $spectrum-wait-spinner-small-width;
  height: $spectrum-wait-spinner-small-height;

  animation-name: spectrum-wait-spinner-small-animation;
}

spectrum-wait-spinner--medium() {
  width: $spectrum-wait-spinner-medium-width;
  height: $spectrum-wait-spinner-medium-height;

  animation-name: spectrum-wait-spinner-medium-animation;
}

spectrum-wait-spinner--large() {
  width: $spectrum-wait-spinner-large-width;
  height: $spectrum-wait-spinner-large-height;

  animation-name: spectrum-wait-spinner-large-animation;
}

/*
 * this is a style set on two modifiers: e.g. wait--centered && wait--small
 */
spectrum-wait-spinner--centered--small() {
  margin-top: -($spectrum-wait-spinner-small-height / 2);
  margin-left: -($spectrum-wait-spinner-small-width / 2);
}

spectrum-wait-spinner--centered--medium() {
  margin-top: -($spectrum-wait-spinner-medium-height / 2);
  margin-left: -($spectrum-wait-spinner-medium-width / 2);
}

spectrum-wait-spinner--centered--large() {
  margin-top: -($spectrum-wait-spinner-large-height / 2);
  margin-left: -($spectrum-wait-spinner-large-width / 2);
}

/*
 * this is the wait dots
 */
spectrum-wait-dots() {
  background-repeat: no-repeat;

  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps(40);
}

spectrum-wait-dots--small() {
  width: $spectrum-wait-dots-small-width;
  height: $spectrum-wait-dots-small-height;

  background-size: auto 9*$px;

  animation-name: spectrum-wait-dots-small-animation;
}

spectrum-wait-dots--medium() {
  width: $spectrum-wait-dots-medium-width;
  height: $spectrum-wait-dots-medium-height;

  background-size: auto 12*$px;

  animation-name: spectrum-wait-dots-medium-animation;
}

spectrum-wait-dots--large() {
  width: $spectrum-wait-dots-large-width;
  height: $spectrum-wait-dots-large-height;

  background-size: auto 24*$px;

  animation-name: spectrum-wait-dots-large-animation;
}

/*
 * this is a style set on two modifiers: e.g. wait--centered && wait--small
 */
spectrum-wait-dots--centered--small() {
  margin-top: -($spectrum-wait-dots-small-height / 2);
  margin-left: -($spectrum-wait-dots-small-width / 2);
}

spectrum-wait-dots--centered--medium() {
  margin-top: -($spectrum-wait-dots-medium-height / 2);
  margin-left: -($spectrum-wait-dots-medium-width / 2);
}

spectrum-wait-dots--centered--large() {
  margin-top: -($spectrum-wait-dots-large-height / 2);
  margin-left: -($spectrum-wait-dots-large-width / 2);
}

