/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';
@import '../overlay/index.css';

:root {
  /* Distance between the edge of the fullscreen dialog and header */
  --spectrum-dialog-fullscreen-padding-top: calc(var(--spectrum-dialog-padding) - 10px);

  /* The font-size of the fullscreen dialog header */
  --spectrum-dialog-fullscreen-header-text-size: 28px;

  /* The font-weight of the fullscreen dialog header */
  --spectrum-dialog-fullscreen-header-text-font-weight: 100;

  /* Distance between top and bottom of dialog and edge of window for fullscreen dialog */
  --spectrum-dialog-fullscreen-margin: 40px;

  --spectrum-dialog-small-width: 400px;
  --spectrum-dialog-medium-width: 480px;
  --spectrum-dialog-large-width: 640px;
  --spectrum-dialog-max-width: 90vw;
  --spectrum-dialog-max-height: 90vh;
  --spectrum-dialog-hero-height: var(--spectrum-global-dimension-size-1600);
  --spectrum-dialog-alert-width: var(--spectrum-dialog-medium-width);

  --spectrum-dialog-button-margin: var(--spectrum-global-dimension-size-200);
  --spectrum-dialog-content-margin-bottom: var(--spectrum-global-dimension-size-450);

  /* 12px desktop (medium scale) and 8px mobile (large scale) */
  --spectrum-dialog-close-button-padding: calc(26px - var(--spectrum-global-dimension-size-175));
}


.spectrum-Dialog {
  /* Be a flexbox to allow a full sized content area that scrolls */
  display: flex;

  /* Allow 100% width, taking into account padding */
  box-sizing: border-box;

  /* Be no bigger than max-width, but also be 90% if the viewport is smaller than max-width */
  width: fit-content;
  min-width: var(--spectrum-dialog-min-width);
  max-width: 100%;

  max-height: inherit;

  outline: none;
}

.spectrum-Dialog--small {
  width: var(--spectrum-dialog-small-width);
}

.spectrum-Dialog--medium {
  width: var(--spectrum-dialog-medium-width);
}

.spectrum-Dialog--large {
  width: var(--spectrum-dialog-large-width);
}

.spectrum-Dialog-hero {
  grid-area: hero;
  height: var(--spectrum-dialog-hero-height);

  border-top-left-radius: var(--spectrum-dialog-border-radius);
  border-top-right-radius: var(--spectrum-dialog-border-radius);

  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.spectrum-Dialog .spectrum-Dialog-grid {
  display: grid;
  grid-template-columns: var(--spectrum-dialog-padding) auto var(--spectrum-dialog-padding);
  grid-template-rows: auto var(--spectrum-dialog-padding) auto auto 1fr auto var(--spectrum-dialog-padding);
  grid-template-areas:
    "hero hero    hero"
    ".    .       closeButton"
    ".    header  ."
    ".    divider ."
    ".    content ."
    ".    footer  ."
    ".    .       .";
  width: 100%;
}

.spectrum-Dialog-header {
  grid-area: header;
  display: flex;
  /* Without this, buttons will be stretched */
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  outline: none; /* Hide focus outline around header */
}

.spectrum-Dialog .spectrum-Dialog-divider {
  grid-area: divider;
  width: 100%;
  margin-top: var(--spectrum-dialog-rule-margin-top);
  margin-bottom: var(--spectrum-dialog-rule-margin-bottom);
}

.spectrum-Dialog--noDivider {
  .spectrum-Dialog-divider {
    display: none;
  }
}

.spectrum-Dialog-content {
  grid-area: content;
  box-sizing: border-box;

  /*
  v2 is currently worse, inputs that get focus rings get a slight clipping unless overflow: visible replaces this line
  we should think of a better way to handle this, see padding/margin below for fix
  */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  outline: none; /* Hide focus outline */

  font-size: var(--spectrum-dialog-content-text-size);
  font-weight: var(--spectrum-dialog-content-text-font-weight);
  line-height: var(--spectrum-dialog-content-text-line-height);

  /* this is kinda dumb, but needed for the keyboard focus rings so they don't get clipped. is there a better way to treat this */
  padding: 0 var(--spectrum-global-dimension-size-25);
  margin: 0 calc(-1 * var(--spectrum-global-dimension-size-25));
}


.spectrum-Dialog-footer {
  grid-area: footer;
  /* this padding isn't built into the grid because it disappears with this footer */
  padding-top: var(--spectrum-global-dimension-static-size-500);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  outline: none; /* Hide focus outline */

  /* Both selectors are required to override the button + button rule */
  > *,
  > .spectrum-Button + .spectrum-Button {
    margin-bottom: 0;
  }
}

.spectrum-Dialog--dismissable {
  .spectrum-Dialog-footer {
    display: none;
  }
}

.spectrum-Dialog-heading {
  flex: 1 1 auto;

  margin: 0;

  font-size: var(--spectrum-dialog-title-text-size);
  font-weight: var(--spectrum-dialog-title-text-font-weight);
  line-height: var(--spectrum-dialog-title-text-line-height);

  outline: none; /* Hide focus outline */
}

.spectrum-Dialog-closeButton {
  grid-area: closeButton;
  /* align and justify so it doesn't do the default 'stretch' and end up with forced height/width */
  align-self: start;
  justify-self: end;

  inset-block-start: var(--spectrum-dialog-close-button-padding);
  inset-inline-end: var(--spectrum-dialog-close-button-padding);
}

/* Alert Dialog is a specific type of Dialog */
.spectrum-Dialog--error {
  width: var(--spectrum-dialog-alert-width);
}

.spectrum-Dialog--fullscreen {
  width: calc(100vw - calc(2 * var(--spectrum-dialog-fullscreen-margin)));
  height: calc(100vw - calc(2 * var(--spectrum-dialog-fullscreen-margin)));
}
.spectrum-Dialog--fullscreenTakeover {
  width: 100vw;
  height: 100vh;

  border-radius: 0;
}
/** @unofficial */
.spectrum-Dialog--fullscreen,
.spectrum-Dialog--fullscreenTakeover {
  max-height: none;
  max-width: none;

  &.spectrum-Dialog .spectrum-Dialog-grid {
    display: grid;
    grid-template-columns: var(--spectrum-dialog-padding) 1fr auto var(--spectrum-dialog-padding);
    grid-template-rows: calc(var(--spectrum-dialog-padding) + var(--spectrum-dialog-fullscreen-padding-top)) auto auto 1fr var(--spectrum-dialog-padding);
    grid-template-areas:
      ".    .       .       ."
      ".    header  footer  ."
      ".    divider divider ."
      ".    content content ."
      ".    .       .       .";
  }

  .spectrum-Dialog-heading {
    font-size: var(--spectrum-dialog-fullscreen-header-text-size);
    font-weight: var(--spectrum-dialog-fullscreen-header-text-font-weight);
  }

  .spectrum-Dialog-content {
    max-height: none;
  }

  .spectrum-Dialog-footer {
    padding-top: 0px;
  }
}
