/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';
@import '../overlay/index.css';

:root {
  /* Distance between the edge of the fullscreen dialog and header */
  --spectrum-dialog-fullscreen-padding-top: calc(var(--spectrum-dialog-padding) - 10px);

  /* The font-size of the fullscreen dialog header */
  --spectrum-dialog-fullscreen-header-text-size: 28px;

  /* The font-weight of the fullscreen dialog header */
  --spectrum-dialog-fullscreen-header-text-font-weight: 100;

  --spectrum-dialog-small-width: 400px;
  --spectrum-dialog-medium-width: 480px;
  --spectrum-dialog-large-width: 640px;
  --spectrum-dialog-max-width: 90vw;
  --spectrum-dialog-max-height: 90vh;
  --spectrum-dialog-hero-height: var(--spectrum-global-dimension-size-1600);
  --spectrum-dialog-alert-width: var(--spectrum-dialog-medium-width);

  --spectrum-dialog-button-margin: var(--spectrum-global-dimension-size-200);
  --spectrum-dialog-content-margin-bottom: var(--spectrum-global-dimension-size-450);
}


.spectrum-Dialog {
  /* Be a flexbox to allow a full sized content area that scrolls */
  display: flex;
  flex-direction: column;

  /* Allow 100% width, taking into account padding */
  box-sizing: border-box;
  
  /* Be no bigger than max-width, but also be 90% if the viewport is smaller than max-width */
  width: fit-content;
  min-width: var(--spectrum-dialog-min-width);

  padding: var(--spectrum-dialog-padding);
  outline: none;
}

.spectrum-Dialog--small {
  width: var(--spectrum-dialog-small-width);
}

.spectrum-Dialog--medium {
  width: var(--spectrum-dialog-medium-width);
}

.spectrum-Dialog--large {
  width: var(--spectrum-dialog-large-width);
}

.spectrum-Dialog-hero {
  height: var(--spectrum-dialog-hero-height);

  margin-left: calc(-1 * var(--spectrum-dialog-padding));
  margin-right: calc(-1 * var(--spectrum-dialog-padding));
  margin-top: calc(-1 * var(--spectrum-dialog-padding));
  margin-bottom: var(--spectrum-dialog-padding);

  border-top-left-radius: var(--spectrum-dialog-border-radius);
  border-top-right-radius: var(--spectrum-dialog-border-radius);

  background-size: cover;
  background-position: center center;
}

.spectrum-Dialog-header {
  display: flex;
  /* Without this, buttons will be stretched */
  align-items: center;

  position: relative;
  box-sizing: border-box;
  width: 100%;

  /* Don't get small when the dialog does */
  flex-shrink: 0;

  border-radius: var(--spectrum-dialog-border-radius) var(--spectrum-dialog-border-radius) 0 0;
  outline: none; /* Hide focus outline around header */

  padding-bottom: calc(var(--spectrum-dialog-rule-margin-top) + var(--spectrum-dialog-rule-margin-bottom) + var(--spectrum-dialog-rule-height));

  /* The rule element */
  &::after {
    position: absolute;
    bottom: var(--spectrum-dialog-rule-margin-bottom);
    left: 0;
    right: 0;
    content: '';

    height: var(--spectrum-dialog-rule-height);
  }
}

.spectrum-Dialog--noDivider {
  .spectrum-Dialog-header {
    &::after {
      display: none;
    }
  }
}

.spectrum-Dialog-closeButton {
  display: none;
}

.spectrum-Dialog--dismissible {
  .spectrum-Dialog-footer {
    /* You cannot have buttons in a dismissible dialog */
    display: none;
  }

  .spectrum-Dialog-closeButton {
    display: initial;
  }
}

.spectrum-Dialog-closeButton {
  position: absolute;
  top: calc(-1 * var(--spectrum-global-dimension-size-350));
  right: calc(-1 * var(--spectrum-global-dimension-size-350));
}

.spectrum-Dialog-typeIcon {
  display: block;
}

.spectrum-Dialog-content {
  display: block;
  box-sizing: border-box;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  flex: 1 1 auto;

  outline: none; /* Hide focus outline */

  font-size: var(--spectrum-dialog-content-text-size);
  font-weight: var(--spectrum-dialog-content-text-font-weight);
  line-height: var(--spectrum-dialog-content-text-line-height);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .spectrum-Dialog-content {
    /* Temporary IE 11 fix */
    max-height: 70vh;
  }
}

.spectrum-Dialog-footer {
  border-radius: 0 0 var(--spectrum-dialog-border-radius) var(--spectrum-dialog-border-radius);
  padding-top: calc(var(--spectrum-dialog-content-margin-bottom) - var(--spectrum-dialog-button-margin) / 2);

  flex: 0 1 auto;
  flex-wrap: wrap;

  display: flex;
  justify-content: flex-end;

  outline: none; /* Hide focus outline */

  margin: calc(-1 * var(--spectrum-dialog-button-margin) / 2);
  margin-top: 0;

  /* Both selectors are required to override the button + button rule */
  > *,
  > .spectrum-Button + .spectrum-Button {
    margin: calc(var(--spectrum-dialog-button-margin) / 2);
  }
}

.spectrum-Dialog-title {
  flex: 1 1 auto;

  margin: 0;

  font-size: var(--spectrum-dialog-title-text-size);
  font-weight: var(--spectrum-dialog-title-text-font-weight);
  line-height: var(--spectrum-dialog-title-text-line-height);

  outline: none; /* Hide focus outline */
}

/* Alert Dialog is a specific type of Dialog */
.spectrum-Dialog--alert {
  width: var(--spectrum-dialog-alert-width);
}

/** @unofficial */
.spectrum-Dialog--fullscreen,
.spectrum-Dialog--fullscreenTakeover {
  width: auto;
  max-height: none;
  max-width: none;

  padding-top: var(--spectrum-dialog-fullscreen-padding-top);

  .spectrum-Dialog-header {
    flex-shrink: 0;
  }

  .spectrum-Dialog-title {
    font-size: var(--spectrum-dialog-fullscreen-header-text-size);
    font-weight: var(--spectrum-dialog-fullscreen-header-text-font-weight);
  }

  .spectrum-Dialog-content {
    max-height: none;
  }
}
