.spectrum-Breadcrumbs {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.spectrum-Breadcrumbs:after {
    content: "";
    display: table;
    clear: both;
  }
.spectrum-Breadcrumbs-itemSeparator {
  position: absolute;
  top: calc(50% - var(--spectrum-breadcrumb-ui-icon-height, var(--spectrum-global-dimension-size-100)) / 2 - 1px);
  right: calc(var(--spectrum-breadcrumb-margin, 32px) / -2 - var(--spectrum-breadcrumb-ui-icon-width, var(--spectrum-global-dimension-size-75)) / 2);

  width: var(--spectrum-breadcrumb-ui-icon-width, var(--spectrum-global-dimension-size-75));
  height: var(--spectrum-breadcrumb-ui-icon-height, var(--spectrum-global-dimension-size-100));

  transform: scale(1);

  opacity: 1;
}
.spectrum-Breadcrumbs-item {
  display: block;
  float: left;

  position: relative;

  margin-right: var(--spectrum-breadcrumb-margin, 32px);

  font-size: var(--spectrum-breadcrumb-text-size, 16px);
  font-weight: var(--spectrum-breadcrumb-text-font-weight, 300);
}
.spectrum-Breadcrumbs-item .spectrum-Breadcrumbs-itemLink {
    cursor: default;
    display: inline;
  }
.spectrum-Breadcrumbs-item .spectrum-Breadcrumbs-itemLink[href],
    .spectrum-Breadcrumbs-item .spectrum-Breadcrumbs-itemLink[tabindex="0"] {
      cursor: pointer;
    }
.spectrum-Breadcrumbs-item:last-of-type .spectrum-Breadcrumbs-itemSeparator {
      display: none;
    }
.spectrum-Breadcrumbs--title .spectrum-Breadcrumbs-item:last-of-type {
    /* Clear the floats so we drop to a new line */
    clear: left;

    display: block;

    margin: var(--spectrum-breadcrumb-title-margin, 0.3em 0);

    font-size: var(--spectrum-breadcrumb-title-active-text-size, 28px);
    font-weight: var(--spectrum-breadcrumb-title-active-text-font-weight, 300);
    line-height: var(--spectrum-breadcrumb-title-active-text-line-height, 32px);
  }
.spectrum-Breadcrumbs--title .spectrum-Breadcrumbs-item .spectrum-Heading--pageTitle {
    margin: 0;

    font-size: inherit;
    font-weight: inherit;
  }
.spectrum-Breadcrumbs-item {
  color: var(--spectrum-breadcrumb-text-color, var(--spectrum-global-color-gray-700));
}
.spectrum-Breadcrumbs-item .spectrum-Breadcrumbs-itemSeparator {
    color: var(--spectrum-breadcrumb-ui-icon-color, var(--spectrum-global-color-gray-500));
  }
.spectrum-Breadcrumbs-item .spectrum-Breadcrumbs-itemLink {
    color: inherit;
    text-decoration: none;
  }
.spectrum-Breadcrumbs-item .spectrum-Breadcrumbs-itemLink:hover {
      color: var(--spectrum-breadcrumb-text-color-hover, var(--spectrum-global-color-gray-900));
    }
.spectrum-Breadcrumbs-item .spectrum-Breadcrumbs-itemLink.focus-ring {
      color: var(--spectrum-breadcrumb-text-color-key-focus, var(--spectrum-global-color-blue-600));
      outline: 0;
      border-bottom: 2px solid var(--spectrum-breadcrumb-text-color-key-focus, var(--spectrum-global-color-blue-600));
    }
.spectrum-Breadcrumbs-item .spectrum-Breadcrumbs-itemLink:active {
      color: var(--spectrum-breadcrumb-text-color-down, var(--spectrum-global-color-gray-900));
      border-bottom: 0;
    }
.spectrum-Breadcrumbs-item.is-selected,
  .spectrum-Breadcrumbs-item:last-of-type {
    color: var(--spectrum-breadcrumb-text-color-down, var(--spectrum-global-color-gray-900));
  }
.spectrum-Breadcrumbs-item.is-selected ~ .spectrum-Breadcrumb:last-of-type {
        color: var(--spectrum-breadcrumb-text-color, var(--spectrum-global-color-gray-700));
      }
.spectrum-Breadcrumbs-item.is-selected .spectrum-Breadcrumbs-itemLink.focus-ring {
        color: var(--spectrum-breadcrumb-text-color-down, var(--spectrum-global-color-gray-900));
        border-bottom: 0;
      }
/* topdoc
{{ breadcrumb/breadcrumb.yml }}
*/
/* topdoc
{{ breadcrumb/breadcrumb-title.yml }}
*/
