@import '@spectrum/spectrum-css/dist/components/label/index.css';
@import '@spectrum/spectrum-css/dist/components/label/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/label/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/label/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/label/multiStops/darkest.css';
