@import '@spectrum/spectrum-css/dist/components/breadcrumb/index.css';
@import '@spectrum/spectrum-css/dist/components/breadcrumb/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/breadcrumb/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/breadcrumb/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/breadcrumb/multiStops/darkest.css';

.spectrum-Breadcrumbs {
  > .coral-Icon:first-child {
    cursor: default;
    margin-right: 10px;
    vertical-align: top;
  }
}

