.react-spectrum-Breadcrumbs-icon {
  cursor: default;
  margin-right: 10px;
  vertical-align: top;
}

  /* remove after spectrum-css 2.12 and remove from breadcrumbs file as well */
.spectrum--light .spectrum-Breadcrumbs-item .react-spectrum-overrride-Breadcrumbs-itemLink.spectrum-Breadcrumbs-itemLink.focus-ring {
  color: rgb(13, 102, 208);
  border-bottom: 2px solid rgb(13, 102, 208);
}

.spectrum--lightest .spectrum-Breadcrumbs-item .react-spectrum-overrride-Breadcrumbs-itemLink.spectrum-Breadcrumbs-itemLink.focus-ring {
  color: rgb(20, 115, 230);
  border-bottom: 2px solid rgb(20, 115, 230);
}

.spectrum--dark .spectrum-Breadcrumbs-item .react-spectrum-overrride-Breadcrumbs-itemLink.spectrum-Breadcrumbs-itemLink.focus-ring {
  color: rgb(75, 156, 245);
  border-bottom: 2px solid rgb(75, 156, 245);
}

.spectrum--darkest .spectrum-Breadcrumbs-item .react-spectrum-overrride-Breadcrumbs-itemLink.spectrum-Breadcrumbs-itemLink.focus-ring {
  color: rgb(55, 142, 240);
  border-bottom: 2px solid rgb(55, 142, 240);
}
