@import '@spectrum/spectrum-css/dist/components/button/index.css';
@import '@spectrum/spectrum-css/dist/components/button/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/button/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/button/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/button/multiStops/darkest.css';
