@import '@spectrum/spectrum-css/dist/components/pagination/index.css';
@import '@spectrum/spectrum-css/dist/components/pagination/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/pagination/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/pagination/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/pagination/multiStops/darkest.css';
