@import '../../commons'
@import '@spectrum/spectrum-abstract-stylus/dist/components/button'

.coral-DropdownButton {
  display: inline-block;

  .coral-DropdownButton-arrow {
    margin-left: ($spectrum-padding / 2);
  }
}
