/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@import '../../commons'
@import '@spectrum/spectrum-abstract-stylus/dist/components/tablist'
@import '@spectrum/spectrum-abstract-stylus/dist/components/tab'

.coral-TabList {
  clearfix();
  spectrum-tablist()
}

// Normal Tab Style
.coral-Tab {
  spectrum-tab()

  .coral-Icon {
    spectrum-tab-icon()
  }

  > .coral-Tab-label {
    spectrum-tab-label()
  }

  &.is-disabled {
    spectrum-tab--disabled()
  }
}

.coral-TabList--horizontal {
  .coral-Tab {
    spectrum-tab--horizontal()

    > .coral-Tab-label {
      spectrum-tab-label--horizontal()
    }

    &.is-selected {
      // Horizontal Active Tab Line
      > .coral-Tab-label:after {
        spectrum-tab--horizontal--selected()
      }
    }
  }
}

// Vertical Tabs Style
.coral-TabList--vertical {
  display: inline-block;

  .coral-Tab {
    spectrum-tab--vertical()

    > .coral-Tab-label {
      spectrum-tab-label--vertical()
    }

    > .coral-Icon {
      spectrum-tab-icon--vertical()
    }

    &.is-selected {
      > .coral-Tab-label:after {
        spectrum-tab--vertical--selected()
      }
    }
  }
}

// Large Tab (Bigger font and no uppercase)
.coral-TabList--large .coral-Tab .coral-Tab-label {
  spectrum-tab--large()
}

@require 'light.styl'
@require 'dark.styl'
