/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.coral-Tab {
  color: $spectrum-tab-text-color-default;

  &:hover {
    color: $spectrum-tab-text-color-hover; //as in spec
  }

  &.is-selected {
    color: $spectrum-tab-text-color-active;
    > .coral-Tab-label:after {
      border-color: $spectrum-tab-border-color-default;
    }
  }

  &:focus:not(:active) {
    color: $spectrum-tab-text-color-focus;

    > .coral-Tab-label:after {
      border-color: $spectrum-tab-border-color-focus;
    }
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus {
    color: $spectrum-tab-text-color-default;
    box-shadow: none;

    * {
      box-shadow: none;
      color: $spectrum-tab-text-color-default;
    }

    &.is-selected {
      color: $spectrum-tab-text-color-default;
      &:after {
        border-color: $spectrum-tab-border-color-disabled;
      }
    }
  }
}

.coral-TabList--vertical {
  .coral-Tab {
    color: $spectrum-tab-text-color-default;

    &:hover {
      color: $spectrum-tab-text-color-hover;
    }

    &.is-selected {
      color: $spectrum-tab-text-color-active;
      &:after {
        border-color: $spectrum-tab-text-color-active;
      }
    }

    &:focus {
      color: $spectrum-tab-text-color-focus;

      &:after {
        border-color: $spectrum-tab-border-color-focus;
      }
    }
  }
}
