/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  --spectrum-miller-column-chevron-height: 10px;
  --spectrum-miller-column-chevron-width: 6px;
  --spectrum-miller-column-checkbox-margin: 0;
}

.spectrum-AssetList {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.spectrum-AssetList-item {
  position: relative;

  display: flex;
  box-sizing: border-box;
  align-items: center;

  width: var(--spectrum-miller-column-width);
  height: var(--spectrum-miller-column-item-height);

  padding: 0 var(--spectrum-miller-column-item-padding-right) 0 var(--spectrum-miller-column-item-padding-left);
  margin: 0 0 var(--spectrum-miller-column-item-margin-bottom) 0;

  border-radius: var(--spectrum-miller-column-item-border-radius);

  transition: background-color var(--spectrum-global-animation-duration-100) ease-in-out;

  font-size: var(--spectrum-selectlist-option-text-size);
  font-weight: var(--spectrum-selectlist-option-text-font-weight);
  font-style: normal;

  cursor: pointer;

  outline: none;

  &::before {
    content: '';

    position: absolute;
    left: 0;
    right: 0;

    height: var(--spectrum-miller-column-item-height);

    background-color: transparent;

    border-radius: var(--spectrum-miller-column-item-border-radius);
  }

  &.is-selectable,
  &.is-selected,
  &:hover,
  &:focus {
    /* checkbox on the left, shows up always */
    .spectrum-Checkbox {
      display: inline-flex;
    }
  }

  &.is-branch {
    /* show chevron */
    .spectrum-AssetList-itemChildIndicator {
      display: block;
    }
  }

  .spectrum-AssetList-itemThumbnail {
    /* Remove the border on images inside links in IE 10-. */
    border-style: none;

    width: var(--spectrum-miller-column-thumbnail-width);
    height: var(--spectrum-miller-column-thumbnail-height);
    margin-left: var(--spectrum-miller-column-thumbnail-margin-left);
    vertical-align: middle;
  }
}

.spectrum-AssetList-itemSelector {
  display: none;
  margin: var(--spectrum-miller-column-checkbox-margin);
}

.spectrum-AssetList-itemChildIndicator {
  display: none;
  transition: transform ease var(--spectrum-global-animation-duration-100);
}

.spectrum-AssetList-itemLabel {
  flex: 1;
  padding-left: var(--spectrum-miller-column-item-label-padding-left);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
