.spectrum-QuickActions {
  visibility: hidden;

  opacity: 0;

  transition: transform var(--spectrum-global-animation-duration-100, 130ms) ease-in-out,
              opacity var(--spectrum-global-animation-duration-100, 130ms) ease-in-out,
              visibility 0ms linear var(--spectrum-global-animation-duration-100, 130ms);

  pointer-events: none;
}
.spectrum-QuickActions.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum-QuickActions--left.is-open {
  transform: translateX(var(--spectrum-dropdown-flyout-menu-offset-y, var(--spectrum-global-dimension-size-75)));
}
.spectrum-QuickActions--right.is-open {
  transform: translateX(calc(-1 * var(--spectrum-dropdown-flyout-menu-offset-y, var(--spectrum-global-dimension-size-75))));
}
.spectrum-QuickActions {
  box-sizing: border-box;

  display: -ms-inline-flexbox;

  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;

  padding: var(--spectrum-quickactions-padding-y, var(--spectrum-global-dimension-size-50)) var(--spectrum-quickactions-padding-x, var(--spectrum-global-dimension-size-50));

  height: var(--spectrum-quickactions-height, var(--spectrum-global-dimension-size-500));

  border-radius: var(--spectrum-quickactions-border-radius, var(--spectrum-global-dimension-size-50));
}
.spectrum-QuickActions .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: var(--spectrum-quickactions-icon-button-gap-x, var(--spectrum-global-dimension-size-100));
  }
.spectrum-QuickActions--textOnly .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: var(--spectrum-quickactions-text-button-gap-x, var(--spectrum-global-dimension-size-50));
  }
.spectrum-QuickActions--right.is-open { /* should animate to the left when aligned right */
  }
.spectrum-QuickActions--left.is-open { /* should animate to the right when aligned left */
  }
/* topdoc
{{ quickaction/quickactions.yml }}
*/
.spectrum-QuickActions-overlay {
  background-color: var(--spectrum-quickactions-overlay-color, rgba(0,0,0,0.2));
}
.spectrum-QuickActions {
  background-color: var(--spectrum-quickactions-background-color, var(--spectrum-alias-background-color-quickactions));
}
