@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.coral3-Backdrop {
  animation-duration: 0.3s;
  animation-name: fadein;
  background: rgba(0,0,0,.4);
  position: fixed;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  z-index: auto;
}

.coral3-modal {
  animation-duration: 0.3s;
  animation-name: fadein;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10040;
}
