.spectrum-ColorLoupe-outer {
  fill: var(--spectrum-colorloupe-inner-border-color);
  stroke: var(--spectrum-colorloupe-outer-border-color);
}

.spectrum-ColorLoupe-inner-background {
  fill: var(--spectrum-global-color-static-white);
}
.spectrum-ColorLoupe-inner-checker {
  fill: #e6e6e6;
}

@media (forced-colors: active) {
  .spectrum-ColorLoupe {
    forced-color-adjust: none;
    --spectrum-colorloupe-inner-border-color: ButtonText;
    --spectrum-colorloupe-outer-border-color: ButtonFace;
  }
}