{
  "presets": [ "react", "es2015" ],
  "env": {
    "cover": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    "syntax-class-properties",
    "syntax-decorators",
    "syntax-trailing-function-commas",
    "syntax-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-async-to-generator",
    "transform-glob-import"
  ]
}
