packages/@spectrum-icons/color/**
packages/@spectrum-icons/ui/**
packages/@spectrum-icons/workflow/**
packages/@spectrum-icons/illustrations/**
node_modules
packages/*/*/dist
packages/react-aria/dist
packages/react-stately/dist
