{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-param-reassign": 0,
    "no-use-before-define": 0,
    "arrow-body-style": 0,
    "new-cap": ["error", { "properties": false }],
    "template-curly-spacing": ["error", "always"],
    "react/prop-types": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-pascal-case": [2, { "ignore": ["TR", "TH", "TD"] }],
    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-indent": 0
  }
}
