{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": ["error", "never"],
    "new-cap": ["error", { "properties": false }],
    "no-mixed-operators": 0,
    "no-param-reassign": 0,
    "no-use-before-define": 0,
    "template-curly-spacing": ["error", "always"],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/imports/first": 0,
    "jsx-a11y/label-has-for": 0,
    "react/display-name": [2, { ignoreTranspilerName: true }],
    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-filename-extension": 0,
    "react/jsx-indent": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-pascal-case": [2, { "ignore": ["TR", "TH", "TD"] }],
    "react/no-string-refs": 0,
    "react/prop-types": 0
  }
}
