.DS_Store
coverage
node_modules
npm-debug.log
test-reports.xml
.nyc_output
dist
.idea
.package-lock.json
.cache
.parcel-cache
packages/dev/v2-test-deps

dist
public
storybook-static


#allow
!.storybook-v3/lib
