@coralui:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-coralui-release/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-coralui-release/:always-auth=false

@spectrum:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-spectrum-snapshot/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-spectrum-snapshot/:always-auth=false

@react:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/:always-auth=false

@kadira:registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=false

@types:registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=false
