/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  /* Todo: fix in DNA, should have been zero */
  --spectrum-fieldbutton-quiet-border-size: 0;
  --spectrum-fieldbutton-disabled-border-size: 0;
  --spectrum-fieldbutton-quiet-margin: 0;
  --spectrum-fieldbutton-quiet-padding: 0;

  /* Hardcoded for wrapping study, needs to be in DNA */
  --spectrum-button-padding-y: var(--spectrum-global-dimension-size-50);
  --spectrum-button-line-height: 1.3;
}

%spectrum-BaseButton {
  display: inline-flex;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  /* Show the button overflow in Edge. */
  overflow: visible;

  /* Remove button the margin in Firefox and Safari. */
  margin: 0;

  border-style: solid;

  /* Remove the inheritance of text transform on button in Edge, Firefox, and IE. */
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  /* Font smoothing for Firefox */
  -moz-osx-font-smoothing: grayscale;

  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  /* Adjacent buttons should be aligned correctly */
  vertical-align: top;

  transition: background var(--spectrum-global-animation-duration-100) ease-out,
              border-color var(--spectrum-global-animation-duration-100) ease-out,
              color var(--spectrum-global-animation-duration-100) ease-out,
              box-shadow var(--spectrum-global-animation-duration-100) ease-out;

  text-decoration: none;
  font-family: var(--spectrum-font-family-base);

  line-height: var(--spectrum-button-line-height);

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  &:focus {
    outline: none;
  }

  /* Fix Firefox */
  &::-moz-focus-inner {
    border: 0;

    /* Remove the inner border and padding for button in Firefox. */
    border-style: none;
    padding: 0;

    /* Use uppercase PX so values don't get converted to rem */
    margin-block-start: -2PX;
    margin-block-end: -2PX;
  }

  /* Restore the focus styles unset by the previous rule. */
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
  }

  .spectrum-Icon {
    max-block-size: 100%;
    flex-shrink: 0;
  }
}

.spectrum-Button {
  @inherit: %spectrum-BaseButton;

  border-width: var(--spectrum-button-primary-border-size);
  border-style: solid;
  border-radius: var(--spectrum-button-primary-border-radius);

  min-block-size: var(--spectrum-button-primary-height);
  block-size: auto;
  min-inline-size: var(--spectrum-button-primary-min-width);

  padding: var(--spectrum-button-padding-y) calc(var(--spectrum-button-primary-padding-x) - var(--spectrum-button-primary-border-size));

  /* @hack: fix button text vertical alignment at 14px */
  padding-block-end: calc(var(--spectrum-button-padding-y) + 0.5px);
  padding-block-end: calc(var(--spectrum-button-padding-y) - 0.5px);

  font-size: var(--spectrum-button-primary-text-size);
  font-weight: var(--spectrum-button-primary-text-font-weight);

  &:hover,
  &:active {
    box-shadow: none;
  }

  .spectrum-Icon + .spectrum-Button-label {
    margin-inline-start: var(--spectrum-button-primary-text-gap);
  }

  .spectrum-Button-label + .spectrum-Icon {
    margin-inline-start: calc(var(--spectrum-button-primary-text-gap) / 2);
  }
}

a.spectrum-Button,
a.spectrum-ActionButton {
  /* Remove appearance for clickable types in iOS and Safari. */
  -webkit-appearance: none;
  /* Make link text not selectable  */
  user-select: none;
}

.spectrum-ActionButton {
  @inherit: %spectrum-BaseButton;
  position: relative;

  height: var(--spectrum-actionbutton-height);
  min-width: var(--spectrum-actionbutton-min-width);

  /* Use icon padding by default as it's smaller */
  padding: 0 calc(var(--spectrum-actionbutton-icon-padding-x) - var(--spectrum-actionbutton-border-size));

  border-width: var(--spectrum-actionbutton-border-size);
  border-radius: var(--spectrum-actionbutton-border-radius);

  font-size: var(--spectrum-actionbutton-text-size);
  font-weight: var(--spectrum-actionbutton-text-font-weight);

  .spectrum-ActionButton-label {
    /* Have icon padding on the left */
    padding-inline-start: var(--spectrum-actionbutton-icon-padding-x);

    /* Have text padding on the right */
    padding-inline-end: calc(var(--spectrum-actionbutton-text-padding-x) - var(--spectrum-actionbutton-icon-padding-x));
  }

  .spectrum-Icon--sizeS:only-child {
    /* Position absolutely to avoid layout errors introduced by padding */
    position: absolute;
    top: calc(50% - calc(var(--spectrum-actionbutton-icon-size) / 2));
    left: calc(50% - calc(var(--spectrum-actionbutton-icon-size) / 2));
  }

  .spectrum-ActionButton-label:only-child {
    /* Add padding for text only buttons */
    padding: 0 calc(var(--spectrum-actionbutton-text-padding-x) - var(--spectrum-actionbutton-icon-padding-x));
  }
}

.spectrum-ActionButton-hold {
  position: absolute;
  right: var(--spectrum-actionbutton-hold-icon-padding-right);
  bottom: var(--spectrum-actionbutton-hold-icon-padding-bottom);
}

.spectrum-ActionButton-label,
.spectrum-Button-label {
  align-self: center;
  justify-self: center;

  /* @safari10 Workaround for https://bugs.webkit.org/show_bug.cgi?id=169700 */
  inline-size: 100%;

  &:empty {
    display: none;
  }
}


.spectrum-ActionButton-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spectrum-ActionButton--quiet {
  border-width: var(--spectrum-actionbutton-quiet-border-size);
  border-radius: var(--spectrum-actionbutton-quiet-border-radius);

  font-size: var(--spectrum-actionbutton-quiet-text-size);
  font-weight: var(--spectrum-actionbutton-quiet-text-font-weight);
}

.spectrum-LogicButton {
  @inherit: %spectrum-BaseButton;

  block-size: var(--spectrum-logicbutton-and-height);
  padding: var(--spectrum-logicbutton-and-padding-x);

  border-width: var(--spectrum-logicbutton-and-border-size);
  border-radius: var(--spectrum-logicbutton-and-border-radius);

  font-size: var(--spectrum-logicbutton-and-text-size);
  font-weight: var(--spectrum-logicbutton-and-text-font-weight);
  line-height: 0;
}

.spectrum-FieldButton {
  @inherit: %spectrum-BaseButton;

  block-size: var(--spectrum-dropdown-height);

  padding: 0 var(--spectrum-dropdown-padding-x);

  font-family: inherit;
  font-weight: normal;
  font-size: var(--spectrum-dropdown-text-size);
  line-height: normal;
  -webkit-font-smoothing: initial;

  cursor: pointer;
  outline: none;
}

.spectrum-FieldButton {
  margin: 0;
  padding: 0 var(--spectrum-dropdown-padding-x);

  border-width: var(--spectrum-dropdown-border-size);
  border-style: solid;
  border-radius: var(--spectrum-border-radius);

  transition: background-color var(--spectrum-global-animation-duration-100),
    box-shadow var(--spectrum-global-animation-duration-100),
    border-color var(--spectrum-global-animation-duration-100);

  &:disabled,
  &.is-disabled {
    border-width: var(--spectrum-fieldbutton-disabled-border-size);
    cursor: default;
  }

  &.is-open {
    border-width: var(--spectrum-dropdown-border-size);
  }
}

.spectrum-FieldButton--quiet {
  margin: var(--spectrum-fieldbutton-quiet-margin);
  padding: var(--spectrum-fieldbutton-quiet-padding);

  border-width: var(--spectrum-fieldbutton-quiet-border-size);
  border-radius: var(--spectrum-fieldbutton-quiet-border-radius);
}

.spectrum-ClearButton {
  @inherit: %spectrum-BaseButton;

  inline-size: var(--spectrum-clearbutton-medium-width);
  block-size: var(--spectrum-clearbutton-medium-height);

  border-radius: 100%;

  padding: 0;
  margin: 0;

  border: none;

  > .spectrum-Icon {
    /* @safari10 Workaround for https://bugs.webkit.org/show_bug.cgi?id=169700 */
    margin: 0 auto;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .spectrum-ClearButton {
    > .spectrum-Icon {
      /* @ie11 Workaround for regression caused by fix for https://bugs.webkit.org/show_bug.cgi?id=169700 */
      margin: 0
    }
  }
}

.spectrum-ClearButton--small {
  inline-size: var(--spectrum-clearbutton-small-width);
  block-size: var(--spectrum-clearbutton-small-height);
}

/* Potentially temporary: Add back default margin between all buttons when adjacent */
.spectrum-Button + .spectrum-Button {
  margin-inline-start: var(--spectrum-buttongroup-button-gap-x);
}

.spectrum-ActionButton + .spectrum-ActionButton {
  margin-inline-start: var(--spectrum-actionbuttongroup-text-button-gap-x);
}

.spectrum-Tool-hold {
  position: absolute;
  inset-block-end: var(--spectrum-tool-hold-icon-padding-bottom);
  inset-inline-end: var(--spectrum-tool-hold-icon-padding-right);

  &.is-reversed {
    transform: rotate(90deg);
  }
} 

.spectrum-ButtonGroup-item--vertical {
  .spectrum-ActionButton-label {
    flex-grow: 1;
    text-align: left;
  }

  &.spectrum-Button + .spectrum-Button {
    margin-block-start: var(--spectrum-buttongroup-button-gap-y);
    margin-inline-start: var(--spectrum-buttongroup-button-gap-reset);
  }

  &.spectrum-ActionButton + .spectrum-ActionButton {
    margin-block-start: var(--spectrum-actionbuttongroup-text-button-gap-y);
    margin-inline-start: var(--spectrum-buttongroup-button-gap-reset);
  }

  &.spectrum-Tool + .spectrum-Tool {
    margin-block-start: var(--spectrum-toolgroup-text-button-gap-y);
    margin-inline-start: var(--spectrum-buttongroup-button-gap-reset);
  }
}
