/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:root {
  /* Overridden because of the way we draw focus rings */
  --spectrum-actionbutton-quiet-border-size-key-focus: 1px;
}

.spectrum-LogicButton,
.spectrum-Button {
  &:focus-ring,
  &.is-focused {
    &:after {
      box-shadow: 0 0 0 var(--spectrum-button-primary-focus-ring-size-key-focus) var(--spectrum-button-primary-focus-ring-color-key-focus);
    }
  }
}

.spectrum-ClearButton {
  background-color: var(--spectrum-clearbutton-medium-background-color);

  color: var(--spectrum-clearbutton-medium-icon-color);

  .spectrum-Icon {
    fill: var(--spectrum-clearbutton-medium-icon-color);
  }

  &:hover {
    background-color: var(--spectrum-clearbutton-medium-background-color-hover);

    color: var(--spectrum-clearbutton-medium-icon-color-hover);

    .spectrum-Icon {
      fill: var(--spectrum-clearbutton-medium-icon-color-hover);
    }
  }

  &.is-active {
    background-color: var(--spectrum-clearbutton-medium-background-color-down);

    color: var(--spectrum-clearbutton-medium-icon-color-down);

    .spectrum-Icon {
      fill: var(--spectrum-clearbutton-medium-icon-color-down);
    }
  }

  &:focus-ring {
    background-color: var(--spectrum-clearbutton-medium-background-color-key-focus);

    color: var(--spectrum-clearbutton-medium-icon-color-key-focus);

    .spectrum-Icon {
      fill: var(--spectrum-clearbutton-medium-icon-color-key-focus);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-clearbutton-medium-background-color-disabled);

    color: var(--spectrum-clearbutton-medium-icon-color-disabled);

    .spectrum-Icon {
      fill: var(--spectrum-clearbutton-medium-icon-color-disabled);
    }
  }
}

.spectrum-Button--cta {
  background-color: var(--spectrum-button-cta-background-color);
  border-color: var(--spectrum-button-cta-border-color);
  color: var(--spectrum-button-cta-text-color);

  &:hover {
    background-color: var(--spectrum-button-cta-background-color-hover);
    border-color: var(--spectrum-button-cta-border-color-hover);
    color: var(--spectrum-button-cta-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-cta-background-color-key-focus);
    border-color: var(--spectrum-button-cta-border-color-key-focus);
    color: var(--spectrum-button-cta-text-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-button-cta-background-color-down);
    border-color: var(--spectrum-button-cta-border-color-down);
    color: var(--spectrum-button-cta-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-cta-background-color-disabled);
    border-color: var(--spectrum-button-cta-border-color-disabled);
    color: var(--spectrum-button-cta-text-color-disabled);
  }
}

.spectrum-Button--primary {
  background-color: var(--spectrum-button-primary-background-color);
  border-color: var(--spectrum-button-primary-border-color);
  color: var(--spectrum-button-primary-text-color);

  &:hover {
    background-color: var(--spectrum-button-primary-background-color-hover);
    border-color: var(--spectrum-button-primary-border-color-hover);
    color: var(--spectrum-button-primary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-primary-background-color-key-focus);
    border-color: var(--spectrum-button-primary-border-color-key-focus);
    color: var(--spectrum-button-primary-text-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-button-primary-background-color-down);
    border-color: var(--spectrum-button-primary-border-color-down);
    color: var(--spectrum-button-primary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-primary-background-color-disabled);
    border-color: var(--spectrum-button-primary-border-color-disabled);
    color: var(--spectrum-button-primary-text-color-disabled);
  }
}

.spectrum-Button--secondary {
  background-color: var(--spectrum-button-secondary-background-color);
  border-color: var(--spectrum-button-secondary-border-color);
  color: var(--spectrum-button-secondary-text-color);

  &:hover {
    background-color: var(--spectrum-button-secondary-background-color-hover);
    border-color: var(--spectrum-button-secondary-border-color-hover);
    color: var(--spectrum-button-secondary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-secondary-background-color-key-focus);
    border-color: var(--spectrum-button-secondary-border-color-key-focus);
    color: var(--spectrum-button-secondary-text-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-button-secondary-background-color-down);
    border-color: var(--spectrum-button-secondary-border-color-down);
    color: var(--spectrum-button-secondary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-background-color-disabled);
    border-color: var(--spectrum-button-secondary-border-color-disabled);
    color: var(--spectrum-button-secondary-text-color-disabled);
  }
}

.spectrum-Button--warning {
  background-color: var(--spectrum-button-warning-background-color);
  border-color: var(--spectrum-button-warning-border-color);
  color: var(--spectrum-button-warning-text-color);

  &:hover {
    background-color: var(--spectrum-button-warning-background-color-hover);
    border-color: var(--spectrum-button-warning-border-color-hover);
    color: var(--spectrum-button-warning-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-warning-background-color-key-focus);
    border-color: var(--spectrum-button-warning-border-color-key-focus);
    color: var(--spectrum-button-warning-text-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-button-warning-background-color-down);
    border-color: var(--spectrum-button-warning-border-color-down);
    color: var(--spectrum-button-warning-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-warning-background-color-disabled);
    border-color: var(--spectrum-button-warning-border-color-disabled);
    color: var(--spectrum-button-warning-text-color-disabled);
  }
}

.spectrum-Button--overBackground {
  background-color: var(--spectrum-button-over-background-background-color);
  border-color: var(--spectrum-button-over-background-border-color);
  color: var(--spectrum-button-over-background-text-color);

  &:hover {
    background-color: var(--spectrum-button-over-background-background-color-hover);
    border-color: var(--spectrum-button-over-background-border-color-hover);
    color: inherit;
  }

  &:focus-ring {
    background-color: var(--spectrum-button-over-background-background-color-hover);
    border-color: var(--spectrum-button-over-background-border-color-hover);
    color: inherit;

    &:after {
      box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-button-over-background-border-color-key-focus);
    }
  }

  &.is-active {
    background-color: var(--spectrum-button-over-background-background-color-down);
    border-color: var(--spectrum-button-over-background-border-color-down);
    color: inherit;
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-over-background-background-color-disabled);
    border-color: var(--spectrum-button-over-background-border-color-disabled);
    color: var(--spectrum-button-over-background-text-color-disabled);
  }
}

.spectrum-Button--overBackground.spectrum-Button--quiet,
.spectrum-ClearButton--overBackground {
  background-color: var(--spectrum-button-quiet-over-background-background-color);
  border-color: var(--spectrum-button-quiet-over-background-border-color);
  color: var(--spectrum-button-quiet-over-background-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-over-background-background-color-hover);
    border-color: var(--spectrum-button-quiet-over-background-border-color-hover);
    color: var(--spectrum-button-quiet-over-background-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-over-background-background-color-hover);
    border-color: var(--spectrum-button-quiet-over-background-border-color-hover);
    color: var(--spectrum-button-quiet-over-background-text-color-hover);
    box-shadow: none;

    &:after {
      box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size) var(--spectrum-button-over-background-border-color-key-focus);
    }
  }

  &.is-active {
    background-color: var(--spectrum-button-quiet-over-background-background-color-down);
    border-color: var(--spectrum-button-quiet-over-background-border-color-down);
    color: var(--spectrum-button-quiet-over-background-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-over-background-background-color-disabled);
    border-color: var(--spectrum-button-quiet-over-background-border-color-disabled);
    color: var(--spectrum-button-quiet-over-background-text-color-disabled);
  }
}

.spectrum-Button--primary.spectrum-Button--quiet {
  background-color: var(--spectrum-button-quiet-primary-background-color);
  border-color: var(--spectrum-button-quiet-primary-border-color);
  color: var(--spectrum-button-quiet-primary-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-primary-background-color-hover);
    border-color: var(--spectrum-button-quiet-primary-border-color-hover);
    color: var(--spectrum-button-quiet-primary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-primary-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-primary-border-color-key-focus);
    color: var(--spectrum-button-quiet-primary-text-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-button-quiet-primary-background-color-down);
    border-color: var(--spectrum-button-quiet-primary-border-color-down);
    color: var(--spectrum-button-quiet-primary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-primary-background-color-disabled);
    border-color: var(--spectrum-button-quiet-primary-border-color-disabled);
    color: var(--spectrum-button-quiet-primary-text-color-disabled);
  }
}

.spectrum-Button--secondary.spectrum-Button--quiet {
  background-color: var(--spectrum-button-quiet-secondary-background-color);
  border-color: var(--spectrum-button-quiet-secondary-border-color);
  color: var(--spectrum-button-quiet-secondary-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-secondary-background-color-hover);
    border-color: var(--spectrum-button-quiet-secondary-border-color-hover);
    color: var(--spectrum-button-quiet-secondary-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-secondary-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-secondary-border-color-key-focus);
    color: var(--spectrum-button-quiet-secondary-text-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-button-quiet-secondary-background-color-down);
    border-color: var(--spectrum-button-quiet-secondary-border-color-down);
    color: var(--spectrum-button-quiet-secondary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-secondary-background-color-disabled);
    border-color: var(--spectrum-button-quiet-secondary-border-color-disabled);
    color: var(--spectrum-button-quiet-secondary-text-color-disabled);
  }
}

.spectrum-ActionButton {
  background-color: var(--spectrum-actionbutton-background-color);
  border-color: var(--spectrum-actionbutton-border-color);
  color: var(--spectrum-actionbutton-text-color);

  .spectrum-Icon {
    fill: var(--spectrum-actionbutton-icon-color);
  }

  .spectrum-ActionButton-hold {
    fill: var(--spectrum-actionbutton-hold-icon-color);
  }

  &:hover {
    background-color: var(--spectrum-actionbutton-background-color-hover);
    border-color: var(--spectrum-actionbutton-border-color-hover);
    color: var(--spectrum-actionbutton-text-color-hover);

    .spectrum-Icon {
      fill: var(--spectrum-actionbutton-icon-color-hover);
    }

    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-hold-icon-color-hover);
    }
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-background-color-key-focus);
    border-color: var(--spectrum-actionbutton-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-actionbutton-border-color-key-focus);
    color: var(--spectrum-actionbutton-text-color-key-focus);

    &.is-active {
      border-color: var(--spectrum-actionbutton-border-color-key-focus);
    }

    .spectrum-Icon {
      fill: var(--spectrum-actionbutton-icon-color-key-focus);
    }

    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-hold-icon-color-key-focus);
    }
  }

  &.is-active {
    background-color: var(--spectrum-actionbutton-background-color-down);
    border-color: var(--spectrum-actionbutton-border-color-down);
    color: var(--spectrum-actionbutton-text-color-down);

    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-hold-icon-color-down);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-actionbutton-background-color-disabled);
    border-color: var(--spectrum-actionbutton-border-color-disabled);
    color: var(--spectrum-actionbutton-text-color-disabled);

    .spectrum-Icon {
      fill: var(--spectrum-actionbutton-icon-color-disabled);
    }

    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-hold-icon-color-disabled);
    }
  }

  &.is-selected {
    background-color: var(--spectrum-actionbutton-background-color-selected);
    border-color: var(--spectrum-actionbutton-border-color-selected);
    color: var(--spectrum-actionbutton-text-color-selected);

    .spectrum-Icon {
      fill: var(--spectrum-actionbutton-icon-color-selected);
    }

    &:hover {
      background-color: var(--spectrum-actionbutton-background-color-selected-hover);
      border-color: var(--spectrum-actionbutton-border-color-selected-hover);
      color: var(--spectrum-actionbutton-text-color-selected-hover);

      .spectrum-Icon {
        fill: var(--spectrum-actionbutton-icon-color-selected-hover);
      }
    }

    &:focus-ring {
      background-color: var(--spectrum-actionbutton-background-color-selected-key-focus);
      border-color: var(--spectrum-actionbutton-border-color-selected-key-focus);
      color: var(--spectrum-actionbutton-text-color-selected-key-focus);

      &.is-active {
        border-color: var(--spectrum-actionbutton-border-color-key-focus);
      }

      .spectrum-Icon {
        fill: var(--spectrum-actionbutton-icon-color-selected-key-focus);
      }
    }

    &.is-active {
      background-color: var(--spectrum-actionbutton-background-color-selected-down);
      border-color: var(--spectrum-actionbutton-border-color-selected-down);
      color: var(--spectrum-actionbutton-text-color-selected-down);

      .spectrum-Icon {
        fill: var(--spectrum-actionbutton-icon-color-selected-down);
      }
    }

    &:disabled,
    &.is-disabled {
      background-color: var(--spectrum-actionbutton-background-color-selected-disabled);
      border-color: var(--spectrum-actionbutton-border-color-selected-disabled);
      color: var(--spectrum-actionbutton-text-color-selected-disabled);

      .spectrum-Icon {
        fill: var(--spectrum-actionbutton-icon-color-selected-disabled);
      }
    }
  }
}

.spectrum-ActionButton--emphasized {
  background-color: var(--spectrum-actionbutton-emphasized-background-color);
  border-color: var(--spectrum-actionbutton-emphasized-border-color);
  color: var(--spectrum-actionbutton-emphasized-text-color);

  .spectrum-Icon {
    fill: var(--spectrum-actionbutton-emphasized-icon-color);
  }

  .spectrum-ActionButton-hold {
    fill: var(--spectrum-actionbutton-emphasized-hold-icon-color);
  }

  &.is-selected {
    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-emphasized-hold-icon-color-selected);
    }

    &:hover {
      .spectrum-ActionButton-hold {
        fill: var(--spectrum-actionbutton-emphasized-text-color-selected-hover);
      }
    }
  }

  &:hover {
    background-color: var(--spectrum-actionbutton-emphasized-background-color-hover);
    border-color: var(--spectrum-actionbutton-emphasized-border-color-hover);
    box-shadow: none;
    color: var(--spectrum-actionbutton-emphasized-text-color-hover);

    .spectrum-Icon {
      fill: var(--spectrum-actionbutton-emphasized-icon-color-hover);
    }

    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-emphasized-hold-icon-color-hover);
    }
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-emphasized-background-color-key-focus);
    border-color: var(--spectrum-actionbutton-emphasized-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-actionbutton-border-color-key-focus);
    color: var(--spectrum-actionbutton-emphasized-text-color-key-focus);

    .spectrum-Icon {
      fill: var(--spectrum-actionbutton-emphasized-icon-color-key-focus);
    }

    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-emphasized-hold-icon-color-key-focus);
    }
  }

  &.is-active {
    background-color: var(--spectrum-actionbutton-emphasized-background-color-down);
    border-color: var(--spectrum-actionbutton-emphasized-border-color-down);
    color: var(--spectrum-actionbutton-emphasized-text-color-down);

    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-emphasized-hold-icon-color-down);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-actionbutton-emphasized-background-color-disabled);
    border-color: var(--spectrum-actionbutton-emphasized-border-color-disabled);
    color: var(--spectrum-actionbutton-emphasized-text-color-disabled);

    .spectrum-Icon {
      fill: var(--spectrum-actionbutton-emphasized-icon-color-disabled);
    }

    .spectrum-ActionButton-hold {
      fill: var(--spectrum-actionbutton-emphasized-hold-icon-color-disabled);
    }
  }

  &.spectrum-ActionButton--quiet.is-selected,
  &.is-selected {
    background-color: var(--spectrum-actionbutton-emphasized-background-color-selected);
    border-color: var(--spectrum-actionbutton-emphasized-border-color-selected);
    color: var(--spectrum-actionbutton-emphasized-text-color-selected);

    .spectrum-Icon {
      fill: var(--spectrum-actionbutton-emphasized-icon-color-selected);
    }

    &:focus-ring {
      background-color: var(--spectrum-actionbutton-emphasized-background-color-selected-key-focus);
      border-color: var(--spectrum-actionbutton-emphasized-border-color-selected-key-focus);
      box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-actionbutton-emphasized-border-color-selected-key-focus);
      color: var(--spectrum-actionbutton-emphasized-text-color-selected-key-focus);

      &:hover {
        /* change 1px of focus ring blue to match the rest of the hover state */
        box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-actionbutton-emphasized-border-color-selected-hover);
      }

      &.is-active {
        /* change 1px of focus ring blue to match the rest of the active state */
        box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-actionbutton-emphasized-border-color-selected-down);
        border-color: var(--spectrum-actionbutton-emphasized-border-color-selected-down);
      }

      .spectrum-Icon {
        fill: var(--spectrum-actionbutton-emphasized-icon-color-selected-key-focus);
      }
    }

    &:hover {
      background-color: var(--spectrum-actionbutton-emphasized-background-color-selected-hover);
      border-color: var(--spectrum-actionbutton-emphasized-border-color-selected-hover);
      color: var(--spectrum-actionbutton-emphasized-text-color-selected-hover);

      .spectrum-Icon {
        fill: var(--spectrum-actionbutton-emphasized-icon-color-selected-hover);
      }
    }

    &.is-active {
      background-color: var(--spectrum-actionbutton-emphasized-background-color-selected-down);
      border-color: var(--spectrum-actionbutton-emphasized-border-color-selected-down);
      color: var(--spectrum-actionbutton-emphasized-text-color-selected-down);

      .spectrum-Icon {
        fill: var(--spectrum-actionbutton-emphasized-icon-color-selected-down);
      }
    }

    &:disabled,
    &.is-disabled {
      background-color: var(--spectrum-actionbutton-emphasized-background-color-selected-disabled);
      border-color: var(--spectrum-actionbutton-emphasized-border-color-selected-disabled);
      color: var(--spectrum-actionbutton-emphasized-text-color-selected-disabled);

      .spectrum-Icon {
        fill: var(--spectrum-actionbutton-emphasized-icon-color-selected-disabled);
      }
    }
  }
}

.spectrum-ActionButton--quiet {
  background-color: var(--spectrum-actionbutton-quiet-background-color);
  border-color: var(--spectrum-actionbutton-quiet-border-color);
  color: var(--spectrum-actionbutton-quiet-text-color);

  &:hover {
    background-color: var(--spectrum-actionbutton-quiet-background-color-hover);
    border-color: var(--spectrum-actionbutton-quiet-border-color-hover);
    color: var(--spectrum-actionbutton-quiet-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-quiet-background-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-actionbutton-quiet-border-size-key-focus) var(--spectrum-actionbutton-quiet-border-color-key-focus);
    border-color: var(--spectrum-actionbutton-quiet-border-color-key-focus);
    color: var(--spectrum-actionbutton-quiet-text-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-actionbutton-quiet-background-color-down);
    border-color: var(--spectrum-actionbutton-quiet-border-color-down);
    color: var(--spectrum-actionbutton-quiet-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-actionbutton-quiet-background-color-disabled);
    border-color: var(--spectrum-actionbutton-quiet-border-color-disabled);
    color: var(--spectrum-actionbutton-quiet-text-color-disabled);
  }

  &.is-selected {
    background-color: var(--spectrum-actionbutton-quiet-background-color-selected);
    border-color: var(--spectrum-actionbutton-quiet-border-color-selected);
    color: var(--spectrum-actionbutton-quiet-text-color-selected);

    &:hover {
      background-color: var(--spectrum-actionbutton-quiet-background-color-selected-hover);
      border-color: var(--spectrum-actionbutton-quiet-border-color-selected-hover);
      color: var(--spectrum-actionbutton-quiet-text-color-selected-hover);
    }

    &:focus-ring {
      background-color: var(--spectrum-actionbutton-quiet-background-color-selected-key-focus);
      border-color: var(--spectrum-actionbutton-quiet-border-color-selected-key-focus);
      color: var(--spectrum-actionbutton-quiet-text-color-selected-key-focus);
    }

    &.is-active {
      background-color: var(--spectrum-actionbutton-quiet-background-color-selected-down);
      border-color: var(--spectrum-actionbutton-quiet-border-color-selected-down);
      color: var(--spectrum-actionbutton-quiet-text-color-selected-down);
    }

    &:disabled,
    &.is-disabled {
      background-color: var(--spectrum-actionbutton-quiet-background-color-selected-disabled);
      border-color: var(--spectrum-actionbutton-quiet-border-color-selected-disabled);
      color: var(--spectrum-actionbutton-quiet-text-color-selected-disabled);
    }
  }
}

.spectrum-Button--warning.spectrum-Button--quiet {
  background-color: var(--spectrum-button-quiet-warning-background-color);
  border-color: var(--spectrum-button-quiet-warning-border-color);
  color: var(--spectrum-button-quiet-warning-text-color);

  &:hover {
    background-color: var(--spectrum-button-quiet-warning-background-color-hover);
    border-color: var(--spectrum-button-quiet-warning-border-color-hover);
    color: var(--spectrum-button-quiet-warning-text-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-warning-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-warning-border-color-key-focus);
    color: var(--spectrum-button-quiet-warning-text-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-button-quiet-warning-background-color-down);
    border-color: var(--spectrum-button-quiet-warning-border-color-down);
    color: var(--spectrum-button-quiet-warning-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-warning-background-color-disabled);
    border-color: var(--spectrum-button-quiet-warning-border-color-disabled);
    color: var(--spectrum-button-quiet-warning-text-color-disabled);
  }
}

.spectrum-LogicButton--and {
  background-color: var(--spectrum-logicbutton-and-background-color);
  border-color: var(--spectrum-logicbutton-and-border-color);
  color: var(--spectrum-logicbutton-and-text-color);

  &:hover {
    background-color: var(--spectrum-logicbutton-and-background-color-hover);
    border-color: var(--spectrum-logicbutton-and-border-color-hover);
    color: var(--spectrum-logicbutton-and-text-color);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-logicbutton-and-background-color-disabled);
    border-color: var(--spectrum-logicbutton-and-border-color-disabled);
    color: var(--spectrum-logicbutton-and-text-color-disabled);
  }
}

.spectrum-LogicButton--or {
  background-color: var(--spectrum-logicbutton-or-background-color);
  border-color: var(--spectrum-logicbutton-or-border-color);
  color: var(--spectrum-logicbutton-or-text-color);

  &:hover {
    background-color: var(--spectrum-logicbutton-or-background-color-hover);
    border-color: var(--spectrum-logicbutton-or-border-color-hover);
    color: var(--spectrum-logicbutton-or-text-color);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-background-color-disabled);
    border-color: var(--spectrum-button-secondary-border-color-disabled);
    color: var(--spectrum-logicbutton-and-text-color-disabled);
  }
}

.spectrum-FieldButton {
  color: var(--spectrum-fieldbutton-text-color);
  background-color: var(--spectrum-fieldbutton-background-color);
  border-color: var(--spectrum-fieldbutton-border-color);

  &:hover {
    color: var(--spectrum-fieldbutton-text-color-hover);
    background-color: var(--spectrum-fieldbutton-background-color-hover);
    border-color: var(--spectrum-fieldbutton-border-color-hover);
  }

  &.is-active,
  &.is-selected {
    background-color: var(--spectrum-fieldbutton-background-color-down);
    border-color: var(--spectrum-fieldbutton-border-color-down);
  }

  &:focus-ring,
  &.is-focused {
    background-color: var(--spectrum-fieldbutton-background-color-key-focus);
    border-color: var(--spectrum-fieldbutton-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-fieldbutton-border-color-key-focus);
    color: var(--spectrum-fieldbutton-text-color-key-focus);

    &.is-placeholder {
      color: var(--spectrum-fieldbutton-placeholder-text-color-key-focus);
    }
  }

  &.is-invalid {
    border-color: var(--spectrum-fieldbutton-border-color-error);

    &:hover {
      border-color: var(--spectrum-fieldbutton-border-color-error-hover);
    }

    &.is-active,
    &.is-selected {
      border-color: var(--spectrum-fieldbutton-border-color-error-down);
    }

    &:focus-ring,
    &.is-focused {
      border-color: var(--spectrum-fieldbutton-border-color-error-key-focus);
      box-shadow: 0 0 0 var(--spectrum-button-primary-border-size-increase-key-focus) var(--spectrum-fieldbutton-border-color-error-key-focus);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-fieldbutton-background-color-disabled);
    color: var(--spectrum-fieldbutton-text-color-disabled);

    & .spectrum-Icon {
        fill: var(--spectrum-fieldbutton-icon-color-disabled);
    }
  }
}

.spectrum-FieldButton--quiet {
  color: var(--spectrum-fieldbutton-text-color);
  border-color: var(--spectrum-fieldbutton-quiet-border-color);
  background-color: var(--spectrum-fieldbutton-quiet-background-color);

  &:hover {
    background-color: var(--spectrum-fieldbutton-quiet-background-color-hover);
    color: var(--spectrum-fieldbutton-text-color-hover);
  }

  &:focus-ring,
  &.is-focused {
    background-color: var(--spectrum-fieldbutton-quiet-background-color-key-focus);
    box-shadow: 0 2px 0 0 var(--spectrum-fieldbutton-border-color-key-focus);

    &.is-placeholder {
      color: var(--spectrum-fieldbutton-quiet-placeholder-text-color-key-focus);
    }
  }

  &.is-active,
  &.is-selected {
    background-color: var(--spectrum-fieldbutton-quiet-background-color-down);
    border-color: var(--spectrum-fieldbutton-quiet-border-color-down);

    &:focus-ring,
    &.is-focused {
      background-color: var(--spectrum-fieldbutton-quiet-background-color-key-focus);
      box-shadow: 0 2px 0 0 var(--spectrum-fieldbutton-border-color-key-focus);
    }
  }

  &.is-invalid {
    &:focus-ring,
    &.is-focused {
      box-shadow: 0 2px 0 0 var(--spectrum-fieldbutton-border-color-error-key-focus);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-fieldbutton-quiet-background-color-disabled);
    color: var(--spectrum-fieldbutton-text-color-disabled);
  }
}
