/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

/**
LAYERS: There are 5 layers to cards
layer -1:
  card back color, seen mostly in quiet cards in a grid

layer 0 or default:
  all content provided by the user

layer 1:
  avatar

layer 2:
  color covering

layer 3:
  checkbox
*/

/**
LAYOUTS
                       standard-vertical      standard-horizontal       quiet-vertical
vertical-masonry       x                      no                        x
horizontal-masonry     no                     no                        x
tiles                  x                      x                         x
standalone             x                      x                         x

Standard Vertical
.spectrum-Card--waterfall
.spectrum-Card--tile
.spectrum-Card--noLayout

Standard Horizontal
.spectrum-Card--tile
.spectrum-Card--noLayout

Quiet Vertical
.spectrum-Card--waterfall
.spectrum-Card--gallery
.spectrum-Card--tile
.spectrum-Card--noLayout

*/


/** Shared **/
.spectrum-Card {
  box-sizing: border-box;
  min-inline-size: var(--spectrum-card-body-header-height);;
  block-size: 100%;
  border-radius: var(--spectrum-card-border-radius);


  text-decoration: none;

  &:focus {
    outline: none;
  }

  .spectrum-Card-heading {
    margin: 0;
  }
  .spectrum-Card-checkboxWrapper {
    position: absolute;
    inset-inline-start: var(--spectrum-card-checkbox-margin);
    inset-block-start: var(--spectrum-card-checkbox-margin);
    display: grid;
    inline-size: var(--spectrum-quickactions-height);
    block-size: var(--spectrum-quickactions-height);
    border-radius: var(--spectrum-card-quiet-border-radius);
    visibility: hidden;
  }
  .spectrum-Card-checkbox {
    /* make hitbox of checkbox same as the floating background it sits on, top and bottom are computing 0 right now though
     using calc(50% - var(--spectrum-checkbox-height) - calc(var(--spectrum-checkbox-box-size) / 2))
     */
    padding: 4px
      calc(50% - calc(var(--spectrum-checkbox-box-size) / 2))
      4px
      calc(50% - calc(var(--spectrum-checkbox-box-size) / 2));
  }

  &.is-focused,
  &.is-selected,
  &:focus,
  &:hover {
    .spectrum-Card-checkboxWrapper {
      /* Ideally, this would simply apply is-open to the QuickActions component */
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.spectrum-Card-grid {
  position: relative;
  &:before {

  }
  &:after {
    pointer-events: none;
  }
}

.spectrum-Card-image {
  grid-area: preview;
}
.spectrum-Card-illustration {
  grid-area: preview;
}
.spectrum-Card-avatar {
  grid-area: avatar;
  z-index: 1;
}
.spectrum-Card-heading {
  grid-area: title;
}
.spectrum-Card-detail {
  grid-area: detail;
}
.spectrum-Card-actions {
  grid-area: actionmenu;
}
.spectrum-Card-content {
  grid-area: content;
  word-break: break-word;
  overflow: hidden;
}
.spectrum-Card-divider {
  grid-area: divider;
}
.spectrum-Card-footer {
  grid-area: footer;
}
.spectrum-Card-checkboxWrapper {
  z-index: 3;
}
.spectrum-Card-grid:before {
  z-index: -1;
}
.spectrum-Card-grid:after {
  z-index: 2;
}

/** Standard Vertical **/
/** Waterfall **/
.spectrum-Card--waterfall.spectrum-Card--default {
  border-width: var(--spectrum-card-border-size);
  border-style: solid;
  border-radius: var(--spectrum-card-border-radius);
  .spectrum-Card-grid {
    display: grid;
    grid-template-columns: var(--spectrum-card-body-padding-left) minmax(0, auto) 1fr minmax(0, auto) var(--spectrum-card-body-padding-right);
    grid-template-rows: minmax(var(--spectrum-card-body-padding-bottom), auto) var(--spectrum-global-dimension-size-300) minmax(30px, auto) auto auto auto var(--spectrum-card-body-padding-bottom);
    /* absolutely position avatar relative to the preview */
    grid-template-areas:
      "preview preview preview preview    preview"
      ".       .       .       .          ."
      ".       title   detail  actionmenu ."
      ".       content content content    ."
      ".       divider divider divider    ."
      ".       footer  footer  footer     ."
      ".       .       .       .          .";

    &:before {
      content: ' ';
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }

    &:after {
      content: ' ';
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    inline-size: 100%;
    /*min-inline-size: var(--spectrum-card-min-width); causes to obscure border */

    align-self: center;
    justify-self: center;

    border-start-end-radius: var(--spectrum-card-border-radius);
    border-start-start-radius: var(--spectrum-card-border-radius);
    border-block-end-width: var(--spectrum-card-border-size);
    border-block-end-style: solid;
  }
  .spectrum-Card-image {
  }
  .spectrum-Card-illustration {
    display: grid; /* not sure why flex doesn't work here */
    align-items: center;
    justify-items: center;
  }
  .spectrum-Card-avatar {
    grid-area: preview;
    position: absolute;
    inset-block-end: -15px;
    inset-inline-start: var(--spectrum-card-body-padding-left);
  }
  .spectrum-Card-heading {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .spectrum-Card-actions {
    align-self: center;
  }
  .spectrum-Card-content {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-divider {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-footer {
    margin-block-start: 5px;
    display: flex;
    justify-content: flex-end;
  }
}

/** Tile **/
.spectrum-Card--grid.spectrum-Card--default {
  border-width: var(--spectrum-card-border-size);
  border-style: solid;
  border-radius: var(--spectrum-card-border-radius);

  .spectrum-Card-grid {
    display: grid;
    block-size: 100%;
    grid-template-columns: var(--spectrum-card-body-padding-left) minmax(0, auto) 1fr minmax(0, auto) var(--spectrum-card-body-padding-right);
    grid-template-rows: 1fr var(--spectrum-global-dimension-size-300) auto auto auto auto var(--spectrum-card-body-padding-bottom);
    /* absolutely position avatar relative to the preview */
    grid-template-areas:
      "preview preview preview preview    preview"
      ".       .       .       .          ."
      ".       title   detail  actionmenu ."
      ".       content content content    ."
      ".       divider divider divider    ."
      ".       footer  footer  footer     ."
      ".       .       .       .          .";

    &:before {
      content: ' ';
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }

    &:after {
      content: ' ';
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    block-size: var(--spectrum-card-coverphoto-height);
    inline-size: 100%;
    /*min-inline-size: var(--spectrum-card-min-width); causes to obscure border */

    align-self: center;
    justify-self: center;

    border-start-end-radius: var(--spectrum-card-border-radius);
    border-start-start-radius: var(--spectrum-card-border-radius);
    border-block-end-width: var(--spectrum-card-border-size);
    border-block-end-style: solid;
  }
  .spectrum-Card-image {
  }
  .spectrum-Card-illustration {
    display: grid; /* not sure why flex doesn't work here */
    align-items: center;
    justify-items: center;
  }
  .spectrum-Card-avatar {
    grid-area: preview;
    position: absolute;
    inset-block-end: -15px;
    inset-inline-start: var(--spectrum-card-body-padding-left);
  }
  .spectrum-Card-heading {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .spectrum-Card-actions {
    align-self: center;
  }
  .spectrum-Card-content {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-divider {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-footer {
    margin-block-start: 5px;
    display: flex;
    justify-content: flex-end;
  }
}

/** Standalone **/
.spectrum-Card--noLayout.spectrum-Card--default {
  border-width: var(--spectrum-card-border-size);
  border-style: solid;
  border-radius: var(--spectrum-card-border-radius);
  .spectrum-Card-grid {
    display: grid;
    grid-template-columns: var(--spectrum-card-body-padding-left) minmax(0, auto) 1fr minmax(0, auto) var(--spectrum-card-body-padding-right);
    grid-template-rows: minmax(var(--spectrum-card-body-padding-bottom), auto) var(--spectrum-global-dimension-size-300) minmax(30px, auto) auto auto auto var(--spectrum-card-body-padding-bottom);
    /* absolutely position avatar relative to the preview */
    grid-template-areas:
      "preview preview preview preview    preview"
      ".       .       .       .          ."
      ".       title   detail  actionmenu ."
      ".       content content content    ."
      ".       divider divider divider    ."
      ".       footer  footer  footer     ."
      ".       .       .       .          .";

    &:before {
      content: ' ';
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }

    &:after {
      content: ' ';
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    inline-size: 100%;
    /*min-inline-size: var(--spectrum-card-min-width); causes to obscure border */

    align-self: center;
    justify-self: center;

    border-start-end-radius: var(--spectrum-card-border-radius);
    border-start-start-radius: var(--spectrum-card-border-radius);
    border-block-end-width: var(--spectrum-card-border-size);
    border-block-end-style: solid;
  }
  .spectrum-Card-image {
  }
  .spectrum-Card-illustration {
    display: grid; /* not sure why flex doesn't work here */
    align-items: center;
    justify-items: center;
    inline-size: 100%;
    block-size: var(--spectrum-card-coverphoto-height); /* this may be an incorrect assumption */
  }
  .spectrum-Card-avatar {
    grid-area: preview;
    position: absolute;
    inset-block-end: -15px;
    inset-inline-start: var(--spectrum-card-body-padding-left);
  }
  .spectrum-Card-heading {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .spectrum-Card-actions {
    align-self: center;
  }
  .spectrum-Card-content {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-divider {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-footer {
    margin-block-start: 5px;
    display: flex;
    justify-content: flex-end;
  }
}
/** END Standard Vertical **/


/** Quiet Vertical **/
/** Waterfall **/
.spectrum-Card--waterfall.spectrum-Card--isQuiet {
  min-inline-size: var(--spectrum-card-quiet-min-size);

  .spectrum-Card-grid {
    block-size: 100%;
    display: grid;
    grid-template-columns: minmax(0, auto) 1fr minmax(0, auto);
    grid-template-rows: auto var(--spectrum-card-quiet-body-header-margin-top) auto 1fr var(--spectrum-card-body-padding-bottom);
    grid-template-areas:
      "preview preview preview"
      ".       .       ."
      "title   detail  actionmenu"
      "content content content"
      ".       .       .      ";

    &:before {
      content: ' ';
      grid-area: preview;

      background-color: var(--spectrum-card-quiet-preview-background-color);
      border-radius: var(--spectrum-card-quiet-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }

    &:after {
      content: ' ';
      grid-area: preview;
      inline-size: 100%;
      block-size: 100%;

      border-radius: var(--spectrum-card-quiet-border-radius);
    }
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    block-size: 100%;
    inline-size: 100%;
    min-inline-size: 100%; /* I do not know why setting a min-width causes the image to shrink */

    align-self: center;
    justify-self: center;
    border-radius: var(--spectrum-card-quiet-border-radius);
  }
  .spectrum-Card-illustration {
    display: grid; /* not sure why flex doesn't work here */
    align-items: center;
    justify-items: center;
  }
  .spectrum-Card-avatar {
    display: none;
  }
  .spectrum-Card-heading {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
    /* prevent from collapsing completely when there is a long title */
    min-inline-size: min-content;
  }
  .spectrum-Card-actions {
    align-self: center;
  }
  .spectrum-Card-content {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-divider {
    display: none;
  }
  .spectrum-Card-footer {
    display: none;
  }
}

/** Gallery **/
/** Non-collection version doesn't work in FF, but should work in a collection which determines the size **/
.spectrum-Card--gallery.spectrum-Card--isQuiet {
  min-inline-size: var(--spectrum-card-quiet-min-size);

  .spectrum-Card-grid {
    block-size: 100%;
    display: grid;
    grid-template-columns: minmax(0, auto) 1fr minmax(0, auto);
    grid-template-rows: 1fr var(--spectrum-card-quiet-body-header-margin-top) auto minmax(auto, var(--spectrum-global-dimension-size-600)) var(--spectrum-card-body-padding-bottom);
    grid-template-areas:
      "preview preview preview"
      ".       .       ."
      "title   detail  actionmenu"
      "content content content"
      ".       .       .      ";

    &:before {
      content: ' ';
      grid-area: preview;

      background-color: var(--spectrum-card-quiet-preview-background-color);
      border-radius: var(--spectrum-card-quiet-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }

    &:after {
      content: ' ';
      grid-area: preview;
      inline-size: 100%;
      block-size: 100%;

      border-radius: var(--spectrum-card-quiet-border-radius);
    }
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    block-size: 100%;
    inline-size: 100%;
    min-inline-size: 100%; /* I do not know why setting a min-width causes the image to shrink */

    align-self: center;
    justify-self: center;
    border-radius: var(--spectrum-card-quiet-border-radius);
    > img {
      width: unset;
      margin: auto;
    }
  }

  .spectrum-Card-illustration {
    display: grid; /* not sure why flex doesn't work here */
    align-items: center;
    justify-items: center;
  }
  .spectrum-Card-avatar {
    display: none;
  }
  .spectrum-Card-heading {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
    /* prevent from collapsing completely when there is a long title */
    min-inline-size: min-content;
  }
  .spectrum-Card-actions {
    align-self: center;
  }
  .spectrum-Card-content {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-divider {
    display: none;
  }
  .spectrum-Card-footer {
    display: none;
  }
}

/** Tile **/
.spectrum-Card--grid.spectrum-Card--isQuiet {
  min-inline-size: var(--spectrum-card-quiet-min-size);

  .spectrum-Card-grid {
    block-size: 100%;
    display: grid;
    grid-template-columns: minmax(0, auto) 1fr minmax(0, auto);
    grid-template-rows: auto var(--spectrum-card-quiet-body-header-margin-top) auto 1fr var(--spectrum-card-body-padding-bottom);
    grid-template-areas:
      "preview preview preview"
      ".       .       ."
      "title   detail  actionmenu"
      "content content content"
      ".       .       .      ";

    &:before {
      content: ' ';
      grid-area: preview;

      /* aspect ratio 1:1 because padding-top is calculated from width */
      inline-size: 0;
      block-size: 0;
      padding-top: 100%;
      padding-left: 100%;

      background-color: var(--spectrum-card-quiet-preview-background-color);
      border-radius: var(--spectrum-card-quiet-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }

    &:after {
      content: ' ';
      grid-area: preview;
      inline-size: 100%;
      block-size: 100%;

      border-radius: var(--spectrum-card-quiet-border-radius);
    }
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    block-size: 100%;
    inline-size: 100%;
    min-inline-size: 100%; /* I do not know why setting a min-width causes the image to shrink */

    align-self: center;
    justify-self: center;
  }
  .spectrum-Card-image {
    clip-path: inset(0% 0% 0% 0% round var(--spectrum-card-quiet-border-radius));
    /* remove from flow so it doesn't affect grid area size, this way the aspect ratio is maintained
     todo: figure out why or how it's already in the correct centered spot */
    position: absolute;
  }
  .spectrum-Card-illustration {
    display: grid; /* not sure why flex doesn't work here */
    align-items: center;
    justify-items: center;
  }
  .spectrum-Card-avatar {
    display: none;
  }
  .spectrum-Card-heading {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
    /* prevent from collapsing completely when there is a long title */
    min-inline-size: min-content;
  }
  .spectrum-Card-actions {
    align-self: center;
  }
  .spectrum-Card-content {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-divider {
    display: none;
  }
  .spectrum-Card-footer {
    display: none;
  }
}

/** Standalone **/
.spectrum-Card--noLayout.spectrum-Card--isQuiet {
  min-inline-size: var(--spectrum-card-quiet-min-size);

  .spectrum-Card-grid {
    block-size: 100%;
    display: grid;
    grid-template-columns: minmax(0, auto) 1fr minmax(0, auto);
    grid-template-rows: auto var(--spectrum-card-quiet-body-header-margin-top) minmax(30px, auto) auto var(--spectrum-card-body-padding-bottom);
    grid-template-areas:
      "preview preview preview"
      ".       .       ."
      "title   detail  actionmenu"
      "content content content"
      ".       .       .      ";

    &:before {
      content: ' ';
      grid-area: preview;

      background-color: var(--spectrum-card-quiet-preview-background-color);
      border-radius: var(--spectrum-card-quiet-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }

    &:after {
      content: ' ';
      grid-area: preview;
      inline-size: 100%;
      block-size: 100%;

      border-radius: var(--spectrum-card-quiet-border-radius);
    }
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    display: flex;

    align-self: center;
    justify-self: center;

    border-radius: var(--spectrum-card-quiet-border-radius);
  }
  .spectrum-Card-image {
  }
  .spectrum-Card-illustration {
    display: grid; /* not sure why flex doesn't work here */
    align-items: center;
    justify-items: center;
    inline-size: 100%;
    block-size: var(--spectrum-card-coverphoto-height);
  }
  .spectrum-Card-avatar {
    display: none;
  }
  .spectrum-Card-heading {
    align-self: center;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-actions {
    align-self: start;
  }
  .spectrum-Card-content {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .spectrum-Card-divider {
    display: none;
  }
  .spectrum-Card-footer {
    display: none;
  }
}
/** END Quiet Vertical **/

/** Standard Horizontal **/
/** Tile **/
/**
Broken as a CSS only solution in FF until aspect-ratio is supported or this is resolved https://bugzilla.mozilla.org/show_bug.cgi?id=1436180
For now working around it with a useLayoutEffect in CardBase.
**/
.spectrum-Card--grid.spectrum-Card--horizontal {
  border-width: var(--spectrum-card-border-size);
  border-style: solid;
  border-radius: var(--spectrum-card-border-radius);
  .spectrum-Card-checkboxWrapper {
    display: none;
  }
  &.is-focused,
  &.is-selected,
  &:focus,
  &:hover {
    .spectrum-Card-checkboxWrapper {
      display: none;
    }
  }

  .spectrum-Card-grid {
    display: grid;
    block-size: 100%;
    grid-template-columns: auto var(--spectrum-global-dimension-size-200) 1fr auto var(--spectrum-global-dimension-size-200);
    grid-template-rows: auto 1fr var(--spectrum-global-dimension-size-200);
    grid-template-areas:
      "preview . title   actionmenu ."
      "preview . content content ."
      "preview . .       .       .";

    &:before {
      content: ' ';
      position: absolute;

      inline-size: 100%;
      block-size: 100%;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }
  }
  .spectrum-Card-sizeHelper {
    display: block;
    grid-area: preview;
    block-size: 100%;
    inline-size: auto;
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    grid-area: preview;
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    min-inline-size: 100%; /* I do not know why setting a min-width causes the image to shrink */
    /*aspect-ratio: 1/1;*/ /* can't use in safari or FF :( */

    align-self: center;
    justify-self: center;

    border-start-start-radius: var(--spectrum-card-border-radius);
    border-end-start-radius: var(--spectrum-card-border-radius);
    border-inline-end-width: var(--spectrum-card-border-size);
    border-inline-end-style: solid;
  }

  .spectrum-Card-image {
  }

  .spectrum-Card-illustration {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .spectrum-Card-avatar {
    display: none;
  }
  .spectrum-Card-heading {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    display: none;
  }
  .spectrum-Card-actions {
    align-self: center;
  }
  /* how to handle long description?? */
  .spectrum-Card-content {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* not working because this line is removed in css preprocessing */
    -webkit-box-orient: vertical;
    visibility: visible;
  }
  .spectrum-Card-divider {
    display: none;
  }
  .spectrum-Card-footer {
    display: none;
  }
}

/** Standalone **/
/**
 Horizontal standalone css only cannot be supported until aspect-ratio is supported
 probably due to https://stackoverflow.com/questions/44770074/css-grid-row-height-safari-bug but
 was unable to get the workaround to work.
 For now working around it with a useLayoutEffect in CardBase.
 **/
.spectrum-Card--noLayout.spectrum-Card--horizontal {
  border-width: var(--spectrum-card-border-size);
  border-style: solid;
  border-radius: var(--spectrum-card-border-radius);
  .spectrum-Card-checkboxWrapper {
    display: none;
  }
  &.is-focused,
  &.is-selected,
  &:focus,
  &:hover {
    .spectrum-Card-checkboxWrapper {
      display: none;
    }
  }

  .spectrum-Card-grid {
    position: relative;
    display: grid;
    block-size: 100%;
    max-block-size: 100%;
    grid-template-columns: auto var(--spectrum-global-dimension-size-200) 1fr auto var(--spectrum-global-dimension-size-200);
    grid-template-rows: auto 1fr var(--spectrum-global-dimension-size-200);
    grid-template-areas:
      "preview . title   actionmenu ."
      "preview . content content ."
      "preview . .       .       .";

    &:before {
      content: ' ';
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }

    &:after {
      content: ' ';
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      border-radius: var(--spectrum-card-border-radius);
      transition: background-color var(--spectrum-global-animation-duration-100);
    }
  }
  /** This size helper is only for horizontal cards where height of the image is fluid instead of the usual
      width. https://stackoverflow.com/questions/26438388/maintain-div-aspect-ratio-according-to-height
   **/
  .spectrum-Card-sizeHelper {
    display: block;
    grid-area: preview;
    block-size: 100%;
    inline-size: auto;
  }
  .spectrum-Card-image,
  .spectrum-Card-illustration {
    grid-area: preview;
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    min-inline-size: 100%; /* I do not know why setting a min-width causes the image to shrink */
    /*aspect-ratio: 1/1;*/ /* can't use in safari or FF :( */

    align-self: center;
    justify-self: center;

    border-start-start-radius: var(--spectrum-card-border-radius);
    border-end-start-radius: var(--spectrum-card-border-radius);
    border-inline-end-width: var(--spectrum-card-border-size);
    border-inline-end-style: solid;
  }

  .spectrum-Card-image {
  }

  .spectrum-Card-illustration {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .spectrum-Card-avatar {
    display: none;
  }
  .spectrum-Card-heading {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-end: var(--spectrum-card-title-padding-right);
  }
  .spectrum-Card-detail {
    display: none;
  }
  .spectrum-Card-actions {
    align-self: center;
  }
  /* how to handle long description?? */
  .spectrum-Card-content {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* not working because this line is removed in css preprocessing */
    -webkit-box-orient: vertical;
    visibility: visible;
  }
  .spectrum-Card-divider {
    display: none;
  }
  .spectrum-Card-footer {
    display: none;
  }
}
/** END Standard Horizontal **/
