@import '../../commons';

$react-spectrum-tagfield-margin = 6*$px;

.react-spectrum-Autocomplete.react-spectrum-TagField {
  display: inline-flex;
  flex-wrap: wrap;
  border: $px solid;
  border-radius: $spectrum-border-radius;
  align-items: center;
  box-sizing: border-box;
  min-width: $spectrum-component-single-line-width;
  transition: border-color $spectrum-transition-time ease-in-out, box-shadow $spectrum-transition-time ease-in-out;

  .spectrum-TagList {
    margin: 0 3px 3px 3px;

    > .spectrum-Tag {
      margin: 3px 3px 0 0;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .spectrum-Textfield.react-spectrum-TagField-input {
    border: none;
    flex: 1;
    width: 100%;
    height: 100%;
    min-width: 40*$px;
    border: 0;
    outline: none;
    background: transparent;
    box-shadow: none;
    text-indent: $react-spectrum-tagfield-margin;
    padding: $react-spectrum-tagfield-margin 0;

    &:focus,
    &:hover,
    &:disabled {
      border: 0;
      outline: none;
      box-shadow: none;
      background: transparent;
    }
  }
}

.react-spectrum-TagField--quiet {
  border-radius: 0;
  border: none;
  border-bottom: 1*$px solid;

  // removes the side padding to align the text properly
  padding-left: 0;
  padding-right: 0;
}

@import 'light';
@import 'dark';
