.spectrum-Tooltip {
  visibility: hidden;

  opacity: 0;

  transition: transform var(--spectrum-global-animation-duration-100, 130ms) ease-in-out,
              opacity var(--spectrum-global-animation-duration-100, 130ms) ease-in-out,
              visibility 0ms linear var(--spectrum-global-animation-duration-100, 130ms);

  pointer-events: none;
}
.spectrum-Tooltip.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum-Tooltip--bottom.is-open {
  transform: translateY(var(--spectrum-dropdown-flyout-menu-offset-y, var(--spectrum-global-dimension-size-75)));
}
.spectrum-Tooltip--top.is-open {
  transform: translateY(calc(-1 * var(--spectrum-dropdown-flyout-menu-offset-y, var(--spectrum-global-dimension-size-75))));
}
.spectrum-Tooltip--right.is-open {
  transform: translateX(var(--spectrum-dropdown-flyout-menu-offset-y, var(--spectrum-global-dimension-size-75)));
}
.spectrum-Tooltip--left.is-open {
  transform: translateX(calc(-1 * var(--spectrum-dropdown-flyout-menu-offset-y, var(--spectrum-global-dimension-size-75))));
}
:root {
  /* This variable needs to be updated in Spectrum DNA. Using the height variable so it scales to spectrum-large */
}
/* topdoc
{{ tooltip/tooltip.yml }}
*/
.spectrum-Tooltip {

  position: relative;
  left: 0px;
  top: 0px;

  display: -ms-inline-flexbox;

  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;

  vertical-align: top;

  width: auto;
  padding: var(--spectrum-tooltip-padding-top, var(--spectrum-global-dimension-size-50)) var(--spectrum-tooltip-padding-x, var(--spectrum-global-dimension-size-125));
  border-radius: var(--spectrum-tooltip-border-radius, var(--spectrum-global-dimension-size-50));
  min-height: var(--spectrum-tooltip-min-height, var(--spectrum-global-dimension-size-300));

  font-size: var(--spectrum-tooltip-text-size, var(--spectrum-global-dimension-size-150));
  font-weight: var(--spectrum-tooltip-text-font-weight, 400);
  line-height: var(--spectrum-tooltip-text-line-height, var(--spectrum-global-dimension-font-size-200));
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
}
.spectrum-Tooltip {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.spectrum-Tooltip-tip {
  position: absolute;

  height: 0;
  width: 0;

  border-width: var(--spectrum-tooltip-tip-height, var(--spectrum-global-dimension-size-50));
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.spectrum-Tooltip--right .spectrum-Tooltip-tip, .spectrum-Tooltip--left .spectrum-Tooltip-tip {
    top: 50%;
    margin-top: calc(-1 * var(--spectrum-tooltip-tip-height, var(--spectrum-global-dimension-size-50)));
  }
.spectrum-Tooltip--right {
  margin-left: 3px;
}
.spectrum-Tooltip--right .spectrum-Tooltip-tip {
    right: 100%;
    transform: rotate(90deg);
  }
.spectrum-Tooltip--left {
  margin-right: 3px;
}
.spectrum-Tooltip--left .spectrum-Tooltip-tip {
    left: 100%;
    transform: rotate(-90deg);
  }
.spectrum-Tooltip--top {
  margin-bottom: 3px;
}
.spectrum-Tooltip--top .spectrum-Tooltip-tip {
    top: 100%;
  }
.spectrum-Tooltip--bottom {
  margin-top: 3px;
}
.spectrum-Tooltip--bottom .spectrum-Tooltip-tip {
    bottom: 100%;
    transform: rotate(-180deg);
  }
.spectrum-Tooltip--bottom .spectrum-Tooltip-tip, .spectrum-Tooltip--top .spectrum-Tooltip-tip {
    left: 50%;
    margin-left: calc(-1 * var(--spectrum-tooltip-tip-height, var(--spectrum-global-dimension-size-50)));
  }
.spectrum-Tooltip-typeIcon {
  margin-left: calc(var(--spectrum-tooltip-icon-margin-x, var(--spectrum-global-dimension-size-100)) - var(--spectrum-tooltip-padding-x, var(--spectrum-global-dimension-size-125)));
  margin-right: var(--spectrum-tooltip-icon-margin-x, var(--spectrum-global-dimension-size-100));
  width: var(--spectrum-tooltip-icon-size, var(--spectrum-global-dimension-size-175));
  height: var(--spectrum-tooltip-icon-size, var(--spectrum-global-dimension-size-175));
  -ms-flex-item-align: start;
      align-self: flex-start;

  /* Adjusts for weird misalignment */
  margin-top: 1px;
}
.spectrum-Tooltip-label {
  max-width: var(--spectrum-tooltip-content-max-width);

  /* Make sure line height is correct to prevent problems in Windows */
  line-height: var(--spectrum-tooltip-text-line-height, var(--spectrum-global-dimension-font-size-200));
}
.u-tooltip-showOnHover {
  display: inline-block;
  position: relative;
}
.u-tooltip-showOnHover .spectrum-Tooltip {
    position: absolute;
    white-space: nowrap;
    /* Required for animations to work, !important for diff scaling to work */
    visibility: visible !important;
    transition: transform var(--spectrum-global-animation-duration-100, 130ms) ease-in-out;
    top: -100%;
  }
.u-tooltip-showOnHover .spectrum-Tooltip-label {
    /* Don't try to wrap as the mechanism used for this helper does not support wrapping */
    max-width: none;
  }
.u-tooltip-showOnHover .spectrum-Tooltip--right,
  .u-tooltip-showOnHover .spectrum-Tooltip--left {
    top: 50%;
  }
.u-tooltip-showOnHover .spectrum-Tooltip--right .spectrum-Tooltip-tip, .u-tooltip-showOnHover .spectrum-Tooltip--left .spectrum-Tooltip-tip {
      top: 50%;
    }
.u-tooltip-showOnHover .spectrum-Tooltip--right {
    left: 100%;
    transform: translate(0, -50%);
  }
.u-tooltip-showOnHover .spectrum-Tooltip--left {
    transform: translate(-100%, -50%);
  }
.u-tooltip-showOnHover .spectrum-Tooltip--bottom,
  .u-tooltip-showOnHover .spectrum-Tooltip--top {
    left: 50%;
  }
.u-tooltip-showOnHover .spectrum-Tooltip--bottom .spectrum-Tooltip-tip, .u-tooltip-showOnHover .spectrum-Tooltip--top .spectrum-Tooltip-tip {
      left: 50%;
    }
.u-tooltip-showOnHover .spectrum-Tooltip--bottom {
    top: 100%;
    transform: translate(-50%, calc(-1 * var(--spectrum-tooltip-tip-margin, var(--spectrum-global-dimension-size-100))));
  }
.u-tooltip-showOnHover .spectrum-Tooltip--top {
    transform: translate(-50%, var(--spectrum-tooltip-tip-margin, var(--spectrum-global-dimension-size-100)));
  }
.u-tooltip-showOnHover:hover .spectrum-Tooltip {
    opacity: 1;
  }
.u-tooltip-showOnHover:hover .spectrum-Tooltip.spectrum-Tooltip--bottom {
    transform: translate(-50%, 0);
  }
.u-tooltip-showOnHover:hover .spectrum-Tooltip.spectrum-Tooltip--top {
    transform: translate(-50%, calc(-1 * var(--spectrum-tooltip-tip-margin, var(--spectrum-global-dimension-size-100))));
  }
.u-tooltip-showOnHover:hover .spectrum-Tooltip.spectrum-Tooltip--left {
    transform: translate(calc(-100% - var(--spectrum-tooltip-tip-margin, var(--spectrum-global-dimension-size-100))), -50%);
  }
.u-tooltip-showOnHover:hover .spectrum-Tooltip.spectrum-Tooltip--right {
    transform: translate(var(--spectrum-tooltip-tip-margin, var(--spectrum-global-dimension-size-100)), -50%);
  }
.spectrum-Tooltip {
  background-color: var(--spectrum-tooltip-background-color, rgb(116, 116, 116));

  color: var(--spectrum-tooltip-text-color, rgb(255, 255, 255));
}
.spectrum-Tooltip-tip {
  border-top-color: var(--spectrum-tooltip-background-color, rgb(116, 116, 116));
}
.spectrum-Tooltip--negative,
/** @deprecated */.spectrum-Tooltip--error {
  background-color: var(--spectrum-tooltip-negative-background-color, rgb(201, 37, 45));
}
.spectrum-Tooltip--negative .spectrum-Tooltip-tip, .spectrum-Tooltip--error .spectrum-Tooltip-tip {
    border-top-color: var(--spectrum-tooltip-negative-background-color, rgb(201, 37, 45));
  }
.spectrum-Tooltip--info,
/** @deprecated */.spectrum-Tooltip--help {
  background-color: var(--spectrum-tooltip-info-background-color, rgb(13, 102, 208));
}
.spectrum-Tooltip--info .spectrum-Tooltip-tip, .spectrum-Tooltip--help .spectrum-Tooltip-tip {
    border-top-color: var(--spectrum-tooltip-info-background-color, rgb(13, 102, 208));
  }
.spectrum-Tooltip--positive,
/** @deprecated */.spectrum-Tooltip--success {
  background-color: var(--spectrum-tooltip-positive-background-color, rgb(18, 128, 92));
}
.spectrum-Tooltip--positive .spectrum-Tooltip-tip, .spectrum-Tooltip--success .spectrum-Tooltip-tip {
    border-top-color: var(--spectrum-tooltip-positive-background-color, rgb(18, 128, 92));
  }
