/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@require '../../commons'

$spectrum-combobox-font-size = $spectrum-font-size;
$spectrum-combobox-border-radius = $spectrum-border-radius;
$spectrum-combobox-text-indent = $spectrum-padding;

$spectrum-combobox-trigger-width = 32*$px;
$spectrum-combobox-trigger-width-quiet = 12*$px;

$spectrum-combobox-alert-width = 32*$px;

$spectrum-combobox-border-width = $px;

$spectrum-combobox-item-spacing-left = 14*$px;
$spectrum-combobox-item-spacing-top = 9*$px;
$spectrum-combobox-item-focus-width = 2*$px;

$spectrum-combobox-invalid-icon-url = '../../commons/embed/icon-alert.svg';

.coral-ComboBox {
  position: relative;
  display: inline-table !important;
  vertical-align: top;
  width: $spectrum-component-single-line-width;

  .coral-ComboBox-input {
    border-radius: $spectrum-combobox-border-radius 0 0 $spectrum-combobox-border-radius;
  }

  .coral-ComboBox-trigger {
    border-radius: 0 $spectrum-combobox-border-radius $spectrum-combobox-border-radius 0;
    border: $px solid transparent;
  }

  &.is-focused {
    .coral-ComboBox-input,
    .coral-ComboBox-trigger {
      // Box shadow is on the input group
      box-shadow: none;
    }
  }

  &.is-invalid {
    .coral-ComboBox-input {
      padding-right: $spectrum-combobox-alert-width;
    }

    .coral-ComboBox-input {
      &:after {
        position: absolute;
        top: 0;
        right: 0;

        width: $spectrum-combobox-alert-width;
        height: 100%;

        content: '';

        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}

.coral-ComboBox--quiet {
  .coral-ComboBox-input {
    text-indent: 0;
  }

  .coral-InputGroup-button {
    width: $spectrum-combobox-trigger-width-quiet;
  }

  .coral-ComboBox-input,
  .coral-ComboBox-trigger {
    // Remove border
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
    background: transparent;

    &:disabled {
      background: transparent;
    }
  }
}

@require 'light.styl'
@require 'dark.styl'
