/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$spectrum-combobox-background-color = $spectrum-global-color-grey1
$spectrum-combobox-border-color = $spectrum-global-color-grey5

$spectrum-combobox-border-color-focus = $spectrum-alias-border-color-focus-blue;
$spectrum-combobox-border-color-invalid = $spectrum-alias-border-color-invalid-default;

$spectrum-combobox-background-color-disabled = $spectrum-alias-background-color-transparent;
$spectrum-combobox-border-color-disabled = $spectrum-alias-border-color-transparent;

$spectrum-combobox-item-text-color-selected = $spectrum-alias-focus-blue;
$spectrum-combobox-item-background-color-focused = $spectrum-alias-focus-blue;

$spectrum-combobox-invalid-icon-color = $spectrum-global-color-red2;


.coral-ComboBox {
  // Override default style for input and button.
  .coral-ComboBox-trigger:not(:disabled) {
    &:hover {
      background: $spectrum-combobox-background-color;
    }
  }

  .coral-ComboBox-input:disabled:hover {
    border-color: transparent;
    box-shadow: none;
  }

  &.is-invalid {
    .coral-ComboBox-input,
    .coral-ComboBox-trigger {
      border-color: $spectrum-combobox-border-color-invalid;
    }

    .coral-InputGroup-input {
      &::after {
        background-image: svgurl(embedurl($spectrum-combobox-invalid-icon-url)) svg(path fill $spectrum-combobox-invalid-icon-color);
      }
    }
  }

  &.is-focused {
    .coral-ComboBox-input,
    .coral-ComboBox-trigger {
      border-color: $spectrum-combobox-border-color-focus;
      box-shadow: 0 0 0 1*$px $spectrum-combobox-border-color-focus;
    }

    &.is-invalid {
      .coral-ComboBox-input,
      .coral-ComboBox-trigger {
        border-color: $spectrum-combobox-border-color-invalid;
        box-shadow: 0 0 0 1*$px $spectrum-combobox-border-color-invalid;
      }
    }
  }
}

.coral-ComboBox--quiet {
  .coral-ComboBox-input {
    border-color: $spectrum-combobox-border-color;
  }

  &:not(.is-focused):not(.is-invalid):hover {
    .coral-ComboBox-input:not(:disabled),
    .coral-ComboBox-trigger:not(:disabled) {
      border-color: $spectrum-input-border-color-hover;
    }
  }
  .coral-ComboBox-trigger:disabled {
    border-color: $spectrum-combobox-border-color;
    background: transparent;
  }

  .coral-ComboBox-input:disabled:hover {
    border-color: $spectrum-combobox-border-color;
  }

  &.is-focused {
    .coral-ComboBox-input,
    .coral-ComboBox-trigger {
      border-color: $spectrum-combobox-border-color-focus; // Override InputGroup
      box-shadow: 0 1*$px 0 $spectrum-combobox-border-color-focus;
    }

    &.is-invalid {
      .coral-ComboBox-input,
      .coral-ComboBox-trigger {
        box-shadow: 0 1*$px 0 $spectrum-combobox-border-color-invalid;
      }
    }
  }

  .coral-ComboBox-trigger:not(:disabled):hover {
    // Stay transparent on hover
    background: transparent;
  }
}
