[role=textbox] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  margin-right: 20px;
  border-radius: 8px;
  color: var(--text-color);
}

[role=textbox]:focus {
  outline: none;
  border-color: var(--focus-ring-color);
  box-shadow: 0 0 0 1px var(--focus-ring-color);
}

[role=textbox] kbd {
  display: inline-block;
  margin-left: 10px;
  padding: 0 4px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: small;
  letter-spacing: .2em;
  color: var(--text-color);
}