$spectrum-rating-color-default = $spectrum-global-color-grey7;
$spectrum-rating-color-active = $spectrum-global-color-grey9;
$spectrum-rating-color-disabled = $spectrum-global-color-grey6;

.coral-Rating {
  .coral-Rating-icon {
    color: $spectrum-rating-color-default;

    &.is-active {
      color: $spectrum-rating-color-active;
    }

    &.is-disabled {
      color: $spectrum-rating-color-disabled;
    }
  }
}
