.coral-Rating {
  .coral-Rating-icon {
    color: $spectrum-color-constant-grey7;

    &.is-active {
      color: $spectrum-color-constant-grey9;
    }

    &.is-disabled {
      color: $spectrum-color-constant-grey6;
    }
  }
}
