.react-spectrum-ToastContainer {
  position: fixed;
  top: unset;
  bottom: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: 100050; /* above modals */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  pointer-events: none;

  .spectrum-Toast {
    margin: 8px;
    pointer-events: all;
  }
}
.react-spectrum-ToastContainer--top {
  top: 0;
  flex-direction: column;
  bottom: unset;
}
.react-spectrum-ToastContainer--bottom {
  flex-direction: column-reverse;
  bottom: 0;
}
.react-spectrum-ToastContainer--left {
  align-items: flex-start;
}
.react-spectrum-ToastContainer--center {
  align-items: center;
}
.react-spectrum-ToastContainer--right {
  align-items: flex-end;
}
