@import '../../commons'

.coral-TabView {
  display: flex;
  flex-direction: column;

  .coral-TabView-body {
    position: relative;
    padding: 15*$px 8*$px;
    flex: 1;
  }

  &.coral-TabView--vertical {
    flex-direction: row;
    .coral-TabView-body {
      padding: 4*$px 15*$px;
    }
  }
}
