.react-spectrum-TabView {
  display: flex;
  flex-direction: column;

  .react-spectrum-TabView-body {
    position: relative;
    padding: 15px 8px;
    flex: 1;
  }

  &.react-spectrum-TabView--vertical {
    flex-direction: row;
    .react-spectrum-TabView-body {
      padding: 4px 15px;
    }
  }
}
