/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@import '@spectrum/spectrum-abstract-stylus/dist/components/dialog/skin'

.coral-Dialog {
  .coral-Dialog-wrapper {
    spectrum-dialog-wrapper()
  }
}

.coral-Dialog-header {
  spectrum-dialog-header()

  .coral-Dialog-title {
    spectrum-dialog-title()
  }

  .coral-Dialog-typeIcon {
    spectrum-dialog-typeIcon()
  }
}

.coral-Dialog-header--error {
  .coral-Dialog-title {
    spectrum-dialog-title--error()
  }

  .coral-Dialog-typeIcon {
    spectrum-dialog-typeIcon--error()
  }
}

.coral-Dialog-header--warning {
  .coral-Dialog-title {
    spectrum-dialog-title--warning()
  }

  .coral-Dialog-typeIcon {
    spectrum-dialog-typeIcon--warning()
  }
}

.coral-Dialog-header--help,
.coral-Dialog-header--info {
  .coral-Dialog-title {
    spectrum-dialog-title--info()
  }

  .coral-Dialog-typeIcon {
    spectrum-dialog-typeIcon--info()
  }
}

.coral-Dialog-header--success {
  .coral-Dialog-title {
    spectrum-dialog-title--success()
  }

  .coral-Dialog-typeIcon {
    spectrum-dialog-typeIcon--success()
  }
}

.coral-Dialog-footer {
  spectrum-dialog-footer()
}
