.coral-Icon--adobeAnalyticsColor,
.coral-Icon--adobeAudienceManagerColor,
.coral-Icon--adobeCampaignColor,
.coral-Icon--adobeExperienceManagerColor,
.coral-Icon--adobeMediaOptimizerColor,
.coral-Icon--adobePrimetimeColor,
.coral-Icon--adobeSocialColor,
.coral-Icon--adobeTargetColor,
.coral-Icon--calendarCheckColor,
.coral-Icon--emotionAdmirationColor,
.coral-Icon--emotionAngerColor,
.coral-Icon--emotionAnticipationColor,
.coral-Icon--emotionDisgustColor,
.coral-Icon--emotionFearColor,
.coral-Icon--emotionJoyColor,
.coral-Icon--emotionSadnessColor,
.coral-Icon--emotionSurpriseColor,
.coral-Icon--facebookCircleColor,
.coral-Icon--facebookColor,
.coral-Icon--flickrColor,
.coral-Icon--googleAnalyticsColor,
.coral-Icon--googlePlusCircleColor,
.coral-Icon--googlePlusColor,
.coral-Icon--imageCheckColor,
.coral-Icon--instagramCircleColor,
.coral-Icon--instagramColor,
.coral-Icon--linkCheckColor,
.coral-Icon--linkedInCircleColor,
.coral-Icon--linkedInColor,
.coral-Icon--newsgatorColor,
.coral-Icon--projectCameraColor,
.coral-Icon--projectColor,
.coral-Icon--projectPlayColor,
.coral-Icon--projectRefreshColor,
.coral-Icon--sinaWeiboCircleColor,
.coral-Icon--sinaWeiboColor,
.coral-Icon--tableCellMergeColor,
.coral-Icon--tableColumnAddLeftColor,
.coral-Icon--tableColumnAddRightColor,
.coral-Icon--tableColumnMergeColor,
.coral-Icon--tableColumnRemoveCenterColor,
.coral-Icon--tableColumnSplitColor,
.coral-Icon--tableRowAddBottomColor,
.coral-Icon--tableRowAddTopColor,
.coral-Icon--tableRowMergeColor,
.coral-Icon--tableRowRemoveCenterColor,
.coral-Icon--tableRowSplitColor,
.coral-Icon--tableSelectColumnColor,
.coral-Icon--tableSelectRowColor,
.coral-Icon--targetCheckColor,
.coral-Icon--twitterCircleColor,
.coral-Icon--twitterColor,
.coral-Icon--userCircleColor,
.coral-Icon--userGroupCircleColor,
.coral-Icon--windowsColor,
.coral-Icon--wordpressColor,
.coral-Icon--youTubeCircleColor,
.coral-Icon--youTubeColor {
  // :before content
  &:before {
    content: '';
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
  }

}