.spectrum-FieldLabel,
.spectrum-Form-itemLabel {
  color: var(--spectrum-fieldlabel-text-color, var(--spectrum-global-color-gray-700));
}

  .spectrum-FieldLabel.is-disabled, .spectrum-Form-itemLabel.is-disabled {
    color: var(--spectrum-fieldlabel-text-color-disabled, var(--spectrum-global-color-gray-500));
  }

  .spectrum-FieldLabel.is-disabled .spectrum-FieldLabel-requiredIcon, .spectrum-Form-itemLabel.is-disabled .spectrum-FieldLabel-requiredIcon {
      color: var(--spectrum-fieldlabel-asterisk-color-disabled, var(--spectrum-global-color-gray-500));
    }
.spectrum-FieldLabel-requiredIcon {
  color: var(--spectrum-fieldlabel-asterisk-color, var(--spectrum-global-color-gray-600));
}
/* topdoc
{{ fieldlabel/fieldlabel.yml }}
*/
/* topdoc
{{ fieldlabel/fieldlabel-required.yml }}
*/
.spectrum-FieldLabel,
.spectrum-Form-itemLabel {
  display: block;

  box-sizing: border-box;

  padding: var(--spectrum-fieldlabel-padding-top, var(--spectrum-global-dimension-size-50)) 0 var(--spectrum-fieldlabel-padding-bottom, var(--spectrum-global-dimension-size-65));

  font-size: var(--spectrum-fieldlabel-text-size, var(--spectrum-global-dimension-size-150));
  font-weight: var(--spectrum-fieldlabel-text-font-weight, 400);
  line-height: var(--spectrum-fieldlabel-text-line-height, 1.3);

  vertical-align: top;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}
.spectrum-FieldLabel-requiredIcon {
  margin: var(--spectrum-fieldlabel-asterisk-margin-y, var(--spectrum-global-dimension-size-50)) 0 0 var(--spectrum-fieldlabel-asterisk-gap, 2px);
}
/* topdoc
{{ fieldlabel/fieldlabel-left.yml }}
*/
.spectrum-FieldLabel--left {
  display: inline-block;
  padding: var(--spectrum-fieldlabel-side-padding-top, var(--spectrum-global-dimension-size-100)) var(--spectrum-fieldlabel-side-padding-x, var(--spectrum-global-dimension-size-100)) 0 0;
}
.spectrum-FieldLabel--left .spectrum-FieldLabel-requiredIcon {
    margin: var(--spectrum-fieldlabel-side-asterisk-margin-y, 0px) 0 0 var(--spectrum-fieldlabel-asterisk-gap, 2px);
  }
/* topdoc
{{ fieldlabel/fieldlabel-right.yml }}
*/
.spectrum-FieldLabel--right {
  display: inline-block;
  text-align: right;
  padding: var(--spectrum-fieldlabel-side-padding-top, var(--spectrum-global-dimension-size-100)) var(--spectrum-fieldlabel-side-padding-x, var(--spectrum-global-dimension-size-100)) 0 0;
}
/* topdoc
{{ form/index.yml }}
*/
.spectrum-Form {
  display: table;
  border-collapse: separate;
  border-spacing: 0 var(--spectrum-global-dimension-size-300);
  margin: calc(var(--spectrum-global-dimension-size-250) * -1) 0;
}
.spectrum-Form-item {
  display: table-row;
}
.spectrum-Form-itemLabel {
  display: table-cell;
}
.spectrum-Form-itemField {
  display: table-cell;
}
