@import '@spectrum/spectrum-css/dist/components/slider/index.css';
@import '@spectrum/spectrum-css/dist/components/slider/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/slider/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/slider/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/slider/multiStops/darkest.css';

// work around bug in spectrum-css
// TODO: port this back
.spectrum-Slider-handle {
  transition: border 150ms ease-in-out !important;
}

// TODO: vertical support in spectrum-css
