.react-spectrum-Slider--is-dragged {
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-spectrum-Slider--round--is-dragged {
  cursor: ns-resize;
  cursor: -webkit-grabbing;
  cursor: grabbing;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
