/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.coral3-Slider {
  background: transparent;

  &.is-disabled {
    .coral3-Slider-handle {
      border-color: $spectrum-slider-handle-border-color-disabled;
    }

    .coral3-Slider-bar {
      background: $spectrum-slider-handle-border-color-disabled;
    }
  }
}

.coral3-Slider-handle {
  border-color: $spectrum-slider-handle-border-color-default;
  background: $spectrum-alias-background-color-default;

  &.is-focused {
    border-color: $spectrum-slider-handle-border-color-focus;
  }

  &:hover {
   border-color: $spectrum-slider-handle-border-color-hover;
 }

  &.is-dragged {
    border-color: $spectrum-slider-handle-fill-color-active;
  }
}

.coral3-Slider-bar {
  background: $spectrum-slider-track-color-default;
}

.coral3-Slider-fill {
  background-color: $spectrum-slider-track-filled-color-default;
}
