registry=https://registry.npmjs.com/
always-auth=false

@react:registry=https://artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-react-release/
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-react-release/:_password=${NPM_PASSWORD}
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-react-release/:username=lfnpm
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-react-release/:email=lfnpm@adobe.com
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-react-release/:always-auth=true

package-lock=false
