version: 2.1
orbs:
  azure-cli: circleci/azure-cli@1.1.0
jobs:
  build-image:
    docker:
      - image: circleci/node:12.10

    working_directory: ~/react-spectrum-v3
    steps:
      - checkout
      - restore_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}

      - run:
          name: Write npmrc
          command: |
            cp .circleci/.npmrc .npmrc

      - run:
          name: build
          command: |
            make -B

      - save_cache:
         paths:
           - node_modules
         key: yarn-cache-{{ checksum "yarn.lock" }}

      - save_cache:
          paths:
            - ~/react-spectrum-v3
          key: v3-repo-{{ .Environment.CIRCLE_SHA1 }}

  build:
    docker:
      - image: circleci/node:12.10

    working_directory: ~/react-spectrum-v3
    steps:
      - restore_cache:
          key: v3-repo-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: build
          command: |
            make clean
            make -B

  test:
    docker:
      - image: circleci/node:12.10

    working_directory: ~/react-spectrum-v3
    steps:
      - restore_cache:
          key: v3-repo-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: test
          command: make ci-test

  lint:
    docker:
      - image: circleci/node:12.10

    working_directory: ~/react-spectrum-v3
    steps:
      - restore_cache:
          key: v3-repo-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: lint
          command: make lint

  storybook:
    docker:
      - image: circleci/node:12.10

    working_directory: ~/react-spectrum-v3
    steps:
      - restore_cache:
          key: v3-repo-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: build storybook
          command: make storybook

      - persist_to_workspace:
          root: dist
          paths:
            - '*/storybook/'
  docs:
    docker:
      - image: circleci/node:12.10

    working_directory: ~/react-spectrum-v3
    steps:
      - restore_cache:
          key: v3-repo-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: build docs
          command: make website

      - persist_to_workspace:
          root: dist
          paths:
            - '*/docs/'

  deploy:
    executor: azure-cli/azure-docker
    steps:
      - attach_workspace:
          at: /tmp/dist
      - run:
          name: deploy
          command: az storage blob upload-batch -d reactspectrum -s /tmp/dist --account-name reactspectrum

  comment:
    docker:
      - image: circleci/node:12.10
    working_directory: ~/react-spectrum-v3
    steps:
      - checkout
      - restore_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}

      - run:
          name: comment on pr
          command: node .circleci/comment.js

workflows:
  version: 2
  test:
    jobs:
      - build-image
      - test:
          requires:
            - build-image
      - lint:
          requires:
            - build-image
      - storybook:
          requires:
            - build-image
      - docs:
          requires:
            - build-image
      - deploy:
          requires:
            - lint
            - test
            - storybook
            - docs
      - comment:
          requires:
            - deploy
