spectrum-textfield() {
  background-color: $spectrum-color-background-input-default;
  border-color: $spectrum-color-border-input-default;
  color: $spectrum-color-text-input-default;
}

spectrum-textfield--hover() {
  border-color: $spectrum-color-border-input-hover;
  box-shadow: 0 0 0 1*$px $spectrum-color-border-input-hover;
}

spectrum-textfield--focus() {
  border-color: $spectrum-color-border-input-focus;
  box-shadow: 0 0 0 1*$px $spectrum-color-border-input-focus;
}

spectrum-textfield--disabled() {
  background-color: $spectrum-color-background-input-disabled;
  border-color: $spectrum-color-border-input-disabled;
  color: $spectrum-color-text-input-disabled;

  /* For safari mobile browser */
  -webkit-text-fill-color: $spectrum-color-text-input-disabled;
}

spectrum-textfield--invalid() {
  border-color: $spectrum-color-border-input-invalid;

  &:focus { /* might break things due to pre-defined focus */
    box-shadow: 0 0 0 1*$px $spectrum-color-border-input-invalid;
  }
}

spectrum-textfield-placeholder() {
  color: $spectrum-color-text-placeholder-default
}

spectrum-textfield-placeholder--hover() {
  color: $spectrum-color-text-placeholder-hover
}

spectrum-textfield-placeholder--disabled() {
  color: $spectrum-color-text-placeholder-disabled
}

spectrum-textfield--quiet() {
  background-color: $spectrum-color-background-input-quiet-default
  border-color: $spectrum-color-border-input-quiet-default
  color: $spectrum-color-text-input-default
}

spectrum-textfield--quiet--hover() {
  box-shadow: 0 1*$px 0 $spectrum-color-border-input-quiet-hover
}

spectrum-textfield--quiet--focus() {
  box-shadow: 0 1*$px 0 $spectrum-color-border-input-quiet-focus
}

spectrum-textfield--quiet--disabled() {
  background-color: $spectrum-color-background-input-quiet-disabled
  border-color:  $spectrum-color-border-input-quiet-disabled
}

spectrum-textfield--quiet--invalid() {
  border-color: $spectrum-color-border-input-invalid;

  &:focus {
    box-shadow: 0 1*$px 0 $spectrum-color-border-input-invalid;
  }
}

