:root {
  /* TODO: update these with S2 values */
  --anatomy-gray-900: light-dark(#486EC2, #8ca4d9);
  --anatomy-gray-800: light-dark(#496EC2, #8ca4d9);
  --anatomy-gray-700: light-dark(#4a6fc3, #8ba3d8);
  --anatomy-gray-600: light-dark(#718dcf, #6080ca);
  --anatomy-gray-500: light-dark(#a2b6e1, #3a589b);
  --anatomy-gray-400: light-dark(#beccea, #2e467b);
  --anatomy-gray-300: light-dark(#DAE2F4, #223259);
  --anatomy-gray-200: light-dark(#E5EBF7, #1c2b4b);
  --anatomy-gray-100: light-dark(#f4f6fc, #141e35);
  --anatomy-gray-75: light-dark(#FDFDFE, #0e1525);
  --anatomy-gray-50: light-dark(#FFFFFF, #0c1220);
  --anatomy-radius: 16px;
  --anatomy-font: adobe-clean-spectrum-vf;
}

#api + svg {
  display: block;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 4px !important;
}

#api + svg + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
