@import '../../abstract/components/page/index.styl'

// holds global styles, like body:background-color and font-family
// we should define a global '.spectrum' class, once we have css for each colorstop

@import './light.styl'
@import './dark.styl'
