@import '../../abstract/components/page/skin.styl'

// colors
& {
  spectrum-page()
}

// these are global font styles, which has to move under ‘.spectrum' when we have a css for each colorstop
& {
  spectrum-font()
}

&:lang(zh-Hans) {
  spectrum-font--zh-Hans()
}

&:lang(zh) {
  spectrum-font--zh()
}

&:lang(ko) {
  spectrum-font--ko()
}

&:lang(ja) {
  spectrum-font--ja()
}
