spectrum-tooltip--default() {
  background-color: $spectrum-color-background-tooltip-default;
  color: $spectrum-color-text-tooltip-default;
}

spectrum-tooltip--error() {
  background-color: $spectrum-color-background-tooltip-error;
}

spectrum-tooltip--info() {
  background-color: $spectrum-color-background-tooltip-info;
}

spectrum-tooltip--success() {
  background-color: $spectrum-color-background-tooltip-success;
}

