@import "./theme.css";

.my-autocomplete {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  max-width: 300px;
  height: 180px;
  border: 0.5px solid var(--overlay-border);
  padding: var(--spacing-4);
  border-radius: var(--radius);
  background: var(--overlay-background);

  .react-aria-Menu {
    flex: 1;
  }
}
