@import "./theme.css";

.react-aria-CheckboxGroup {
  display: flex;
  flex-direction: column;
  
  .checkbox-items {
    display: flex;
    gap: var(--spacing-3);
    flex-direction: column;
  }

  &[data-orientation=vertical] .checkbox-items {
    flex-direction: column;
  }

  &[data-orientation=horizontal] .checkbox-items {
    flex-direction: row;
  }
}
