
.react-aria-ColorArea {
  width: 100%;
  max-width: calc(var(--spacing) * 56);
  aspect-ratio: 1/1;
  border-radius: var(--radius);
  flex-shrink: 0;
}

.react-aria-ColorArea {
  &[data-disabled] {
    background: gray !important;
  }
}
