@import "./theme.css";

.react-aria-DatePicker {
  .react-aria-Group {
    display: flex;
    width: 100%;
    align-items: center;
    height: var(--spacing-8);
  }

  .react-aria-DateInput {
    flex: 1;
    min-width: 0;
    padding-right: var(--spacing-10);
  }
}
