@import "./theme.css";

.react-aria-DatePicker {
  max-width: 100%;

  .react-aria-Group {
    display: flex;
    width: 100%;
    align-items: center;
    height: var(--spacing-8);
  }

  .react-aria-DateInput {
    flex: 1;
    min-width: 0;
    padding-right: var(--spacing-10);
    overflow-x: auto;
    overflow-y: clip;
    scrollbar-width: none;
  }
}
