@import "./theme.css";
@import './Button.css';

.react-aria-Disclosure {
  .react-aria-Button[slot=trigger] {
    background: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      rotate: 0deg;
      transition: rotate 200ms;
      width: 12px;
      height: 12px;
      fill: none;
      stroke: currentColor;
      stroke-width: 3px;
    }
  }

  &[data-expanded] .react-aria-Button[slot=trigger] svg {
    rotate: 90deg;
  }
}

.react-aria-DisclosurePanel {
  margin-left: 32px;
}
