@import "./theme.css";

.react-aria-Separator {
  background-color: var(--gray-800);
  border-style: none;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  
  &[aria-orientation="vertical"] {
    width: 2px;
    height: 100%;
  }
}
