@import "./theme.css";

.react-aria-Toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-1);
  width: fit-content;

  &[data-orientation=horizontal] {
    flex-direction: row;
  }
  
  &[data-orientation=vertical] {
    flex-direction: column;
    align-items: start;
  }

  .react-aria-Group {
    display: contents;
  }

  .react-aria-Separator {
    align-self: stretch;
    background-color: var(--border-color);

    &:not([aria-orientation=vertical]) {
      border: none;
      height: 0.5px;
      width: 100%;
      margin: 10px 0;
    }

    &[aria-orientation=vertical] {
      width: 0.5px;
      margin: 0px 10px;
    }
  }
}
