// CoralUI is using a descendent element selector `.coral-Shell-homeAnchor coral-icon`.
// Overriding it here.  Logged CUI-5813.
.coral-Shell-homeAnchor .coral-Icon
  vertical-align: middle
  margin-right: .625rem

.coral-Shell-header
  z-index: 10020
