.coral-Shell-menu-button .coral-Icon.is-image.coral-Icon--sizeM .coral-Icon-image {
  border-radius: 1.5rem;
  margin-top: 5.5px;
}
.coral-Shell-user-container {
  overflow: hidden;
  min-width: 300px;

  .coral-Shell-user-name,
  .coral-Shell-user-heading,
  .coral-Shell-user-subheading {
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
