
:root {
  --spectrum-listview-item-compact-padding-y: var(--spectrum-global-dimension-size-50);
  --spectrum-listview-item-regular-padding-y: var(--spectrum-global-dimension-size-75);
  --spectrum-listview-item-spacious-padding-y: var(--spectrum-global-dimension-size-100);
}

.react-spectrum-ListView {
  box-sizing: border-box;
  border-color: var(--spectrum-table-border-color, var(--spectrum-alias-border-color-mid));
  border-style: solid;
  position: relative;
  border-width: var(--spectrum-table-border-size, var(--spectrum-alias-border-size-thin));
  border-radius: var(--spectrum-table-border-radius, var(--spectrum-alias-border-radius-regular));
  overflow: auto;
  vertical-align: var(--spectrum-table-cell-vertical-alignment);
  border-collapse: separate;
  border-spacing: 0;
  transform: translate3d(0, 0, 0);
  padding: 0;
  background-color: var(--spectrum-table-background-color, var(--spectrum-global-color-gray-50));
  outline: 0;

  [role="row"] {
    outline: none;
  }
}

.react-spectrum-ListView--quiet {
  background-color: var(--spectrum-alias-background-color-transparent);
  border-width: 0;
}

.react-spectrum-ListViewItem {
  display: grid; /* TODO: define grid areas */
  border-bottom: 1px solid var(--spectrum-tabel-cell-border-color, var(--spectrum-global-color-gray-300));
  box-sizing: border-box;
  font-size: var(--spectrum-table-cell-text-size, var(--spectrum-alias-font-size-default));
  font-weight: var(--spectrum-table-cell-text-font-weight, var(--spectrum-global-font-weight-regular));
  line-height: calc(var(--spectrum-table-cell-text-size, var(--spectrum-alias-font-size-default)) * var(--spectrum-table-cell-text-line-height, var(--spectrum-alias-body-text-line-height)) - 1px);
  padding: var(--spectrum-listview-item-regular-padding-y) var(--spectrum-global-dimension-size-150);
  transition: background-color var(--spectrum-global-animation-duration-100) ease-in-out;
  position: relative;
  /*background-color: var(--spectrum-table-background-color, var(--spectrum-global-color-gray-50));*/
  color: var(--spectrum-table-cell-text-color, var(--spectrum-alias-text-color));
  outline: 0;
  min-height: var(--spectrum-global-dimension-size-500);

  .react-spectrum-ListView--quiet & {
    border-bottom: 0;
  }

  &.is-hovered,
  &.is-focused {
    background-color: var(--spectrum-table-row-background-color-hover);

    .react-spectrum-ListView--quiet & {
      border-radius: var(--spectrum-table-border-radius, var(--spectrum-alias-border-radius-regular));
    }
  }

  &:focus-ring {
    background-color: var(--spectrum-table-row-background-color-hover);
    box-shadow: inset 0 0 0 2px var(--spectrum-table-cell-border-color-key-focus);
    border-radius: var(--spectrum-table-cell-border-radius-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-table-row-background-color-down);
  }

  &.is-selected {
    background-color: var(--spectrum-table-row-background-color-selected);

    &.is-hovered,
    &.is-active {
      background-color: var(--spectrum-table-row-background-color-selected-hover);
    }
  }

  &.react-spectrum-ListViewItem--highlightSelection {
    border-bottom-color: var(--spectrum-global-color-blue-500);
  }

  &.has-checkbox {
    /* have to eliminate vertical padding to allow proper vertical alignment */
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.react-spectrum-ListViewItem-selected {
  background-color: var(--spectrum-table-row-background-color-selected, var(--spectrum-alias-highlight-selected));
  &.is-hovered {
    background-color: var(--spectrum-table-quiet-row-background-color-selected-hover);
  }
}

.react-spectrum-ListView--compact .react-spectrum-ListViewItem {
  padding-top: var(--spectrum-listview-item-compact-padding-y);
  padding-bottom: var(--spectrum-listview-item-compact-padding-y);
  min-height: var(--spectrum-global-dimension-size-400);
}

.react-spectrum-ListView--spacious .react-spectrum-ListViewItem {
  padding-top: var(--spectrum-listview-item-spacious-padding-y);
  padding-bottom: var(--spectrum-listview-item-spacious-padding-y);
  min-height: var(--spectrum-global-dimension-size-600);
}

.react-spectrum-ListViewItem-grid {
  display: grid;
  grid-template-columns: auto auto auto 1fr auto auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "checkbox icon image content actions actionmenu chevron"
    "checkbox icon image description actions actionmenu chevron"
  ;
  align-items: center;
}

.react-spectrum-ListViewItem-checkbox {
  grid-area: checkbox;
  align-items: center;
  justify-items: center;
  min-height: 0;
  height: 100%;
  > span {
    margin: 0;
  }
}

.react-spectrum-ListViewItem-icon,
.react-spectrum-ListViewItem-image {
  grid-area: image;
  align-items: center;
  justify-items: center;

  [dir="ltr"] & {
    padding-right: var(--spectrum-global-dimension-size-100);
  }
  [dir="rtl"] & {
    padding-left: var(--spectrum-global-dimension-size-100);
  }
}

.react-spectrum-ListViewItem-image {
  border-radius: var(--spectrum-global-dimension-size-25);
  width: var(--spectrum-global-dimension-size-400);
  height: var(--spectrum-global-dimension-size-400);
}

.react-spectrum-ListViewItem-content,
.react-spectrum-ListViewItem-description {
  flex-grow: 1;
}

.react-spectrum-ListViewItem-content {
  grid-area: content;
}

.react-spectrum-ListViewItem-description {
  grid-area: description;
}

.react-spectrum-ListViewItem-actions {
  grid-area: actions;
  flex-grow: 0;
  flex-shrink: 0;
}

.react-spectrum-ListViewItem-actionmenu {
  grid-area: actionmenu;
}

.react-spectrum-ListView-centeredWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.react-spectrum-ListViewItem-parentIndicator {
  grid-area: chevron;

  [dir="ltr"] & {
    padding-left: var(--spectrum-global-dimension-size-75);
  }
  [dir="rtl"] & {
    padding-right: var(--spectrum-global-dimension-size-75);
  }
}
