/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  --spectrum-menu-margin-x: var(--spectrum-global-dimension-size-40);
  --spectrum-selectlist-heading-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-selectlist-heading-text-font-weight: 400;
  --spectrum-selectlist-heading-text-transform: uppercase;
  --spectrum-selectlist-heading-letter-spacing: 0.06em;
  --spectrum-selectlist-heading-margin: var(--spectrum-global-dimension-size-75) 0 0 0;
  --spectrum-selectlist-heading-padding-left: var(--spectrum-global-dimension-size-150);
  --spectrum-selectlist-heading-padding-right: var(--spectrum-global-dimension-size-450);


  --spectrum-selectlist-option-padding-y: var(--spectrum-global-dimension-size-85);

  --spectrum-selectlist-option-selectable-padding-right: calc(var(--spectrum-global-dimension-size-100) + var(--spectrum-icon-checkmark-medium-width) + var(--spectrum-selectlist-option-icon-padding-x));

  --spectrum-selectlist-option-icon-margin-top: var(--spectrum-global-dimension-size-50);

  /* Hardcoded for wrapping study */
  --spectrum-selectlist-option-label-line-height: 1.3;
}

.spectrum-Menu {
  text-align: start;
  display: inline-block;

  box-sizing: border-box;

  margin: var(--spectrum-popover-padding-y) 0;
  padding: 0;

  list-style-type: none;

  overflow: auto;

  height: 255px;
  width: 200px;

  & .spectrum-Menu-sectionHeading {
    /* Support headings as LI */
    margin-block-start: var(--spectrum-menu-margin-x);
    margin-block-end: var(--spectrum-menu-margin-x);
  }

  &.is-selectable {
    .spectrum-Menu-item {
      padding-inline-end: var(--spectrum-selectlist-option-selectable-padding-right);

      &.is-selected {
        padding-inline-end: calc(var(--spectrum-selectlist-option-padding) - var(--spectrum-popover-border-size));
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.spectrum-Menu-checkmark {
  transform: scale(1);
  opacity: 1;
}

.spectrum-Menu-item {
  cursor: pointer;
  position: relative;

  box-sizing: border-box;

  margin: 0;

  border-inline-start: var(--spectrum-selectlist-border-size-key-focus) solid transparent;

  min-block-size: var(--spectrum-selectlist-option-height);

  font-size: var(--spectrum-selectlist-option-text-size);
  font-weight: var(--spectrum-selectlist-option-text-font-weight);
  font-style: normal;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &.is-selected {
    .spectrum-Menu-checkmark {
      display: block;
    }
  }

  .spectrum-Icon + .spectrum-Menu-itemLabel,
  .spectrum-Menu-itemIcon  + .spectrum-Menu-itemLabel {
    margin-inline-start: var(--spectrum-selectlist-thumbnail-image-padding-x);
  }
}

.spectrum-Menu-itemLabel {
  grid-area: label;
  align-self: center;
  line-height: var(--spectrum-selectlist-option-label-line-height);
  word-break: break-all;
}

.spectrum-Menu-itemLabel--wrapping {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.spectrum-Menu-checkmark {
  display: none;
  align-self: flex-start;
}

.spectrum-Menu-divider {
  /* Add the correct box sizing for hr in Firefox. */
  box-sizing: content-box;

  /* Show the overflow for hr in Edge and IE. */
  overflow: visible;

  block-size: var(--spectrum-selectlist-divider-size);
  margin: calc(var(--spectrum-selectlist-divider-padding) / 2) var(--spectrum-selectlist-option-padding);
  padding: 0 0;
  border: none;
}

.spectrum-Menu-sectionHeading {
  display: block;
  margin: var(--spectrum-selectlist-heading-margin);
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: var(--spectrum-selectlist-heading-padding-left);
  padding-inline-end: var(--spectrum-selectlist-heading-padding-right);

  font-size: var(--spectrum-selectlist-heading-text-size);
  font-weight: var(--spectrum-selectlist-heading-text-font-weight);
  line-height: var(--spectrum-text-body-line-height);
  text-transform: var(--spectrum-selectlist-heading-text-transform);
  letter-spacing: var(--spectrum-selectlist-heading-letter-spacing);
}

.spectrum-Menu .spectrum-Menu {
  /* Fill parent menu when nested */
  display: block;
}

.spectrum-Menu-itemGrid {
  /* hard coded height to match row height in Menu.tsx */
  height: 32px;
  display: grid;
  grid-template-columns: calc(var(--spectrum-selectlist-option-padding) - var(--spectrum-selectlist-border-size-key-focus)) auto 1fr auto auto var(--spectrum-selectlist-option-padding);
  grid-template-rows: var(--spectrum-selectlist-option-padding-y) 1fr auto var(--spectrum-selectlist-option-padding-y);
  grid-template-areas:
    ". .    .           .     .   ."
    ". icon label       tools keyboardIcon ."
    ". icon description tools keyboardIcon ."
    ". .    .           .     .   .";
}

/* Added .spectrum-Menu so paddings from component styles are overriden */
.spectrum-Menu .spectrum-Menu-tools {
  grid-area: tools;
  justify-self: end;
  align-self: center;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
.spectrum-Menu-icon {
  grid-area: icon;
  align-self: center;
  padding-inline-end: 5px;
}
.spectrum-Menu-description {
  grid-area: description;
  align-self: center;
  line-height: 1.3;
  font-size: var(--spectrum-global-dimension-size-150);
  word-break: break-all;
}
.spectrum-Menu-keyboard {
  grid-area: keyboardIcon;
  align-self: center;
  padding-inline-start: var(--spectrum-global-dimension-size-125);
}
