/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

.spectrum-TreeView {
  display: block;
  list-style: none;
  position: relative;
  padding: 0;
  user-select: none;
  outline: none;

  height: 500px;
  width: 200px;
}

.spectrum-TreeView-item {
  /* Don't let child treeviews that are open spill out */
  overflow: hidden;

  &.is-open {
    > .spectrum-TreeView-itemLink > .spectrum-TreeView-indicator {
      /* Rotate the chevron */
      transform: rotate(90deg);
    }

    > .spectrum-TreeView {
      /* Open the treeview */
      height: auto;
      visibility: visible;
    }
  }
}

.spectrum-TreeView-itemLink {
  display: block;
  box-sizing: border-box;
  cursor: pointer;

  padding: calc(calc(var(--spectrum-treeview-item-margin-y) / 2) + var(--spectrum-treeview-item-padding-y)) var(--spectrum-treeview-item-padding-x);

  text-decoration: none;

  /* Prevent weirdness that can cause the vertical bar to fall down */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    /* we cannot achieve rounded corners with outline so we use box-shadow (on skin.css) instead */
    outline: none;
  }

  .spectrum-Icon {
    vertical-align: top;
    margin-right: var(--spectrum-treeview-item-icon-gap);
  }

  &::before {
    content: '';

    position: absolute;
    left: var(--spectrum-treeview-item-border-size);
    right: 0;
    z-index: -1; /* make sure we don't block clicks on chevron */

    /* Position correctly since top is not defined */
    margin-top: calc(var(--spectrum-treeview-item-padding-y) * -1);

    height: var(--spectrum-treeview-item-height);

    background-color: transparent;

    border-radius: var(--spectrum-treeview-item-border-radius);
  }
}

.spectrum-TreeView-indicator {
  display: block;

  float: left;
  position: relative;

  left: var(--spectrum-global-dimension-size-125);
  top: calc(var(--spectrum-global-dimension-size-65) * -1);
  margin-left: calc(calc(var(--spectrum-global-dimension-size-400) + var(--spectrum-global-dimension-size-25)) * -1);
  margin-bottom: calc(var(--spectrum-global-dimension-size-125) * -1);

  padding: var(--spectrum-global-dimension-size-125);

  transition: transform ease var(--spectrum-global-animation-duration-100);

  pointer-events: all !important;
}

/* Close nested treeviews by default */
.spectrum-TreeView .spectrum-TreeView {
  /* Don't be a highlight container stealer */
  position: static;

  padding-left: var(--spectrum-treeview-item-indent);

  /* Be hidden */
  height: 0;
  visibility: hidden;
}

.spectrum-TreeView-item--indent1 {
  padding-left: var(--spectrum-treeview-item-indent);
}

.spectrum-TreeView-item--indent2 {
  padding-left: calc(2 * var(--spectrum-treeview-item-indent));
}

.spectrum-TreeView-item--indent3 {
  padding-left: calc(3 * var(--spectrum-treeview-item-indent));
}

.spectrum-TreeView-item--indent4 {
  padding-left: calc(4 * var(--spectrum-treeview-item-indent));
}

.spectrum-TreeView-item--indent5 {
  padding-left: calc(5 * var(--spectrum-treeview-item-indent));
}

.spectrum-TreeView-item--indent6 {
  padding-left: calc(6 * var(--spectrum-treeview-item-indent));
}

.spectrum-TreeView-item--indent7 {
  padding-left: calc(7 * var(--spectrum-treeview-item-indent));
}

.spectrum-TreeView-item--indent8 {
  padding-left: calc(8 * var(--spectrum-treeview-item-indent));
}

.spectrum-TreeView-item--indent9 {
  padding-left: calc(9 * var(--spectrum-treeview-item-indent));
}

.spectrum-TreeView-item--indent10 {
  padding-left: calc(10 * var(--spectrum-treeview-item-indent));
}
.spectrum-TreeView-heading {
  padding: calc(calc(var(--spectrum-treeview-item-margin-y) * 2) + var(--spectrum-treeview-item-padding-y)) 10px;
  font-weight: bold;
}
