/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$spectrum-autocomplete-background-color = $spectrum-color-constant-grey1
$spectrum-autocomplete-border-color = $spectrum-color-border-default

$spectrum-autocomplete-border-color-focus = $spectrum-color-focus-blue;
$spectrum-autocomplete-border-color-invalid = $spectrum-color-border-invalid;

$spectrum-autocomplete-background-color-disabled = $spectrum-color-background-disabled;
$spectrum-autocomplete-border-color-disabled = $spectrum-color-border-disabled;

$spectrum-autocomplete-item-text-color-selected = $spectrum-color-focus-blue;
$spectrum-autocomplete-item-background-color-focused = $spectrum-color-focus-blue;

$spectrum-autocomplete-invalid-icon-color = $spectrum-color-constant-red2;


// Override default style for input and button.
.coral-Autocomplete-trigger:not(:disabled) {
  &:hover {
    background: $spectrum-autocomplete-background-color;
  }
}

.coral-Autocomplete {
  .Select-control {
    background: $spectrum-color-background-input-default;
  }

  .Select-placeholder {
    color: $spectrum-color-text-placeholder-default;
  }

  .Select-noresults {
    color: $spectrum-color-text-disabled;
  }

  &.is-disabled {
    .Select-control {
      background: $spectrum-color-background-input-disabled;
    }

    .Select-placeholder {
      color: $spectrum-color-text-input-disabled;
    }
  }

  &.is-invalid {
    .coral-Autocomplete-input,
    .coral-Autocomplete-trigger {
      border-color: $spectrum-autocomplete-border-color-invalid;
    }

    .coral-InputGroup-input {
      &::after {
        background-image: svgurl(embedurl($spectrum-autocomplete-invalid-icon-url)) svg(path fill $spectrum-autocomplete-invalid-icon-color);
      }
    }
  }

  &.is-focused {
    .coral-Autocomplete-input,
    .coral-Autocomplete-trigger {
      border-color: $spectrum-autocomplete-border-color-focus;
      box-shadow: 0 0 0 1*$px $spectrum-autocomplete-border-color-focus;
    }

    &.is-invalid {
      .coral-Autocomplete-input,
      .coral-Autocomplete-trigger {
        border-color: $spectrum-autocomplete-border-color-invalid;
        box-shadow: 0 0 0 1*$px $spectrum-autocomplete-border-color-invalid;
      }
    }
  }

  &.is-openAbove,
  &.is-openBelow {
    .coral-Autocomplete-trigger,
    .coral-Autocomplete-input {
      border-color: $spectrum-autocomplete-border-color;
      background: $spectrum-autocomplete-background-color;
      box-shadow: none;
    }

    &.is-invalid {
      .coral-Autocomplete-trigger,
      .coral-Autocomplete-input {
        border-color: $spectrum-autocomplete-border-color;
        background: $spectrum-autocomplete-background-color;
        box-shadow: none;
      }
    }
  }

  &.is-openAbove,
  &.is-openAbove.is-invalid {
    .coral-Autocomplete-trigger {
      border-top-color: $spectrum-autocomplete-background-color;
    }
  }

  &.is-openBelow,
  &.is-openBelow.is-invalid {
    .coral-Autocomplete-trigger {
      border-bottom-color: $spectrum-autocomplete-background-color;
    }
  }
}

.coral-Autocomplete[variant="quiet"] {
  .coral-Autocomplete-overlay {
    box-shadow: 0 1*$px 4*$px rgba(0, 0, 0, 0.1);
  }

  &.is-focused,
  &.is-invalid {
    .coral-Autocomplete-input,
    .coral-Autocomplete-trigger {
      background: transparent;
      box-shadow: none;
    }
  }

  &.is-focused {
    .coral-Autocomplete-input,
    .coral-Autocomplete-trigger {
      border-color: $spectrum-autocomplete-border-color-focus; // Override InputGroup
      box-shadow: 0 1*$px 0 $spectrum-autocomplete-border-color-focus;
    }

    &.is-invalid {
      .coral-Autocomplete-input,
      .coral-Autocomplete-trigger {
        box-shadow: 0 1*$px 0 $spectrum-autocomplete-border-color-invalid;
      }
    }
  }

  &.is-openAbove,
  &.is-openBelow {
    .coral-Autocomplete-trigger,
    .coral-Autocomplete-input {
      border-color: $spectrum-autocomplete-border-color;
      box-shadow: none;
    }

    &.is-invalid {
      .coral-Autocomplete-trigger,
      .coral-Autocomplete-input {
        border-color: $spectrum-autocomplete-border-color;
        box-shadow: none;
      }
    }
  }

  .coral-Autocomplete-trigger {
    &:hover {
      // Stay transparent on hover
      background: transparent;
    }
  }
}

