@require '../../commons'

$spectrum-alert-header-height = 38*$px;
$spectrum-alert-corner-radius = 3*$px;
$spectrum-alert-icon-left-spacing = 0;

spectrum-alert() {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  width: $spectrum-component-single-line-width * 2;
  min-height: $spectrum-alert-header-height;
  margin: (8*$px) 0;
  padding: 12*$px 15*$px;

  border-width: 2*$px;
  border-style: solid;
  border-radius: $spectrum-alert-corner-radius;
}

spectrum-alert-typeIcon() {
  position: absolute;
  top: 12*$px;
  right: 12*$px;

  text-align: right;

  // @todo CUI-5726 remove temporary hack when template updates
  font-family: AdobeSpectrumIcons18 !important;
  font-size: 1.125rem !important;
  line-height: 1.125rem !important;
  opacity: 1 !important;
}

spectrum-alert-header() {
  display: inline-block;
  height: auto;
  min-height: 0;
  margin: 0;
  padding: 0;

  font-size: 14*$px;
  font-weight: 700;
  font-style: normal;
  line-height: 14*$px;
  text-transform: none;
}

spectrum-alert-content() {
  display: block;
  margin: (22*$px) 0 0 0;
  padding: 0;

  font-size: 14*$px;
  word-wrap: break-word;
}

spectrum-alert-footer() {
  display: block;

  text-align: right;

  padding-top: 0.5rem;

  &:empty {
    display: none;
  }
}

spectrum-alert-footer-button() {
  margin-right: 0;

  // Spacing between buttons
  margin-left: 0.75rem;
}
