spectrum-alert() {
  background-color: $spectrum-color-background-alert-default
  // default color same as header text color
  color: $spectrum-color-text-alert-header
}

spectrum-alert--info() {
  border-color: $spectrum-color-border-alert-info
}

spectrum-alert-typeIcon--info() {
  color: $spectrum-color-border-alert-info
}

spectrum-alert--error() {
  border-color: $spectrum-color-border-alert-error
}

spectrum-alert-typeIcon--error() {
  color: $spectrum-color-border-alert-error
}

spectrum-alert--success() {
  border-color: $spectrum-color-border-alert-success
}

spectrum-alert-typeIcon--success() {
  color: $spectrum-color-border-alert-success
}

spectrum-alert--warning() {
  border-color: $spectrum-color-border-alert-warning
}

spectrum-alert-typeIcon--warning() {
  color: $spectrum-color-border-alert-warning
}

spectrum-alert-header() {
  color: $spectrum-color-text-alert-header
}

spectrum-alert-content() {
  color: $spectrum-color-text-alert-body
}
