// base size of the font used to calculate all the units
$spectrum-base-size = 16px; // The size of one rem in pixels
$px = 0rem + (1 / $spectrum-base-size); // The size of one pixel in rems
$vpx = 0em + (1 / $spectrum-base-size); // The size of one variable pixel in ems (increases relative to font size)
