// Label Style - Incomplete
spectrum-wizard-label--incomplete() {
  color: $spectrum-color-text-wizard-label-incomplete
}

// Label Style - Complete
spectrum-wizard-label--complete() {
  color: $spectrum-color-text-wizard-label-complete
}

// Label Style - Current
spectrum-wizard-label--current() {
  color: $spectrum-color-text-wizard-label-current
}

// Step/Marker Style - Incomplete
spectrum-wizard-marker--incomplete() {
  border-color: $spectrum-color-wizard-step-incomplete
}

// Step/Marker Style - Complete
spectrum-wizard-marker--complete() {
  background-color: $spectrum-color-wizard-step-complete
}

// Step/Marker Style - Current
spectrum-wizard-marker--current() {
  background-color: $spectrum-color-wizard-step-current
}

// Step/Marker Style - Hover
spectrum-wizard-marker--hover() {
  background-color: $spectrum-color-wizard-step-hover
}

// Step/Marker Style - Focus
spectrum-wizard-marker--focus() {
  background-color: $spectrum-color-wizard-step-focus
}

// Segment/Line Style - Incomplete
spectrum-wizard-segment--incomplete() {
  border-bottom-color: $spectrum-color-wizard-segment-incomplete
}

// Segement/Line Style - Complete
spectrum-wizard-segment--complete() {
  border-bottom-color: $spectrum-color-wizard-segment-complete
}


