html, body {
  margin: 0;
  font-family: 'Source Sans Pro';
}

.provider {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--spectrum-global-color-gray-50) !important;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 256px;
  padding: 0 24px;
  background: var(--spectrum-global-color-gray-75);
  box-sizing: border-box;
}

.nav header {
  padding: 30px 0 24px 0;
}

.nav header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav header img {
  width: 36px;
  height: 32px;
  display: block;
  margin-right: 16px;
  padding-top: 1px;
}

main {
  margin-left: 256px;
  padding: 40px 52px;
  box-sizing: border-box;
}

article {
  max-width: 967px;
  margin: 0 auto;
}

.propTable {
  width: 100%;
}

article h1 {
  margin-top: 0 !important;
  font-size: 58px !important;
}

article h1 + p {
  font-size: 18px !important;
  max-width: 75%;
}

article h2 {
  margin-top: 80px !important;
}

article h2 + hr {
  margin-bottom: 33px;
}

:global(.example) {
  padding: 40px;
  border-radius: 0 0 4px 4px;
}

article pre {
  margin-bottom: 0;
  background: var(--spectrum-global-color-gray-75);
  padding: 18px;
  border-radius: 4px 4px 0 0;
  overflow-x: scroll;
}

article p {
  margin-top: var(--spectrum-global-dimension-size-150) !important;
}

.header {
  text-align: left;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid var(--spectrum-global-color-gray-300);
  padding: 0;
}

.header > div {
  padding-left: 8px;
}

.header > div > span {
  padding: 0;
  min-height: 0;
}

.header[data-expanded] {
  border-bottom: none;
}

.header[data-expanded] svg {
  transform: rotate(90deg);
}

.detailsTable {
  border-spacing: 0;
  margin-bottom: var(--spectrum-global-dimension-size-450);
  margin-top: var(--spectrum-global-dimension-size-500);
}

.detailsTable th {
  font-weight: var(--spectrum-global-font-weight-regular);
  height: var(--spectrum-global-dimension-size-350);
  padding-right: var(--spectrum-global-dimension-size-300);
  text-align: left;
}

.resourceCardGroup {
  display: flex;
  flex-wrap: wrap
}

.resourceCard {
  width: 224px;
  margin: 2px 16px 2px 2px;
  box-shadow: 0 0 0 1px var(--spectrum-global-color-gray-300);
  transition: 125ms ease-in-out;
  height: 64px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    box-shadow: 0 0 0 1px var(--spectrum-global-color-gray-400);
    transition: 125ms ease-in-out;
  }
  @media screen and (max-width: 960px) {
    margin-bottom: 16px;
  }
}

.resourceCard img, svg {
  width: 64px;
  height: 64px;
}

.npmImage {
  background: rgba(203, 56, 55, 0.1);
}

.gitImage, .spectrumImage {
  background-color: var(--spectrum-global-color-gray-200);
  fill: black;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 16px;
}

.cardTitle {
  font-weight: 700;
}

.cardType {
  color: var(--spectrum-global-color-gray-700);
  font-size: 12px;

}
