
.spectrum {
  --hljs-color: var(--spectrum-global-color-gray-800);
  --hljs-background: var(--spectrum-global-color-gray-75);
  --hljs-keyword-color: var(--spectrum-global-color-fuchsia-600);
  --hljs-section-color: var(--spectrum-global-color-red-600);
  --hljs-literal-color: var(--spectrum-global-color-blue-600);
  --hljs-attribute-color: var(--spectrum-global-color-celery-600);
  --hljs-class-color: var(--spectrum-global-color-yellow-600);
  --hljs-variable-color: var(--spectrum-global-color-orange-600);
  --hljs-title-color: var(--spectrum-global-color-indigo-600);
}

:global(.hljs) {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--hljs-color);
  background: var(--hljs-background);
}

:global(.hljs-comment),
:global(.hljs-quote) {
  color: #a0a1a7;
  font-style: italic;
}

:global(.hljs-doctag),
:global(.hljs-formula),
:global(.hljs-keyword) {
  color: var(--hljs-keyword-color) !important;
}

:global(.hljs-deletion),
:global(.hljs-name),
:global(.hljs-section),
:global(.hljs-selector-tag),
:global(.hljs-subst) {
  color: var(--hljs-section-color) !important;
}

:global(.hljs-literal) {
  color: var(--hljs-literal-color) !important;
}

:global(.hljs-addition),
:global(.hljs-attribute),
:global(.hljs-meta-string),
:global(.hljs-regexp),
:global(.hljs-string) {
  color: var(--hljs-attribute-color) !important;
}

:global(.hljs-built_in),
:global(.hljs-class) :global(.hljs-title) {
  color: var(--hljs-class-color) !important;
}

:global(.hljs-attr),
:global(.hljs-number),
:global(.hljs-selector-attr),
:global(.hljs-selector-class),
:global(.hljs-selector-pseudo),
:global(.hljs-template-variable),
:global(.hljs-type),
:global(.hljs-variable) {
  color: var(--hljs-variable-color) !important;
}

:global(.hljs-bullet),
:global(.hljs-link),
:global(.hljs-meta),
:global(.hljs-selector-id),
:global(.hljs-symbol),
:global(.hljs-title) {
  color: var(--hljs-title-color) !important;
}

:global(.hljs-emphasis) {
  font-style: italic;
}

:global(.hljs-strong) {
  font-weight: bold;
}

:global(.hljs-link) {
  text-decoration: underline;
}
