.toc {
  overflow: auto;
  padding: 40px 24px 0 24px;

  .toc-Title {
    font-weight: var(--spectrum-global-font-weight-regular, 700);
  }

  .toc-Item .toc-Link {
    font-weight: var(--spectrum-global-font-weight-regular, 400);
  }
}
