/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2013 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@require '../../commons'

.coral-InputGroup {
  // for dropdowns
  position: relative;
  display: inline-table; // All field needs to be inline-block-like.
  vertical-align: top;
  // prevent input groups from inheriting border styles from table cells when placed within a table
  border-collapse: separate;
  width: $spectrum-component-single-line-width;
}

.coral-InputGroup--block {
  display: table;
  width: 100%;
}

.coral-InputGroup-button,
.coral-InputGroup-input {
  display: table-cell;
}

.coral-InputGroup-button {
  width: 1px;
  // aligns the components
  vertical-align: middle;

  position: relative;
  font-size: 0;
  white-space: nowrap;

  // position for bringing hovered/focused/actived element above the siblings.
  .coral-Button {
    position: relative; // Needed for z-index to function.
    margin: 0;
    border-radius: 0;
    border-width: 1*$px;

    // Brings the interaction to the front. z-index: 2 so it comes in front
    // of neighboring elements with invalid state styles.
    &:focus,
    &:active {
      z-index: 2;
    }
  }
}

.coral-InputGroup-input {
  border-radius: 0;
  z-index: 2;
  position: relative;
  width: 100%;

  // IE9 fubars the placeholder attribute in text inputs and the arrows on
  // select elements in input groups. To fix it, we float the input. Details:
  // https://github.com/twbs/bootstrap/issues/11561#issuecomment-28936855
  float: left;

  margin-bottom: 0;

  // Invalid border should come on top, but it should not come above
  // the borders of sibling elements that have focus.
  &.is-invalid,
  &:invalid,
  &:focus {
    z-index: 1
  }
}

.coral-InputGroup-button:first-child .coral-Button {
  border-radius: $spectrum-border-radius 0 0 $spectrum-border-radius;
  border-right-width: 0;
}

.coral-InputGroup-button:last-child .coral-Button {
  border-radius: 0 $spectrum-border-radius $spectrum-border-radius 0;
  border-left-width: 0;
}

.coral-Form--vertical .coral-Form-field.coral-InputGroup {
  display: table;
  width: 100%;
}

@require 'light.styl'
@require 'dark.styl'
