/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2013 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$spectrum-inputgroup-color-border = $spectrum-input-border-color-default
$spectrum-inputgroup-color-button-default = $spectrum-global-color-grey1
$spectrum-inputgroup-color-button-hover = $spectrum-global-color-grey1
$spectrum-inputgroup-color-button-active = $spectrum-global-color-grey2
$spectrum-inputgroup-color-button-focus = $spectrum-alias-focus-blue
$spectrum-inputgroup-color-icon-hover = $spectrum-global-color-grey9
$spectrum-inputgroup-color-icon-active = $spectrum-global-color-grey10
$spectrum-inputgroup-color-icon-focus = $spectrum-alias-focus-blue
$spectrum-inputgroup-color-disabled-button = $spectrum-alias-background-color-transparent
$spectrum-inputgroup-color-disabled-border = $spectrum-alias-border-color-transparent
$spectrum-inputgroup-color-disabled-text = $spectrum-text-text-color-disabled

.coral-InputGroup-button {
  .coral-Button {
    border-color: $spectrum-inputgroup-color-border;
    background-color: $spectrum-inputgroup-color-button-default;

    &:focus {
      border-color: $spectrum-inputgroup-color-button-focus;
      background-color: $spectrum-inputgroup-color-button-active;
      color: $spectrum-inputgroup-color-icon-focus;
    }

    &:hover {
      border-color: $spectrum-inputgroup-color-border;
      background-color: $spectrum-inputgroup-color-button-hover
      color: $spectrum-inputgroup-color-icon-hover
    }

    &:active {
      border-color: $spectrum-inputgroup-color-border;
      background-color: $spectrum-inputgroup-color-button-active;
      color: $spectrum-inputgroup-color-icon-active;
    }
  }

  .coral-Button:disabled {
    // Required since the above overrides colors
    border-color: $spectrum-inputgroup-color-disabled-border;
    background-color: $spectrum-inputgroup-color-disabled-button;
    color: $spectrum-inputgroup-color-disabled-text;
  }
}
