/* TODO: placeholder tokens, will need to pare these down on which ones we actually use */
.spectrum-Tree,
.spectrum-Tree-row {
  --spectrum-listview-item-compact-padding-y: var(--spectrum-global-dimension-size-50);
  --spectrum-listview-item-regular-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-listview-item-spacious-padding-y: var(--spectrum-global-dimension-size-100);
  --spectrum-listview-border-width: var(--spectrum-table-border-size, var(--spectrum-alias-border-size-thin));
  --spectrum-listview-border-radius: var(--spectrum-table-border-radius, var(--spectrum-alias-border-radius-regular));
  --spectrum-listview-item-border-radius: calc(var(--spectrum-listview-border-radius) - var(--spectrum-listview-border-width));
  --spectrum-listview-row-sticky-focus-indicator-width: 3px;
  --spectrum-listview-item-line-height: calc(var(--spectrum-table-cell-text-size, var(--spectrum-alias-font-size-default)) * var(--spectrum-table-cell-text-line-height, var(--spectrum-alias-body-text-line-height)) - 1px);
  --spectrum-listview-item-title-text-color: var(--spectrum-global-color-gray-800);
  --spectrum-listview-item-title-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-listview-item-description-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-listview-item-description-text-size: var(--spectrum-global-dimension-font-size-75);

  --spectrum-listview-border-color: var(--spectrum-table-border-color, var(--spectrum-alias-border-color-mid));
  --spectrum-listview-border-color-key-focus: var(--spectrum-table-cell-border-color-key-focus, var(--spectrum-alias-focus-color));
  --spectrum-listview-background-color: var(--spectrum-table-background-color, var(--spectrum-global-color-gray-50));
  --spectrum-listview-item-background-color-hover: var(--spectrum-table-row-background-color-hover);
  --spectrum-listview-item-background-color-down: var(--spectrum-table-row-background-color-down);
  --spectrum-listview-item-background-color-selected: var(--spectrum-table-row-background-color-selected);
  --spectrum-listview-item-background-color-selected-hover: var(--spectrum-table-row-background-color-selected);
  --spectrum-listview-item-background-color-selected-key-focus: var(--spectrum-table-row-background-color-selected-key-focus);
  --spectrum-listview-item-border-color: var(--spectrum-table-cell-border-color, var(--spectrum-alias-border-color-mid));
  --spectrum-listview-item-border-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-listview-item-border-color-key-focus: var(--spectrum-table-cell-border-color-key-focus, var(--spectrum-alias-focus-color));
  --spectrum-listview-row-sticky-focus-indicator-color: var(--spectrum-selectlist-option-focus-indicator-color);
  --spectrum-listview-quiet-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-listview-item-text-color: var(--spectrum-table-cell-text-color, var(--spectrum-alias-text-color));
  --spectrum-listview-item-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-listview-droptarget-background-color: var(--spectrum-alias-highlight-selected);
  --spectrum-listview-dropindicator-border-color: var(--spectrum-dropindicator-border-color);
  --spectrum-listview-dropindicator-circle-border-color: var(--spectrum-dropindicator-circle-border-color);

  --spectrum-listview-dropindicator-circle-size: var(--spectrum-dropindicator-circle-size);
  --spectrum-listview-dropindicator-border-size: var(--spectrum-dropindicator-border-size);

  --spectrum-listview-dropzone-border-color-selected-hover: var(--spectrum-dropzone-border-color-selected-hover);
  --spectrum-listview-item-badge-text-color: var(--spectrum-global-color-static-white);
  --spectrum-listview-item-badge-background-color: var(--spectrum-global-color-blue-400);

  --spectrum-listview-item-draghandle-border-color-key-focus: var(--spectrum-listview-item-border-color-key-focus);
}

/* TODO: add more stuff from ListView since it pretty much matches the styles, add the blue outlines next */
/* TODO: add disabled styles */
.spectrum-Tree-row {
  position: relative;
  display: flex;
  /* TODO: this height is too small since the action button group's focus ring will breach containment  */
  height: var(----spectrum-global-dimension-size-400);
  width: 100%;
  box-sizing: border-box;
  /* Shared with ListView, didn't include padding cuz I don't think it needs it? */
  font-size: var(--spectrum-table-cell-text-size, var(--spectrum-alias-font-size-default));
  font-weight: var(--spectrum-table-cell-text-font-weight, var(--spectrum-global-font-weight-regular));
  line-height: var(--spectrum-listview-item-line-height);
  color: var(--spectrum-listview-item-text-color);
  outline: 0;

  &:after {
    content: '';
    display: block;
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-block-start: 0;
    z-index: 3;
    pointer-events: none;

    forced-color-adjust: none;
  }

  &.is-hovered,
  &.is-focused {
    background-color: var(--spectrum-listview-item-background-color-hover);
  }

  &.focus-visible.focus-visible  {
    /* todo: see if I can apply this box shadow  to the element directly otherwise make a new div instead of a psudeo element. */
    &:after {
       /* Negative block start causes borders to actually be shared between items. Only works if we allow item overflow to be visible, like card focus rings. */
      inset-block-start: -2px;
      box-shadow:
        inset 2px 0 0 0 var(--spectrum-listview-item-border-color-key-focus),
        inset -2px 0 0 0 var(--spectrum-listview-item-border-color-key-focus),
        inset 0 -2px 0 0 var(--spectrum-listview-item-border-color-key-focus),
        inset 0 2px 0 0 var(--spectrum-listview-item-border-color-key-focus);

      /* forced-color-adjust: none, so that box-shadow style will render */
      forced-color-adjust: none;
    }
  }

  &.is-active {
    background-color: var(--spectrum-listview-item-background-color-down);
  }

  &.is-selected {
    background-color: var(--spectrum-listview-item-background-color-selected);
    &.is-hovered,
    &.is-active {
      background-color: var(--spectrum-listview-item-background-color-selected-hover);
    }

    /* Negative block start causes borders to actually be shared between items. Only works if we allow item overflow to be visible, like card focus rings. */
    &:after {
      inset-block-start: -1px;
      box-shadow:
        inset 1px 0 0 0 var(--spectrum-listview-item-border-color-selected),
        inset -1px 0 0 0 var(--spectrum-listview-item-border-color-selected),
        inset 0 -1px 0 0 var(--spectrum-listview-item-border-color-selected),
        inset 0 1px 0 0 var(--spectrum-listview-item-border-color-selected);
    }
  }

  &.is-disabled {
    & .spectrum-Tree-content {
      color: var(--spectrum-listview-item-text-color-disabled);
    }
  }
}

.spectrum-Tree-cell-grid {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, auto) var(--spectrum-global-dimension-size-400) minmax(0, auto) 1fr minmax(0, auto);
  grid-template-rows: 1fr;
  grid-template-areas: "drag-handle checkbox expand-button icon content actions";
  align-items: center;
  width: 100%;
}

.spectrum-Tree-checkbox {
  grid-area: checkbox;
  padding-inline-start: var(--spectrum-global-dimension-size-150);
  padding-inline-end: 0px;
  align-items: center;
  justify-items: center;
  transition-duration: 160ms;
  display: flex;
}

.spectrum-Tree-content {
  grid-area: content;
}

.spectrum-Tree-expandButton {
  grid-area: expand-button;
  height: var(--spectrum-global-dimension-size-400);
  width: var(--spectrum-global-dimension-size-400);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  outline: none;
  /* TODO figure out why this transition is causing jank with the outline */
  /* transition: transform ease var(--spectrum-global-animation-duration-100); */
  &.is-open {
    [dir='ltr'] & {
      transform: rotate(90deg);
    }
    [dir='rtl'] & {
      transform: rotate(-90deg);
    }
  }

  &.is-disabled {
    color: var(--spectrum-alias-icon-color-disabled);
  }
}

.spectrum-Tree-actions {
  grid-area: actions;
  flex-grow: 0;
  flex-shrink: 0;
  /* TODO: I made this one up, confirm desired behavior. These paddings are to make sure the action group has enough padding for the focus ring */
  padding-inline-start: var(--spectrum-global-dimension-size-50);
  padding-inline-end: var(--spectrum-global-dimension-size-50);
}

.spectrum-Tree-actionmenu {
  grid-area: actionmenu;
}
