/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.react-spectrum-Datepicker-field.react-spectrum-Datepicker-field {
  /* needs to override the style from Textfield */
  width: auto;
}

.react-spectrum-Datepicker-endField {
  flex: 1;
}

.react-spectrum-Datepicker-input {
  display: flex;
  align-items: center;
  /* Override default InputGroup styling in spectrum-css which assumes the input is an actual <input> element */
  width: auto !important;
  min-width: 0 !important;
}

.react-spectrum-Datepicker-literal {
  white-space: pre;
  user-select: none;
}

.react-spectrum-Datepicker-literal.is-placeholder {
  color: var(--spectrum-textfield-placeholder-text-color, var(--spectrum-global-color-gray-600));
}

.react-spectrum-DatePicker-cell {
  border: none;
  background: none;
  padding: 0 2px;
  border-radius: 2px;
  user-select: none;
  -webkit-user-select: none;
}

.react-spectrum-DatePicker-cell:focus {
  background: rgba(38, 128, 235, 0.25);
  outline: none;
}

.react-spectrum-DatePicker-cell.is-placeholder {
  color: var(--spectrum-textfield-placeholder-text-color, var(--spectrum-global-color-gray-600));
}

/* When displayed in a tray (aria-modal), center the dialog rather than using fixed padding. */
.react-spectrum-Datepicker-dialog[aria-modal] {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
