/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2019 Adobe
* All Rights Reserved.
*
* NOTICE: All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
**************************************************************************/

@import '@spectrum/spectrum-variables/stylus/spectrum-dark.styl'
@require './Shell'

/* Note: $coral-shell-header-height is defined in styles/coralui-component-shell */

$coral-shell-header-padding-leftright = 8px;
$coral-shell-header-padding-topbottom = ($coral-shell-header-height - $spectrum-alias-single-line-height) * 0.5;
$coral-shell-header-area = $coral-shell-header-height - $coral-shell-header-padding-topbottom;

$coral-shell-header-background-color = $spectrum-global-color-grey50;
$coral-shell-header-background-disabled-color = $spectrum-global-color-grey300;

$coral-shell-header-action-text-size = 12px;

$coral-shell-homeanchor-margin-right = 52px;
$coral-shell-homeanchor-icon-margin = 10px;

$coral-shell-homeanchor-text-size = 14px;
$coral-shell-homeanchor-color = $spectrum-global-color-grey700;
$coral-shell-homeanchor-hover-color = $spectrum-global-color-grey500;
$coral-shell-homeanchor-focus-color = $spectrum-global-color-grey500;

.coral3-Shell-header {
  z-index: 10020;
}

.coral3-Shell-homeAnchor .spectrum-Icon {
  vertical-align: middle;
  margin-right: .625rem;
}

.coral3-Shell-header {
  display: block;
  box-sizing: border-box;

  position: relative;

  height: $coral-shell-header-height;

  // padding-bottom 0 allows items to stick to the bottom without guessing the size of the padding
  padding: $coral-shell-header-padding-topbottom $coral-shell-header-padding-leftright 0 $coral-shell-header-padding-leftright;

  background-color: $coral-shell-header-background-color;

  clearfix();

  // Customize minimal button's badge colors to match the dark background
  .coral3-Shell-menu-button[badge] {
    &:after {
      // Match ultradark background color
      border-color: $coral-shell-header-background-color;
    }

    &:disabled,
    &.is-disabled {
      &:after {
        background-color: $coral-shell-header-background-disabled-color;

        color: $coral-shell-header-background-color;
      }
    }
  }
}

.coral3-Shell-header-home {
  display: block;

  margin-right: $coral-shell-homeanchor-margin-right;

  float: left;
  vertical-align: top;
}

.coral3-Shell-header-actions {
  float: right;
  margin-left: 15px;

  .coral3-Shell-menu-button {
    font-size: $coral-shell-header-action-text-size;
  }
}

// Greedy container that takes the available space
.coral3-Shell-header-content {
  // Fill vertically, leaving space at the bottom
  height: $coral-shell-header-area;
  display: inline-block;

  vertical-align: top;
}

// makes the class more specific to be able to verride button styles
.coral3-Shell-homeAnchor {
  // Fill the whole header
  display: block;
  box-sizing: border-box;
  vertical-align: top;

  transition: color .15s ease-out;

  margin: 0;
  padding: 0 8px;

  text-decoration: none;
  text-align: center;

  font-size: $coral-shell-homeanchor-text-size;
  line-height: $spectrum-alias-single-line-height;

  color: $coral-shell-homeanchor-color;

  cursor: pointer;
  white-space: nowrap;

  &:not(:disabled):not(.is-disabled) {
    &.is-selected,
    &:active,
    &:hover {

      color: $coral-shell-homeanchor-hover-color;
    }

    // focus overrides hover/selected
    &:focus,
    &.is-focused {
      color: $coral-shell-homeanchor-focus-color;
    }

    // active overrides focus
    &:active {
      // Repeated to override focus
      color: $coral-shell-homeanchor-hover-color;
    }
  }
}

.coral3-Shell-homeAnchor-icon {
  vertical-align: middle;
  margin-right: $coral-shell-homeanchor-icon-margin;
}

.coral3-Shell-homeAnchor-label {
  display: inline-block;
}

@media (max-width: 661px) {
  .coral3-Shell-homeAnchor-label {
    display: none;
  }
}
