@import '@spectrum/spectrum-variables/stylus/spectrum-dark.styl'

$coral-shell-user-width = 200px;
$coral-shell-user-image-size = 48px;
$coral-shell-user-name-color = $spectrum-global-color-grey800
$coral-shell-user-heading-color = $spectrum-global-color-grey700
$coral-Shell-user-background = $spectrum-global-color-grey50

.coral3-Shell-user {
  display: block;

  background: $coral-Shell-user-background;
}

.coral3-Shell-user-container {
  padding: 20px 16px 16px 16px;

  min-width: $coral-shell-user-width;
}

.coral3-Shell-user-image {
  float: left;

  width: $coral-shell-user-image-size;
  height: $coral-shell-user-image-size;
  margin-right: 16px;
  line-height: $coral-shell-user-image-size;
}

.coral3-Shell-user-avatar {
  width: $coral-shell-user-image-size;
  height: $coral-shell-user-image-size;
  border-radius: $coral-shell-user-image-size;
}

.coral3-Shell-user-name {
  display: block;

  font-size: 15px;
  font-weight: bold;
  color: $coral-shell-user-name-color;
}

.coral3-Shell-user-heading,
.coral3-Shell-user-subheading {
  display: block;

  font-size: 13px;
  color: $coral-shell-user-heading-color;
}

.coral3-Shell-user-footer {
  width: 100%;
  display: table;

  margin-top: 8px;

  background-color: rgb(250, 250, 250);

  border-top: 1px solid rgb(235, 235, 235);

  .spectrum-Button {
    display: table-cell;

    // Make them be 44px so Lindsay is happy
    padding: 3px 0;

    border-radius: 0;
    border-width: 0;

    // Missing in .coral-Button
    text-align: center;

    & + .spectrum-Button {
      &, &:focus {
        border-left: 1px solid rgb(235, 235, 235);
      }
    }
  }
}

.coral3-Shell-menu-button img {
  border-radius: 1.5rem;
  margin-top: 2.5px;
  width: 24px;
  height: 24px;
}
.coral3-Shell-user-container {
  overflow: hidden;
  min-width: 300px;

  .coral3-Shell-user-name,
  .coral3-Shell-user-heading,
  .coral3-Shell-user-subheading {
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
