/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

 @require '../../commons';

$clock-period-width = 100*$px;
$clock-gap-width = 16*$px;

.coral-Clock {
  display: inline-table;
  vertical-align: top;
  width: $spectrum-component-single-line-width;
}

.coral-Clock-minute,
.coral-Clock-hour {
  display: table-cell;
  width: 100%;
  min-width: 0;
}

.coral-Clock-divider {
  display: table-cell;
  line-height: $spectrum-component-single-line-height;
  font-size: $clock-gap-width;
  vertical-align: middle;
  text-align: center;
  width: $clock-gap-width;
}

.coral-Clock-period {
  display: table-cell;
  width: $clock-period-width;
  padding-left: $clock-gap-width;

  .coral-Overlay {
    // Override coral-select internal overlay styling
    min-width: $clock-period-width - $clock-gap-width !important;
  }
}
