@require '../../css/coral.css';

@require '~coralui-core/styles/units';

@require '~coralui-core/styles/normalize/normalize.css';
@require '~coralui-core/styles/normalize/vendor';

// A closed hand grabbing things
// Why !important? If your mouse goes over a disabled button while dragging something, the cursor will go away.
// Cannot enable 2x cursor due to https://bugs.webkit.org/show_bug.cgi?id=120783
.u-coral-closedHand,
.u-coral-closedHand *
  cursor: embedurl('~/coralui-core/styles/cursors/Cur_Fist_11_11.cur'), default !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;

// An open hand for things that can be grabbed
// No !important here as we may want certain elements within a draggable element to not be draggable
// Cannot enable 2x cursor due to https://bugs.webkit.org/show_bug.cgi?id=120783
.u-coral-openHand
  cursor: embedurl('~/coralui-core/styles/cursors/Cur_Hand_11_11.cur'), move;
  cursor: -webkit-grab;
  cursor: -moz-grab;

@require '~coralui-core/styles/utilities/mixins';
@require '~coralui-core/styles/utilities/accessibility';
@require '~coralui-core/styles/utilities/layout';
@require '~coralui-core/styles/utilities/space';
@require '~coralui-core/styles/utilities/responsiveness';

@require '~coralui-theme-cloudui/styles/commons/globals';
@require '~coralui-theme-cloudui/styles/commons/layers';
@require '~coralui-theme-cloudui/styles/commons/colors';
@require '~coralui-theme-cloudui/styles/commons/text';
@require '~coralui-theme-cloudui/styles/commons/mixins';
@require '~coralui-theme-cloudui/styles/commons/theme';
