.spectrum-Asset {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.spectrum-Asset-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: opacity var(--spectrum-global-animation-duration-100, 130ms);
}
.spectrum-Asset-folder,
.spectrum-Asset-file {
  width: 100%;
  height: 100%;
  min-width: var(--spectrum-asset-icon-min-width, var(--spectrum-global-dimension-size-600));
  max-width: var(--spectrum-asset-icon-max-width, 80px);
  margin: var(--spectrum-asset-icon-margin, var(--spectrum-global-dimension-size-250));
}
.spectrum-Asset-folderBackground {
  fill: var(--spectrum-asset-folder-background-color, var(--spectrum-global-color-gray-300));
}
.spectrum-Asset-fileBackground {
  fill: var(--spectrum-asset-file-background-color, var(--spectrum-global-color-gray-50));
}
.spectrum-Asset-folderOutline,
.spectrum-Asset-fileOutline {
  fill: var(--spectrum-asset-icon-outline-color, var(--spectrum-global-color-gray-500));
}
