@require '../../commons'

// these are global page styles

spectrum-font() {
  font-family: $spectrum-font-family-base
  font-size: $spectrum-font-size
}

spectrum-font--zh-Hans() {
  font-family: $spectrum-font-family-zhhans
}

spectrum-font--zh() {
  font-family: $spectrum-font-family-zh
}

spectrum-font--ko() {
  font-family: $spectrum-font-family-ko
}

spectrum-font--ja() {
  font-family: $spectrum-font-family-ja
}

