@import '@spectrum/spectrum-variables/stylus/spectrum-light.styl';

.react-spectrum-InlineEditor {
  width: 100%;
  height: $spectrum-alias-single-line-height;

  &.react-spectrum-InlineEditor-label {
    display: inline-block;
    line-height: $spectrum-alias-single-line-height;
    text-indent: $spectrum-global-layout-size-150;
    padding-left: 1px;
    vertical-align: middle;
  }
}
