@import '../../commons'

.coral-InlineEditor {
  width: 100%;
  height: $spectrum-component-single-line-height;

  &.coral-InlineEditor-label {
    display: inline-block;
    line-height: $spectrum-component-single-line-height;
    text-indent: $spectrum-padding;
    padding-left: 1*$px;
    vertical-align: middle;
  }
}
