.spectrum {
  --spectrum-dropdown-placeholder-text-color: var(--spectrum-alias-placeholder-text-color);
  --spectrum-dropdown-text-color: var(--spectrum-alias-text-color);
  --spectrum-dropdown-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-dropdown-background-color: var(--spectrum-global-color-gray-75);
  --spectrum-dropdown-border-color: var(--spectrum-alias-border-color);
  --spectrum-dropdown-placeholder-text-color-hover: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-dropdown-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-dropdown-background-color-hover: var(--spectrum-global-color-gray-50);
  --spectrum-dropdown-border-color-hover: var(--spectrum-alias-border-color-hover);
  --spectrum-dropdown-placeholder-text-color-key-focus: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-dropdown-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-dropdown-background-color-key-focus: var(--spectrum-global-color-gray-50);
  --spectrum-dropdown-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-dropdown-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-dropdown-placeholder-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-dropdown-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-dropdown-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-dropdown-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-dropdown-border-color-disabled: var(--spectrum-alias-border-color-disabled);
  --spectrum-dropdown-validation-icon-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-dropdown-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-dropdown-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-dropdown-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-dropdown-border-color-down: var(--spectrum-alias-border-color-down);
  --spectrum-dropdown-placeholder-text-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-dropdown-text-color-mouse-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-background-color-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-dropdown-border-color-mouse-focus: var(--spectrum-alias-border-color-down);
  --spectrum-dropdown-icon-color-mouse-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-dropdown-placeholder-text-color-mouse-focus: var(--spectrum-global-color-gray-900);
  --spectrum-dropdown-border-color-error: var(--spectrum-global-color-red-500);
  --spectrum-dropdown-validation-icon-color-error: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-border-color-error-hover: var(--spectrum-global-color-red-600);
  --spectrum-dropdown-validation-icon-color-error-hover: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-border-color-error-down: var(--spectrum-global-color-red-600);
  --spectrum-dropdown-validation-icon-color-error-down: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-border-color-error-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-dropdown-validation-icon-color-error-key-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-border-color-error-mouse-focus: var(--spectrum-global-color-red-500);
  --spectrum-dropdown-validation-icon-color-error-mouse-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-placeholder-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-dropdown-placeholder-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dropdown-placeholder-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-dropdown-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-dropdown-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-dropdown-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dropdown-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-dropdown-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-dropdown-text-transform: none;
  --spectrum-dropdown-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-dropdown-icon-size: var(--spectrum-alias-workflow-icon-size);
  --spectrum-dropdown-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-dropdown-border-size-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-dropdown-ui-icon-height: 6px;
  --spectrum-dropdown-ui-icon-width: var(--spectrum-global-dimension-static-size-125);
  --spectrum-dropdown-height: var(--spectrum-global-dimension-size-400);
  --spectrum-dropdown-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-dropdown-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-dropdown-affixed-border-radius: 0;
  --spectrum-dropdown-label-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-label-gap-y: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-asterisk-size: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-asterisk-gap: var(--spectrum-global-dimension-size-50);
  --spectrum-dropdown-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-icon-margin-left: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-dropdown-success-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-success-icon-width: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-error-icon-height: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-error-icon-width: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-width: var(--spectrum-global-dimension-size-3000);
  --spectrum-dropdown-flyout-menu-offset-y: var(--spectrum-global-dimension-size-75);
  --spectrum-dropdown-popover-offset-y: var(--spectrum-global-dimension-size-75);
  --spectrum-dropdown-flyout-menu-offset-x: 0px;
  --spectrum-dropdown-popover-offset-x: 0px;
  --spectrum-dropdown-flyout-menu-max-height: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-popover-max-height: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-popover-max-width: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-quiet-placeholder-text-color: var(--spectrum-alias-placeholder-text-color);
  --spectrum-dropdown-quiet-text-color: var(--spectrum-alias-text-color);
  --spectrum-dropdown-quiet-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-dropdown-quiet-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-dropdown-quiet-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-dropdown-quiet-placeholder-text-color-hover: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-dropdown-quiet-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-quiet-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-dropdown-quiet-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-dropdown-quiet-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-dropdown-quiet-placeholder-text-color-key-focus: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-dropdown-quiet-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-quiet-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-dropdown-quiet-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-dropdown-quiet-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-dropdown-quiet-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-dropdown-quiet-placeholder-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-dropdown-quiet-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-dropdown-quiet-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-dropdown-quiet-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-dropdown-quiet-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-dropdown-quiet-validation-icon-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-dropdown-quiet-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-dropdown-quiet-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-dropdown-quiet-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-dropdown-quiet-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-dropdown-quiet-placeholder-text-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-dropdown-quiet-text-color-mouse-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-quiet-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-dropdown-quiet-border-color-mouse-focus: var(--spectrum-alias-border-color-down);
  --spectrum-dropdown-quiet-icon-color-mouse-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-dropdown-quiet-placeholder-text-color-mouse-focus: var(--spectrum-global-color-gray-900);
  --spectrum-dropdown-quiet-border-color-error: var(--spectrum-global-color-red-500);
  --spectrum-dropdown-quiet-validation-icon-color-error: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-quiet-border-color-error-hover: var(--spectrum-global-color-red-600);
  --spectrum-dropdown-quiet-validation-icon-color-error-hover: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-quiet-border-color-error-down: var(--spectrum-global-color-red-600);
  --spectrum-dropdown-quiet-validation-icon-color-error-down: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-quiet-border-color-error-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-dropdown-quiet-validation-icon-color-error-key-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-quiet-border-color-error-mouse-focus: var(--spectrum-global-color-red-500);
  --spectrum-dropdown-quiet-validation-icon-color-error-mouse-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-quiet-placeholder-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-dropdown-quiet-placeholder-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dropdown-quiet-placeholder-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-dropdown-quiet-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-dropdown-quiet-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-dropdown-quiet-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dropdown-quiet-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-dropdown-quiet-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-dropdown-quiet-text-transform: none;
  --spectrum-dropdown-quiet-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-dropdown-quiet-icon-size: var(--spectrum-alias-workflow-icon-size);
  --spectrum-dropdown-quiet-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-dropdown-quiet-border-size-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-dropdown-quiet-ui-icon-height: 6px;
  --spectrum-dropdown-quiet-ui-icon-width: var(--spectrum-global-dimension-static-size-125);
  --spectrum-dropdown-quiet-height: var(--spectrum-global-dimension-size-400);
  --spectrum-dropdown-quiet-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-dropdown-quiet-padding-x: 0px;
  --spectrum-dropdown-quiet-border-radius: 0px;
  --spectrum-dropdown-quiet-affixed-border-radius: 0;
  --spectrum-dropdown-quiet-label-gap-x: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-quiet-label-gap-y: 0px;
  --spectrum-dropdown-quiet-asterisk-size: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-quiet-asterisk-gap: var(--spectrum-global-dimension-size-50);
  --spectrum-dropdown-quiet-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-quiet-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-quiet-icon-margin-left: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-quiet-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-dropdown-quiet-success-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-quiet-success-icon-width: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-quiet-error-icon-height: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-quiet-error-icon-width: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-quiet-affixed-border-size: var(--spectrum-global-dimension-static-size-10);
  --spectrum-dropdown-quiet-cursor-hit-x: var(--spectrum-alias-single-line-height);
  --spectrum-dropdown-quiet-touch-hit-x: var(--spectrum-alias-single-line-height);
  --spectrum-dropdown-quiet-flyout-menu-offset-x: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-quiet-popover-offset-x: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-quiet-flyout-menu-offset-y: 0px;
  --spectrum-dropdown-quiet-popover-offset-y: 0px;
  --spectrum-dropdown-quiet-flyout-menu-max-height: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-quiet-popover-max-height: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-thumbnail-small-placeholder-text-color: var(--spectrum-alias-placeholder-text-color);
  --spectrum-dropdown-thumbnail-small-text-color: var(--spectrum-alias-text-color);
  --spectrum-dropdown-thumbnail-small-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-dropdown-thumbnail-small-background-color: var(--spectrum-global-color-gray-75);
  --spectrum-dropdown-thumbnail-small-border-color: var(--spectrum-alias-border-color);
  --spectrum-dropdown-thumbnail-small-placeholder-text-color-hover: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-dropdown-thumbnail-small-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-thumbnail-small-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-dropdown-thumbnail-small-background-color-hover: var(--spectrum-global-color-gray-50);
  --spectrum-dropdown-thumbnail-small-border-color-hover: var(--spectrum-alias-border-color-hover);
  --spectrum-dropdown-thumbnail-small-placeholder-text-color-key-focus: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-dropdown-thumbnail-small-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-thumbnail-small-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-dropdown-thumbnail-small-background-color-key-focus: var(--spectrum-global-color-gray-50);
  --spectrum-dropdown-thumbnail-small-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-dropdown-thumbnail-small-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-dropdown-thumbnail-small-placeholder-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-dropdown-thumbnail-small-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-dropdown-thumbnail-small-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-dropdown-thumbnail-small-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-dropdown-thumbnail-small-border-color-disabled: var(--spectrum-alias-border-color-disabled);
  --spectrum-dropdown-thumbnail-small-validation-icon-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-dropdown-thumbnail-small-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-dropdown-thumbnail-small-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-dropdown-thumbnail-small-background-color-down: var(--spectrum-global-color-gray-200);
  --spectrum-dropdown-thumbnail-small-border-color-down: var(--spectrum-alias-border-color-down);
  --spectrum-dropdown-thumbnail-small-placeholder-text-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-dropdown-thumbnail-small-text-color-mouse-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-thumbnail-small-background-color-mouse-focus: var(--spectrum-global-color-gray-200);
  --spectrum-dropdown-thumbnail-small-border-color-mouse-focus: var(--spectrum-alias-border-color-down);
  --spectrum-dropdown-thumbnail-small-icon-color-mouse-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-dropdown-thumbnail-small-placeholder-text-color-mouse-focus: var(--spectrum-global-color-gray-900);
  --spectrum-dropdown-thumbnail-small-border-color-error: var(--spectrum-global-color-red-500);
  --spectrum-dropdown-thumbnail-small-validation-icon-color-error: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-thumbnail-small-border-color-error-hover: var(--spectrum-global-color-red-600);
  --spectrum-dropdown-thumbnail-small-validation-icon-color-error-hover: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-thumbnail-small-border-color-error-down: var(--spectrum-global-color-red-600);
  --spectrum-dropdown-thumbnail-small-validation-icon-color-error-down: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-thumbnail-small-border-color-error-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-dropdown-thumbnail-small-validation-icon-color-error-key-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-thumbnail-small-border-color-error-mouse-focus: var(--spectrum-global-color-red-500);
  --spectrum-dropdown-thumbnail-small-validation-icon-color-error-mouse-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-dropdown-thumbnail-small-placeholder-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-dropdown-thumbnail-small-placeholder-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dropdown-thumbnail-small-placeholder-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-dropdown-thumbnail-small-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-dropdown-thumbnail-small-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-dropdown-thumbnail-small-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dropdown-thumbnail-small-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-dropdown-thumbnail-small-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-dropdown-thumbnail-small-text-transform: none;
  --spectrum-dropdown-thumbnail-small-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-dropdown-thumbnail-small-icon-size: var(--spectrum-alias-workflow-icon-size);
  --spectrum-dropdown-thumbnail-small-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-dropdown-thumbnail-small-border-size-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-dropdown-thumbnail-small-ui-icon-height: 6px;
  --spectrum-dropdown-thumbnail-small-ui-icon-width: var(--spectrum-global-dimension-static-size-125);
  --spectrum-dropdown-thumbnail-small-height: var(--spectrum-global-dimension-size-400);
  --spectrum-dropdown-thumbnail-small-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-dropdown-thumbnail-small-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-dropdown-thumbnail-small-affixed-border-radius: 0;
  --spectrum-dropdown-thumbnail-small-label-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-label-gap-y: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-asterisk-size: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-asterisk-gap: var(--spectrum-global-dimension-size-50);
  --spectrum-dropdown-thumbnail-small-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-icon-margin-left: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-dropdown-thumbnail-small-success-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-success-icon-width: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-error-icon-height: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-thumbnail-small-error-icon-width: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-thumbnail-small-width: var(--spectrum-global-dimension-size-3000);
  --spectrum-dropdown-thumbnail-small-popover-offset-y: var(--spectrum-global-dimension-size-75);
  --spectrum-dropdown-thumbnail-small-popover-offset-x: 0px;
  --spectrum-dropdown-thumbnail-small-popover-max-height: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-thumbnail-small-popover-max-width: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-thumbnail-small-image-padding-x: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-image-height: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-thumbnail-small-image-width: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-thumbnail-small-image-border-radius: var(--spectrum-alias-border-radius-small);
  --spectrum-dropdown-thumbnail-small-image-border-size: var(--spectrum-alias-border-size-thin);
}
