.spectrum {
  --spectrum-textarea-placeholder-text-color: var(--spectrum-alias-placeholder-text-color);
  --spectrum-textarea-text-color: var(--spectrum-alias-text-color);
  --spectrum-textarea-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-textarea-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-textarea-border-color: var(--spectrum-alias-border-color);
  --spectrum-textarea-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-textarea-placeholder-text-color-hover: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-textarea-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-textarea-background-color-hover: var(--spectrum-global-color-gray-50);
  --spectrum-textarea-border-color-hover: var(--spectrum-alias-border-color-hover);
  --spectrum-textarea-icon-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-textarea-placeholder-text-color-key-focus: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-textarea-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-textarea-background-color-key-focus: var(--spectrum-global-color-gray-50);
  --spectrum-textarea-icon-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-textarea-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-textarea-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-textarea-placeholder-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-textarea-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-textarea-background-color-disabled: var(--spectrum-global-color-gray-200);
  --spectrum-textarea-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-textarea-icon-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-textarea-validation-icon-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-textarea-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-textarea-placeholder-text-color-down: var(--spectrum-alias-placeholder-text-color-down);
  --spectrum-textarea-background-color-down: var(--spectrum-global-color-gray-50);
  --spectrum-textarea-border-color-down: var(--spectrum-alias-border-color-mouse-focus);
  --spectrum-textarea-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-textarea-text-color-mouse-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-textarea-placeholder-text-color-mouse-focus: var(--spectrum-alias-placeholder-text-color);
  --spectrum-textarea-background-color-mouse-focus: var(--spectrum-global-color-gray-50);
  --spectrum-textarea-border-color-mouse-focus: var(--spectrum-alias-border-color-mouse-focus);
  --spectrum-textarea-border-size-mouse-focus: var(--spectrum-alias-border-size-thin);
  --spectrum-textarea-icon-color-mouse-focus: var(--spectrum-global-color-gray-700);
  --spectrum-textarea-border-color-error: var(--spectrum-semantic-negative-color-default);
  --spectrum-textarea-validation-icon-color-error: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-border-color-error-hover: var(--spectrum-semantic-negative-color-state-hover);
  --spectrum-textarea-validation-icon-color-error-hover: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-border-color-error-down: var(--spectrum-semantic-negative-color-state-down);
  --spectrum-textarea-validation-icon-color-error-down: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-border-color-error-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-textarea-validation-icon-color-error-key-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-border-color-error-mouse-focus: var(--spectrum-semantic-negative-color-state-hover);
  --spectrum-textarea-validation-icon-color-error-mouse-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-icon-color-valid: var(--spectrum-global-color-green-400);
  --spectrum-textarea-border-color-valid-hover: var(--spectrum-global-color-gray-400);
  --spectrum-textarea-icon-color-valid-hover: var(--spectrum-global-color-green-400);
  --spectrum-textarea-border-color-valid-down: var(--spectrum-alias-border-color-down);
  --spectrum-textarea-icon-color-valid-down: var(--spectrum-global-color-green-400);
  --spectrum-textarea-border-color-valid-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-textarea-icon-color-valid-key-focus: var(--spectrum-global-color-green-400);
  --spectrum-textarea-border-color-valid-mouse-focus: var(--spectrum-alias-border-color-down);
  --spectrum-textarea-icon-color-valid-mouse-focus: var(--spectrum-global-color-green-400);
  --spectrum-textarea-placeholder-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-textarea-placeholder-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-textarea-placeholder-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-textarea-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-textarea-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-textarea-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-textarea-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-textarea-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-textarea-text-transform: none;
  --spectrum-textarea-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-textarea-height: var(--spectrum-alias-single-line-height);
  --spectrum-textarea-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-textarea-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-textarea-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-textarea-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-textarea-label-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-textarea-label-gap-y: var(--spectrum-global-dimension-size-100);
  --spectrum-textarea-label-padding-top: var(--spectrum-global-dimension-size-100);
  --spectrum-textarea-label-padding-bottom: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-counter-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-textarea-asterisk-size: var(--spectrum-global-dimension-size-100);
  --spectrum-textarea-asterisk-gap: var(--spectrum-global-dimension-size-50);
  --spectrum-textarea-icon-size: var(--spectrum-global-dimension-size-225);
  --spectrum-textarea-success-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-success-icon-width: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-error-icon-height: var(--spectrum-global-dimension-size-225);
  --spectrum-textarea-error-icon-width: var(--spectrum-global-dimension-size-225);
  --spectrum-textarea-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-cursor-hit-x: var(--spectrum-global-dimension-size-50);
  --spectrum-textarea-icon-margin-left: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-icon-margin-right: var(--spectrum-global-dimension-size-0);
  --spectrum-textarea-quiet-placeholder-text-color: var(--spectrum-alias-placeholder-text-color);
  --spectrum-textarea-quiet-text-color: var(--spectrum-alias-text-color);
  --spectrum-textarea-quiet-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-textarea-quiet-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-textarea-quiet-border-color: var(--spectrum-alias-border-color);
  --spectrum-textarea-quiet-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-textarea-quiet-placeholder-text-color-hover: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-textarea-quiet-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-textarea-quiet-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-textarea-quiet-border-color-hover: var(--spectrum-alias-border-color-hover);
  --spectrum-textarea-quiet-icon-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-textarea-quiet-placeholder-text-color-key-focus: var(--spectrum-alias-placeholder-text-color-hover);
  --spectrum-textarea-quiet-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-textarea-quiet-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-textarea-quiet-icon-color-key-focus: var(--spectrum-global-color-gray-900);
  --spectrum-textarea-quiet-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-textarea-quiet-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-textarea-quiet-placeholder-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-textarea-quiet-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-textarea-quiet-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-textarea-quiet-border-color-disabled: var(--spectrum-alias-border-color-mid);
  --spectrum-textarea-quiet-icon-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-textarea-quiet-validation-icon-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-textarea-quiet-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-textarea-quiet-placeholder-text-color-down: var(--spectrum-alias-placeholder-text-color-down);
  --spectrum-textarea-quiet-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-textarea-quiet-border-color-down: var(--spectrum-alias-border-color-mouse-focus);
  --spectrum-textarea-quiet-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-textarea-quiet-text-color-mouse-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-textarea-quiet-placeholder-text-color-mouse-focus: var(--spectrum-alias-placeholder-text-color);
  --spectrum-textarea-quiet-background-color-mouse-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-textarea-quiet-border-color-mouse-focus: var(--spectrum-alias-border-color-mouse-focus);
  --spectrum-textarea-quiet-border-size-mouse-focus: var(--spectrum-alias-border-size-thin);
  --spectrum-textarea-quiet-icon-color-mouse-focus: var(--spectrum-global-color-gray-700);
  --spectrum-textarea-quiet-border-color-error: var(--spectrum-semantic-negative-color-default);
  --spectrum-textarea-quiet-validation-icon-color-error: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-quiet-border-color-error-hover: var(--spectrum-semantic-negative-color-state-hover);
  --spectrum-textarea-quiet-validation-icon-color-error-hover: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-quiet-border-color-error-down: var(--spectrum-semantic-negative-color-state-down);
  --spectrum-textarea-quiet-validation-icon-color-error-down: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-quiet-border-color-error-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-textarea-quiet-validation-icon-color-error-key-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-quiet-border-color-error-mouse-focus: var(--spectrum-semantic-negative-color-state-hover);
  --spectrum-textarea-quiet-validation-icon-color-error-mouse-focus: var(--spectrum-semantic-negative-color-icon);
  --spectrum-textarea-quiet-icon-color-valid: var(--spectrum-global-color-green-400);
  --spectrum-textarea-quiet-border-color-valid-hover: var(--spectrum-global-color-gray-400);
  --spectrum-textarea-quiet-icon-color-valid-hover: var(--spectrum-global-color-green-400);
  --spectrum-textarea-quiet-border-color-valid-down: var(--spectrum-alias-border-color-down);
  --spectrum-textarea-quiet-icon-color-valid-down: var(--spectrum-global-color-green-400);
  --spectrum-textarea-quiet-border-color-valid-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-textarea-quiet-icon-color-valid-key-focus: var(--spectrum-global-color-green-400);
  --spectrum-textarea-quiet-border-color-valid-mouse-focus: var(--spectrum-alias-border-color-down);
  --spectrum-textarea-quiet-icon-color-valid-mouse-focus: var(--spectrum-global-color-green-400);
  --spectrum-textarea-quiet-placeholder-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-textarea-quiet-placeholder-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-textarea-quiet-placeholder-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-textarea-quiet-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-textarea-quiet-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-textarea-quiet-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-textarea-quiet-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-textarea-quiet-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-textarea-quiet-text-transform: none;
  --spectrum-textarea-quiet-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-textarea-quiet-height: var(--spectrum-alias-single-line-height);
  --spectrum-textarea-quiet-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-textarea-quiet-padding-x: 0;
  --spectrum-textarea-quiet-padding-top: var(--spectrum-global-dimension-size-75);
  --spectrum-textarea-quiet-padding-bottom: var(--spectrum-global-dimension-size-115);
  --spectrum-textarea-quiet-border-radius: 0px;
  --spectrum-textarea-quiet-label-gap-x: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-quiet-label-gap-y: 0;
  --spectrum-textarea-quiet-label-padding-top: var(--spectrum-global-dimension-size-100);
  --spectrum-textarea-quiet-label-padding-bottom: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-quiet-counter-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-textarea-quiet-asterisk-size: var(--spectrum-global-dimension-size-100);
  --spectrum-textarea-quiet-asterisk-gap: var(--spectrum-global-dimension-size-50);
  --spectrum-textarea-quiet-icon-size: var(--spectrum-global-dimension-size-225);
  --spectrum-textarea-quiet-success-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-quiet-success-icon-width: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-quiet-error-icon-height: var(--spectrum-global-dimension-size-225);
  --spectrum-textarea-quiet-error-icon-width: var(--spectrum-global-dimension-size-225);
  --spectrum-textarea-quiet-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-quiet-cursor-hit-x: var(--spectrum-global-dimension-size-50);
  --spectrum-textarea-quiet-icon-margin-left: var(--spectrum-global-dimension-size-150);
  --spectrum-textarea-quiet-icon-margin-right: var(--spectrum-global-dimension-size-0);
  --spectrum-textarea-quiet-affixed-border-size: var(--spectrum-global-dimension-static-size-10);
}
