.spectrum {
  --spectrum-radio-text-color: var(--spectrum-alias-text-color);
  --spectrum-radio-circle-border-color: var(--spectrum-global-color-gray-600);
  --spectrum-radio-circle-background-color: var(--spectrum-global-color-gray-75);
  --spectrum-radio-circle-dot-color: var(--spectrum-global-color-gray-75);
  --spectrum-radio-circle-border-size: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-circle-border-color-hover: var(--spectrum-global-color-gray-700);
  --spectrum-radio-circle-border-size-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-radio-circle-border-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-radio-circle-border-size-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-circle-border-color-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-radio-circle-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-focus-ring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-focus-ring-size-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-focus-ring-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-circle-border-color-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-circle-border-size-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-selected: var(--spectrum-alias-text-color);
  --spectrum-radio-circle-border-color-selected: var(--spectrum-global-color-gray-700);
  --spectrum-radio-circle-border-size-selected: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-selected: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-circle-border-color-selected-hover: var(--spectrum-global-color-gray-800);
  --spectrum-radio-circle-border-size-selected-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-selected-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-radio-circle-border-color-selected-down: var(--spectrum-global-color-gray-900);
  --spectrum-radio-circle-border-size-selected-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-selected-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-circle-border-color-selected-key-focus: var(--spectrum-global-color-gray-800);
  --spectrum-radio-circle-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-focus-ring-gap-selected-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-focus-ring-size-selected-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-focus-ring-color-selected-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-circle-border-color-selected-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-circle-border-size-selected-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-selected-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-error: var(--spectrum-global-color-red-600);
  --spectrum-radio-circle-border-color-error: var(--spectrum-global-color-red-500);
  --spectrum-radio-circle-border-size-error: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-error: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-error-hover: var(--spectrum-global-color-red-700);
  --spectrum-radio-circle-border-color-error-hover: var(--spectrum-global-color-red-600);
  --spectrum-radio-circle-border-size-error-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-error-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-error-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-circle-border-color-error-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-circle-border-size-error-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-error-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-error-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-radio-circle-border-color-error-key-focus: var(--spectrum-global-color-red-600);
  --spectrum-radio-circle-border-size-error-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-focus-ring-gap-error-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-focus-ring-size-error-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-focus-ring-color-error-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-text-color-error-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-circle-border-color-error-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-circle-border-size-error-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-error-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-error-selected: var(--spectrum-global-color-red-600);
  --spectrum-radio-circle-border-color-error-selected: var(--spectrum-global-color-red-500);
  --spectrum-radio-circle-border-size-error-selected: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-error-selected: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-error-selected-hover: var(--spectrum-global-color-red-700);
  --spectrum-radio-circle-border-color-error-selected-hover: var(--spectrum-global-color-red-600);
  --spectrum-radio-circle-border-size-error-selected-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-error-selected-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-error-selected-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-circle-border-color-error-selected-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-circle-border-size-error-selected-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-error-selected-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-color-error-selected-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-radio-circle-border-color-error-selected-key-focus: var(--spectrum-global-color-red-600);
  --spectrum-radio-circle-border-size-error-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-focus-ring-gap-error-selected-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-focus-ring-size-error-selected-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-focus-ring-color-error-selected-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-text-color-error-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-circle-border-color-error-selected-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-circle-border-size-error-selected-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-text-gap-error-selected-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-radio-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-radio-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-radio-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-radio-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-radio-text-transform: none;
  --spectrum-radio-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-radio-circle-dot-size: var(--spectrum-global-dimension-static-size-50);
  --spectrum-radio-circle-diameter: var(--spectrum-global-dimension-size-175);
  --spectrum-radio-height: var(--spectrum-global-dimension-size-400);
  --spectrum-radio-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-radio-cursor-hit-x: var(--spectrum-global-dimension-size-100);
  --spectrum-radio-touch-hit-x: var(--spectrum-global-dimension-size-100);
  --spectrum-radio-emphasized-text-color: var(--spectrum-alias-text-color);
  --spectrum-radio-emphasized-circle-border-color: var(--spectrum-global-color-gray-600);
  --spectrum-radio-emphasized-circle-background-color: var(--spectrum-global-color-gray-75);
  --spectrum-radio-emphasized-circle-dot-color: var(--spectrum-global-color-gray-75);
  --spectrum-radio-emphasized-circle-border-size: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-emphasized-circle-border-color-hover: var(--spectrum-global-color-gray-700);
  --spectrum-radio-emphasized-circle-border-size-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-radio-emphasized-circle-border-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-radio-emphasized-circle-border-size-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-emphasized-circle-border-color-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-radio-emphasized-circle-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-focus-ring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-emphasized-focus-ring-size-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-emphasized-focus-ring-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-emphasized-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-emphasized-circle-border-color-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-emphasized-circle-border-size-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-selected: var(--spectrum-alias-text-color);
  --spectrum-radio-emphasized-circle-border-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-radio-emphasized-circle-border-size-selected: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-selected: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-emphasized-circle-border-color-selected-hover: var(--spectrum-global-color-blue-600);
  --spectrum-radio-emphasized-circle-border-size-selected-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-selected-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-radio-emphasized-circle-border-color-selected-down: var(--spectrum-global-color-blue-700);
  --spectrum-radio-emphasized-circle-border-size-selected-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-selected-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-emphasized-circle-border-color-selected-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-radio-emphasized-circle-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-focus-ring-gap-selected-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-emphasized-focus-ring-size-selected-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-emphasized-focus-ring-color-selected-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-emphasized-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-emphasized-circle-border-color-selected-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-emphasized-circle-border-size-selected-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-selected-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-error: var(--spectrum-global-color-red-600);
  --spectrum-radio-emphasized-circle-border-color-error: var(--spectrum-global-color-red-500);
  --spectrum-radio-emphasized-circle-border-size-error: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-error: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-error-hover: var(--spectrum-global-color-red-700);
  --spectrum-radio-emphasized-circle-border-color-error-hover: var(--spectrum-global-color-red-600);
  --spectrum-radio-emphasized-circle-border-size-error-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-error-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-error-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-emphasized-circle-border-color-error-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-emphasized-circle-border-size-error-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-error-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-error-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-radio-emphasized-circle-border-color-error-key-focus: var(--spectrum-global-color-red-600);
  --spectrum-radio-emphasized-circle-border-size-error-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-focus-ring-gap-error-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-emphasized-focus-ring-size-error-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-emphasized-focus-ring-color-error-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-emphasized-text-color-error-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-emphasized-circle-border-color-error-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-emphasized-circle-border-size-error-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-error-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-error-selected: var(--spectrum-global-color-red-600);
  --spectrum-radio-emphasized-circle-border-color-error-selected: var(--spectrum-global-color-red-500);
  --spectrum-radio-emphasized-circle-border-size-error-selected: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-error-selected: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-error-selected-hover: var(--spectrum-global-color-red-700);
  --spectrum-radio-emphasized-circle-border-color-error-selected-hover: var(--spectrum-global-color-red-600);
  --spectrum-radio-emphasized-circle-border-size-error-selected-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-error-selected-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-error-selected-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-emphasized-circle-border-color-error-selected-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-emphasized-circle-border-size-error-selected-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-error-selected-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-color-error-selected-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-radio-emphasized-circle-border-color-error-selected-key-focus: var(--spectrum-global-color-red-600);
  --spectrum-radio-emphasized-circle-border-size-error-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-focus-ring-gap-error-selected-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-emphasized-focus-ring-size-error-selected-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-emphasized-focus-ring-color-error-selected-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-emphasized-text-color-error-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-emphasized-circle-border-color-error-selected-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-emphasized-circle-border-size-error-selected-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-emphasized-text-gap-error-selected-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-emphasized-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-radio-emphasized-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-radio-emphasized-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-radio-emphasized-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-radio-emphasized-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-radio-emphasized-text-transform: none;
  --spectrum-radio-emphasized-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-radio-emphasized-circle-dot-size: var(--spectrum-global-dimension-static-size-50);
  --spectrum-radio-emphasized-circle-diameter: var(--spectrum-global-dimension-size-175);
  --spectrum-radio-emphasized-height: var(--spectrum-global-dimension-size-400);
  --spectrum-radio-emphasized-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-radio-emphasized-cursor-hit-x: var(--spectrum-global-dimension-size-100);
  --spectrum-radio-emphasized-touch-hit-x: var(--spectrum-global-dimension-size-100);
  --spectrum-radio-quiet-text-color: var(--spectrum-alias-text-color);
  --spectrum-radio-quiet-circle-border-color: var(--spectrum-global-color-gray-600);
  --spectrum-radio-quiet-circle-background-color: var(--spectrum-global-color-gray-75);
  --spectrum-radio-quiet-circle-dot-color: var(--spectrum-global-color-gray-75);
  --spectrum-radio-quiet-circle-border-size: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-quiet-circle-border-color-hover: var(--spectrum-global-color-gray-700);
  --spectrum-radio-quiet-circle-border-size-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-radio-quiet-circle-border-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-radio-quiet-circle-border-size-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-quiet-circle-border-color-key-focus: var(--spectrum-global-color-gray-700);
  --spectrum-radio-quiet-circle-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-focus-ring-gap-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-quiet-focus-ring-size-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-quiet-focus-ring-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-quiet-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-quiet-circle-border-color-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-quiet-circle-border-size-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-selected: var(--spectrum-alias-text-color);
  --spectrum-radio-quiet-circle-border-color-selected: var(--spectrum-global-color-gray-700);
  --spectrum-radio-quiet-circle-border-size-selected: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-selected: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-quiet-circle-border-color-selected-hover: var(--spectrum-global-color-gray-800);
  --spectrum-radio-quiet-circle-border-size-selected-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-selected-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-selected-down: var(--spectrum-alias-text-color-down);
  --spectrum-radio-quiet-circle-border-color-selected-down: var(--spectrum-global-color-gray-900);
  --spectrum-radio-quiet-circle-border-size-selected-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-selected-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-selected-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-radio-quiet-circle-border-color-selected-key-focus: var(--spectrum-global-color-gray-800);
  --spectrum-radio-quiet-circle-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-focus-ring-gap-selected-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-quiet-focus-ring-size-selected-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-quiet-focus-ring-color-selected-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-quiet-text-color-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-quiet-circle-border-color-selected-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-quiet-circle-border-size-selected-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-selected-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-error: var(--spectrum-global-color-red-600);
  --spectrum-radio-quiet-circle-border-color-error: var(--spectrum-global-color-red-500);
  --spectrum-radio-quiet-circle-border-size-error: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-error: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-error-hover: var(--spectrum-global-color-red-700);
  --spectrum-radio-quiet-circle-border-color-error-hover: var(--spectrum-global-color-red-600);
  --spectrum-radio-quiet-circle-border-size-error-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-error-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-error-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-quiet-circle-border-color-error-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-quiet-circle-border-size-error-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-error-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-error-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-radio-quiet-circle-border-color-error-key-focus: var(--spectrum-global-color-red-600);
  --spectrum-radio-quiet-circle-border-size-error-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-focus-ring-gap-error-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-quiet-focus-ring-size-error-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-quiet-focus-ring-color-error-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-quiet-text-color-error-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-quiet-circle-border-color-error-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-quiet-circle-border-size-error-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-error-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-error-selected: var(--spectrum-global-color-red-600);
  --spectrum-radio-quiet-circle-border-color-error-selected: var(--spectrum-global-color-red-500);
  --spectrum-radio-quiet-circle-border-size-error-selected: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-error-selected: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-error-selected-hover: var(--spectrum-global-color-red-700);
  --spectrum-radio-quiet-circle-border-color-error-selected-hover: var(--spectrum-global-color-red-600);
  --spectrum-radio-quiet-circle-border-size-error-selected-hover: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-error-selected-hover: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-error-selected-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-quiet-circle-border-color-error-selected-down: var(--spectrum-global-color-red-700);
  --spectrum-radio-quiet-circle-border-size-error-selected-down: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-error-selected-down: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-color-error-selected-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-radio-quiet-circle-border-color-error-selected-key-focus: var(--spectrum-global-color-red-600);
  --spectrum-radio-quiet-circle-border-size-error-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-focus-ring-gap-error-selected-key-focus: var(--spectrum-alias-focus-ring-gap);
  --spectrum-radio-quiet-focus-ring-size-error-selected-key-focus: var(--spectrum-alias-focus-ring-size);
  --spectrum-radio-quiet-focus-ring-color-error-selected-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-radio-quiet-text-color-error-selected-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-radio-quiet-circle-border-color-error-selected-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-radio-quiet-circle-border-size-error-selected-disabled: var(--spectrum-alias-border-size-thick);
  --spectrum-radio-quiet-text-gap-error-selected-disabled: var(--spectrum-global-dimension-size-125);
  --spectrum-radio-quiet-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-radio-quiet-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-radio-quiet-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-radio-quiet-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-radio-quiet-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-radio-quiet-text-transform: none;
  --spectrum-radio-quiet-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-radio-quiet-circle-dot-size: var(--spectrum-global-dimension-static-size-50);
  --spectrum-radio-quiet-circle-diameter: var(--spectrum-global-dimension-size-175);
  --spectrum-radio-quiet-height: var(--spectrum-global-dimension-size-400);
  --spectrum-radio-quiet-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-radio-quiet-cursor-hit-x: var(--spectrum-global-dimension-size-100);
  --spectrum-radio-quiet-touch-hit-x: var(--spectrum-global-dimension-size-100);
}
