@import '@spectrum/spectrum-css/dist/components/accordion/index.css';
@import '@spectrum/spectrum-css/dist/components/accordion/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/accordion/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/accordion/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/accordion/multiStops/darkest.css';
