:root {
  /* todo: fix this in DNA */
  --spectrum-colorslider-border-color: var(--spectrum-colorarea-border-color);
}

.spectrum-ColorSlider-checkerboard {
  background-color: var(--spectrum-global-color-static-white);

  /* Add a half-percent to fix diagonal line issue in Chrome on non-retina displays */
  background-image:
    linear-gradient(-45deg, transparent 75.5%, var(--spectrum-global-color-static-gray-500) 75.5%),
    linear-gradient(45deg, transparent 75.5%, var(--spectrum-global-color-static-gray-500) 75.5%),
    linear-gradient(-45deg, var(--spectrum-global-color-static-gray-500) 25.5%, transparent 25.5%),
    linear-gradient(45deg, var(--spectrum-global-color-static-gray-500) 25.5%, transparent 25.5%);

  &:before {
    box-shadow: inset 0 0 0 var(--spectrum-colorslider-border-size) var(--spectrum-colorslider-border-color);
  }
}

.spectrum-ColorSlider {
  &.is-disabled {
    .spectrum-ColorSlider-checkerboard {
      background: var(--spectrum-colorslider-fill-color-disabled);
    }

    .spectrum-ColorSlider-checkerboard {
      &:before {
        box-shadow: 0 0 0 var(--spectrum-colorslider-border-size) var(--spectrum-colorslider-border-color-disabled);
      }
    }

    .spectrum-ColorSlider-gradient {
      display: none
    }
  }
}
