.page-main {
  display: flex;
  flex: 1 1 auto;
  min-height: 0%;
  overflow: hidden;
}

.sidebar {
  flex-shrink: 0;
  overflow: auto;
  width: 250px;
}

.main {
  flex: 1;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.page-header {
  flex: 0 0 auto;
}

.page-content {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  overflow: auto;
}

.documentation {
  width: 1000px;
}

.component-page table {
  width: 100%;
}

.component-page .type-column {
  max-width: 150px;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5;
}

h2 {
  margin: 0.67em 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.5;
}

p, li {
  font-size: 16px;
  line-height: 22px;
}

li {
  margin: 5px 0;
}

html, body {
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid rgb(57, 57, 57);
}

header nav h2 {
  margin: 0 20px 0 10px;
}

header nav h2 a {
  color: white;
  text-decoration: none;
  font-size: inherit;
}

header nav a {
  padding: 0 10px;
  font-size: 16px;
}

.homepage .hero {
  text-align: center;
  padding: 60px 0;
}

.homepage .hero h1 {
  font-size: 60px;
  line-height: 1em;
}

.homepage .hero h2 {
  margin-bottom: 60px;
  line-height: 1em;
  margin-top: -20px;
}

.homepage .features {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.homepage .feature {
  width: 33%;
  padding: 20px;
  box-sizing: border-box;
}

.homepage .example h1 {
  font-size: 30px;
}

.example-tableview {
  height: 300px !important;
  min-width: 450px;
}
