:root {
  --spectrum-listitem-option-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-listitem-option-text-color: var(--spectrum-alias-text-color);
  --spectrum-listitem-option-icon-color: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-listitem-option-icon-color-hover: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-option-background-color-hover: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-listitem-option-text-color-hover: var(--spectrum-alias-text-color);
  --spectrum-listitem-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-listitem-option-text-color-selected: var(--spectrum-alias-text-color);
  --spectrum-listitem-option-background-color-selected: var(--spectrum-alias-background-color-transparent);
  --spectrum-listitem-option-icon-color-selected: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-option-icon-color-selected-hover: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-option-background-color-selected-hover: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-listitem-option-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-listitem-option-icon-color-key-focus: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-option-background-color-key-focus: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-listitem-option-border-color-key-focus: var(--spectrum-global-color-blue-400);
  --spectrum-listitem-option-text-color-key-focus: var(--spectrum-alias-text-color);
  --spectrum-listitem-border-size-key-focus: var(--spectrum-global-dimension-static-size-25);
  --spectrum-listitem-option-border-size-key-focus: var(--spectrum-global-dimension-static-size-25);
  --spectrum-listitem-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-listitem-option-icon-color-down: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-option-background-color-down: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-listitem-option-text-color-down: var(--spectrum-alias-text-color);
  --spectrum-listitem-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-listitem-option-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-listitem-option-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-listitem-option-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-listitem-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-listitem-option-focus-indicator-color: var(--spectrum-alias-border-color-focus);
  --spectrum-listitem-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-listitem-divider-color: var(--spectrum-alias-border-color-extralight);
  --spectrum-listitem-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-listitem-divider-padding: 3px;
  --spectrum-listitem-option-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-listitem-option-padding: var(--spectrum-global-dimension-static-size-150);
  --spectrum-listitem-option-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-listitem-option-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-option-icon-width: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-option-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-listitem-option-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-listitem-option-baseline: var(--spectrum-global-dimension-static-font-size-75);
  --spectrum-listitem-option-focus-border-size: var(--spectrum-alias-border-size-thick);
  --spectrum-listitem-padding-left: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-padding-right: var(--spectrum-global-dimension-size-450);
  --spectrum-listitem-option-icon-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-icon-size: var(--spectrum-alias-workflow-icon-size);
  --spectrum-listitem-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-listitem-thumbnail-option-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-listitem-thumbnail-option-text-color: var(--spectrum-alias-text-color);
  --spectrum-listitem-thumbnail-option-icon-color: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-thumbnail-image-opacity: 1;
  --spectrum-listitem-thumbnail-option-icon-color-hover: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-thumbnail-option-background-color-hover: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-listitem-thumbnail-option-text-color-hover: var(--spectrum-alias-text-color);
  --spectrum-listitem-thumbnail-option-text-color-selected: var(--spectrum-alias-text-color);
  --spectrum-listitem-thumbnail-option-background-color-selected: var(--spectrum-alias-background-color-transparent);
  --spectrum-listitem-thumbnail-option-icon-color-selected: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-thumbnail-option-icon-color-selected-hover: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-thumbnail-option-background-color-selected-hover: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-listitem-thumbnail-option-text-color-selected-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-listitem-thumbnail-option-icon-color-key-focus: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-thumbnail-option-background-color-key-focus: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-listitem-thumbnail-option-border-color-key-focus: var(--spectrum-global-color-blue-400);
  --spectrum-listitem-thumbnail-option-text-color-key-focus: var(--spectrum-alias-text-color);
  --spectrum-listitem-thumbnail-border-size-key-focus: var(--spectrum-global-dimension-static-size-25);
  --spectrum-listitem-thumbnail-option-border-size-key-focus: var(--spectrum-global-dimension-static-size-25);
  --spectrum-listitem-thumbnail-option-icon-color-down: var(--spectrum-alias-icon-color-selected);
  --spectrum-listitem-thumbnail-option-background-color-down: var(--spectrum-alias-background-color-hover-overlay);
  --spectrum-listitem-thumbnail-option-text-color-down: var(--spectrum-alias-text-color);
  --spectrum-listitem-thumbnail-option-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-listitem-thumbnail-option-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-listitem-thumbnail-option-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-listitem-thumbnail-image-opacity-disabled: 0.3;
  --spectrum-listitem-thumbnail-option-focus-indicator-color: var(--spectrum-alias-border-color-focus);
  --spectrum-listitem-thumbnail-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-listitem-thumbnail-divider-color: var(--spectrum-alias-border-color-extralight);
  --spectrum-listitem-thumbnail-image-border-color: var(--spectrum-alias-border-color-translucent-dark);
  --spectrum-listitem-thumbnail-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-listitem-thumbnail-divider-padding: 3px;
  --spectrum-listitem-thumbnail-option-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-listitem-thumbnail-option-padding: var(--spectrum-global-dimension-static-size-150);
  --spectrum-listitem-thumbnail-option-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-listitem-thumbnail-option-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-thumbnail-option-icon-width: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-thumbnail-option-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-listitem-thumbnail-option-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-listitem-thumbnail-option-baseline: var(--spectrum-global-dimension-static-font-size-75);
  --spectrum-listitem-thumbnail-option-focus-border-size: var(--spectrum-alias-border-size-thick);
  --spectrum-listitem-thumbnail-padding-left: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-thumbnail-padding-right: var(--spectrum-global-dimension-size-450);
  --spectrum-listitem-thumbnail-option-icon-size: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-thumbnail-option-height: var(--spectrum-global-dimension-static-size-600);
  --spectrum-listitem-thumbnail-option-icon-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-listitem-thumbnail-image-padding-x: var(--spectrum-global-dimension-size-100);
  --spectrum-listitem-thumbnail-image-height: var(--spectrum-global-dimension-size-500);
  --spectrum-listitem-thumbnail-image-width: var(--spectrum-global-dimension-size-500);
  --spectrum-listitem-thumbnail-image-border-radius: var(--spectrum-alias-border-radius-small);
  --spectrum-listitem-thumbnail-image-border-size: var(--spectrum-alias-border-size-thin);
}
