:root {
  --spectrum-tool-text-color: var(--spectrum-alias-text-color);
  --spectrum-tool-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-tool-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-tool-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-hold-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-tool-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-tool-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-tool-border-size-hover: var(--spectrum-alias-border-size-thin);
  --spectrum-tool-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-hold-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-tool-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-tool-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-tool-border-size-down: var(--spectrum-alias-border-size-thin);
  --spectrum-tool-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-hold-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-tool-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-tool-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-tool-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-tool-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-tool-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-hold-icon-color-key-focus: var(--spectrum-alias-icon-color-hover);
  --spectrum-tool-text-color-mouse-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-tool-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-tool-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tool-border-size-disabled: var(--spectrum-alias-border-size-thin);
  --spectrum-tool-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-hold-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tool-icon-color-selected: var(--spectrum-alias-icon-color-selected);
  --spectrum-tool-hold-icon-color-selected: var(--spectrum-alias-icon-color-selected);
  --spectrum-tool-background-color-selected: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-color-selected: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-icon-color-selected-hover: var(--spectrum-alias-icon-color-selected-hover);
  --spectrum-tool-hold-icon-color-selected-hover: var(--spectrum-alias-icon-color-selected-hover);
  --spectrum-tool-background-color-selected-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-color-selected-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-icon-color-selected-down: var(--spectrum-alias-icon-color-selected-down);
  --spectrum-tool-hold-icon-color-selected-down: var(--spectrum-alias-icon-color-selected-down);
  --spectrum-tool-background-color-selected-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-color-selected-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-selected-focus);
  --spectrum-tool-hold-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-selected-focus);
  --spectrum-tool-background-color-selected-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-tool-border-color-selected-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-tool-background-color-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-border-color-selected-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tool-hold-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tool-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tool-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tool-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tool-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-tool-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tool-text-transform: none;
  --spectrum-tool-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-tool-icon-size: var(--spectrum-alias-workflow-icon-size);
  --spectrum-tool-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-tool-height: var(--spectrum-alias-single-line-height);
  --spectrum-tool-min-width: var(--spectrum-global-dimension-size-400);
  --spectrum-tool-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-tool-text-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-tool-icon-padding-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tool-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-tool-hold-icon-padding-bottom: var(--spectrum-global-dimension-size-40);
  --spectrum-tool-hold-icon-padding-right: var(--spectrum-global-dimension-size-40);
  --spectrum-tool-hold-icon-size: var(--spectrum-global-dimension-size-65);
  --spectrum-tool-high-emphasis-text-color: var(--spectrum-alias-text-color);
  --spectrum-tool-high-emphasis-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-tool-high-emphasis-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-tool-high-emphasis-background-color: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-high-emphasis-border-color: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-high-emphasis-hold-icon-color: var(--spectrum-alias-icon-color);
  --spectrum-tool-high-emphasis-text-color-hover: var(--spectrum-alias-text-color-hover);
  --spectrum-tool-high-emphasis-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-tool-high-emphasis-border-size-hover: var(--spectrum-alias-border-size-thin);
  --spectrum-tool-high-emphasis-background-color-hover: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-high-emphasis-border-color-hover: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-high-emphasis-hold-icon-color-hover: var(--spectrum-alias-icon-color-hover);
  --spectrum-tool-high-emphasis-text-color-down: var(--spectrum-alias-text-color-down);
  --spectrum-tool-high-emphasis-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-tool-high-emphasis-border-size-down: var(--spectrum-alias-border-size-thin);
  --spectrum-tool-high-emphasis-background-color-down: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-high-emphasis-border-color-down: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-high-emphasis-hold-icon-color-down: var(--spectrum-alias-icon-color-down);
  --spectrum-tool-high-emphasis-text-color-key-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-tool-high-emphasis-icon-color-key-focus: var(--spectrum-alias-icon-color-focus);
  --spectrum-tool-high-emphasis-border-size-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-tool-high-emphasis-border-color-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-tool-high-emphasis-background-color-key-focus: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-high-emphasis-hold-icon-color-key-focus: var(--spectrum-alias-icon-color-hover);
  --spectrum-tool-high-emphasis-text-color-mouse-focus: var(--spectrum-alias-text-color-hover);
  --spectrum-tool-high-emphasis-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-tool-high-emphasis-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tool-high-emphasis-border-size-disabled: var(--spectrum-alias-border-size-thin);
  --spectrum-tool-high-emphasis-background-color-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-high-emphasis-border-color-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-high-emphasis-hold-icon-color-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tool-high-emphasis-icon-color-selected: var(--spectrum-alias-icon-color-over-background);
  --spectrum-tool-high-emphasis-hold-icon-color-selected: var(--spectrum-alias-icon-color-over-background);
  --spectrum-tool-high-emphasis-background-color-selected: var(--spectrum-semantic-cta-color-background-default);
  --spectrum-tool-high-emphasis-border-color-selected: var(--spectrum-semantic-cta-color-background-default);
  --spectrum-tool-high-emphasis-icon-color-selected-hover: var(--spectrum-alias-icon-color-over-background);
  --spectrum-tool-high-emphasis-hold-icon-color-selected-hover: var(--spectrum-alias-icon-color-over-background);
  --spectrum-tool-high-emphasis-background-color-selected-hover: var(--spectrum-semantic-cta-color-background-hover);
  --spectrum-tool-high-emphasis-border-color-selected-hover: var(--spectrum-semantic-cta-color-background-hover);
  --spectrum-tool-high-emphasis-icon-color-selected-down: var(--spectrum-alias-icon-color-over-background);
  --spectrum-tool-high-emphasis-hold-icon-color-selected-down: var(--spectrum-alias-icon-color-over-background);
  --spectrum-tool-high-emphasis-background-color-selected-down: var(--spectrum-semantic-cta-color-background-down);
  --spectrum-tool-high-emphasis-border-color-selected-down: var(--spectrum-semantic-cta-color-background-down);
  --spectrum-tool-high-emphasis-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-over-background);
  --spectrum-tool-high-emphasis-hold-icon-color-selected-key-focus: var(--spectrum-alias-icon-color-over-background);
  --spectrum-tool-high-emphasis-background-color-selected-key-focus: var(--spectrum-semantic-cta-color-background-down);
  --spectrum-tool-high-emphasis-border-size-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-tool-high-emphasis-border-offset-selected-key-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-tool-high-emphasis-border-color-selected-key-focus: var(--spectrum-alias-border-color-focus);
  --spectrum-tool-high-emphasis-background-color-selected-disabled: var(--spectrum-alias-background-color-transparent);
  --spectrum-tool-high-emphasis-border-color-selected-disabled: var(--spectrum-alias-border-color-transparent);
  --spectrum-tool-high-emphasis-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tool-high-emphasis-hold-icon-color-selected-disabled: var(--spectrum-alias-icon-color-disabled);
  --spectrum-tool-high-emphasis-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-tool-high-emphasis-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-tool-high-emphasis-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tool-high-emphasis-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-tool-high-emphasis-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-tool-high-emphasis-text-transform: none;
  --spectrum-tool-high-emphasis-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-tool-high-emphasis-icon-size: var(--spectrum-alias-workflow-icon-size);
  --spectrum-tool-high-emphasis-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-tool-high-emphasis-height: var(--spectrum-alias-single-line-height);
  --spectrum-tool-high-emphasis-min-width: var(--spectrum-global-dimension-size-400);
  --spectrum-tool-high-emphasis-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-tool-high-emphasis-text-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-tool-high-emphasis-icon-padding-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tool-high-emphasis-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-tool-high-emphasis-hold-icon-padding-bottom: var(--spectrum-global-dimension-size-40);
  --spectrum-tool-high-emphasis-hold-icon-padding-right: var(--spectrum-global-dimension-size-40);
  --spectrum-tool-high-emphasis-hold-icon-size: var(--spectrum-global-dimension-size-65);
}
