:root {

  /* DNA */
}
/* topdoc
{{ alert/alert-closeable.yml }}
*/
.spectrum-Alert {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  min-width: var(--spectrum-alert-min-width, 368px);
  min-height: 38px;
  margin: 8px 0;
  padding: var(--spectrum-alert-padding-y, 20px) var(--spectrum-alert-padding-x, 20px);

  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
.spectrum-Alert-icon {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
}
.spectrum-Alert-header {
  display: inline-block;
  height: auto;
  min-height: 0;
  margin: 0;
  padding: 0;

  /* Leave room for the icon */
  padding-right: 30px;

  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 14px;
  text-transform: none;
}
.spectrum-Alert-content {
  display: block;
  margin: var(--spectrum-alert-content-margin-top, 8px) 0 0 0;
  padding: 0;

  font-size: 14px;
  word-wrap: break-word;
}
.spectrum-Alert-footer {
  display: block;

  text-align: right;

  padding-top: 0.5rem;
}
.spectrum-Alert-footer:empty {
    display: none;
  }
.spectrum-Alert-footer .spectrum-Button {
    margin-right: 0;

    /* Spacing between buttons */
    margin-left: 0.75rem;
  }
.spectrum-Alert {
  background-color: var(--spectrum-alert-background-color, var(--spectrum-global-color-gray-50));
  /* default color set to body color, header element overwrites this */
  color: var(--spectrum-alert-text-color, var(--spectrum-global-color-gray-700));
}
.spectrum-Alert-header {
  color: var(--spectrum-alert-title-text-color, var(--spectrum-global-color-gray-900));
}
.spectrum-Alert-content {
  color: var(--spectrum-alert-text-color, var(--spectrum-global-color-gray-700));
}
/* topdoc
{{ alert/alert-info.yml }}
*/
.spectrum-Alert--info {
  border-color: var(--spectrum-alert-info-border-color, var(--spectrum-global-color-blue-400));
}
.spectrum-Alert--info .spectrum-Alert-icon {
    color: var(--spectrum-alert-info-border-color, var(--spectrum-global-color-blue-400));
  }
/* topdoc
{{ alert/alert-help.yml }}
*/
.spectrum-Alert--help {
  border-color: var(--spectrum-alert-info-border-color, var(--spectrum-global-color-blue-400));
}
.spectrum-Alert--help .spectrum-Alert-icon {
    color: var(--spectrum-alert-info-border-color, var(--spectrum-global-color-blue-400));
  }
/* topdoc
{{ alert/alert-error.yml }}
*/
.spectrum-Alert--error {
  border-color: var(--spectrum-alert-error-border-color, var(--spectrum-global-color-red-400));
}
.spectrum-Alert--error .spectrum-Alert-icon {
    color: var(--spectrum-alert-error-border-color, var(--spectrum-global-color-red-400));
  }
/* topdoc
{{ alert/alert-success.yml }}
*/
.spectrum-Alert--success {
  border-color: var(--spectrum-alert-success-border-color, var(--spectrum-global-color-green-400));
}
.spectrum-Alert--success .spectrum-Alert-icon {
    color: var(--spectrum-alert-success-border-color, var(--spectrum-global-color-green-400));
  }
/* topdoc
{{ alert/alert-warning.yml }}
*/
.spectrum-Alert--warning {
  border-color: var(--spectrum-alert-warning-border-color, var(--spectrum-global-color-orange-400));
}
.spectrum-Alert--warning .spectrum-Alert-icon {
    color: var(--spectrum-alert-warning-border-color, var(--spectrum-global-color-orange-400));
  }
