/* topdoc
{{ link/link.yml }}
*/
.spectrum-Link {
  /* Remove the gray background on active links in IE 10. */
  background-color: transparent;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+. */
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  transition: color var(--spectrum-global-animation-duration-100, 130ms) ease-in-out;
  outline: none;
}
.spectrum-Link:hover {
    text-decoration: underline;
  }
.spectrum-Link.focus-ring {
    text-decoration: underline;
  }
.spectrum-Link.focus-ring {
    text-decoration: underline;
    -webkit-text-decoration-style: double;
            text-decoration-style: double;
  }
.spectrum-Link.is-disabled {
    cursor: default;
    pointer-events: none;
  }
.spectrum-Link.is-disabled:hover,
    .spectrum-Link.is-disabled:focus {
      text-decoration: none;
    }
.spectrum-Link--subtle,
/** @deprecated */.spectrum-Link--quiet {
  text-decoration: underline;
}
.spectrum-Link--overBackground {
  text-decoration: underline;
}
.spectrum-Link {
  color: var(--spectrum-link-text-color, var(--spectrum-global-color-blue-600));
}
.spectrum-Link:hover {
    color: var(--spectrum-link-text-color-hover, var(--spectrum-global-color-blue-600));
  }
.spectrum-Link:active {
    color: var(--spectrum-link-text-color-down, var(--spectrum-global-color-blue-700));
  }
.spectrum-Link.focus-ring {
    color: var(--spectrum-link-text-color-key-focus, var(--spectrum-global-color-blue-600));
  }
.spectrum-Link.is-disabled {
    color: var(--spectrum-link-text-color-disabled, var(--spectrum-global-color-gray-500));
  }
.spectrum-Link--quiet,
/** @deprecated */.spectrum-Link--subtle {
  color: inherit;
}
.spectrum-Link--quiet:hover, .spectrum-Link--subtle:hover {
    color: inherit;
  }
.spectrum-Link--quiet:active, .spectrum-Link--subtle:active {
    color: inherit;
  }
.spectrum-Link--quiet:focus, .spectrum-Link--subtle:focus {
    color: inherit;
  }
.spectrum-Link--overBackground {
  color: var(--spectrum-link-over-background-text-color, rgb(255, 255, 255));
}
.spectrum-Link--overBackground:hover {
    color: var(--spectrum-link-over-background-text-color-hover, rgb(255, 255, 255));
  }
.spectrum-Link--overBackground:active {
    color: var(--spectrum-link-over-background-text-color-down, rgb(255, 255, 255));
  }
.spectrum-Link--overBackground:focus {
    color: var(--spectrum-link-over-background-text-color-key-focus, rgb(255, 255, 255));
  }
.spectrum-Link--overBackground.is-disabled {
    color: var(--spectrum-link-over-background-text-color-disabled, rgba(255,255,255,0.5));
  }
