.spectrum-Menu {
  background-color: transparent;
}
.spectrum-Menu-item {
  background-color: transparent;
  color: rgb(200, 200, 200);
}
.spectrum-Menu-item.focus-ring,
  .spectrum-Menu-item.is-focused {
    background-color: rgba(239,239,239,0.08);
    color: rgb(200, 200, 200);
    border-left-color: rgb(20, 115, 230);
  }
.spectrum-Menu-item:hover,
  .spectrum-Menu-item:focus,
  .spectrum-Menu-item.is-highlighted,
  .spectrum-Menu-item.is-open {
    background-color: rgba(239,239,239,0.08);
    color: rgb(200, 200, 200);
  }
.spectrum-Menu-item.is-selected {
    color: rgb(55, 142, 240);
  }
.spectrum-Menu-item.is-selected .spectrum-Menu-checkmark {
      color: rgb(38, 128, 235);
    }
.spectrum-Menu-item .is-active,
  .spectrum-Menu-item:active {
    background-color: rgba(239,239,239,0.08);
  }
.spectrum-Menu-item.is-disabled {
    background-color: transparent;
    background-image: none;
    color: rgb(92, 92, 92);
    cursor: default;
  }
.spectrum-Menu-sectionHeading {
  color: rgb(162, 162, 162);
}
.spectrum-Menu-divider {
  background-color: rgb(30, 30, 30);
}
