.spectrum-Menu {
  background-color: transparent;
}
.spectrum-Menu-item {
  background-color: transparent;
  color: rgb(80, 80, 80);
}
.spectrum-Menu-item.focus-ring,
  .spectrum-Menu-item.is-focused {
    background-color: rgba(50,50,50,0.04);
    color: rgb(80, 80, 80);
    border-left-color: rgb(55, 142, 240);
  }
.spectrum-Menu-item:hover,
  .spectrum-Menu-item:focus,
  .spectrum-Menu-item.is-highlighted,
  .spectrum-Menu-item.is-open {
    background-color: rgba(50,50,50,0.04);
    color: rgb(80, 80, 80);
  }
.spectrum-Menu-item.is-selected {
    color: rgb(20, 115, 230);
  }
.spectrum-Menu-item.is-selected .spectrum-Menu-checkmark {
      color: rgb(38, 128, 235);
    }
.spectrum-Menu-item .is-active,
  .spectrum-Menu-item:active {
    background-color: rgba(50,50,50,0.04);
  }
.spectrum-Menu-item.is-disabled {
    background-color: transparent;
    background-image: none;
    color: rgb(188, 188, 188);
    cursor: default;
  }
.spectrum-Menu-sectionHeading {
  color: rgb(116, 116, 116);
}
.spectrum-Menu-divider {
  background-color: rgb(255, 255, 255);
}
