@import '@spectrum/spectrum-css/dist/components/list/index.css';
@import '@spectrum/spectrum-css/dist/components/list/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/list/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/list/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/list/multiStops/darkest.css';

@require '../../commons'

.react-spectrum-List-option-icon {
  width: 18*$px;
  margin-right: 7*$px;
  text-align: center;
}

.react-spectrum-List-option-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
