@import '@spectrum/spectrum-css/dist/components/selectlist/index.css';
@import '@spectrum/spectrum-css/dist/components/selectlist/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/selectlist/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/selectlist/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/selectlist/multiStops/darkest.css';

.react-spectrum-List-option-icon {
  width: 18px;
  margin-right: 7px;
  text-align: center;
}

.react-spectrum-List-option-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
