@import '@spectrum/spectrum-css/dist/components/list/index.css';
@import '@spectrum/spectrum-css/dist/components/list/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/list/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/list/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/list/multiStops/darkest.css';

@require '../../commons'

.react-spectrum-List-option-icon {
  width: 18*$px;
  margin-right: 7*$px;
  text-align: center;
}

.react-spectrum-List-option-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.react-spectrum-List-group {
  padding: 0;
}

.react-spectrum-List-group:before {
  display: block;

  font-weight: bold;
  text-transform: uppercase;

  padding: 10*$px 12*$px;
  font-size: 11*$px;

  content: attr(label);
}
