/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$spectrum-list-border-color-default = $spectrum-global-color-grey5;
$spectrum-list-background-color-active = $spectrum-global-color-grey4;
$spectrum-list-text-color-selected = $spectrum-alias-focus-blue
$spectrum-list-checked-icon-url = '../../commons/embed/icon-check.svg';
$spectrum-list-checked-icon-color = $spectrum-alias-focus-blue

.coral-BasicList {
  border-color: $spectrum-list-border-color-default;
  background-color: $spectrum-list-background-color-default;
}

.coral-BasicList-item {
  background-color: $spectrum-list-background-color-default;
  color: $spectrum-list-text-color-default;

  &:focus,
  &.is-focused {
    background-color: $spectrum-list-background-color-hover;
    border-left-color: $spectrum-list-focusindicator-color-default;
  }

  &:hover {
    background-color: $spectrum-list-background-color-hover;
    border-left-color: transparent;
  }

  &:active {
    background-color: $spectrum-list-background-color-active;
  }

  &.is-disabled {
    color: $spectrum-text-text-color-disabled;
    background-color: $spectrum-list-background-color-default;
    border-left-color: transparent;
  }

  &.is-selected {
    color: $spectrum-list-text-color-selected;

    &:after {
      background-image: svgurl(embedurl($spectrum-list-checked-icon-url)) svg(path fill $spectrum-list-checked-icon-color);
    }
  }
}

.coral-BasicList-group:before {
  background-color: $spectrum-list-background-color-hover;
}
