:root {
  /* todo: fix this in DNA */
  --spectrum-colorwheel-border-color: var(--spectrum-colorarea-border-color);
}

.spectrum-ColorWheel {
  &.is-disabled {
    .spectrum-ColorWheel-outerCircle,
    .spectrum-ColorWheel-innerCircle {
      stroke: var(--spectrum-colorwheel-border-color-disabled);
    }

    .spectrum-ColorWheel-outerCircle {
      fill: var(--spectrum-colorwheel-fill-color-disabled);
    }

    /* hide all the little colored bits */
    .spectrum-ColorWheel-segment {
      display: none;
    }
  }
}

.spectrum-ColorWheel-gradient {
  border-color: var(--spectrum-colorwheel-border-color);
}

.spectrum-ColorWheel-outerCircle,
.spectrum-ColorWheel-innerCircle {
  stroke: var(--spectrum-colorwheel-border-color);
}
