/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:root {
  --spectrum-accordion-icon-width: 6px;
  --spectrum-accordion-icon-height: 10px;

  /* Subtract the size of the border since it's on the item itself */
  --spectrum-accordion-item-height-actual: calc(var(--spectrum-accordion-item-height) - var(--spectrum-accordion-item-border-size));
  --spectrum-accordion-item-title-tracking-actual: calc(var(--spectrum-accordion-item-title-tracking) / 100);

  --spectrum-accordion-item-title-padding-y: var(--spectrum-global-dimension-size-150);
  --spectrum-accordion-item-line-height: 1.3;
}

.spectrum-Accordion {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.spectrum-Accordion-itemIndicator {
  display: block;

  position: absolute;
  left: var(--spectrum-accordion-icon-spacing);
  top: calc(var(--spectrum-accordion-item-height-actual) / 2 - var(--spectrum-accordion-icon-height) / 2);

  transition: transform ease var(--spectrum-global-animation-duration-100);
}

.spectrum-Accordion-item {
  z-index: inherit;
  position: relative;

  display: list-item;
  margin: 0;

  border-bottom: var(--spectrum-accordion-item-border-size) solid transparent;

  &:first-of-type {
    border-top: var(--spectrum-accordion-item-border-size) solid transparent;
  }
}

.spectrum-Accordion-itemHeading {
  margin: 0;
}

.spectrum-Accordion-itemHeader {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;
  /* left padding takes into account the icon's size as well as the focus state's left border */
  padding: var(--spectrum-accordion-item-title-padding-y) var(--spectrum-accordion-item-padding) var(--spectrum-accordion-item-title-padding-y) calc(calc(var(--spectrum-accordion-item-padding) * 2) + 2px);
  margin: 0;

  min-height: var(--spectrum-accordion-item-height-actual);

  font-size: var(--spectrum-accordion-item-title-text-size);
  line-height: var(--spectrum-accordion-item-line-height);
  text-transform: uppercase;
  letter-spacing: var(--spectrum-accordion-item-title-tracking-actual);

  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: 500;

  /* reset styling if button element is used */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  border: 0;
  font-family: inherit;
  text-align: start;
  width: 100%;

  &:focus {
    outline: none;

    &::after {
      content: '';

      position: absolute;
      left: 0;
      top: calc(var(--spectrum-accordion-item-border-size) * -1);
      bottom: calc(var(--spectrum-accordion-item-border-size) * -1);

      width: var(--spectrum-accordion-item-border-size-key-focus);
    }
  }
}

.spectrum-Accordion-itemContent {
  padding: 0 var(--spectrum-accordion-item-content-padding) var(--spectrum-accordion-item-content-padding) var(--spectrum-accordion-item-content-padding);
  display: none;
}

.spectrum-Accordion-item {
  &.is-open {
    > .spectrum-Accordion-itemHeading {
      > .spectrum-Accordion-itemIndicator {
        transform: rotate(90deg);
      }
    }

    > .spectrum-Accordion-itemIndicator {
      transform: rotate(90deg);
    }

    > .spectrum-Accordion-itemHeader::after {
      /* No bottom border when open, so be less tall */
      height: var(--spectrum-accordion-item-height-actual);
    }

    > .spectrum-Accordion-itemContent {
      display: block;
    }
  }

  &.is-disabled {
    .spectrum-Accordion-itemHeader {
      cursor: default;
    }
  }
}
