/* topdoc
{{ buttongroup/buttongroup.yml }}
*/

.spectrum-ButtonGroup {
  display: -ms-flexbox;
  display: flex;
}

.spectrum-ButtonGroup .spectrum-Button,
  .spectrum-ButtonGroup .spectrum-ActionButton,
  .spectrum-ButtonGroup .spectrum-Tool {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

.spectrum-ButtonGroup .spectrum-Button + .spectrum-Button {
    margin-left: var(--spectrum-buttongroup-button-gap-x, 16px);
  }

.spectrum-ButtonGroup .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: var(--spectrum-actionbuttongroup-text-button-gap-x, var(--spectrum-global-dimension-size-100));
  }

.spectrum-ButtonGroup .spectrum-Tool + .spectrum-Tool {
    margin-left: var(--spectrum-toolgroup-text-button-gap-x, var(--spectrum-global-dimension-size-100));
  }

/* topdoc
{{ buttongroup/buttongroup-vertical.yml }}
*/

.spectrum-ButtonGroup--vertical {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.spectrum-ButtonGroup--vertical .spectrum-ActionButton-label {
    -ms-flex-positive: 1;
        flex-grow: 1;
    text-align: left;
  }

.spectrum-ButtonGroup--vertical .spectrum-Button + .spectrum-Button {
    margin-top: var(--spectrum-buttongroup-button-gap-y, 16px);
    margin-left: 0;
  }

.spectrum-ButtonGroup--vertical .spectrum-ActionButton + .spectrum-ActionButton {
    margin-top: var(--spectrum-actionbuttongroup-text-button-gap-y, var(--spectrum-global-dimension-size-100));
    margin-left: 0;
  }

.spectrum-ButtonGroup--vertical .spectrum-Tool + .spectrum-Tool {
    margin-top: var(--spectrum-toolgroup-text-button-gap-y, var(--spectrum-global-dimension-size-100));
    margin-left: 0;
  }
