/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  --spectrum-dropdown-popover-max-width: var(--spectrum-global-dimension-size-3000);
  --spectrum-dropdown-width: var(--spectrum-global-dimension-size-2400);

  /* This needs to be a variable so it overrides when using multiStops */
  --spectrum-dropdown-quiet-width: auto;
}

.spectrum-Dropdown {
  position: relative;
  display: inline-block;

  /* Truncate if menu options make us too wide */
  max-width: 100%;
  width: var(--spectrum-dropdown-width);
  min-width: var(--spectrum-dropdown-min-width);

  /* Hack to enable select-powered Dropdowns */
  select {
    appearance: none;
    -ms-appearance: none; /* Edge */

    &::-ms-expand {
      display: none;
    }

    &::-ms-value {
      background-color: transparent;
    }

    & + .spectrum-Dropdown-icon {
      position: absolute;
      right: var(--spectrum-dropdown-padding-x);
      top: 50%;
      margin-top: calc(var(--spectrum-icon-chevron-down-medium-height) / -2);
    }
  }
}

.spectrum-Dropdown-trigger {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spectrum-Dropdown-label {
  /* Be the biggest, but also shrink! */
  flex: 1 1 auto;

  white-space: nowrap;
  overflow: hidden;

  height: calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2));
  line-height: calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2));

  font-size: var(--spectrum-dropdown-text-size);

  text-overflow: ellipsis;
  text-align: left;

  &.is-placeholder {
    font-weight: var(--spectrum-dropdown-placeholder-text-font-weight);
    font-style: var(--spectrum-dropdown-placeholder-text-font-style);
    transition: color var(--spectrum-global-animation-duration-100) ease-in-out;
  }
}

/* Only apply margin to the icon if there's a label */
.spectrum-Dropdown-label + .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-margin-left);
}

.spectrum-Icon + .spectrum-Dropdown-label {
  margin-left: var(--spectrum-selectlist-thumbnail-image-padding-x);
}

/* Only apply margin if there's a label */
.spectrum-Dropdown-label ~ .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-margin-left);
}

.spectrum-Dropdown-icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: color var(--spectrum-global-animation-duration-100) ease-out;

  /* Fix Safari 10 bug where align-items is ignored inside of buttons */
  margin-top: calc(calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2) - var(--spectrum-icon-chevron-down-medium-height)) / 2);
  margin-bottom: calc(calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2) - var(--spectrum-icon-chevron-down-medium-height)) / 2);

  opacity: 1;
}

/* Error icons */
.spectrum-Dropdown-trigger {
  .spectrum-Icon:not(.spectrum-Dropdown-icon) {
    /* Fix Safari 10 bug where align-items is ignored inside of buttons */
  margin-top: calc(calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2) - var(--spectrum-dropdown-icon-size)) / 2);
    margin-bottom: calc(calc(var(--spectrum-dropdown-height) - calc(var(--spectrum-dropdown-border-size) * 2) - var(--spectrum-dropdown-icon-size)) / 2);
  }

  .spectrum-Dropdown-label + .spectrum-Icon:not(.spectrum-Dropdown-icon) {
    margin-left: var(--spectrum-dropdown-icon-margin-left);
  }
}

.spectrum-Icon + .spectrum-Dropdown-icon {
  margin-left: var(--spectrum-dropdown-icon-gap);
}

.spectrum-Dropdown--quiet {
  width: var(--spectrum-dropdown-quiet-width);
  min-width: var(--spectrum-dropdown-quiet-min-width);
}

.spectrum-Dropdown-popover {
  max-width: var(--spectrum-dropdown-popover-max-width);
}

.spectrum-Dropdown-popover--quiet {
  margin-left: calc(-1 * calc(var(--spectrum-dropdown-quiet-popover-offset-x) + var(--spectrum-popover-border-size)));
}
