/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '@spectrum-css/commons/index.css';

/* topdoc
{{ inputgroup/combobox.yml }}
*/
/* topdoc
{{ inputgroup/combobox-quiet.yml }}
*/
/* topdoc
{{ inputgroup/datepicker.yml }}
*/
/* topdoc
{{ inputgroup/datepicker-quiet.yml }}
*/
/* topdoc
{{ inputgroup/datepicker-range.yml }}
*/
/* topdoc
{{ inputgroup/datepicker-range-quiet.yml }}
*/

:root {
  /* Todo: move to DNA */
  --spectrum-combobox-quiet-fieldbutton-border-radius: 0;
  --spectrum-combobox-field-border-width-right: 0;
  --spectrum-combobox-quiet-fieldbutton-padding-right: 0;
  --spectrum-datepicker-input-width: calc(var(--spectrum-global-dimension-size-1600) -  2 * var(--spectrum-padding));
  --spectrum-datepicker-datetime-input-width: calc(var(--spectrum-datepicker-input-width) + var(--spectrum-global-dimension-size-700) - var(--spectrum-global-dimension-static-font-size-100) / 2);
  --spectrum-datepicker-range-dash-margin-left: calc(-0.5 * var(--spectrum-global-dimension-static-font-size-100));
  --spectrum-datepicker-range-dash-padding-top: 0;
  --spectrum-datepicker-range-dash-line-height: calc(var(--spectrum-textfield-height) - var(--spectrum-global-dimension-size-100));
}

.spectrum-InputGroup {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: var(--spectrum-component-single-line-width);
  border-radius: var(--spectrum-border-radius);

  .spectrum-FieldButton {
    padding: 0 var(--spectrum-dropdown-padding-x);
    border-start-start-radius: var(--spectrum-combobox-fieldbutton-border-top-left-radius);
    border-end-start-radius: var(--spectrum-combobox-fieldbutton-border-bottom-left-radius);
    border-width: 1px;
  }

  &.is-disabled {
    .spectrum-FieldButton {
      border-width: 0;
    }
  }
}

.spectrum-InputGroup-field {
  border-start-end-radius: var(--spectrum-combobox-textfield-border-top-right-radius);
  border-end-end-radius: var(--spectrum-combobox-textfield-border-bottom-right-radius);
  border-inline-end: var(--spectrum-combobox-field-border-width-right);
  flex: 1;
}

.spectrum-InputGroup--quiet {
  border-radius: var(--spectrum-combobox-quiet-fieldbutton-border-radius);
  .spectrum-FieldButton {
    border-radius: var(--spectrum-combobox-quiet-fieldbutton-border-radius);

    position: relative;
    padding-inline-end: var(--spectrum-combobox-quiet-fieldbutton-padding-right);
    border-width: 0;
    border-bottom: var(--spectrum-textfield-quiet-affixed-border-size) solid;

    /* More hitarea */
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 10px;
      right: -10px;
    }
  }

  .spectrum-InputGroup-icon {
    right: 0;
  }

  &.is-disabled {
    .spectrum-FieldButton {
      border-bottom-width: 1px;
    }
  }
}

.spectrum-Datepicker--range {
  border-radius: var(--spectrum-border-radius);
  /* Input Group */
  &.spectrum-InputGroup--quiet {
    border-radius: var(--spectrum-combobox-quiet-fieldbutton-border-radius);
    .spectrum-FieldButton {
      border-radius: var(--spectrum-combobox-quiet-fieldbutton-border-radius);
    }
  }
  /* Datetime Range */
  &.spectrum-Datepicker--datetimeRange {
    /* Inputs */
    .spectrum-InputGroup-field {
      width: var(--spectrum-datepicker-datetime-input-width);
      min-width: var(--spectrum-datepicker-datetime-input-width);
    }
  }
  /* Inputs */
  .spectrum-InputGroup-field {
    width: var(--spectrum-datepicker-input-width);
    min-width: var(--spectrum-datepicker-input-width);
    flex: initial;
  }
  .spectrum-Datepicker-startField {
    .spectrum-InputGroup-field {
      border-inline-end: 0;
      padding-inline-end: var(--spectrum-padding);
    }

    svg {
      display: none;
    }
  }
  .spectrum-Datepicker-endField {
    .spectrum-InputGroup-field {
      flex: 1;
      border-inline-start: 0;
      border-radius: 0;
      padding-inline-start: var(--spectrum-padding);
    }
  }
  /* Em dash */
  .spectrum-Datepicker--rangeDash {
    line-height: var(--spectrum-datepicker-range-dash-line-height);
    padding-top: var(--spectrum-datepicker-range-dash-padding-top);
    flex: initial;
    width: 0;
    z-index: 1;
    &:before {
      content: '—';
      display: inline-block;
      margin: 0 var(--spectrum-datepicker-range-dash-margin-left);
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      width: var(--spectrum-global-dimension-static-font-size-100);
    }
  }
  /* Focus ring */
  &.is-focused {
    .spectrum-Datepicker-focusRing {
      position: absolute;
      border-radius: var(--spectrum-border-radius);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }
  }
  &.spectrum-InputGroup--quiet {
    &.is-focused {
      .spectrum-Datepicker-focusRing {
        border-radius: var(--spectrum-combobox-quiet-fieldbutton-border-radius);
        top: auto;
      }
    }
    .spectrum-Datepicker--rangeDash {
      &:before {
        margin-inline-start: var(--spectrum-datepicker-range-dash-margin-left);
      }
    }
  }
}
