/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

.spectrum-Label {
  position: relative;

  display: inline-flex;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  width: auto;

  padding: var(--spectrum-global-dimension-size-50) var(--spectrum-global-dimension-size-125);

  border-radius: var(--spectrum-border-radius);

  font-size: var(--spectrum-global-dimension-size-150);
  line-height: var(--spectrum-global-font-line-height-medium);

  cursor: default;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;

  /* icon + text buttons should have padding between the text and icon no matter the order */
  .spectrum-Label-icon + .spectrum-Label-label {
    padding-inline-start: var(--spectrum-global-dimension-size-50);
  }

  .spectrum-Label-label + .spectrum-Label-icon {
    padding-inline-end: var(--spectrum-global-dimension-size-50);
  }

  &.spectrum-Label--anchorTop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.spectrum-Label--anchorRight {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.spectrum-Label--anchorBottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.spectrum-Label--anchorLeft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.spectrum-Label-label {
  align-self: center;
  justify-self: center;
  order: 1; /* always be after the icon, regardless of DOM order */

  /* Fixes horizontal alignment of text in anchor buttons */
  text-align: center;

  /* @safari10 Workaround for https://bugs.webkit.org/show_bug.cgi?id=169700 */
  inline-size: 100%;

  &:empty {
    display: none;
  }
}

.spectrum-Label--large {
  font-size: var(--spectrum-global-dimension-size-175);
  padding: var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-150);
}

.spectrum-Label--small {
  font-size: var(--spectrum-global-dimension-font-size-50);
  padding: var(--spectrum-global-dimension-size-40) var(--spectrum-global-dimension-size-85);
}
