/* topdoc
{{ label/label-default.yml }}
*/
.spectrum-Label {
  display: inline-block;
  position: relative;

  width: auto;

  padding: var(--spectrum-global-dimension-size-50) var(--spectrum-global-dimension-size-125);

  border-radius: var(--spectrum-global-dimension-size-50);

  font-size: var(--spectrum-global-dimension-size-150);
  line-height: var(--spectrum-global-font-line-height-medium, 1.5);

  cursor: default;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}
/* topdoc
{{ label/label-large.yml }}
*/
.spectrum-Label--large {
  font-size: var(--spectrum-global-dimension-size-175);
  padding: var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-150);
}
/* topdoc
{{ label/label-small.yml }}
*/
.spectrum-Label--small {
  font-size: var(--spectrum-global-dimension-font-size-50);
  padding: var(--spectrum-global-dimension-size-40) var(--spectrum-global-dimension-size-85);
}
.spectrum-Label {
  color: var(--spectrum-label-colored-text-color, rgb(255, 255, 255));
}
/* topdoc
{{ label/label-special.yml }}
*/
.spectrum-Label--inactive,
.spectrum-Label--grey {
  background-color: var(--spectrum-label-colored-gray-background-color, rgb(116, 116, 116));
}
.spectrum-Label--red {
  background-color: var(--spectrum-label-colored-red-background-color, rgb(215, 55, 63));
}
.spectrum-Label--orange, .spectrum-Label--or {
  background-color: var(--spectrum-label-colored-orange-background-color, rgb(218, 123, 17));
}
.spectrum-Label--yellow {
  background-color: var(--spectrum-label-colored-yellow-background-color, var(--spectrum-global-color-yellow-400));
}
.spectrum-Label--seafoam  {
  background-color: var(--spectrum-label-colored-seafoam-background-color, var(--spectrum-global-color-seafoam-400));
}
.spectrum-Label--green {
  background-color: var(--spectrum-label-colored-green-background-color, rgb(38, 142, 108));
}
.spectrum-Label--blue, .spectrum-Label--active, .spectrum-Label--and  {
  background-color: var(--spectrum-label-colored-blue-background-color, rgb(20, 115, 230));
}
.spectrum-Label--fuchsia  {
  background-color: var(--spectrum-label-colored-fuchsia-background-color, var(--spectrum-global-color-fuchsia-400));
}
