/* topdoc
{{ toggle/toggle-onoffdefault.yml }}
*/
.spectrum-ToggleSwitch {
  display: inline-block;
  position: relative;
  font-size: 0;
  height: var(--spectrum-switch-height, var(--spectrum-global-dimension-size-400));
  line-height: var(--spectrum-switch-height, var(--spectrum-global-dimension-size-400));
}
.spectrum-ToggleSwitch-input {
  /* Change the font styles in all browsers for input. */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Add the correct box sizing for [type="checkbox"] in IE 10-. */
  box-sizing: border-box;

  /* Remove the padding for [type="checkbox"] in IE 10-. */
  padding: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .0001;
  z-index: 1;

  cursor: pointer;
}
.spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::after {
      transform: translateX(calc(var(--spectrum-switch-track-width) - var(--spectrum-switch-handle-size, var(--spectrum-global-dimension-size-175))));
    }
.spectrum-ToggleSwitch-input:disabled,
  .spectrum-ToggleSwitch-input[disabled] {
    cursor: default;
  }
.spectrum-ToggleSwitch-label {
  margin: 0 var(--spectrum-switch-text-gap, var(--spectrum-global-dimension-size-125));
  font-size: var(--spectrum-switch-text-size, var(--spectrum-global-dimension-font-size-100));
  vertical-align: middle;
  transition: color var(--spectrum-global-animation-duration-200, 160ms) ease-in-out;
}
.spectrum-ToggleSwitch-switch {
  display: inline-block;
  /* positions the pseudo elements relative to this one */
  position: relative;

  height: var(--spectrum-switch-track-height, var(--spectrum-global-dimension-size-175));
  width: var(--spectrum-switch-track-width);

  vertical-align: middle;
}
.spectrum-ToggleSwitch-switch::before,
  .spectrum-ToggleSwitch-switch::after {
    display: block;
    position: absolute;
    content: "";
    box-sizing: border-box;
  }
/* ::before is used for the track of the switch */
.spectrum-ToggleSwitch-switch::before {
    transition: background var(--spectrum-global-animation-duration-100, 130ms) ease-in-out, border var(--spectrum-global-animation-duration-100, 130ms) ease-in-out;

    height: var(--spectrum-switch-track-height, var(--spectrum-global-dimension-size-175));

    left: 0;
    right: 0;

    border-radius: calc(var(--spectrum-switch-track-height, var(--spectrum-global-dimension-size-175)) / 2);
  }
/* ::after is used for the handle of the switch */
.spectrum-ToggleSwitch-switch::after {
    transition: background var(--spectrum-global-animation-duration-100, 130ms) ease-in-out, border var(--spectrum-global-animation-duration-100, 130ms) ease-in-out, transform var(--spectrum-global-animation-duration-100, 130ms) ease-in-out, box-shadow var(--spectrum-global-animation-duration-100, 130ms) ease-in-out;

    width: var(--spectrum-switch-handle-size, var(--spectrum-global-dimension-size-175));
    height: var(--spectrum-switch-handle-size, var(--spectrum-global-dimension-size-175));

    top: 0;
    left: 0;

    border-width: var(--spectrum-switch-handle-border-size, 2px);
    border-radius: var(--spectrum-switch-handle-border-radius, var(--spectrum-global-dimension-size-85));
    border-style: solid;
  }
/* topdoc
{{ toggle/toggle-abdefault.yml }}
*/
/* Default */
/* :before is used for the track of the switch */
.spectrum-ToggleSwitch-switch::before {
    background-color: var(--spectrum-switch-track-color, var(--spectrum-global-color-gray-300));
  }
/* :after is used for the handle of the switch */
.spectrum-ToggleSwitch-switch::after {
    background-color: var(--spectrum-switch-handle-background-color, var(--spectrum-global-color-gray-75));
    border-color: var(--spectrum-switch-handle-border-color, var(--spectrum-global-color-gray-600));
  }
.spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
  color: var(--spectrum-switch-text-color, var(--spectrum-global-color-gray-800));
}
/* Selected */
.spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::before {
      background-color: var(--spectrum-switch-track-color-selected, var(--spectrum-global-color-blue-500));
    }
.spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::after {
      border-color: var(--spectrum-switch-handle-border-color-selected, var(--spectrum-global-color-blue-500));
    }
/* Hover */
.spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch::after {
        border-color: var(--spectrum-switch-handle-border-color-hover, var(--spectrum-global-color-gray-700));
        box-shadow: none;
      }
.spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: var(--spectrum-switch-text-color-hover, var(--spectrum-global-color-gray-900));
    }
/* Selected Hover */
.spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::before {
        background-color: var(--spectrum-switch-track-color-selected-hover, var(--spectrum-global-color-blue-600));
      }
.spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::after {
        border-color: var(--spectrum-switch-handle-border-color-selected-hover, var(--spectrum-global-color-blue-600));
      }
/* Down */
.spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch::after {
        border-color: var(--spectrum-switch-handle-border-color-down, var(--spectrum-global-color-gray-800));
      }
.spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: var(--spectrum-switch-text-color-down, var(--spectrum-global-color-gray-900));
    }
/* Selected Down */
.spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::before {
        background-color: var(--spectrum-switch-track-color-selected-down, var(--spectrum-global-color-blue-700));
      }
.spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::after {
        border-color: var(--spectrum-switch-handle-border-color-selected-down, var(--spectrum-global-color-blue-700));
      }
/* Disabled */
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch::before {
      background-color: var(--spectrum-switch-track-color-disabled, var(--spectrum-global-color-gray-300));
    }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch::after {
      border-color: var(--spectrum-switch-handle-border-color-disabled, var(--spectrum-global-color-gray-400));
    }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled ~ .spectrum-ToggleSwitch-label {
    color: var(--spectrum-switch-text-color-disabled, var(--spectrum-global-color-gray-500));
  }
/* Selected Disabled */
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch::before {
        background-color: var(--spectrum-switch-track-color-selected-disabled, var(--spectrum-global-color-gray-400));
      }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch::after {
        border-color: var(--spectrum-switch-handle-border-color-selected-disabled, var(--spectrum-global-color-gray-400));
      }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked ~ .spectrum-ToggleSwitch-label {
      color: var(--spectrum-switch-text-color-selected-disabled, var(--spectrum-global-color-gray-500));
    }
/* topdoc
{{ toggle/toggle-onoffquiet.yml }}
*/
/* Quiet */
/* Quiet Selected */
.spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::before {
      background-color: var(--spectrum-switch-quiet-track-color-selected, var(--spectrum-global-color-gray-700));
    }
.spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::after {
      border-color: var(--spectrum-switch-quiet-handle-border-color-selected, var(--spectrum-global-color-gray-700));
    }
/* Quiet Selected Hover */
.spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::before {
      background-color: var(--spectrum-switch-quiet-track-color-selected-hover, var(--spectrum-global-color-gray-800));
    }
.spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::after {
      border-color: var(--spectrum-switch-quiet-handle-border-color-selected-hover, var(--spectrum-global-color-gray-800));
    }
/* Quiet Selected Down */
.spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::before {
      background-color: var(--spectrum-switch-quiet-track-color-selected-down, var(--spectrum-global-color-gray-900));
    }
.spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::after {
      border-color: var(--spectrum-switch-quiet-handle-border-color-selected-down, var(--spectrum-global-color-gray-900));
    }
/* Key Focus */
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch::after, .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch::after, .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch::after, .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch::after {
        border-color: var(--spectrum-switch-handle-border-color-key-focus, var(--spectrum-global-color-blue-400));
        box-shadow: 0 0 0 1px var(--spectrum-switch-handle-border-color-key-focus, var(--spectrum-global-color-blue-400));
      }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring ~ .spectrum-ToggleSwitch-label, .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring ~ .spectrum-ToggleSwitch-label, .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring ~ .spectrum-ToggleSwitch-label, .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring ~ .spectrum-ToggleSwitch-label {
      color: var(--spectrum-switch-text-color-key-focus, var(--spectrum-global-color-blue-600));
    }
/* Selected Key Focus */
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::before, .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::before, .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::before, .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::before {
          background-color: var(--spectrum-switch-track-color-selected-key-focus, var(--spectrum-global-color-blue-400));
        }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::after, .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::after, .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::after, .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::after {
          border-color: var(--spectrum-switch-handle-border-color-selected-key-focus, var(--spectrum-global-color-blue-400));
          box-shadow: 0 0 0 1px var(--spectrum-switch-handle-border-color-selected-key-focus, var(--spectrum-global-color-blue-400));
        }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked ~ .spectrum-ToggleSwitch-label, .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked ~ .spectrum-ToggleSwitch-label, .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked ~ .spectrum-ToggleSwitch-label, .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked ~ .spectrum-ToggleSwitch-label {
        color: var(--spectrum-switch-text-color-selected-key-focus, var(--spectrum-global-color-blue-600));
      }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::before {
          background-color: var(--spectrum-switch-track-color, var(--spectrum-global-color-gray-300));
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::after {
        /* Don't be blue */
        border-color: var(--spectrum-switch-handle-border-color, var(--spectrum-global-color-gray-600));
      }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::before {
          background-color: var(--spectrum-switch-track-color, var(--spectrum-global-color-gray-300));
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch::after {
          border-color: var(--spectrum-switch-handle-border-color-key-focus, var(--spectrum-global-color-blue-400));
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch::before {
          background-color: var(--spectrum-switch-track-color-disabled, var(--spectrum-global-color-gray-300));
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch::before {
          background-color: var(--spectrum-switch-track-color-disabled, var(--spectrum-global-color-gray-300));
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch::after {
          border-color: var(--spectrum-switch-handle-border-color-disabled, var(--spectrum-global-color-gray-400));
        }
.spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::before {
          background-color: var(--spectrum-switch-track-color, var(--spectrum-global-color-gray-300));
        }
.spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::after {
          border-color: var(--spectrum-switch-handle-border-color-hover, var(--spectrum-global-color-gray-700));
        }
.spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::before {
          background-color: var(--spectrum-switch-track-color, var(--spectrum-global-color-gray-300));
        }
.spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch::after {
          border-color: var(--spectrum-switch-handle-border-color-down, var(--spectrum-global-color-gray-800));
        }
