@require '../../commons'

$spectrum-radio-diameter = 12*$px;
$spectrum-radio-radius = 6*$px;

spectrum-radio() {
  display: inline-block;
  position: relative;

  padding: 7*$px 0;

  font-size: 0;
}

spectrum-radio-input() {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: .0001;

  cursor: pointer;
}

spectrum-radio-label() {
  margin: 0 8*$px;

  font-size: $spectrum-font-size;

  vertical-align: middle;

  transition: color 150ms ease-in-out;
}

spectrum-radio-checkmark() {
  display: inline-block;
  box-sizing: border-box;
  width: $spectrum-radio-diameter;
  height: $spectrum-radio-diameter;

  border-radius: $spectrum-radio-radius;
  border-width: 2*$px;
  border-style: solid;

  vertical-align: middle;

  transition: border $spectrum-transition-time ease-in-out, box-shadow $spectrum-transition-time ease-in-out;
}

spectrum-radio-checkmark--checked() {
  border-width: 6*$px;
}
