spectrum-radio-checkmark() {
  border-color: $spectrum-color-border-switch-default;
}

spectrum-radio-checkmark--checked() {
  border-color: $spectrum-color-border-switch-active;
}

spectrum-radio-checkmark--hover() {
  border-color: $spectrum-color-border-switch-hover;
  box-shadow: none;
}

spectrum-radio-checkmark--active() {
  border-color: $spectrum-color-border-switch-active;
}

spectrum-radio-checkmark--focus() {
  border-color: $spectrum-color-border-switch-focus;
  box-shadow: 0 0 0 1*$px $spectrum-color-border-switch-focus;
}

spectrum-radio-checkmark--disabled() {
  border-color: $spectrum-color-border-switch-disabled;
}

spectrum-radio-label() {
  color: $spectrum-color-text-switch-label-default;
}

spectrum-radio-label--hover() {
  color: $spectrum-color-text-switch-label-default;
}

spectrum-radio-label--active() {
  color: $spectrum-color-text-switch-label-default;
}

spectrum-radio-label--disabled() {
  color: $spectrum-color-text-switch-label-disabled;
}

