.spectrum-Radio {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;

  position: relative;

  height: var(--spectrum-radio-height, var(--spectrum-global-dimension-size-400));
  max-width: 100%;

  margin-right: calc(var(--spectrum-radio-cursor-hit-x, var(--spectrum-global-dimension-size-100)) * 2);

  vertical-align: top;
}
.spectrum-Radio-input {
  /* Change the font styles in all browsers for input. */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Add the correct box sizing for [type="radio"] in IE 10-. */
  box-sizing: border-box;

  /* Remove the padding for [type="radio"] in IE 10-. */
  padding: 0;

  /* Hit area */
  position: absolute;
  top: 0;
  left: calc(var(--spectrum-radio-cursor-hit-x, var(--spectrum-global-dimension-size-100)) * -1);
  width: calc(100% + var(--spectrum-radio-cursor-hit-x, var(--spectrum-global-dimension-size-100)) * 2);
  height: 100%;

  opacity: .0001;
  z-index: 1;

  cursor: pointer;
}
.spectrum-Radio-input:disabled {
    cursor: default;
  }
.spectrum-Radio-input:checked + .spectrum-Radio-button {
    border-width: calc(var(--spectrum-radio-circle-diameter, var(--spectrum-global-dimension-size-175)) / 2 - var(--spectrum-radio-circle-dot-size, 4px) / 2);
  }
.spectrum-Radio-label {
  margin-left: var(--spectrum-radio-text-gap, var(--spectrum-global-dimension-size-125));
  font-size: var(--spectrum-radio-text-size, var(--spectrum-global-dimension-font-size-100));

  transition: color var(--spectrum-global-animation-duration-100, 130ms) ease-in-out;

  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}
.spectrum-Radio-button {
  position: relative;
  box-sizing: border-box;
  width: var(--spectrum-radio-circle-diameter, var(--spectrum-global-dimension-size-175));
  height: var(--spectrum-radio-circle-diameter, var(--spectrum-global-dimension-size-175));

  -ms-flex-positive: 0;

      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  border-radius: calc(var(--spectrum-radio-circle-diameter, var(--spectrum-global-dimension-size-175)) / 2);
  border-width: var(--spectrum-radio-circle-border-size, 2px);
  border-style: solid;

  transition: border var(--spectrum-global-animation-duration-100, 130ms) ease-in-out, box-shadow var(--spectrum-global-animation-duration-100, 130ms) ease-in-out;
}
.spectrum-Radio--labelBelow {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  height: auto;
}
.spectrum-Radio--labelBelow .spectrum-Radio-button {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
.spectrum-Radio--labelBelow .spectrum-Radio-label {
    margin: var(--spectrum-global-dimension-size-40) 0 0 0;
  }
.spectrum-Radio .spectrum-Radio-input:checked + .spectrum-Radio-button {
    border-color: var(--spectrum-radio-circle-border-color-selected, var(--spectrum-global-color-blue-500));
  }
.spectrum-Radio-label {
  color: var(--spectrum-radio-text-color, var(--spectrum-global-color-gray-800));
}
.spectrum-Radio-button {
  background-color: var(--spectrum-radio-circle-background-color, var(--spectrum-global-color-gray-75));
  border-color: var(--spectrum-radio-circle-border-color, var(--spectrum-global-color-gray-600));
}
/* topdoc
{{ radio/radio.yml }}
*/
.spectrum-Radio:hover .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-hover, var(--spectrum-global-color-gray-700));
      box-shadow: none;
    }
.spectrum-Radio:hover .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-selected-hover, var(--spectrum-global-color-blue-600));

    }
.spectrum-Radio:hover .spectrum-Radio-label {
      color: var(--spectrum-radio-text-color-hover, var(--spectrum-global-color-gray-900));
    }
.spectrum-Radio:active .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-down, var(--spectrum-global-color-gray-800));
    }
.spectrum-Radio:active .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-selected-down, var(--spectrum-global-color-blue-700));

    }
.spectrum-Radio:active .spectrum-Radio-label {
      color: var(--spectrum-radio-text-color-down, var(--spectrum-global-color-gray-900));
    }
.spectrum-Radio--quiet .spectrum-Radio-input:checked + .spectrum-Radio-button {
    border-color: var(--spectrum-radio-quiet-circle-border-color-selected, var(--spectrum-global-color-gray-700));
  }
.spectrum-Radio--quiet:hover .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-quiet-circle-border-color-selected-hover, var(--spectrum-global-color-gray-800));
    }
.spectrum-Radio--quiet:active .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-quiet-circle-border-color-selected-down, var(--spectrum-global-color-gray-900));
    }
.spectrum-Radio.is-invalid:hover .spectrum-Radio-input + .spectrum-Radio-button, .spectrum-Radio--quiet.is-invalid:hover .spectrum-Radio-input + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-error-hover, var(--spectrum-global-color-red-600));
    }
.spectrum-Radio.is-invalid:hover .spectrum-Radio-label, .spectrum-Radio--quiet.is-invalid:hover .spectrum-Radio-label {
      color: var(--spectrum-radio-circle-border-color-error-hover, var(--spectrum-global-color-red-600));
    }
.spectrum-Radio.is-invalid:active .spectrum-Radio-input + .spectrum-Radio-button, .spectrum-Radio--quiet.is-invalid:active .spectrum-Radio-input + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-error-down, var(--spectrum-global-color-red-700));
    }
.spectrum-Radio.is-invalid:active .spectrum-Radio-label, .spectrum-Radio--quiet.is-invalid:active .spectrum-Radio-label {
      color: var(--spectrum-radio-circle-border-color-error-down, var(--spectrum-global-color-red-700));
    }
.spectrum-Radio.is-invalid .spectrum-Radio-button, .spectrum-Radio.is-invalid .spectrum-Radio-input:checked + .spectrum-Radio-button, .spectrum-Radio--quiet.is-invalid .spectrum-Radio-button, .spectrum-Radio--quiet.is-invalid .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-error, var(--spectrum-global-color-red-500));
    }
.spectrum-Radio.is-invalid .spectrum-Radio-label, .spectrum-Radio--quiet.is-invalid .spectrum-Radio-label {
      color: var(--spectrum-radio-circle-border-color-error, var(--spectrum-global-color-red-500));
    }
.spectrum-Radio-input:disabled + .spectrum-Radio-button {
    border-color: var(--spectrum-radio-circle-border-color-disabled, var(--spectrum-global-color-gray-400)) !important;
  }
.spectrum-Radio-input:disabled ~ .spectrum-Radio-label {
    color: var(--spectrum-radio-text-color-disabled, var(--spectrum-global-color-gray-500)) !important;
  }
/* Focus Overrides all */
.spectrum-Radio .spectrum-Radio-input.focus-ring + .spectrum-Radio-button, .spectrum-Radio:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button, .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring + .spectrum-Radio-button, .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-key-focus, var(--spectrum-global-color-blue-400));
      box-shadow: 0 0 0 1px var(--spectrum-radio-circle-border-color-key-focus, var(--spectrum-global-color-blue-400));
    }
.spectrum-Radio .spectrum-Radio-input.focus-ring ~ .spectrum-Radio-label, .spectrum-Radio:hover .spectrum-Radio-input.focus-ring ~ .spectrum-Radio-label, .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring ~ .spectrum-Radio-label, .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring ~ .spectrum-Radio-label {
      color: var(--spectrum-radio-text-color-key-focus, var(--spectrum-global-color-blue-600));
    }
.spectrum-Radio.is-invalid .spectrum-Radio-input:checked.focus-ring + .spectrum-Radio-button, .spectrum-Radio--quiet.is-invalid .spectrum-Radio-input:checked.focus-ring + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-key-focus, var(--spectrum-global-color-blue-400));
      box-shadow: 0 0 0 1px var(--spectrum-radio-circle-border-color-key-focus, var(--spectrum-global-color-blue-400));
    }
