@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "adobe-clown";
    src: url("./AdobeClownVF-Roman_crop.ttf");
    font-display: swap;
}

.s2.s2.s2 {
    font-family: "adobe-clown";
}
