// Hidden from visual browsers, but still accessible to screenreaders
.u-react-spectrum-screenReaderOnly {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
