.spectrum-SideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.spectrum-SideNav-item {
  list-style-type: none;

  margin: var(--spectrum-sidenav-item-gap, var(--spectrum-global-dimension-size-50)) 0;
}
.spectrum-SideNav-itemLink {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: left;
      justify-content: left;
  box-sizing: border-box;

  width: 100%;
  min-height: var(--spectrum-sidenav-item-height, var(--spectrum-global-dimension-size-400));

  padding: var(--spectrum-global-dimension-size-65) var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150));

  border-radius: var(--spectrum-sidenav-item-border-radius, var(--spectrum-global-dimension-size-50));

  font-size: var(--spectrum-sidenav-item-text-size, var(--spectrum-global-dimension-font-size-100));
  font-weight: var(--spectrum-sidenav-item-font-weight, 400);
  font-style: normal;
  text-decoration: none;

  cursor: pointer;

  transition: background-color var(--spectrum-global-animation-duration-100, 130ms) ease-out,
              color var(--spectrum-global-animation-duration-100, 130ms) ease-out;
}
.spectrum-SideNav-itemLink:focus {
    outline: none;
  }
.spectrum-SideNav-itemLink.focus-ring::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: var(--spectrum-tabs-focus-ring-size, 2px) solid transparent;
    border-radius: var(--spectrum-sidenav-item-border-radius, var(--spectrum-global-dimension-size-50));
  }
/* topdoc
{{ sidenav/sidenav-heading.yml }}
*/
.spectrum-SideNav-heading {
  height: var(--spectrum-sidenav-header-height, var(--spectrum-global-dimension-size-400));
  line-height: var(--spectrum-sidenav-header-height, var(--spectrum-global-dimension-size-400));

  margin: var(--spectrum-sidenav-header-gap-top, var(--spectrum-global-dimension-size-200)) 0 var(--spectrum-sidenav-header-gap-bottom, var(--spectrum-global-dimension-size-50)) 0;
  padding: 0 var(--spectrum-sidenav-header-padding-x, var(--spectrum-global-dimension-size-150));

  border-radius: var(--spectrum-sidenav-header-border-radius, var(--spectrum-global-dimension-size-50));

  font-size: var(--spectrum-sidenav-header-text-size, var(--spectrum-global-dimension-font-size-50));
  font-weight: var(--spectrum-sidenav-header-font-weight, 500);
  font-style: normal;
  letter-spacing: var(--spectrum-sidenav-header-letter-spacing, 0.06em);

  text-transform: uppercase;
}
.spectrum-SideNav--multiLevel .spectrum-SideNav-itemLink {
    font-weight: var(--spectrum-sidenav-multilevel-main-item-font-weight, 700);
  }
.spectrum-SideNav--multiLevel .spectrum-SideNav {
    margin: 0;
    padding: 0;
  }
.spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {
      font-weight: var(--spectrum-sidenav-item-font-weight, 400);

      padding-left: calc(var(--spectrum-sidenav-multilevel-item-indentation-level1, var(--spectrum-global-dimension-size-150)) + var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150)));
    }
.spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav .spectrum-SideNav-itemLink {
        padding-left: calc(var(--spectrum-sidenav-multilevel-item-indentation-level2, var(--spectrum-global-dimension-size-300)) + var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150)));
      }
/* topdoc
{{ sidenav/sidenav.yml }}
*/
/* topdoc
{{ sidenav/sidenav-multilevel.yml }}
*/
.spectrum-SideNav-item.is-selected > .spectrum-SideNav-itemLink {
      color: var(--spectrum-sidenav-item-text-color-selected, var(--spectrum-global-color-gray-900));
      background-color: var(--spectrum-sidenav-item-background-color-selected, var(--spectrum-alias-highlight-hover));
    }
.spectrum-SideNav-item .is-active > .spectrum-SideNav-itemLink {
      background-color: var(--spectrum-sidenav-item-background-color-down, var(--spectrum-alias-highlight-hover));
    }
/* Disable all children */
.spectrum-SideNav-item.is-disabled .spectrum-SideNav-itemLink {
      background-color: var(--spectrum-sidenav-item-background-color-disabled, rgba(0, 0, 0, 0));
      color: var(--spectrum-sidenav-item-text-color-disabled, var(--spectrum-global-color-gray-500));

      cursor: default;
      pointer-events: none;
    }
.spectrum-SideNav-itemLink {
  background-color: var(--spectrum-sidenav-item-background-color, rgba(0, 0, 0, 0));
  color: var(--spectrum-sidenav-item-text-color, var(--spectrum-global-color-gray-800));
}
.spectrum-SideNav-itemLink:hover {
    background-color: var(--spectrum-sidenav-item-background-color-hover, var(--spectrum-alias-highlight-hover));
    color: var(--spectrum-sidenav-item-text-color-hover, var(--spectrum-global-color-gray-900));
  }
.spectrum-SideNav-itemLink:active {
    background-color: var(--spectrum-sidenav-item-background-color-down, var(--spectrum-alias-highlight-hover));
  }
.spectrum-SideNav-itemLink.focus-ring {
    background-color: var(--spectrum-sidenav-item-background-color-key-focus, var(--spectrum-alias-highlight-hover));
    color: var(--spectrum-sidenav-item-text-color-key-focus, var(--spectrum-global-color-gray-900));
  }
.spectrum-SideNav-itemLink.focus-ring::before {
      border-color: var(--spectrum-sidenav-item-border-color-key-focus, var(--spectrum-global-color-blue-400));
    }
.spectrum-SideNav-heading {
  color: var(--spectrum-sidenav-header-text-color, var(--spectrum-global-color-gray-700));
}
