/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@require '../../commons'

$switch-width = 24*$px;
$switch-height = 12*$px;
$switch-handle-width = 10*$px;

.coral3-Switch {
 // required to comply with single line components
 display: inline-block;
 vertical-align: top;
 margin: 0;

 // centers the component in case it measures less the most coral components
 //padding-top: ($coral-component-single-line-height - $switch-height) * 0.5;
 //padding-bottom: ($coral-component-single-line-height - $switch-height) * 0.5;

 // required for the input to take the whole size
 position: relative;

 height: $switch-height;
}

.coral3-Switch-label {
 display: inline-block;
 // positions the pseudo elements relative to this one
 position: relative;

 height: $switch-height;
 width: $switch-width;
}

.coral3-Switch-label:before,
.coral3-Switch-label:after {
 display: block;
 position: absolute;
 content: "";

 box-sizing: border-box;
}

// :before is used for the track of the switch
.coral3-Switch-label:before {
 transition: background $spectrum-transition-time ease-in-out, border $spectrum-transition-time ease-in-out;

 height: 4*$px;

 top: 3*$px;
 left: 0;
 right: 0;

 border-radius: 2*$px;
}

// :after is used for the handle of the switch
.coral3-Switch-label:after {
 transition: background $spectrum-transition-time ease-in-out, border $spectrum-transition-time ease-in-out, transform $spectrum-transition-time ease-in-out, box-shadow $spectrum-transition-time ease-in-out;

 width: $switch-handle-width;
 height: $switch-handle-width;

 top: 0;
 left: 0;

 border-radius: 50%;
}

.coral3-Switch-input {
 position: absolute;
 top: 0;

 width: 100%;
 height: 100%;

 opacity: 0.0001;

 cursor: pointer;
 z-index: 1;

 &:checked {
   + .coral3-Switch-label:after {
     transform: translateX($switch-width - $switch-handle-width);
     border-width: ($switch-handle-width / 2);
   }
 }

 &:disabled {
   + .coral3-Switch-label:before {
     // otherwise it will transition to disabled
     transition: none;
   }

   + .coral3-Switch-label:after {
     // otherwise it will transition to disabled
     transition: none;
   }
 }
}

@require 'light.styl'
@require 'dark.styl'
