@import '@spectrum/spectrum-css/dist/components/toggle/index.css';
@import '@spectrum/spectrum-css/dist/components/toggle/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/toggle/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/toggle/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/toggle/multiStops/darkest.css';
