@import '@spectrum/spectrum-css/dist/components/link/index.css';
@import '@spectrum/spectrum-css/dist/components/link/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/link/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/link/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/link/multiStops/darkest.css';
