.spectrum-TreeView {
  height: 300px; // fixed height is intentional for container rendering; override in a custom class
}

.spectrum-TreeView-item {
  &.is-disabled {
    pointer-events: none;
  }
}
