@import '@spectrum/spectrum-css/dist/components/treeview/index.css';
@import '@spectrum/spectrum-css/dist/components/treeview/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/treeview/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/treeview/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/treeview/multiStops/darkest.css';

.spectrum-TreeView {
  height: 300px;
}
