/*
 * Copyright 2021 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --spectrum-helptext-neutral-texticon-text-color: var(--spectrum-alias-label-text-color);
  --spectrum-helptext-neutral-texticon-text-color-disabled: var(--spectrum-alias-text-color-disabled);

  /* Override: DNA uses --spectrum-semantic-negative-text-color-small */
  --spectrum-helptext-negative-texticon-text-color: var(--spectrum-semantic-negative-color-text-small);
  /* Override: DNA uses --spectrum-semantic-negative-icon-color */
  --spectrum-helptext-negative-texticon-icon-color: var(--spectrum-semantic-negative-color-text-small);
}

.spectrum-HelpText--neutral {
  .spectrum-HelpText-text {
    color: var(--spectrum-helptext-neutral-texticon-text-color);
  }
  &.is-disabled {
    .spectrum-HelpText-text {
      color: var(--spectrum-helptext-neutral-texticon-text-color-disabled);
    }
  }
}

.spectrum-HelpText--negative {
  .spectrum-HelpText-validationIcon {
    color: var(--spectrum-helptext-negative-texticon-icon-color);
  }
  .spectrum-HelpText-text {
    color: var(--spectrum-helptext-negative-texticon-text-color);
  }
}
