/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@require '../../commons'

.coral-RadioGroup {
  .spectrum-Radio {
    margin-right: 12*$px;
  }
}

.coral-RadioGroup--vertical {
  .spectrum-Radio {
    display: block;
    margin: 0;
  }
}

.coral-RadioGroup--labelsBelow {
  .spectrum-Radio {
    height: 36*$px;
    margin: 0;
  }

  .spectrum-Radio-checkmark {
    margin-bottom: 18*$px;
  }

  .spectrum-Radio-label {
    position: relative;
    top: 12*$px;
    left: -17*$px;
  }
}
