.spectrum--medium {
  --spectrum-global-dimension-scale-factor: 1;
  --spectrum-global-dimension-size-40: 3px;
  --spectrum-actionbutton-touch-hit-x: 8px;
  --spectrum-dropdown-quiet-touch-hit-y: 32px;
  --spectrum-selectlist-option-icon-margin-top: 5px;
  --spectrum-global-dimension-size-50: 4px;
  --spectrum-global-dimension-size-65: 5px;
  --spectrum-global-dimension-size-75: 6px;
  --spectrum-colorhandle-loupe-margin: 10px;
  --spectrum-radio-margin-bottom: 0px;
  --spectrum-global-dimension-size-85: 7px;
  --spectrum-colorslider-touch-hit-y: 12px;
  --spectrum-global-dimension-size-100: 8px;
  --spectrum-icon-skip-left-width: 9px;
  --spectrum-global-dimension-size-115: 9px;
  --spectrum-global-dimension-size-125: 10px;
  --spectrum-global-dimension-font-size-50: 11px;
  --spectrum-global-dimension-size-130: 11px;
  --spectrum-slider-handle-touch-hit-x: 16px;
  --spectrum-global-dimension-size-150: 12px;
  --spectrum-dialog-content-text-size: 14px;
  --spectrum-global-dimension-size-160: 13px;
  --spectrum-icon-checkmark-medium-width: 12px;
  --spectrum-selectlist-option-icon-padding-y: 10px;
  --spectrum-global-dimension-size-175: 14px;
  --spectrum-global-dimension-font-size-150: 15px;
  --spectrum-global-dimension-size-200: 16px;
  --spectrum-fieldbutton-quiet-min-width: 18px;
  --spectrum-global-dimension-size-225: 18px;
  --spectrum-alias-heading3-margin-top: 20px;
  --spectrum-global-dimension-size-250: 20px;
  --spectrum-tabs-baseline: 18px;
  --spectrum-global-dimension-size-300: 24px;
  --spectrum-global-dimension-size-350: 28px;
  --spectrum-global-dimension-size-400: 32px;
  --spectrum-dialog-content-margin-bottom: 48px;
  --spectrum-global-dimension-size-450: 36px;
  --spectrum-global-dimension-size-500: 40px;
  --spectrum-global-dimension-size-550: 44px;
  --spectrum-global-dimension-size-600: 48px;
  --spectrum-global-dimension-size-700: 56px;
  --spectrum-global-dimension-size-800: 64px;
  --spectrum-global-dimension-size-900: 72px;
  --spectrum-global-dimension-size-1000: 80px;
  --spectrum-global-dimension-size-1200: 96px;
  --spectrum-global-dimension-size-1600: 128px;
  --spectrum-global-dimension-size-1700: 136px;
  --spectrum-global-dimension-size-2400: 192px;
  --spectrum-global-dimension-size-3000: 240px;
  --spectrum-global-dimension-size-3400: 272px;
  --spectrum-global-dimension-size-3600: 288px;
  --spectrum-global-dimension-size-4600: 368px;
  --spectrum-global-dimension-size-5000: 400px;
  --spectrum-global-dimension-size-6000: 480px;
  --spectrum-global-dimension-font-size-25: 10px;
  --spectrum-checkbox-text-gap-key-focus: 9px;
  --spectrum-global-dimension-font-size-100: 14px;
  --spectrum-global-dimension-font-size-200: 16px;
  --spectrum-dialog-title-text-size: 18px;
  --spectrum-global-dimension-font-size-400: 20px;
  --spectrum-alias-heading3-text-size: 22px;
  --spectrum-dialog-padding: 40px;
  --spectrum-global-dimension-font-size-500: 22px;
  --spectrum-alias-heading2-margin-top: 25px;
  --spectrum-global-dimension-font-size-600: 25px;
  --spectrum-alias-heading2-text-size: 28px;
  --spectrum-global-dimension-font-size-700: 28px;
  --spectrum-alias-heading1-margin-top: 32px;
  --spectrum-global-dimension-font-size-800: 32px;
  --spectrum-alias-heading-display2-margin-top: 36px;
  --spectrum-global-dimension-font-size-900: 36px;
  --spectrum-alias-heading-display1-margin-top: 40px;
  --spectrum-global-dimension-font-size-1000: 40px;
  --spectrum-alias-heading-display1-text-size: 45px;
  --spectrum-global-dimension-font-size-1100: 45px;
  --spectrum-barloader-small-border-radius: 2px;
  --spectrum-pagination-page-button-line-height: 26px;
  --spectrum-button-cta-min-width: 72px;
  --spectrum-selectlist-option-height: 32px;
  --spectrum-colorwheel-min-size: 192px;
  --spectrum-dialog-max-width: 480px;
  --spectrum-switch-track-width: 26px;
  --spectrum-tabs-compact-margin-left: -8px;
  --spectrum-tooltip-content-max-width: 101px;
}