.spectrum--large {
  --spectrum-global-dimension-scale-factor: 1.25;
  --spectrum-global-dimension-size-40: 4px;
  --spectrum-actionbutton-touch-hit-x: 4px;
  --spectrum-dropdown-quiet-touch-hit-y: 4px;
  --spectrum-selectlist-option-icon-margin-top: 4px;
  --spectrum-global-dimension-size-50: 5px;
  --spectrum-global-dimension-size-65: 6px;
  --spectrum-global-dimension-size-75: 8px;
  --spectrum-colorhandle-loupe-margin: 8px;
  --spectrum-radio-margin-bottom: 8px;
  --spectrum-global-dimension-size-85: 9px;
  --spectrum-colorslider-touch-hit-y: 9px;
  --spectrum-global-dimension-size-100: 10px;
  --spectrum-icon-skip-left-width: 10px;
  --spectrum-global-dimension-size-115: 11px;
  --spectrum-global-dimension-size-125: 13px;
  --spectrum-global-dimension-font-size-50: 13px;
  --spectrum-global-dimension-size-130: 14px;
  --spectrum-slider-handle-touch-hit-x: 14px;
  --spectrum-global-dimension-size-150: 15px;
  --spectrum-dialog-content-text-size: 15px;
  --spectrum-global-dimension-size-160: 16px;
  --spectrum-icon-checkmark-medium-width: 16px;
  --spectrum-selectlist-option-icon-padding-y: 16px;
  --spectrum-global-dimension-size-175: 18px;
  --spectrum-global-dimension-font-size-150: 18px;
  --spectrum-global-dimension-size-200: 20px;
  --spectrum-fieldbutton-quiet-min-width: 20px;
  --spectrum-global-dimension-size-225: 22px;
  --spectrum-alias-heading3-margin-top: 22px;
  --spectrum-global-dimension-size-250: 25px;
  --spectrum-tabs-baseline: 25px;
  --spectrum-global-dimension-size-300: 30px;
  --spectrum-global-dimension-size-350: 35px;
  --spectrum-global-dimension-size-400: 40px;
  --spectrum-dialog-content-margin-bottom: 40px;
  --spectrum-global-dimension-size-450: 45px;
  --spectrum-global-dimension-size-500: 50px;
  --spectrum-global-dimension-size-550: 56px;
  --spectrum-global-dimension-size-600: 60px;
  --spectrum-global-dimension-size-700: 70px;
  --spectrum-global-dimension-size-800: 80px;
  --spectrum-global-dimension-size-900: 112px;
  --spectrum-global-dimension-size-1000: 100px;
  --spectrum-global-dimension-size-1200: 120px;
  --spectrum-global-dimension-size-1600: 160px;
  --spectrum-global-dimension-size-1700: 212px;
  --spectrum-global-dimension-size-2400: 240px;
  --spectrum-global-dimension-size-3000: 300px;
  --spectrum-global-dimension-size-3400: 340px;
  --spectrum-global-dimension-size-3600: 360px;
  --spectrum-global-dimension-size-4600: 460px;
  --spectrum-global-dimension-size-5000: 500px;
  --spectrum-global-dimension-size-6000: 600px;
  --spectrum-global-dimension-font-size-25: 12px;
  --spectrum-checkbox-text-gap-key-focus: 12px;
  --spectrum-global-dimension-font-size-100: 17px;
  --spectrum-global-dimension-font-size-200: 19px;
  --spectrum-dialog-title-text-size: 19px;
  --spectrum-global-dimension-font-size-400: 24px;
  --spectrum-alias-heading3-text-size: 24px;
  --spectrum-dialog-padding: 24px;
  --spectrum-global-dimension-font-size-500: 27px;
  --spectrum-alias-heading2-margin-top: 27px;
  --spectrum-global-dimension-font-size-600: 31px;
  --spectrum-alias-heading2-text-size: 31px;
  --spectrum-global-dimension-font-size-700: 34px;
  --spectrum-alias-heading1-margin-top: 34px;
  --spectrum-global-dimension-font-size-800: 39px;
  --spectrum-alias-heading-display2-margin-top: 39px;
  --spectrum-global-dimension-font-size-900: 44px;
  --spectrum-alias-heading-display1-margin-top: 44px;
  --spectrum-global-dimension-font-size-1000: 49px;
  --spectrum-alias-heading-display1-text-size: 49px;
  --spectrum-global-dimension-font-size-1100: 55px;
  --spectrum-barloader-small-border-radius: 3px;
  --spectrum-pagination-page-button-line-height: 32px;
  --spectrum-button-cta-min-width: 90px;
  --spectrum-selectlist-option-height: 48px;
  --spectrum-colorwheel-min-size: 208px;
  --spectrum-dialog-max-width: 400px;
  --spectrum-switch-track-width: 36px;
  --spectrum-tabs-compact-margin-left: -11px;
  --spectrum-tooltip-content-max-width: 126px;
}