/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--dark {
  --spectrum-global-color-celery-400: rgb(68, 181, 86);
  --spectrum-global-color-chartreuse-400: rgb(133, 208, 68);
  --spectrum-global-color-yellow-400: rgb(223, 191, 0);
  --spectrum-global-color-magenta-400: rgb(216, 55, 144);
  --spectrum-global-color-magenta-500: rgb(226, 73, 157);
  --spectrum-global-color-magenta-700: rgb(245, 107, 183);
  --spectrum-global-color-fuchsia-400: rgb(192, 56, 204);
  --spectrum-global-color-purple-400: rgb(146, 86, 217);
  --spectrum-global-color-indigo-400: rgb(103, 103, 236);
  --spectrum-global-color-seafoam-400: rgb(27, 149, 154);
  --spectrum-global-color-red-400: rgb(227, 72, 80);
  --spectrum-global-color-red-500: rgb(236, 91, 98);
  --spectrum-global-color-red-600: rgb(247, 109, 116);
  --spectrum-global-color-red-700: rgb(255, 123, 130);
  --spectrum-global-color-orange-400: rgb(230, 134, 25);
  --spectrum-global-color-orange-500: rgb(242, 148, 35);
  --spectrum-global-color-orange-600: rgb(249, 164, 63);
  --spectrum-global-color-green-400: rgb(45, 157, 120);
  --spectrum-global-color-green-600: rgb(57, 185, 144);
  --spectrum-global-color-blue-400: rgb(38, 128, 235);
  --spectrum-global-color-blue-500: rgb(55, 142, 240);
  --spectrum-global-color-blue-600: rgb(75, 156, 245);
  --spectrum-global-color-blue-700: rgb(90, 169, 250);
  --spectrum-global-color-gray-50: rgb(37, 37, 37);
  --spectrum-global-color-gray-75: rgb(47, 47, 47);
  --spectrum-global-color-gray-100: rgb(50, 50, 50);
  --spectrum-global-color-gray-200: rgb(62, 62, 62);
  --spectrum-global-color-gray-300: rgb(74, 74, 74);
  --spectrum-global-color-gray-400: rgb(90, 90, 90);
  --spectrum-global-color-gray-500: rgb(110, 110, 110);
  --spectrum-global-color-gray-600: rgb(144, 144, 144);
  --spectrum-global-color-gray-700: rgb(185, 185, 185);
  --spectrum-global-color-gray-800: rgb(227, 227, 227);
  --spectrum-global-color-gray-900: rgb(255, 255, 255);
  --spectrum-alias-background-color-modal-overlay: rgba(0,0,0,0.5);
  --spectrum-alias-dropshadow-color: rgba(0,0,0,0.5);
  --spectrum-alias-background-color-hover-overlay: rgba(255,255,255,0.06);
  --spectrum-alias-highlight-hover: rgba(255,255,255,0.07);
  --spectrum-alias-highlight-active: rgba(255,255,255,0.1);
  --spectrum-alias-highlight-selected: rgba(55,142,240,0.15);
  --spectrum-alias-highlight-selected-hover: rgba(55,142,240,0.25);
  --spectrum-alias-background-color-quickactions: rgba(50,50,50,0.9);
  --spectrum-miller-column-item-background-color-selected: rgba(55,142,240,0.1);
  --spectrum-miller-column-item-background-color-selected-hover: rgba(55,142,240,0.2);
  --spectrum-well-background-color: rgba(227,227,227,0.02);
  --spectrum-well-border-color: rgba(255,255,255,0.05);
}
