/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--light {
  --spectrum-global-color-status: Verified;
  --spectrum-global-color-version: 5.1.0;
  --spectrum-global-color-celery-400: rgb(39, 187, 54);
  --spectrum-global-color-celery-500: rgb(7, 167, 33);
  --spectrum-global-color-celery-600: rgb(0, 145, 18);
  --spectrum-global-color-celery-700: rgb(0, 124, 15);
  --spectrum-global-color-chartreuse-400: rgb(152, 197, 10);
  --spectrum-global-color-chartreuse-500: rgb(135, 177, 3);
  --spectrum-global-color-chartreuse-600: rgb(118, 156, 0);
  --spectrum-global-color-chartreuse-700: rgb(103, 136, 0);
  --spectrum-global-color-yellow-400: rgb(232, 198, 0);
  --spectrum-global-color-yellow-500: rgb(215, 179, 0);
  --spectrum-global-color-yellow-600: rgb(196, 159, 0);
  --spectrum-global-color-yellow-700: rgb(176, 140, 0);
  --spectrum-global-color-magenta-400: rgb(222, 61, 130);
  --spectrum-global-color-magenta-500: rgb(200, 34, 105);
  --spectrum-global-color-magenta-600: rgb(173, 9, 85);
  --spectrum-global-color-magenta-700: rgb(142, 0, 69);
  --spectrum-global-color-fuchsia-400: rgb(205, 58, 206);
  --spectrum-global-color-fuchsia-500: rgb(182, 34, 183);
  --spectrum-global-color-fuchsia-600: rgb(157, 3, 158);
  --spectrum-global-color-fuchsia-700: rgb(128, 0, 129);
  --spectrum-global-color-purple-400: rgb(157, 87, 244);
  --spectrum-global-color-purple-500: rgb(137, 61, 231);
  --spectrum-global-color-purple-600: rgb(115, 38, 211);
  --spectrum-global-color-purple-700: rgb(93, 19, 183);
  --spectrum-global-color-indigo-400: rgb(104, 109, 244);
  --spectrum-global-color-indigo-500: rgb(82, 88, 228);
  --spectrum-global-color-indigo-600: rgb(64, 70, 202);
  --spectrum-global-color-indigo-700: rgb(50, 54, 168);
  --spectrum-global-color-seafoam-400: rgb(0, 161, 154);
  --spectrum-global-color-seafoam-500: rgb(0, 140, 135);
  --spectrum-global-color-seafoam-600: rgb(0, 119, 114);
  --spectrum-global-color-seafoam-700: rgb(0, 99, 95);
  --spectrum-global-color-red-400: rgb(234, 56, 41);
  --spectrum-global-color-red-500: rgb(211, 21, 16);
  --spectrum-global-color-red-600: rgb(180, 0, 0);
  --spectrum-global-color-red-700: rgb(147, 0, 0);
  --spectrum-global-color-orange-400: rgb(246, 133, 17);
  --spectrum-global-color-orange-500: rgb(228, 111, 0);
  --spectrum-global-color-orange-600: rgb(203, 93, 0);
  --spectrum-global-color-orange-700: rgb(177, 76, 0);
  --spectrum-global-color-green-400: rgb(0, 143, 93);
  --spectrum-global-color-green-500: rgb(0, 122, 77);
  --spectrum-global-color-green-600: rgb(0, 101, 62);
  --spectrum-global-color-green-700: rgb(0, 81, 50);
  --spectrum-global-color-blue-400: rgb(20, 122, 243);
  --spectrum-global-color-blue-500: rgb(2, 101, 220);
  --spectrum-global-color-blue-600: rgb(0, 84, 182);
  --spectrum-global-color-blue-700: rgb(0, 68, 145);
  --spectrum-global-color-gray-50: rgb(255, 255, 255);
  --spectrum-global-color-gray-75: rgb(253, 253, 253);
  --spectrum-global-color-gray-100: rgb(248, 248, 248);
  --spectrum-global-color-gray-200: rgb(230, 230, 230);
  --spectrum-global-color-gray-300: rgb(213, 213, 213);
  --spectrum-global-color-gray-400: rgb(177, 177, 177);
  --spectrum-global-color-gray-500: rgb(144, 144, 144);
  --spectrum-global-color-gray-600: rgb(109, 109, 109);
  --spectrum-global-color-gray-700: rgb(70, 70, 70);
  --spectrum-global-color-gray-800: rgb(34, 34, 34);
  --spectrum-global-color-gray-900: rgb(0, 0, 0);
  --spectrum-alias-background-color-modal-overlay: rgba(0,0,0,0.4);
  --spectrum-alias-dropshadow-color: rgba(0,0,0,0.15);
  --spectrum-alias-background-color-hover-overlay: rgba(0,0,0,0.04);
  --spectrum-alias-highlight-hover: rgba(0,0,0,0.06);
  --spectrum-alias-highlight-active: rgba(44,44,44,0.1);
  --spectrum-alias-highlight-selected: rgba(2,101,220,0.1);
  --spectrum-alias-highlight-selected-hover: rgba(2,101,220,0.2);
  --spectrum-alias-text-highlight-color: rgba(2,101,220,0.2);
  --spectrum-alias-background-color-quickactions: rgba(248,248,248,0.9);
  --spectrum-alias-radial-reaction-color-default: rgba(34,34,34,0.6);
  --spectrum-alias-pasteboard-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-alias-appframe-border-color: var(--spectrum-global-color-gray-300);
  --spectrum-alias-appframe-separator-color: var(--spectrum-global-color-gray-300);
  --spectrum-colorarea-border-color: rgba(44,44,44,0.1);
  --spectrum-colorarea-border-color-hover: rgba(44,44,44,0.1);
  --spectrum-colorarea-border-color-down: rgba(44,44,44,0.1);
  --spectrum-colorarea-border-color-key-focus: rgba(44,44,44,0.1);
  --spectrum-colorslider-border-color: rgba(44,44,44,0.1);
  --spectrum-colorslider-border-color-hover: rgba(44,44,44,0.1);
  --spectrum-colorslider-border-color-down: rgba(44,44,44,0.1);
  --spectrum-colorslider-border-color-key-focus: rgba(44,44,44,0.1);
  --spectrum-colorslider-vertical-border-color: rgba(44,44,44,0.1);
  --spectrum-colorslider-vertical-border-color-hover: rgba(44,44,44,0.1);
  --spectrum-colorslider-vertical-border-color-down: rgba(44,44,44,0.1);
  --spectrum-colorslider-vertical-border-color-key-focus: rgba(44,44,44,0.1);
  --spectrum-colorwheel-border-color: rgba(44,44,44,0.1);
  --spectrum-colorwheel-border-color-hover: rgba(44,44,44,0.1);
  --spectrum-colorwheel-border-color-down: rgba(44,44,44,0.1);
  --spectrum-colorwheel-border-color-key-focus: rgba(44,44,44,0.1);
  --spectrum-miller-column-item-background-color-selected: rgba(20,115,230,0.1);
  --spectrum-miller-column-item-background-color-selected-hover: rgba(20,115,230,0.2);
  --spectrum-tabs-compact-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-compact-vertical-rule-color: var(--spectrum-global-color-gray-200);
  --spectrum-tabs-compact-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-compact-vertical-emphasized-rule-color: var(--spectrum-global-color-gray-200);
  --spectrum-tabs-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-quiet-compact-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-quiet-compact-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-quiet-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-quiet-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-well-background-color: rgba(34,34,34,0.02);
  --spectrum-well-border-color: rgba(44,44,44,0.05);
  --spectrum-tray-background-color: var(--spectrum-global-color-gray-50);
  /* react spectrum additions */
  --react-spectrum-datepicker-placeholder-color: rgb(118, 118, 118); /* 4.54:1 contrast ratio */
}
