/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--dark {
  --spectrum-global-color-status: Verified;
  --spectrum-global-color-version: 5.1.0;
  --spectrum-global-color-celery-400: rgb(34, 184, 51);
  --spectrum-global-color-celery-500: rgb(68, 202, 73);
  --spectrum-global-color-celery-600: rgb(105, 220, 99);
  --spectrum-global-color-celery-700: rgb(142, 235, 127);
  --spectrum-global-color-chartreuse-400: rgb(148, 192, 8);
  --spectrum-global-color-chartreuse-500: rgb(166, 211, 18);
  --spectrum-global-color-chartreuse-600: rgb(184, 229, 37);
  --spectrum-global-color-chartreuse-700: rgb(205, 245, 71);
  --spectrum-global-color-yellow-400: rgb(228, 194, 0);
  --spectrum-global-color-yellow-500: rgb(244, 213, 0);
  --spectrum-global-color-yellow-600: rgb(249, 232, 92);
  --spectrum-global-color-yellow-700: rgb(252, 246, 187);
  --spectrum-global-color-magenta-400: rgb(222, 61, 130);
  --spectrum-global-color-magenta-500: rgb(237, 87, 149);
  --spectrum-global-color-magenta-600: rgb(249, 114, 167);
  --spectrum-global-color-magenta-700: rgb(255, 143, 185);
  --spectrum-global-color-fuchsia-400: rgb(205, 57, 206);
  --spectrum-global-color-fuchsia-500: rgb(223, 81, 224);
  --spectrum-global-color-fuchsia-600: rgb(235, 110, 236);
  --spectrum-global-color-fuchsia-700: rgb(244, 140, 242);
  --spectrum-global-color-purple-400: rgb(157, 87, 243);
  --spectrum-global-color-purple-500: rgb(172, 111, 249);
  --spectrum-global-color-purple-600: rgb(187, 135, 251);
  --spectrum-global-color-purple-700: rgb(202, 159, 252);
  --spectrum-global-color-indigo-400: rgb(104, 109, 244);
  --spectrum-global-color-indigo-500: rgb(124, 129, 251);
  --spectrum-global-color-indigo-600: rgb(145, 149, 255);
  --spectrum-global-color-indigo-700: rgb(167, 170, 255);
  --spectrum-global-color-seafoam-400: rgb(0, 158, 152);
  --spectrum-global-color-seafoam-500: rgb(3, 178, 171);
  --spectrum-global-color-seafoam-600: rgb(54, 197, 189);
  --spectrum-global-color-seafoam-700: rgb(93, 214, 207);
  --spectrum-global-color-red-400: rgb(234, 56, 41);
  --spectrum-global-color-red-500: rgb(246, 88, 67);
  --spectrum-global-color-red-600: rgb(255, 117, 94);
  --spectrum-global-color-red-700: rgb(255, 149, 129);
  --spectrum-global-color-orange-400: rgb(244, 129, 12);
  --spectrum-global-color-orange-500: rgb(254, 154, 46);
  --spectrum-global-color-orange-600: rgb(255, 181, 88);
  --spectrum-global-color-orange-700: rgb(253, 206, 136);
  --spectrum-global-color-green-400: rgb(18, 162, 108);
  --spectrum-global-color-green-500: rgb(43, 180, 125);
  --spectrum-global-color-green-600: rgb(67, 199, 143);
  --spectrum-global-color-green-700: rgb(94, 217, 162);
  --spectrum-global-color-blue-400: rgb(52, 143, 244);
  --spectrum-global-color-blue-500: rgb(84, 163, 246);
  --spectrum-global-color-blue-600: rgb(114, 183, 249);
  --spectrum-global-color-blue-700: rgb(143, 202, 252);
  --spectrum-global-color-gray-50: rgb(29, 29, 29);
  --spectrum-global-color-gray-75: rgb(38, 38, 38);
  --spectrum-global-color-gray-100: rgb(50, 50, 50);
  --spectrum-global-color-gray-200: rgb(63, 63, 63);
  --spectrum-global-color-gray-300: rgb(84, 84, 84);
  --spectrum-global-color-gray-400: rgb(112, 112, 112);
  --spectrum-global-color-gray-500: rgb(144, 144, 144);
  --spectrum-global-color-gray-600: rgb(178, 178, 178);
  --spectrum-global-color-gray-700: rgb(209, 209, 209);
  --spectrum-global-color-gray-800: rgb(235, 235, 235);
  --spectrum-global-color-gray-900: rgb(255, 255, 255);
  --spectrum-alias-background-color-modal-overlay: rgba(0,0,0,0.5);
  --spectrum-alias-dropshadow-color: rgba(0,0,0,0.5);
  --spectrum-alias-background-color-hover-overlay: rgba(255,255,255,0.06);
  --spectrum-alias-highlight-hover: rgba(255,255,255,0.07);
  --spectrum-alias-highlight-active: rgba(255,255,255,0.1);
  --spectrum-alias-highlight-selected: rgba(84,163,246,0.15);
  --spectrum-alias-highlight-selected-hover: rgba(84,163,246,0.25);
  --spectrum-alias-text-highlight-color: rgba(84,163,246,0.25);
  --spectrum-alias-background-color-quickactions: rgba(50,50,50,0.9);
  --spectrum-alias-radial-reaction-color-default: rgba(235,235,235,0.6);
  --spectrum-alias-pasteboard-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-alias-appframe-border-color: var(--spectrum-global-color-gray-50);
  --spectrum-alias-appframe-separator-color: var(--spectrum-global-color-gray-50);
  --spectrum-colorarea-border-color: rgba(255,255,255,0.1);
  --spectrum-colorarea-border-color-hover: rgba(255,255,255,0.1);
  --spectrum-colorarea-border-color-down: rgba(255,255,255,0.1);
  --spectrum-colorarea-border-color-key-focus: rgba(255,255,255,0.1);
  --spectrum-colorslider-border-color: rgba(255,255,255,0.1);
  --spectrum-colorslider-border-color-hover: rgba(255,255,255,0.1);
  --spectrum-colorslider-border-color-down: rgba(255,255,255,0.1);
  --spectrum-colorslider-border-color-key-focus: rgba(255,255,255,0.1);
  --spectrum-colorslider-vertical-border-color: rgba(255,255,255,0.1);
  --spectrum-colorslider-vertical-border-color-hover: rgba(255,255,255,0.1);
  --spectrum-colorslider-vertical-border-color-down: rgba(255,255,255,0.1);
  --spectrum-colorslider-vertical-border-color-key-focus: rgba(255,255,255,0.1);
  --spectrum-colorwheel-border-color: rgba(255,255,255,0.1);
  --spectrum-colorwheel-border-color-hover: rgba(255,255,255,0.1);
  --spectrum-colorwheel-border-color-down: rgba(255,255,255,0.1);
  --spectrum-colorwheel-border-color-key-focus: rgba(255,255,255,0.1);
  --spectrum-miller-column-item-background-color-selected: rgba(55,142,240,0.1);
  --spectrum-miller-column-item-background-color-selected-hover: rgba(55,142,240,0.2);
  --spectrum-tabs-compact-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-compact-vertical-rule-color: var(--spectrum-global-color-gray-200);
  --spectrum-tabs-compact-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-compact-vertical-emphasized-rule-color: var(--spectrum-global-color-gray-200);
  --spectrum-tabs-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-quiet-compact-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-quiet-compact-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-quiet-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tabs-quiet-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
  --spectrum-tray-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-well-background-color: rgba(235,235,235,0.02);
  --spectrum-well-border-color: rgba(255,255,255,0.05);
  /* react spectrum additions */
  --react-spectrum-datepicker-placeholder-color: var(--spectrum-global-color-gray-600); /* 4.8:1 contrast ratio */
}
