/* topdoc
{{ rule/rule.yml }}
*/
.spectrum-Rule {
  /* Show the overflow for hr in Edge and IE. */
  overflow: visible;

  border: none;
  border-width: var(--spectrum-rule-medium-height, 2px);
  border-radius: var(--spectrum-rule-medium-height, 2px);
}
.spectrum-Rule--large {
  height: var(--spectrum-rule-large-height, 4px);

  border-radius: var(--spectrum-rule-large-border-radius, 2px);
}
.spectrum-Rule--medium {
  height: var(--spectrum-rule-medium-height, 2px);

  border-radius: var(--spectrum-rule-medium-border-radius, 1px);
}
.spectrum-Rule--small {
  height: var(--spectrum-rule-small-height, 1px);

  border-radius: var(--spectrum-rule-small-border-radius, 1px);
}
.spectrum-Rule--large {
  background-color: var(--spectrum-rule-large-background-color, var(--spectrum-global-color-gray-800));
}
.spectrum-Rule--medium {
  background-color: var(--spectrum-rule-medium-background-color, var(--spectrum-global-color-gray-300));
}
.spectrum-Rule--small {
  background-color: var(--spectrum-rule-small-background-color, var(--spectrum-global-color-gray-300));
}
