@import '@spectrum/spectrum-css/dist/components/checkbox/index.css';
@import '@spectrum/spectrum-css/dist/components/checkbox/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/checkbox/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/checkbox/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/checkbox/multiStops/darkest.css';
