/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@require '../../commons'

$spectrum-popover-min-width = 150*$px;
$spectrum-popover-max-width = 654*$px; // max-width = 700 - 8 - 8 (borders)
$spectrum-popover-border-width = 1*$px;
$spectrum-popover-border-radius = $spectrum-border-radius;

$spectrum-popover-padding = 25*$px;
$spectrum-popover-content-top-padding = 2*$px; // Works nice with a <p>
$spectrum-popover-content-bottom-padding = 12*$px;

$spectrum-popover-header-font-size = 18*$px;
$spectrum-popover-header-height = 30*$px;

.coral3-Popover {
  display: block;

  box-sizing: border-box; // Let max-width and width include the border so we position nicely
  min-width: $spectrum-popover-min-width;
  max-width: $spectrum-popover-max-width;

  transition: opacity $spectrum-transition-time;
  text-align: left; // Don't be influenced by containers

  opacity: 0;
  border-width: $spectrum-popover-border-width;
  border-style: solid;
  border-radius: $spectrum-popover-border-radius;
  outline: none; // Hide focus outline around header
}

.coral3-Popover.is-open {
  opacity: 1;
}

.coral-Popover-header {
  height: $spectrum-popover-header-height;
  width: auto !important; // Override .spectrum-Dialog-header
  margin: $spectrum-popover-padding $spectrum-popover-padding 0 $spectrum-popover-padding;

  > .spectrum-Dialog-title {
    font-size: $spectrum-popover-header-font-size;
    line-height: 100%;

    overflow: visible;

    padding-right: 42*$px;
  }

  > .spectrum-Dialog-typeIcon {
    right: 0;
    left: inherit;
    top: -2*$px;
  }

  &::after {
    left: 0;
    right: 0;
  }

  > .spectrum-Dialog-closeButton {
    display: none;
  }
}

.coral-Popover-separator {
  height: $spectrum-popover-border-width;
  margin: 0 16*$px;
}

.coral3-Popover-content {
  // Make the content zone a block level element
  // This lets consumers apply top/bottom padding etc
  display: block;

  // Allow padding without breaking
  box-sizing: border-box;

  position: relative;

  // Inner border radius
  border-radius: 0;

  clearfix();

  // @todo CUI-5658 hack around broken margin bits
  // Use padding so floated buttons don't fall out
  &.u-coral-margin {
    margin: 0 !important;
    padding: $spectrum-popover-padding !important;
    padding-top: $spectrum-popover-content-top-padding !important;
    padding-bottom: $spectrum-popover-content-bottom-padding !important;
  }
  .u-coral-margin {
    margin: $spectrum-popover-padding !important;
  }
}

@require 'light.styl'
@require 'dark.styl'
