@import '@spectrum/spectrum-css/dist/components/popover/index.css';
@import '@spectrum/spectrum-css/dist/components/popover/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/popover/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/popover/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/popover/multiStops/darkest.css';

.spectrum-Popover {
  .spectrum-Dialog-content {
    max-height: initial;
  }
}
