@keyframes touch-animation {
  0%, 10% {
    opacity: 0;
  }

  20%, 30% {
    opacity: var(--hover-opacity);
  }

  40%, 50% {
    opacity: var(--pressed-opacity);
  }

  60%, 70% {
    opacity: var(--hover-opacity);
  }

  80%, 100% {
    opacity: 0;
  }
}

@keyframes mouse-animation {
  0% {
    translate: -50px 150px;
  }

  5%, 75% {
    translate: 0 0;
  }

  80%, 100% {
    translate: -50px 150px;
  }
}

@keyframes press-animation {
  0%, 45% {
    scale: 1;
  }

  50%, 55% {
    scale: 0.9;
  }

  60%, 100% {
    scale: 1;
  }
}
