@require '../../commons'

$spectrum-dialog-height = auto;
$spectrum-dialog-min-width = 320*$px;
$spectrum-dialog-max-width = 90%;
$spectrum-dialog-margin = 40*$px;

$spectrum-dialog-divider-height = 2*$px;

$spectrum-dialog-border-radius = $spectrum-border-radius;
$spectrum-dialog-header-font-size = 18*$px;
$spectrum-dialog-header-height = 30*$px;
$spectrum-dialog-padding = 25*$px;

$spectrum-dialog-closebutton-height = 18*$px;

// The full screen container in which the dialog resides
// Because of this contain, clicks will never fall though when a dialog is visible
spectrum-dialog() {
  position: fixed;
  top: 0;
  right: 0
  bottom: 0;
  left: 0;

  // Scroll vertically only
  display: none;
  overflow-x: hidden;
  overflow-y: auto;

  // Match the fade time of the backdrop
  transition: opacity $spectrum-transition-time;

  opacity: 0;
}

spectrum-dialog--open() {
  display: block;

  opacity: 1;
}

spectrum-dialog-header() {
  display: block;
}

spectrum-dialog-content() {
  display: block;
}

spectrum-dialog-footer() {
  display: block;
}

spectrum-dialog-wrapper() {
  display: block;

  min-width: $spectrum-dialog-min-width;
  max-width: $spectrum-dialog-max-width;
  margin: $spectrum-dialog-margin;
  padding: $spectrum-dialog-padding;

  border-radius: $spectrum-dialog-border-radius;
  outline: none; // Firefox shows outline
}

spectrum-dialog-header() {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: $spectrum-dialog-header-height;

  border-radius: $spectrum-dialog-border-radius $spectrum-dialog-border-radius 0 0;
  outline: none; // Hide focus outline around header

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: $spectrum-dialog-divider-height;

    content: '';
  }
}

spectrum-dialog-title() {
  font-size: $spectrum-dialog-header-font-size;
  line-height: 100%;

  overflow: visible;

  padding-left: 0;
  padding-right: 15*$px;

  margin: 0 !important; // Undo margin from heading rules

  outline: none; // Hide focus outline
}

spectrum-dialog-typeIcon() {
  position: absolute;
  right: 0;
  top: -2*$px;
}

spectrum-dialog-closeButton() {
  line-height: $spectrum-dialog-closebutton-height;

  position: absolute;
  top: 0;
  right: 0;

  display: none;

  width: $spectrum-dialog-closebutton-height;
  height: $spectrum-dialog-closebutton-height;
}

spectrum-dialog-content() {
  display: block;
  box-sizing: border-box;
  padding: 0;

  // Stop right there! The dialog's body should NOT scroll

  outline: none; // Hide focus outline
}

spectrum-dialog-footer() {
  &:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  border-radius: 0 0 $spectrum-dialog-border-radius $spectrum-dialog-border-radius;

  text-align: right; // right align buttons

  outline: none; // Hide focus outline
}

spectrum-dialog-footer-button() {
  margin: 16*$px 12*$px 0 0;

  &:last-child {
    margin-right: 0;
  }
}

spectrum-dialog--fullscreen-wrapper() {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;

  box-sizing: border-box;
  width: 100%; // Fit vertically
  min-width: 100%; // Fit vertically
  max-width: none;
  height: auto; // Variable height
  min-height: 100%; // Full screen height
  max-height: none;
  margin: 0;

  border: none; // Remove border
}

spectrum-dialog--fullscreen-header() {
  position: fixed; // Fixed so the header stays top even it scrolls.
  top: 0;
  right: $spectrum-dialog-padding;
  left: $spectrum-dialog-padding;

  box-sizing: content-box;
  width: auto;
  padding-top: $spectrum-dialog-padding;
}

spectrum-dialog--fullscreen-typeIcon() {
  top: $spectrum-dialog-padding - 2*$px;
}

spectrum-dialog--fullscreen-footer() {
  position: fixed; // Fixed so the footer stays bottom even it scrolls.
  right: $spectrum-dialog-padding;
  bottom: 0;
  left: $spectrum-dialog-padding;

  padding-top: ($spectrum-dialog-padding/2);
  padding-bottom: ($spectrum-dialog-padding/2); // looks better with half padding.
}

spectrum-dialog--fullscreen-footer() {
  // Fix a relatively nasty Chrome bug involving nested position: fixed elements
  // https://code.google.com/p/chromium/issues/detail?id=178651
  transform: translate3d(0,0,0);
}
spectrum-dialog--fullscreen-header() {
  // Fix a relatively nasty Chrome bug involving nested position: fixed elements
  // https://code.google.com/p/chromium/issues/detail?id=178651
  transform: translate3d(0,0,0);
}

spectrum-dialog--fullscreen-content() {
  padding-top: $spectrum-dialog-header-height;
}
