spectrum-dialog-wrapper() {
  background: $spectrum-color-background-dialog-default
}

spectrum-dialog-header() {
  background: $spectrum-color-background-dialog-default

  &:after {
    background: $spectrum-color-dialog-divider
  }
}

spectrum-dialog-title() {
  color: $spectrum-color-text-dialog-header-default
}

spectrum-dialog-typeIcon() {
  color: $spectrum-color-dialog-icon-default
}

spectrum-dialog-footer() {
  background: $spectrum-color-background-dialog-default
}

// success
spectrum-dialog-title--success() {
  color: $spectrum-color-text-dialog-header-success
}

spectrum-dialog-typeIcon--success() {
  color: $spectrum-color-dialog-icon-success
}

// info / help
spectrum-dialog-title--info() {
  color: $spectrum-color-text-dialog-header-info
}

spectrum-dialog-typeIcon--info() {
  color: $spectrum-color-dialog-icon-info
}

// warning
spectrum-dialog-title--warning() {
  color: $spectrum-color-text-dialog-header-warning
}

spectrum-dialog-typeIcon--warning() {
  color: $spectrum-color-dialog-icon-warning
}

// error
spectrum-dialog-title--error() {
  color: $spectrum-color-text-dialog-header-error
}

spectrum-dialog-typeIcon--error() {
  color: $spectrum-color-dialog-icon-error
}

// modal with underlay
spectrum-dialog--modal() {
  background: $spectrum-color-background-dialog-underlay
}

