/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@import '../../commons'
@import '@spectrum/spectrum-abstract-stylus/dist/components/wizard'

.coral-StepList {
  spectrum-wizard()
}

.coral-StepList--interactive {
  .coral-Step-label,
  .coral-Step-markerContainer {
    spectrum-wizardstep--interactive()
  }

  .coral-Step {
    // Step Hovered
    &:hover {
      .coral-Step-marker {
        spectrum-wizardstep-marker--is-complete()
      }
    }

    // Step Focused
    &:focus {
      .coral-Step-marker {
        spectrum-wizardstep-marker--is-complete()
      }
    }
  }
}


// Tooltips Style
.coral-StepList--small {
  spectrum-wizard--small()

  .coral-Step {
    .spectrum-wizardstep--small()

    // Disable Label
    .coral-Step-label {
      spectrum-wizardstep-label--small()
    }

    &:first-child, &:last-child {
      spectrum-wizardstep--small--edgechild()
    }

    // Disable first line
    &:first-child {
      .coral-Step-markerContainer {
        spectrum-wizardstep-markercontainer--small--firstchild()
      }
    }

    &:last-child {
      .coral-Step-markerContainer {
        spectrum-wizardstep-markercontainer--small--lastchild()
      }
    }
  }
}

// Lines Style after Complete
.coral-Step.is-complete + .coral-Step .coral-Step-line {
  spectrum-wizardstep-segment--solid()
}

.coral-Step {
  spectrum-wizardstep()

  // Completed State
  &.is-complete {
    .coral-Step-marker {
      spectrum-wizardstep-marker--is-complete()
    }
  }

  // Selected state
  &.is-selected {
    .coral-Step-marker {
      spectrum-wizardstep-marker--is-selected()
    }
  }

  // Focus state
  &.is-selected:focus {
    spectrum-wizardstep--is-selected--focus()
  }
}

.coral-Step-label {
  spectrum-wizardstep-label()
}

.coral-Step-markerContainer {
  spectrum-wizardstep-markercontainer()
}

// Circle step marker
.coral-Step-marker {
  spectrum-wizardstep-marker()
}

// The dashed line
.coral-Step-line {
  spectrum-wizardstep-segment()
  spectrum-wizardstep-segment--dashed()
}

// First step overrides
.coral-Step:first-child {
  .coral-Step-markerContainer {
    spectrum-wizardstep-markercontainer--firstchild()
  }

  .coral-Step-label {
    spectrum-wizardstep-label--firstchild()
  }

  .coral-Step-line {
    spectrum-wizardstep-segment--firstchild()
  }
}

// Last step overrides
.coral-Step:last-child {
  .coral-Step-markerContainer {
    spectrum-wizardstep-markercontainer--lastchild()
  }

  .coral-Step-label {
    spectrum-wizardstep-label--lastchild()
  }

  .coral-Step-line {
    spectrum-wizardstep-segment--lastchild()
  }
}

.coral-Step:first-child,
.coral-Step:last-child {
  spectrum-wizardstep--edgechild()
}

// Single step
.coral-Step:only-child {
  .coral-Step-label {
    spectrum-wizardstep-label--onlychild()
  }

  .coral-Step-markerContainer {
    spectrum-wizardstep-markercontainer--onlychild()
  }
}

// Previous items
.coral-Step.is-complete {
  // The next step's line should be solid
  & + .coral-Step .coral-Step-line {
    spectrum-wizardstep-segment--solid()
  }
}

@require 'light.styl'
@require 'dark.styl'
