/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-Table-headCell {
  color: var(--spectrum-table-header-text-color);
  background-color: var(--spectrum-alias-background-color-default);

  &.is-sortable {
    .spectrum-Table-sortedIcon {
      color: var(--spectrum-table-header-sort-icon-color);
    }

    &:hover {
      color: var(--spectrum-table-header-text-color-hover);

      .spectrum-Table-sortedIcon {
        color: var(--spectrum-table-header-sort-icon-color-hover);
      }
    }

    &:focus-ring,
    &.is-focused {
      color: var(--spectrum-table-header-text-color-key-focus);

      .spectrum-Table-sortedIcon {
        color: var(--spectrum-table-header-sort-icon-color-key-focus);
      }
    }

    &:active {
      color: var(--spectrum-table-header-text-color-down);

      .spectrum-Table-sortedIcon {
        color: var(--spectrum-table-header-sort-icon-color-down);
      }
    }
  }
}

/* Helper for shared drop target overlay */
%drop-target {
  border-color: var(--spectrum-alias-border-color-focus);
  box-shadow: 0 0 0 1px var(--spectrum-alias-border-color-focus);

  &::before {
    background-color: var(--spectrum-alias-highlight-selected);
  }
}

.spectrum-Table-cell,
.spectrum-Table-headCell {
  &:focus-ring,
  &.is-focused {
    &::before {
      box-shadow: inset 0 0 0 2px var(--spectrum-table-cell-border-color-key-focus);
    }
  }
}

.spectrum-Table-body {
  border-style: solid;
  border-color: var(--spectrum-table-border-color);
  background-color: var(--spectrum-table-background-color);

  &.is-drop-target {
    border-color: var(--spectrum-alias-border-color-focus);
    box-shadow: 0 0 0 1px var(--spectrum-alias-border-color-focus);

    &::before {
      background-color: var(--spectrum-alias-highlight-selected);
    }
  }
}

/* The tbody tag doesn't allow setting a border-radius, so these hacks are to make that work
   by putting the border on the individual cells instead. */
tbody.spectrum-Table-body {
  border: none;

  .spectrum-Table-row {
    border-top: none;
  }

  .spectrum-Table-cell {
    border-top: 1px solid var(--spectrum-table-cell-border-color);
  }

  .spectrum-Table-row .spectrum-Table-cell:first-child {
    border-left: 1px solid var(--spectrum-table-cell-border-color);
  }

  .spectrum-Table-row .spectrum-Table-cell:last-child {
    border-right: 1px solid var(--spectrum-table-cell-border-color);
  }

  .spectrum-Table-row:last-child .spectrum-Table-cell {
    border-bottom: 1px solid var(--spectrum-table-cell-border-color);
  }
}

.spectrum-Table-row {
  border-bottom: 1px solid var(--spectrum-table-cell-border-color);
  box-sizing: border-box;

  .spectrum-Table-cellWrapper {
    /* Add an opaque background so that the transparent background
     * on the cell doesn't allow other cells to show through sticky cells. */
    background-color: var(--spectrum-table-background-color);
  }

  /* We apply background color to the cell rather than the row so that
   * cells can overlap (e.g. sticky row headers). */
  &:hover .spectrum-Table-cell {
    background-color: var(--spectrum-table-row-background-color-hover);
  }

  &:focus-ring .spectrum-Table-cell,
  &.is-focused .spectrum-Table-cell {
    background-color: var(--spectrum-table-row-background-color-hover);
  }

  &:focus-ring {
    &:before {
      background: var(--spectrum-selectlist-option-focus-indicator-color);
    }
  }

  &:active .spectrum-Table-cell:not(.is-disabled) {
    background-color: var(--spectrum-table-row-background-color-down);
  }

  &.is-selected {
    .spectrum-Table-cell {
      background-color: var(--spectrum-table-row-background-color-selected);
    }

    &:hover .spectrum-Table-cell {
      background-color: var(--spectrum-table-row-background-color-selected-hover);
    }

    &:focus-ring .spectrum-Table-cell,
    &.is-focused .spectrum-Table-cell {
      background-color: var(--spectrum-table-row-background-color-selected-key-focus);
    }
  }

  &.is-drop-target {
    &::before {
      box-shadow: inset 0 0 0 2px var(--spectrum-alias-border-color-focus);
      background-color: var(--spectrum-alias-highlight-selected);
    }
  }
}

.spectrum-Table-cell {
  color: var(--spectrum-table-cell-text-color);
  background-color: var(--spectrum-table-cell-background-color);
}

.spectrum-Table-cell--divider {
  border-inline-end-style: solid;
  border-inline-end-color: var(--spectrum-table-divider-border-color);
}

.spectrum-Table--quiet {
  .spectrum-Table-body {
    border-width: 1px 0;
    background-color: var(--spectrum-table-quiet-cell-background-color);

    &.is-drop-target {
      box-shadow: none;
      border-color: transparent;

      &::before {
        box-shadow: inset 0 0 0 2px var(--spectrum-alias-border-color-focus);
      }
    }
  }

  .spectrum-Table-row {
    .spectrum-Table-cellWrapper {
      background-color: var(--spectrum-alias-background-color-default);
    }

    &:hover .spectrum-Table-cell {
      background-color: var(--spectrum-table-quiet-row-background-color-hover);
    }

    &:focus-ring .spectrum-Table-cell,
    &.is-focused .spectrum-Table-cell {
      background-color: var(--spectrum-table-quiet-row-background-color-hover);
    }

    &:active .spectrum-Table-cell:not(.is-disabled) {
      background-color: var(--spectrum-table-quiet-row-background-color-down);
    }

    &.is-selected {
      .spectrum-Table-cell {
        background-color: var(--spectrum-table-quiet-row-background-color-selected);
      }

      &:hover .spectrum-Table-cell {
        background-color: var(--spectrum-table-quiet-row-background-color-selected-hover);
      }

      &:focus-ring .spectrum-Table-cell,
      &.is-focused .spectrum-Table-cell {
        background-color: var(--spectrum-table-quiet-row-background-color-selected-key-focus);
      }
    }
  }

  tbody.spectrum-Table-body {
    .spectrum-Table-row .spectrum-Table-cell:first-child,
    .spectrum-Table-row .spectrum-Table-cell:last-child {
      border-left: none;
      border-right: none;
    }
  }
}
