.spectrum {
    --spectrum-accent-100: var(--spectrum-blue-100);
    --spectrum-accent-1000: var(--spectrum-blue-1000);
    --spectrum-accent-1100: var(--spectrum-blue-1100);
    --spectrum-accent-1200: var(--spectrum-blue-1200);
    --spectrum-accent-1300: var(--spectrum-blue-1300);
    --spectrum-accent-1400: var(--spectrum-blue-1400);
    --spectrum-accent-1500: var(--spectrum-blue-1500);
    --spectrum-accent-1600: var(--spectrum-blue-1600);
    --spectrum-accent-200: var(--spectrum-blue-200);
    --spectrum-accent-300: var(--spectrum-blue-300);
    --spectrum-accent-400: var(--spectrum-blue-400);
    --spectrum-accent-500: var(--spectrum-blue-500);
    --spectrum-accent-600: var(--spectrum-blue-600);
    --spectrum-accent-700: var(--spectrum-blue-700);
    --spectrum-accent-800: var(--spectrum-blue-800);
    --spectrum-accent-900: var(--spectrum-blue-900);
    --spectrum-accent-background-color-default: var(--spectrum-accent-600);
    --spectrum-accent-background-color-down: var(--spectrum-accent-500);
    --spectrum-accent-background-color-hover: var(--spectrum-accent-500);
    --spectrum-accent-background-color-key-focus: var(--spectrum-accent-500);
    --spectrum-accent-content-color-default: var(--spectrum-accent-content-color-down);
    --spectrum-accent-content-color-down: var(--spectrum-accent-1000);
    --spectrum-accent-content-color-hover: var(--spectrum-accent-1000);
    --spectrum-accent-content-color-key-focus: var(--spectrum-accent-1000);
    --spectrum-accent-visual-color: var(--spectrum-accent-900);
    --spectrum-app-frame-background-color-default: var(--spectrum-gray-25);
    --spectrum-black: rgb(0, 0, 0);
    --spectrum-blue-100: rgb(14, 23, 63);
    --spectrum-blue-1000: rgb(102, 146, 254);
    --spectrum-blue-1100: rgb(124, 169, 252);
    --spectrum-blue-1200: rgb(152, 192, 252);
    --spectrum-blue-1300: rgb(181, 213, 253);
    --spectrum-blue-1400: rgb(213, 231, 254);
    --spectrum-blue-1500: rgb(238, 245, 255);
    --spectrum-blue-1600: rgb(255, 255, 255);
    --spectrum-blue-200: rgb(15, 27, 77);
    --spectrum-blue-300: rgb(13, 34, 119);
    --spectrum-blue-400: rgb(17, 42, 144);
    --spectrum-blue-500: rgb(22, 52, 179);
    --spectrum-blue-600: rgb(29, 63, 209);
    --spectrum-blue-700: rgb(40, 78, 236);
    --spectrum-blue-800: rgb(56, 96, 250);
    --spectrum-blue-900: rgb(77, 120, 255);
    --spectrum-blue-background-color-default: var(--spectrum-blue-700);
    --spectrum-blue-visual-color: var(--spectrum-blue-900);
    --spectrum-celery-100: rgb(11, 31, 0);
    --spectrum-celery-1000: rgb(87, 169, 27);
    --spectrum-celery-1100: rgb(100, 190, 35);
    --spectrum-celery-1200: rgb(116, 213, 46);
    --spectrum-celery-1300: rgb(136, 234, 65);
    --spectrum-celery-1400: rgb(170, 251, 112);
    --spectrum-celery-1500: rgb(222, 255, 198);
    --spectrum-celery-1600: rgb(255, 255, 255);
    --spectrum-celery-200: rgb(14, 37, 0);
    --spectrum-celery-300: rgb(21, 51, 1);
    --spectrum-celery-400: rgb(28, 63, 3);
    --spectrum-celery-500: rgb(36, 78, 6);
    --spectrum-celery-600: rgb(44, 93, 9);
    --spectrum-celery-700: rgb(53, 110, 12);
    --spectrum-celery-800: rgb(62, 126, 16);
    --spectrum-celery-900: rgb(73, 146, 21);
    --spectrum-celery-background-color-default: var(--spectrum-celery-800);
    --spectrum-celery-visual-color: var(--spectrum-celery-800);
    --spectrum-chartreuse-100: rgb(23, 28, 0);
    --spectrum-chartreuse-1000: rgb(134, 161, 0);
    --spectrum-chartreuse-1100: rgb(151, 181, 0);
    --spectrum-chartreuse-1200: rgb(169, 203, 0);
    --spectrum-chartreuse-1300: rgb(187, 225, 0);
    --spectrum-chartreuse-1400: rgb(219, 240, 117);
    --spectrum-chartreuse-1500: rgb(242, 249, 206);
    --spectrum-chartreuse-1600: rgb(255, 255, 255);
    --spectrum-chartreuse-200: rgb(29, 35, 0);
    --spectrum-chartreuse-300: rgb(40, 48, 0);
    --spectrum-chartreuse-400: rgb(50, 59, 0);
    --spectrum-chartreuse-500: rgb(62, 74, 0);
    --spectrum-chartreuse-600: rgb(74, 88, 0);
    --spectrum-chartreuse-700: rgb(87, 104, 0);
    --spectrum-chartreuse-800: rgb(100, 120, 0);
    --spectrum-chartreuse-900: rgb(116, 139, 0);
    --spectrum-chartreuse-background-color-default: var(--spectrum-chartreuse-900);
    --spectrum-chartreuse-visual-color: var(--spectrum-chartreuse-900);
    --spectrum-cyan-100: rgb(0, 29, 39);
    --spectrum-cyan-1000: rgb(36, 156, 242);
    --spectrum-cyan-1100: rgb(63, 177, 255);
    --spectrum-cyan-1200: rgb(107, 199, 255);
    --spectrum-cyan-1300: rgb(152, 219, 255);
    --spectrum-cyan-1400: rgb(195, 236, 252);
    --spectrum-cyan-1500: rgb(230, 248, 253);
    --spectrum-cyan-1600: rgb(255, 255, 255);
    --spectrum-cyan-200: rgb(0, 36, 49);
    --spectrum-cyan-300: rgb(0, 48, 65);
    --spectrum-cyan-400: rgb(0, 60, 82);
    --spectrum-cyan-500: rgb(0, 74, 101);
    --spectrum-cyan-600: rgb(0, 88, 123);
    --spectrum-cyan-700: rgb(4, 104, 147);
    --spectrum-cyan-800: rgb(10, 118, 175);
    --spectrum-cyan-900: rgb(19, 136, 207);
    --spectrum-cyan-background-color-default: var(--spectrum-cyan-700);
    --spectrum-cyan-visual-color: var(--spectrum-cyan-900);
    --spectrum-default-focus-indicator-color: var(--spectrum-blue-800);
    --spectrum-disabled-background-color-default: var(--spectrum-transparent-black-100);
    --spectrum-disabled-border-color-default: var(--spectrum-transparent-black-300);
    --spectrum-disabled-content-color-default: var(--spectrum-transparent-white-400);
    --spectrum-drop-shadow-color: rgba(0, 0, 0, 0.8);
    --spectrum-fuchsia-100: rgb(54, 0, 53);
    --spectrum-fuchsia-1000: rgb(245, 76, 234);
    --spectrum-fuchsia-1100: rgb(255, 112, 249);
    --spectrum-fuchsia-1200: rgb(255, 154, 253);
    --spectrum-fuchsia-1300: rgb(255, 188, 254);
    --spectrum-fuchsia-1400: rgb(255, 218, 254);
    --spectrum-fuchsia-1500: rgb(255, 240, 255);
    --spectrum-fuchsia-1600: rgb(255, 255, 255);
    --spectrum-fuchsia-200: rgb(65, 0, 64);
    --spectrum-fuchsia-300: rgb(84, 0, 82);
    --spectrum-fuchsia-400: rgb(103, 2, 99);
    --spectrum-fuchsia-500: rgb(124, 11, 119);
    --spectrum-fuchsia-600: rgb(145, 22, 138);
    --spectrum-fuchsia-700: rgb(168, 35, 158);
    --spectrum-fuchsia-800: rgb(189, 48, 177);
    --spectrum-fuchsia-900: rgb(214, 64, 201);
    --spectrum-fuchsia-background-color-default: var(--spectrum-fuchsia-700);
    --spectrum-fuchsia-visual-color: var(--spectrum-fuchsia-900);
    --spectrum-gray-100: rgb(44, 44, 44);
    --spectrum-gray-1000: rgb(255, 255, 255);
    --spectrum-gray-200: rgb(50, 50, 50);
    --spectrum-gray-25: rgb(17, 17, 17);
    --spectrum-gray-300: rgb(57, 57, 57);
    --spectrum-gray-400: rgb(68, 68, 68);
    --spectrum-gray-50: rgb(27, 27, 27);
    --spectrum-gray-500: rgb(109, 109, 109);
    --spectrum-gray-600: rgb(138, 138, 138);
    --spectrum-gray-700: rgb(175, 175, 175);
    --spectrum-gray-75: rgb(34, 34, 34);
    --spectrum-gray-800: rgb(219, 219, 219);
    --spectrum-gray-900: rgb(242, 242, 242);
    --spectrum-gray-background-color-default: var(--spectrum-gray-700);
    --spectrum-gray-visual-color: var(--spectrum-gray-600);
    --spectrum-green-100: rgb(0, 31, 23);
    --spectrum-green-1000: rgb(13, 172, 97);
    --spectrum-green-1100: rgb(24, 193, 110);
    --spectrum-green-1200: rgb(57, 215, 134);
    --spectrum-green-1300: rgb(126, 231, 172);
    --spectrum-green-1400: rgb(189, 241, 208);
    --spectrum-green-1500: rgb(229, 250, 236);
    --spectrum-green-1600: rgb(255, 255, 255);
    --spectrum-green-200: rgb(0, 38, 28);
    --spectrum-green-300: rgb(0, 52, 38);
    --spectrum-green-400: rgb(0, 64, 45);
    --spectrum-green-500: rgb(1, 79, 53);
    --spectrum-green-600: rgb(2, 95, 61);
    --spectrum-green-700: rgb(3, 112, 69);
    --spectrum-green-800: rgb(5, 128, 76);
    --spectrum-green-900: rgb(8, 149, 85);
    --spectrum-green-background-color-default: var(--spectrum-green-700);
    --spectrum-green-visual-color: var(--spectrum-green-800);
    --spectrum-icon-color-background: var(--spectrum-gray-50);
    --spectrum-icon-color-blue: var(--spectrum-blue-800);
    --spectrum-icon-color-fill-primary: var(--spectrum-neutral-content-color-default);
    --spectrum-icon-color-green: var(--spectrum-green-800);
    --spectrum-icon-color-red: var(--spectrum-red-700);
    --spectrum-icon-color-yellow: var(--spectrum-yellow-1000);
    --spectrum-indigo-100: rgb(30, 0, 93);
    --spectrum-indigo-1000: rgb(137, 137, 254);
    --spectrum-indigo-1100: rgb(153, 161, 255);
    --spectrum-indigo-1200: rgb(176, 186, 255);
    --spectrum-indigo-1300: rgb(199, 208, 255);
    --spectrum-indigo-1400: rgb(223, 228, 255);
    --spectrum-indigo-1500: rgb(243, 244, 255);
    --spectrum-indigo-1600: rgb(255, 255, 255);
    --spectrum-indigo-200: rgb(35, 0, 110);
    --spectrum-indigo-300: rgb(47, 1, 141);
    --spectrum-indigo-400: rgb(58, 8, 165);
    --spectrum-indigo-500: rgb(72, 21, 195);
    --spectrum-indigo-600: rgb(85, 38, 220);
    --spectrum-indigo-700: rgb(100, 58, 240);
    --spectrum-indigo-800: rgb(112, 81, 249);
    --spectrum-indigo-900: rgb(123, 109, 253);
    --spectrum-indigo-background-color-default: var(--spectrum-indigo-700);
    --spectrum-indigo-visual-color: var(--spectrum-indigo-900);
    --spectrum-informative-100: var(--spectrum-blue-100);
    --spectrum-informative-1000: var(--spectrum-blue-1000);
    --spectrum-informative-1100: var(--spectrum-blue-1100);
    --spectrum-informative-1200: var(--spectrum-blue-1200);
    --spectrum-informative-1300: var(--spectrum-blue-1300);
    --spectrum-informative-1400: var(--spectrum-blue-1400);
    --spectrum-informative-1500: var(--spectrum-blue-1500);
    --spectrum-informative-1600: var(--spectrum-blue-1600);
    --spectrum-informative-200: var(--spectrum-blue-200);
    --spectrum-informative-300: var(--spectrum-blue-300);
    --spectrum-informative-400: var(--spectrum-blue-400);
    --spectrum-informative-500: var(--spectrum-blue-500);
    --spectrum-informative-600: var(--spectrum-blue-600);
    --spectrum-informative-700: var(--spectrum-blue-700);
    --spectrum-informative-800: var(--spectrum-blue-800);
    --spectrum-informative-900: var(--spectrum-blue-900);
    --spectrum-informative-background-color-default: var(--spectrum-informative-600);
    --spectrum-informative-background-color-down: var(--spectrum-informative-500);
    --spectrum-informative-background-color-hover: var(--spectrum-informative-500);
    --spectrum-informative-background-color-key-focus: var(--spectrum-informative-500);
    --spectrum-informative-visual-color: var(--spectrum-informative-900);
    --spectrum-magenta-100: rgb(61, 0, 21);
    --spectrum-magenta-1000: rgb(255, 89, 147);
    --spectrum-magenta-1100: rgb(255, 128, 173);
    --spectrum-magenta-1200: rgb(255, 163, 196);
    --spectrum-magenta-1300: rgb(255, 193, 215);
    --spectrum-magenta-1400: rgb(255, 220, 233);
    --spectrum-magenta-1500: rgb(255, 241, 246);
    --spectrum-magenta-1600: rgb(255, 255, 255);
    --spectrum-magenta-200: rgb(73, 0, 25);
    --spectrum-magenta-300: rgb(94, 0, 33);
    --spectrum-magenta-400: rgb(115, 0, 41);
    --spectrum-magenta-500: rgb(141, 1, 52);
    --spectrum-magenta-600: rgb(165, 5, 63);
    --spectrum-magenta-700: rgb(192, 10, 74);
    --spectrum-magenta-800: rgb(219, 18, 87);
    --spectrum-magenta-900: rgb(247, 38, 108);
    --spectrum-magenta-background-color-default: var(--spectrum-magenta-700);
    --spectrum-magenta-visual-color: var(--spectrum-magenta-900);
    --spectrum-negative-100: var(--spectrum-red-100);
    --spectrum-negative-1000: var(--spectrum-red-1000);
    --spectrum-negative-1100: var(--spectrum-red-1100);
    --spectrum-negative-1200: var(--spectrum-red-1200);
    --spectrum-negative-1300: var(--spectrum-red-1300);
    --spectrum-negative-1400: var(--spectrum-red-1400);
    --spectrum-negative-1500: var(--spectrum-red-1500);
    --spectrum-negative-1600: var(--spectrum-red-1600);
    --spectrum-negative-200: var(--spectrum-red-200);
    --spectrum-negative-300: var(--spectrum-red-300);
    --spectrum-negative-400: var(--spectrum-red-400);
    --spectrum-negative-500: var(--spectrum-red-500);
    --spectrum-negative-600: var(--spectrum-red-600);
    --spectrum-negative-700: var(--spectrum-red-700);
    --spectrum-negative-800: var(--spectrum-red-800);
    --spectrum-negative-900: var(--spectrum-red-900);
    --spectrum-negative-background-color-default: var(--spectrum-negative-600);
    --spectrum-negative-background-color-down: var(--spectrum-negative-500);
    --spectrum-negative-background-color-hover: var(--spectrum-negative-500);
    --spectrum-negative-background-color-key-focus: var(--spectrum-negative-500);
    --spectrum-negative-border-color-default: var(--spectrum-negative-900);
    --spectrum-negative-border-color-down: var(--spectrum-negative-1100);
    --spectrum-negative-border-color-hover: var(--spectrum-negative-1000);
    --spectrum-negative-border-color-key-focus: var(--spectrum-negative-1000);
    --spectrum-negative-content-color-default: var(--spectrum-negative-900);
    --spectrum-negative-content-color-down: var(--spectrum-negative-1000);
    --spectrum-negative-content-color-hover: var(--spectrum-negative-1000);
    --spectrum-negative-content-color-key-focus: var(--spectrum-negative-1000);
    --spectrum-negative-visual-color: var(--spectrum-negative-700);
    --spectrum-neutral-background-color-default: var(--spectrum-gray-800);
    --spectrum-neutral-background-color-down: var(--spectrum-gray-900);
    --spectrum-neutral-background-color-hover: var(--spectrum-gray-900);
    --spectrum-neutral-background-color-key-focus: var(--spectrum-gray-900);
    --spectrum-neutral-content-color-default: var(--spectrum-neutral-content-color-down);
    --spectrum-neutral-content-color-down: var(--spectrum-gray-900);
    --spectrum-neutral-content-color-hover: var(--spectrum-gray-900);
    --spectrum-neutral-content-color-key-focus: var(--spectrum-gray-900);
    --spectrum-neutral-selected-background-color-default: var(--spectrum-gray-800);
    --spectrum-neutral-selected-background-color-down: var(--spectrum-gray-900);
    --spectrum-neutral-selected-background-color-hover: var(--spectrum-gray-900);
    --spectrum-neutral-selected-background-color-key-focus: var(--spectrum-gray-900);
    --spectrum-neutral-subdued-background-color-default: var(--spectrum-gray-400);
    --spectrum-neutral-subdued-background-color-down: var(--spectrum-gray-300);
    --spectrum-neutral-subdued-background-color-hover: var(--spectrum-gray-300);
    --spectrum-neutral-subdued-background-color-key-focus: var(--spectrum-gray-300);
    --spectrum-neutral-subdued-content-color-default: var(--spectrum-gray-700);
    --spectrum-neutral-subdued-content-color-down: var(--spectrum-gray-800);
    --spectrum-neutral-subdued-content-color-hover: var(--spectrum-gray-800);
    --spectrum-neutral-subdued-content-color-key-focus: var(--spectrum-gray-800);
    --spectrum-neutral-visual-color: var(--spectrum-gray-600);
    --spectrum-notice-100: var(--spectrum-orange-100);
    --spectrum-notice-1000: var(--spectrum-orange-1000);
    --spectrum-notice-1100: var(--spectrum-orange-1100);
    --spectrum-notice-1200: var(--spectrum-orange-1200);
    --spectrum-notice-1300: var(--spectrum-orange-1300);
    --spectrum-notice-1400: var(--spectrum-orange-1400);
    --spectrum-notice-1500: var(--spectrum-orange-1500);
    --spectrum-notice-1600: var(--spectrum-orange-1600);
    --spectrum-notice-200: var(--spectrum-orange-200);
    --spectrum-notice-300: var(--spectrum-orange-300);
    --spectrum-notice-400: var(--spectrum-orange-400);
    --spectrum-notice-500: var(--spectrum-orange-500);
    --spectrum-notice-600: var(--spectrum-orange-600);
    --spectrum-notice-700: var(--spectrum-orange-700);
    --spectrum-notice-800: var(--spectrum-orange-800);
    --spectrum-notice-900: var(--spectrum-orange-900);
    --spectrum-notice-background-color-default: var(--spectrum-notice-800);
    --spectrum-notice-visual-color: var(--spectrum-notice-900);
    --spectrum-orange-100: rgb(49, 16, 0);
    --spectrum-orange-1000: rgb(240, 114, 0);
    --spectrum-orange-1100: rgb(255, 137, 0);
    --spectrum-orange-1200: rgb(255, 173, 45);
    --spectrum-orange-1300: rgb(255, 201, 116);
    --spectrum-orange-1400: rgb(255, 225, 178);
    --spectrum-orange-1500: rgb(255, 243, 225);
    --spectrum-orange-1600: rgb(255, 255, 255);
    --spectrum-orange-200: rgb(59, 20, 0);
    --spectrum-orange-300: rgb(80, 27, 0);
    --spectrum-orange-400: rgb(99, 34, 0);
    --spectrum-orange-500: rgb(122, 42, 0);
    --spectrum-orange-600: rgb(145, 52, 0);
    --spectrum-orange-700: rgb(169, 63, 0);
    --spectrum-orange-800: rgb(190, 76, 0);
    --spectrum-orange-900: rgb(214, 93, 0);
    --spectrum-orange-background-color-default: var(--spectrum-orange-800);
    --spectrum-orange-visual-color: var(--spectrum-orange-900);
    --spectrum-overlay-color: var(--spectrum-black);
    --spectrum-positive-100: var(--spectrum-green-100);
    --spectrum-positive-1000: var(--spectrum-green-1000);
    --spectrum-positive-1100: var(--spectrum-green-1100);
    --spectrum-positive-1200: var(--spectrum-green-1200);
    --spectrum-positive-1300: var(--spectrum-green-1300);
    --spectrum-positive-1400: var(--spectrum-green-1400);
    --spectrum-positive-1500: var(--spectrum-green-1500);
    --spectrum-positive-1600: var(--spectrum-green-1600);
    --spectrum-positive-200: var(--spectrum-green-200);
    --spectrum-positive-300: var(--spectrum-green-300);
    --spectrum-positive-400: var(--spectrum-green-400);
    --spectrum-positive-500: var(--spectrum-green-500);
    --spectrum-positive-600: var(--spectrum-green-600);
    --spectrum-positive-700: var(--spectrum-green-700);
    --spectrum-positive-800: var(--spectrum-green-800);
    --spectrum-positive-900: var(--spectrum-green-900);
    --spectrum-positive-background-color-default: var(--spectrum-positive-600);
    --spectrum-positive-background-color-down: var(--spectrum-positive-500);
    --spectrum-positive-background-color-hover: var(--spectrum-positive-500);
    --spectrum-positive-background-color-key-focus: var(--spectrum-positive-500);
    --spectrum-positive-visual-color: var(--spectrum-positive-800);
    --spectrum-purple-100: rgb(41, 0, 79);
    --spectrum-purple-1000: rgb(183, 123, 236);
    --spectrum-purple-1100: rgb(197, 149, 240);
    --spectrum-purple-1200: rgb(212, 176, 244);
    --spectrum-purple-1300: rgb(225, 201, 247);
    --spectrum-purple-1400: rgb(238, 224, 250);
    --spectrum-purple-1500: rgb(248, 243, 253);
    --spectrum-purple-1600: rgb(255, 255, 255);
    --spectrum-purple-200: rgb(50, 0, 96);
    --spectrum-purple-300: rgb(64, 0, 122);
    --spectrum-purple-400: rgb(78, 0, 151);
    --spectrum-purple-500: rgb(96, 0, 182);
    --spectrum-purple-600: rgb(116, 15, 205);
    --spectrum-purple-700: rgb(136, 42, 218);
    --spectrum-purple-800: rgb(151, 68, 225);
    --spectrum-purple-900: rgb(167, 95, 231);
    --spectrum-purple-background-color-default: var(--spectrum-purple-700);
    --spectrum-purple-visual-color: var(--spectrum-purple-900);
    --spectrum-red-100: rgb(54, 10, 3);
    --spectrum-red-1000: rgb(255, 98, 79);
    --spectrum-red-1100: rgb(255, 134, 120);
    --spectrum-red-1200: rgb(255, 167, 157);
    --spectrum-red-1300: rgb(255, 196, 189);
    --spectrum-red-1400: rgb(255, 222, 219);
    --spectrum-red-1500: rgb(255, 242, 240);
    --spectrum-red-1600: rgb(255, 255, 255);
    --spectrum-red-200: rgb(67, 13, 5);
    --spectrum-red-300: rgb(89, 18, 7);
    --spectrum-red-400: rgb(109, 22, 10);
    --spectrum-red-500: rgb(134, 28, 15);
    --spectrum-red-600: rgb(158, 34, 19);
    --spectrum-red-700: rgb(185, 41, 24);
    --spectrum-red-800: rgb(212, 48, 31);
    --spectrum-red-900: rgb(243, 57, 36);
    --spectrum-red-background-color-default: var(--spectrum-red-700);
    --spectrum-red-visual-color: var(--spectrum-red-700);
    --spectrum-seafoam-100: rgb(0, 29, 32);
    --spectrum-seafoam-1000: rgb(36, 166, 171);
    --spectrum-seafoam-1100: rgb(46, 186, 192);
    --spectrum-seafoam-1200: rgb(62, 209, 214);
    --spectrum-seafoam-1300: rgb(94, 229, 234);
    --spectrum-seafoam-1400: rgb(170, 242, 245);
    --spectrum-seafoam-1500: rgb(219, 251, 252);
    --spectrum-seafoam-1600: rgb(255, 255, 255);
    --spectrum-seafoam-200: rgb(0, 37, 40);
    --spectrum-seafoam-300: rgb(0, 50, 53);
    --spectrum-seafoam-400: rgb(0, 62, 66);
    --spectrum-seafoam-500: rgb(4, 77, 81);
    --spectrum-seafoam-600: rgb(8, 91, 96);
    --spectrum-seafoam-700: rgb(13, 108, 113);
    --spectrum-seafoam-800: rgb(19, 124, 129);
    --spectrum-seafoam-900: rgb(26, 143, 148);
    --spectrum-seafoam-background-color-default: var(--spectrum-seafoam-700);
    --spectrum-seafoam-visual-color: var(--spectrum-seafoam-800);
    --spectrum-static-black-focus-indicator-color: var(--spectrum-black);
    --spectrum-static-white-focus-indicator-color: var(--spectrum-white);
    --spectrum-transparent-black-100: rgba(0, 0, 0, 0.09);
    --spectrum-transparent-black-1000: rgb(0, 0, 0);
    --spectrum-transparent-black-200: rgba(0, 0, 0, 0.12);
    --spectrum-transparent-black-25: rgba(0, 0, 0, 0.);
    --spectrum-transparent-black-300: rgba(0, 0, 0, 0.15);
    --spectrum-transparent-black-400: rgba(0, 0, 0, 0.22);
    --spectrum-transparent-black-50: rgba(0, 0, 0, 0.03);
    --spectrum-transparent-black-500: rgba(0, 0, 0, 0.44);
    --spectrum-transparent-black-600: rgba(0, 0, 0, 0.56);
    --spectrum-transparent-black-700: rgba(0, 0, 0, 0.69);
    --spectrum-transparent-black-75: rgba(0, 0, 0, 0.05);
    --spectrum-transparent-black-800: rgba(0, 0, 0, 0.84);
    --spectrum-transparent-black-900: rgba(0, 0, 0, 0.93);
    --spectrum-transparent-white-100: rgba(255, 255, 255, 0.11);
    --spectrum-transparent-white-1000: rgb(255, 255, 255);
    --spectrum-transparent-white-200: rgba(255, 255, 255, 0.14);
    --spectrum-transparent-white-25: rgba(255, 255, 255, 0.);
    --spectrum-transparent-white-300: rgba(255, 255, 255, 0.17);
    --spectrum-transparent-white-400: rgba(255, 255, 255, 0.21);
    --spectrum-transparent-white-50: rgba(255, 255, 255, 0.04);
    --spectrum-transparent-white-500: rgba(255, 255, 255, 0.39);
    --spectrum-transparent-white-600: rgba(255, 255, 255, 0.51);
    --spectrum-transparent-white-700: rgba(255, 255, 255, 0.66);
    --spectrum-transparent-white-75: rgba(255, 255, 255, 0.07);
    --spectrum-transparent-white-800: rgba(255, 255, 255, 0.85);
    --spectrum-transparent-white-900: rgba(255, 255, 255, 0.94);
    --spectrum-typography-content-color-default: var(--spectrum-gray-800);
    --spectrum-white: rgb(255, 255, 255);
    --spectrum-yellow-100: rgb(37, 23, 0);
    --spectrum-yellow-1000: rgb(200, 138, 0);
    --spectrum-yellow-1100: rgb(218, 159, 0);
    --spectrum-yellow-1200: rgb(235, 183, 0);
    --spectrum-yellow-1300: rgb(249, 206, 0);
    --spectrum-yellow-1400: rgb(255, 230, 86);
    --spectrum-yellow-1500: rgb(255, 246, 195);
    --spectrum-yellow-1600: rgb(255, 255, 255);
    --spectrum-yellow-200: rgb(47, 29, 0);
    --spectrum-yellow-300: rgb(63, 40, 0);
    --spectrum-yellow-400: rgb(78, 49, 0);
    --spectrum-yellow-500: rgb(97, 61, 0);
    --spectrum-yellow-600: rgb(116, 73, 0);
    --spectrum-yellow-700: rgb(135, 86, 0);
    --spectrum-yellow-800: rgb(155, 100, 0);
    --spectrum-yellow-900: rgb(178, 117, 0);
    --spectrum-yellow-background-color-default: var(--spectrum-yellow-1000);
    --spectrum-yellow-visual-color: var(--spectrum-yellow-1100);
}

.spectrum {
    /* legacy color aliases matching closest v6 color to v5 name */
    --spectrum-legacy-color-celery-400: var(--spectrum-celery-800);
    --spectrum-legacy-color-celery-500: var(--spectrum-celery-900);
    --spectrum-legacy-color-celery-600: var(--spectrum-celery-1000);
    --spectrum-legacy-color-celery-700: var(--spectrum-celery-1100);
    --spectrum-legacy-color-chartreuse-400: var(--spectrum-chartreuse-900);
    --spectrum-legacy-color-chartreuse-500: var(--spectrum-chartreuse-1000);
    --spectrum-legacy-color-chartreuse-600: var(--spectrum-chartreuse-1100);
    --spectrum-legacy-color-chartreuse-700: var(--spectrum-chartreuse-1200);
    --spectrum-legacy-color-yellow-400: var(--spectrum-yellow-1000);
    --spectrum-legacy-color-yellow-500: var(--spectrum-yellow-1100);
    --spectrum-legacy-color-yellow-600: var(--spectrum-yellow-1200);
    --spectrum-legacy-color-yellow-700: var(--spectrum-yellow-1300);
    --spectrum-legacy-color-magenta-400: var(--spectrum-magenta-600);
    --spectrum-legacy-color-magenta-500: var(--spectrum-magenta-700);
    --spectrum-legacy-color-magenta-600: var(--spectrum-magenta-800);
    --spectrum-legacy-color-magenta-700: var(--spectrum-magenta-900);
    --spectrum-legacy-color-fuchsia-400: var(--spectrum-fuchsia-600);
    --spectrum-legacy-color-fuchsia-500: var(--spectrum-fuchsia-700);
    --spectrum-legacy-color-fuchsia-600: var(--spectrum-fuchsia-800);
    --spectrum-legacy-color-fuchsia-700: var(--spectrum-fuchsia-900);
    --spectrum-legacy-color-purple-400: var(--spectrum-purple-600);
    --spectrum-legacy-color-purple-500: var(--spectrum-purple-700);
    --spectrum-legacy-color-purple-600: var(--spectrum-purple-800);
    --spectrum-legacy-color-purple-700: var(--spectrum-purple-900);
    --spectrum-legacy-color-indigo-400: var(--spectrum-indigo-600);
    --spectrum-legacy-color-indigo-500: var(--spectrum-indigo-700);
    --spectrum-legacy-color-indigo-600: var(--spectrum-indigo-800);
    --spectrum-legacy-color-indigo-700: var(--spectrum-indigo-900);
    --spectrum-legacy-color-red-400: var(--spectrum-red-600);
    --spectrum-legacy-color-red-500: var(--spectrum-red-700);
    --spectrum-legacy-color-red-600: var(--spectrum-red-800);
    --spectrum-legacy-color-red-700: var(--spectrum-red-900);
    --spectrum-legacy-color-orange-400: var(--spectrum-orange-800);
    --spectrum-legacy-color-orange-500: var(--spectrum-orange-900);
    --spectrum-legacy-color-orange-600: var(--spectrum-orange-1000);
    --spectrum-legacy-color-orange-700: var(--spectrum-orange-1100);
    --spectrum-legacy-color-green-400: var(--spectrum-green-700);
    --spectrum-legacy-color-green-500: var(--spectrum-green-800);
    --spectrum-legacy-color-green-600: var(--spectrum-green-900);
    --spectrum-legacy-color-green-700: var(--spectrum-green-1000);
    --spectrum-legacy-color-blue-400: var(--spectrum-blue-700);
    --spectrum-legacy-color-blue-500: var(--spectrum-blue-800);
    --spectrum-legacy-color-blue-600: var(--spectrum-blue-900);
    --spectrum-legacy-color-blue-700: var(--spectrum-blue-1000);
}

.spectrum {
    /* TODO */
    --spectrum-alias-background-color-modal-overlay: rgba(0,0,0,0.6);
    --spectrum-alias-dropshadow-color: rgba(0,0,0,0.8);
    --spectrum-alias-background-color-hover-overlay: rgba(255,255,255,0.08);
    --spectrum-alias-highlight-hover: rgba(255,255,255,0.08);
    --spectrum-alias-highlight-active: rgba(239,239,239,0.15);
    --spectrum-alias-highlight-selected: rgba(64,150,243,0.2);
    --spectrum-alias-highlight-selected-hover: rgba(64,150,243,0.3);
    --spectrum-alias-highlight-invalid: rgba(221, 33, 24, 0.15); /* matches red-600 */
    --spectrum-alias-text-highlight-color: rgba(64,150,243,0.3);
    --spectrum-alias-background-color-quickactions: rgba(29,29,29,0.9);
    --spectrum-alias-radial-reaction-color-default: rgba(235,235,235,0.6);
    --spectrum-alias-pasteboard-background-color: var(--spectrum-global-color-gray-50);
    --spectrum-alias-appframe-border-color: var(--spectrum-global-color-gray-50);
    --spectrum-alias-appframe-separator-color: var(--spectrum-global-color-gray-50);
    --spectrum-colorarea-border-color: rgba(239,239,239,0.1);
    --spectrum-colorarea-border-color-hover: rgba(239,239,239,0.1);
    --spectrum-colorarea-border-color-down: rgba(239,239,239,0.1);
    --spectrum-colorarea-border-color-key-focus: rgba(239,239,239,0.1);
    --spectrum-colorslider-border-color: rgba(239,239,239,0.1);
    --spectrum-colorslider-border-color-hover: rgba(239,239,239,0.1);
    --spectrum-colorslider-border-color-down: rgba(239,239,239,0.1);
    --spectrum-colorslider-border-color-key-focus: rgba(239,239,239,0.1);
    --spectrum-colorslider-vertical-border-color: rgba(239,239,239,0.1);
    --spectrum-colorslider-vertical-border-color-hover: rgba(239,239,239,0.1);
    --spectrum-colorslider-vertical-border-color-down: rgba(239,239,239,0.1);
    --spectrum-colorslider-vertical-border-color-key-focus: rgba(239,239,239,0.1);
    --spectrum-colorwheel-border-color: rgba(239,239,239,0.1);
    --spectrum-colorwheel-border-color-hover: rgba(239,239,239,0.1);
    --spectrum-colorwheel-border-color-down: rgba(239,239,239,0.1);
    --spectrum-colorwheel-border-color-key-focus: rgba(239,239,239,0.1);
    --spectrum-miller-column-item-background-color-selected: rgba(38,128,235,0.1);
    --spectrum-miller-column-item-background-color-selected-hover: rgba(38,128,235,0.2);
    --spectrum-tabs-compact-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-compact-vertical-rule-color: var(--spectrum-global-color-gray-200);
    --spectrum-tabs-compact-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-compact-vertical-emphasized-rule-color: var(--spectrum-global-color-gray-200);
    --spectrum-tabs-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-quiet-compact-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-quiet-compact-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-quiet-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-quiet-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-well-background-color: rgba(235,235,235,0.02);
    --spectrum-well-border-color: rgba(239,239,239,0.05);
    /* BEGIN RSP PATCH */
    /* missing in spectrum-css */
    --spectrum-tray-background-color: var(--spectrum-global-color-gray-100);
    /* END RSP PATCH */
    /* react spectrum additions */
    --react-spectrum-datepicker-placeholder-color: var(--spectrum-global-color-gray-600); /* 4.8:1 contrast ratio */
}
