.spectrum {
    --spectrum-accent-100: var(--spectrum-blue-100);
    --spectrum-accent-1000: var(--spectrum-blue-1000);
    --spectrum-accent-1100: var(--spectrum-blue-1100);
    --spectrum-accent-1200: var(--spectrum-blue-1200);
    --spectrum-accent-1300: var(--spectrum-blue-1300);
    --spectrum-accent-1400: var(--spectrum-blue-1400);
    --spectrum-accent-1500: var(--spectrum-blue-1500);
    --spectrum-accent-1600: var(--spectrum-blue-1600);
    --spectrum-accent-200: var(--spectrum-blue-200);
    --spectrum-accent-300: var(--spectrum-blue-300);
    --spectrum-accent-400: var(--spectrum-blue-400);
    --spectrum-accent-500: var(--spectrum-blue-500);
    --spectrum-accent-600: var(--spectrum-blue-600);
    --spectrum-accent-700: var(--spectrum-blue-700);
    --spectrum-accent-800: var(--spectrum-blue-800);
    --spectrum-accent-900: var(--spectrum-blue-900);
    --spectrum-accent-background-color-default: var(--spectrum-accent-900);
    --spectrum-accent-background-color-down: var(--spectrum-accent-1000);
    --spectrum-accent-background-color-hover: var(--spectrum-accent-1000);
    --spectrum-accent-background-color-key-focus: var(--spectrum-accent-1000);
    --spectrum-accent-content-color-default: var(--spectrum-accent-content-color-down);
    --spectrum-accent-content-color-down: var(--spectrum-accent-1000);
    --spectrum-accent-content-color-hover: var(--spectrum-accent-1000);
    --spectrum-accent-content-color-key-focus: var(--spectrum-accent-1000);
    --spectrum-accent-visual-color: var(--spectrum-accent-800);
    --spectrum-app-frame-background-color-default: var(--spectrum-gray-100);
    --spectrum-black: rgb(0, 0, 0);
    --spectrum-blue-100: rgb(245, 249, 255);
    --spectrum-blue-1000: rgb(39, 77, 234);
    --spectrum-blue-1100: rgb(29, 62, 207);
    --spectrum-blue-1200: rgb(21, 50, 173);
    --spectrum-blue-1300: rgb(16, 40, 140);
    --spectrum-blue-1400: rgb(12, 31, 105);
    --spectrum-blue-1500: rgb(14, 24, 67);
    --spectrum-blue-1600: rgb(7, 11, 30);
    --spectrum-blue-200: rgb(229, 240, 254);
    --spectrum-blue-300: rgb(203, 226, 254);
    --spectrum-blue-400: rgb(176, 209, 253);
    --spectrum-blue-500: rgb(147, 189, 252);
    --spectrum-blue-600: rgb(122, 167, 253);
    --spectrum-blue-700: rgb(100, 144, 255);
    --spectrum-blue-800: rgb(80, 123, 255);
    --spectrum-blue-900: rgb(59, 99, 251);
    --spectrum-blue-background-color-default: var(--spectrum-blue-900);
    --spectrum-blue-visual-color: var(--spectrum-blue-800);
    --spectrum-celery-100: rgb(235, 255, 220);
    --spectrum-celery-1000: rgb(52, 109, 12);
    --spectrum-celery-1100: rgb(44, 92, 9);
    --spectrum-celery-1200: rgb(35, 75, 6);
    --spectrum-celery-1300: rgb(27, 60, 3);
    --spectrum-celery-1400: rgb(19, 46, 0);
    --spectrum-celery-1500: rgb(12, 33, 0);
    --spectrum-celery-1600: rgb(4, 15, 0);
    --spectrum-celery-200: rgb(202, 255, 164);
    --spectrum-celery-300: rgb(155, 246, 90);
    --spectrum-celery-400: rgb(131, 230, 60);
    --spectrum-celery-500: rgb(113, 210, 44);
    --spectrum-celery-600: rgb(99, 189, 34);
    --spectrum-celery-700: rgb(85, 168, 27);
    --spectrum-celery-800: rgb(75, 149, 21);
    --spectrum-celery-900: rgb(64, 129, 17);
    --spectrum-celery-background-color-default: var(--spectrum-celery-600);
    --spectrum-celery-visual-color: var(--spectrum-celery-700);
    --spectrum-chartreuse-100: rgb(246, 251, 222);
    --spectrum-chartreuse-1000: rgb(86, 103, 0);
    --spectrum-chartreuse-1100: rgb(73, 87, 0);
    --spectrum-chartreuse-1200: rgb(60, 71, 0);
    --spectrum-chartreuse-1300: rgb(47, 57, 0);
    --spectrum-chartreuse-1400: rgb(35, 43, 0);
    --spectrum-chartreuse-1500: rgb(25, 30, 0);
    --spectrum-chartreuse-1600: rgb(11, 14, 0);
    --spectrum-chartreuse-200: rgb(234, 246, 173);
    --spectrum-chartreuse-300: rgb(208, 236, 70);
    --spectrum-chartreuse-400: rgb(184, 221, 0);
    --spectrum-chartreuse-500: rgb(166, 200, 0);
    --spectrum-chartreuse-600: rgb(149, 180, 0);
    --spectrum-chartreuse-700: rgb(133, 159, 0);
    --spectrum-chartreuse-800: rgb(118, 141, 0);
    --spectrum-chartreuse-900: rgb(102, 122, 0);
    --spectrum-chartreuse-background-color-default: var(--spectrum-chartreuse-500);
    --spectrum-chartreuse-visual-color: var(--spectrum-chartreuse-600);
    --spectrum-cyan-100: rgb(238, 250, 254);
    --spectrum-cyan-1000: rgb(4, 102, 145);
    --spectrum-cyan-1100: rgb(0, 87, 121);
    --spectrum-cyan-1200: rgb(0, 71, 98);
    --spectrum-cyan-1300: rgb(0, 57, 78);
    --spectrum-cyan-1400: rgb(0, 43, 59);
    --spectrum-cyan-1500: rgb(0, 31, 43);
    --spectrum-cyan-1600: rgb(0, 14, 20);
    --spectrum-cyan-200: rgb(217, 244, 253);
    --spectrum-cyan-300: rgb(181, 230, 252);
    --spectrum-cyan-400: rgb(146, 216, 255);
    --spectrum-cyan-500: rgb(99, 196, 255);
    --spectrum-cyan-600: rgb(60, 175, 255);
    --spectrum-cyan-700: rgb(34, 155, 239);
    --spectrum-cyan-800: rgb(21, 138, 212);
    --spectrum-cyan-900: rgb(11, 120, 179);
    --spectrum-cyan-background-color-default: var(--spectrum-cyan-900);
    --spectrum-cyan-visual-color: var(--spectrum-cyan-600);
    --spectrum-default-focus-indicator-color: var(--spectrum-blue-800);
    --spectrum-disabled-background-color-default: var(--spectrum-transparent-black-100);
    --spectrum-disabled-border-color-default: var(--spectrum-transparent-black-300);
    --spectrum-disabled-content-color-default: var(--spectrum-transparent-white-400);
    --spectrum-drop-shadow-color: rgba(0, 0, 0, 0.15);
    --spectrum-fuchsia-100: rgb(255, 245, 255);
    --spectrum-fuchsia-1000: rgb(166, 34, 157);
    --spectrum-fuchsia-1100: rgb(144, 21, 137);
    --spectrum-fuchsia-1200: rgb(120, 9, 116);
    --spectrum-fuchsia-1300: rgb(99, 1, 96);
    --spectrum-fuchsia-1400: rgb(77, 0, 75);
    --spectrum-fuchsia-1500: rgb(57, 0, 56);
    --spectrum-fuchsia-1600: rgb(31, 0, 30);
    --spectrum-fuchsia-200: rgb(255, 232, 254);
    --spectrum-fuchsia-300: rgb(255, 208, 254);
    --spectrum-fuchsia-400: rgb(255, 182, 254);
    --spectrum-fuchsia-500: rgb(255, 149, 252);
    --spectrum-fuchsia-600: rgb(255, 109, 249);
    --spectrum-fuchsia-700: rgb(243, 75, 231);
    --spectrum-fuchsia-800: rgb(217, 66, 204);
    --spectrum-fuchsia-900: rgb(192, 50, 180);
    --spectrum-fuchsia-background-color-default: var(--spectrum-fuchsia-900);
    --spectrum-fuchsia-visual-color: var(--spectrum-fuchsia-800);
    --spectrum-gray-100: rgb(233, 233, 233);
    --spectrum-gray-1000: rgb(0, 0, 0);
    --spectrum-gray-200: rgb(225, 225, 225);
    --spectrum-gray-25: rgb(255, 255, 255);
    --spectrum-gray-300: rgb(218, 218, 218);
    --spectrum-gray-400: rgb(198, 198, 198);
    --spectrum-gray-50: rgb(248, 248, 248);
    --spectrum-gray-500: rgb(143, 143, 143);
    --spectrum-gray-600: rgb(113, 113, 113);
    --spectrum-gray-700: rgb(80, 80, 80);
    --spectrum-gray-75: rgb(243, 243, 243);
    --spectrum-gray-800: rgb(41, 41, 41);
    --spectrum-gray-900: rgb(19, 19, 19);
    --spectrum-gray-background-color-default: var(--spectrum-gray-700);
    --spectrum-gray-visual-color: var(--spectrum-gray-500);
    --spectrum-green-100: rgb(237, 252, 241);
    --spectrum-green-1000: rgb(3, 110, 68);
    --spectrum-green-1100: rgb(2, 93, 60);
    --spectrum-green-1200: rgb(1, 76, 52);
    --spectrum-green-1300: rgb(0, 61, 44);
    --spectrum-green-1400: rgb(0, 46, 34);
    --spectrum-green-1500: rgb(0, 33, 25);
    --spectrum-green-1600: rgb(0, 15, 12);
    --spectrum-green-200: rgb(215, 247, 225);
    --spectrum-green-300: rgb(173, 238, 197);
    --spectrum-green-400: rgb(113, 229, 165);
    --spectrum-green-500: rgb(48, 212, 128);
    --spectrum-green-600: rgb(23, 192, 108);
    --spectrum-green-700: rgb(13, 171, 96);
    --spectrum-green-800: rgb(8, 151, 86);
    --spectrum-green-900: rgb(5, 131, 77);
    --spectrum-green-background-color-default: var(--spectrum-green-900);
    --spectrum-green-visual-color: var(--spectrum-green-700);
    --spectrum-icon-color-background: var(--spectrum-gray-50);
    --spectrum-icon-color-blue: var(--spectrum-blue-900);
    --spectrum-icon-color-fill-primary: var(--spectrum-neutral-content-color-default);
    --spectrum-icon-color-green: var(--spectrum-green-900);
    --spectrum-icon-color-red: var(--spectrum-red-900);
    --spectrum-icon-color-yellow: var(--spectrum-yellow-400);
    --spectrum-indigo-100: rgb(247, 248, 255);
    --spectrum-indigo-1000: rgb(99, 56, 238);
    --spectrum-indigo-1100: rgb(84, 36, 219);
    --spectrum-indigo-1200: rgb(69, 19, 191);
    --spectrum-indigo-1300: rgb(55, 6, 160);
    --spectrum-indigo-1400: rgb(42, 0, 129);
    --spectrum-indigo-1500: rgb(31, 0, 98);
    --spectrum-indigo-1600: rgb(17, 0, 54);
    --spectrum-indigo-200: rgb(235, 238, 255);
    --spectrum-indigo-300: rgb(214, 221, 255);
    --spectrum-indigo-400: rgb(195, 204, 255);
    --spectrum-indigo-500: rgb(171, 182, 255);
    --spectrum-indigo-600: rgb(152, 160, 255);
    --spectrum-indigo-700: rgb(136, 136, 254);
    --spectrum-indigo-800: rgb(125, 112, 254);
    --spectrum-indigo-900: rgb(113, 84, 250);
    --spectrum-indigo-background-color-default: var(--spectrum-indigo-900);
    --spectrum-indigo-visual-color: var(--spectrum-indigo-800);
    --spectrum-informative-100: var(--spectrum-blue-100);
    --spectrum-informative-1000: var(--spectrum-blue-1000);
    --spectrum-informative-1100: var(--spectrum-blue-1100);
    --spectrum-informative-1200: var(--spectrum-blue-1200);
    --spectrum-informative-1300: var(--spectrum-blue-1300);
    --spectrum-informative-1400: var(--spectrum-blue-1400);
    --spectrum-informative-1500: var(--spectrum-blue-1500);
    --spectrum-informative-1600: var(--spectrum-blue-1600);
    --spectrum-informative-200: var(--spectrum-blue-200);
    --spectrum-informative-300: var(--spectrum-blue-300);
    --spectrum-informative-400: var(--spectrum-blue-400);
    --spectrum-informative-500: var(--spectrum-blue-500);
    --spectrum-informative-600: var(--spectrum-blue-600);
    --spectrum-informative-700: var(--spectrum-blue-700);
    --spectrum-informative-800: var(--spectrum-blue-800);
    --spectrum-informative-900: var(--spectrum-blue-900);
    --spectrum-informative-background-color-default: var(--spectrum-informative-900);
    --spectrum-informative-background-color-down: var(--spectrum-informative-1000);
    --spectrum-informative-background-color-hover: var(--spectrum-informative-1000);
    --spectrum-informative-background-color-key-focus: var(--spectrum-informative-1000);
    --spectrum-informative-visual-color: var(--spectrum-informative-800);
    --spectrum-magenta-100: rgb(255, 245, 248);
    --spectrum-magenta-1000: rgb(190, 9, 73);
    --spectrum-magenta-1100: rgb(163, 5, 62);
    --spectrum-magenta-1200: rgb(136, 0, 51);
    --spectrum-magenta-1300: rgb(111, 0, 40);
    --spectrum-magenta-1400: rgb(86, 0, 30);
    --spectrum-magenta-1500: rgb(64, 0, 22);
    --spectrum-magenta-1600: rgb(35, 0, 12);
    --spectrum-magenta-200: rgb(255, 235, 242);
    --spectrum-magenta-300: rgb(255, 211, 226);
    --spectrum-magenta-400: rgb(255, 189, 212);
    --spectrum-magenta-500: rgb(255, 158, 192);
    --spectrum-magenta-600: rgb(255, 126, 172);
    --spectrum-magenta-700: rgb(255, 86, 145);
    --spectrum-magenta-800: rgb(249, 41, 111);
    --spectrum-magenta-900: rgb(222, 20, 89);
    --spectrum-magenta-background-color-default: var(--spectrum-magenta-900);
    --spectrum-magenta-visual-color: var(--spectrum-magenta-800);
    --spectrum-negative-100: var(--spectrum-red-100);
    --spectrum-negative-1000: var(--spectrum-red-1000);
    --spectrum-negative-1100: var(--spectrum-red-1100);
    --spectrum-negative-1200: var(--spectrum-red-1200);
    --spectrum-negative-1300: var(--spectrum-red-1300);
    --spectrum-negative-1400: var(--spectrum-red-1400);
    --spectrum-negative-1500: var(--spectrum-red-1500);
    --spectrum-negative-1600: var(--spectrum-red-1600);
    --spectrum-negative-200: var(--spectrum-red-200);
    --spectrum-negative-300: var(--spectrum-red-300);
    --spectrum-negative-400: var(--spectrum-red-400);
    --spectrum-negative-500: var(--spectrum-red-500);
    --spectrum-negative-600: var(--spectrum-red-600);
    --spectrum-negative-700: var(--spectrum-red-700);
    --spectrum-negative-800: var(--spectrum-red-800);
    --spectrum-negative-900: var(--spectrum-red-900);
    --spectrum-negative-background-color-default: var(--spectrum-negative-900);
    --spectrum-negative-background-color-down: var(--spectrum-negative-1000);
    --spectrum-negative-background-color-hover: var(--spectrum-negative-1000);
    --spectrum-negative-background-color-key-focus: var(--spectrum-negative-1000);
    --spectrum-negative-border-color-default: var(--spectrum-negative-900);
    --spectrum-negative-border-color-down: var(--spectrum-negative-1100);
    --spectrum-negative-border-color-hover: var(--spectrum-negative-1000);
    --spectrum-negative-border-color-key-focus: var(--spectrum-negative-1000);
    --spectrum-negative-content-color-default: var(--spectrum-negative-900);
    --spectrum-negative-content-color-down: var(--spectrum-negative-1000);
    --spectrum-negative-content-color-hover: var(--spectrum-negative-1000);
    --spectrum-negative-content-color-key-focus: var(--spectrum-negative-1000);
    --spectrum-negative-visual-color: var(--spectrum-negative-800);
    --spectrum-neutral-background-color-default: var(--spectrum-gray-800);
    --spectrum-neutral-background-color-down: var(--spectrum-gray-900);
    --spectrum-neutral-background-color-hover: var(--spectrum-gray-900);
    --spectrum-neutral-background-color-key-focus: var(--spectrum-gray-900);
    --spectrum-neutral-content-color-default: var(--spectrum-neutral-content-color-down);
    --spectrum-neutral-content-color-down: var(--spectrum-gray-900);
    --spectrum-neutral-content-color-hover: var(--spectrum-gray-900);
    --spectrum-neutral-content-color-key-focus: var(--spectrum-gray-900);
    --spectrum-neutral-selected-background-color-default: var(--spectrum-gray-800);
    --spectrum-neutral-selected-background-color-down: var(--spectrum-gray-900);
    --spectrum-neutral-selected-background-color-hover: var(--spectrum-gray-900);
    --spectrum-neutral-selected-background-color-key-focus: var(--spectrum-gray-900);
    --spectrum-neutral-subdued-background-color-default: var(--spectrum-gray-700);
    --spectrum-neutral-subdued-background-color-down: var(--spectrum-gray-800);
    --spectrum-neutral-subdued-background-color-hover: var(--spectrum-gray-800);
    --spectrum-neutral-subdued-background-color-key-focus: var(--spectrum-gray-800);
    --spectrum-neutral-subdued-content-color-default: var(--spectrum-gray-700);
    --spectrum-neutral-subdued-content-color-down: var(--spectrum-gray-800);
    --spectrum-neutral-subdued-content-color-hover: var(--spectrum-gray-800);
    --spectrum-neutral-subdued-content-color-key-focus: var(--spectrum-gray-800);
    --spectrum-neutral-visual-color: var(--spectrum-gray-500);
    --spectrum-notice-100: var(--spectrum-orange-100);
    --spectrum-notice-1000: var(--spectrum-orange-1000);
    --spectrum-notice-1100: var(--spectrum-orange-1100);
    --spectrum-notice-1200: var(--spectrum-orange-1200);
    --spectrum-notice-1300: var(--spectrum-orange-1300);
    --spectrum-notice-1400: var(--spectrum-orange-1400);
    --spectrum-notice-1500: var(--spectrum-orange-1500);
    --spectrum-notice-1600: var(--spectrum-orange-1600);
    --spectrum-notice-200: var(--spectrum-orange-200);
    --spectrum-notice-300: var(--spectrum-orange-300);
    --spectrum-notice-400: var(--spectrum-orange-400);
    --spectrum-notice-500: var(--spectrum-orange-500);
    --spectrum-notice-600: var(--spectrum-orange-600);
    --spectrum-notice-700: var(--spectrum-orange-700);
    --spectrum-notice-800: var(--spectrum-orange-800);
    --spectrum-notice-900: var(--spectrum-orange-900);
    --spectrum-notice-background-color-default: var(--spectrum-notice-800);
    --spectrum-notice-visual-color: var(--spectrum-notice-700);
    --spectrum-orange-100: rgb(255, 246, 231);
    --spectrum-orange-1000: rgb(167, 62, 0);
    --spectrum-orange-1100: rgb(144, 51, 0);
    --spectrum-orange-1200: rgb(118, 41, 0);
    --spectrum-orange-1300: rgb(95, 32, 0);
    --spectrum-orange-1400: rgb(73, 24, 0);
    --spectrum-orange-1500: rgb(52, 18, 0);
    --spectrum-orange-1600: rgb(25, 8, 0);
    --spectrum-orange-200: rgb(255, 238, 210);
    --spectrum-orange-300: rgb(255, 218, 158);
    --spectrum-orange-400: rgb(255, 197, 103);
    --spectrum-orange-500: rgb(255, 169, 33);
    --spectrum-orange-600: rgb(255, 137, 0);
    --spectrum-orange-700: rgb(239, 112, 0);
    --spectrum-orange-800: rgb(218, 95, 0);
    --spectrum-orange-900: rgb(193, 78, 0);
    --spectrum-orange-background-color-default: var(--spectrum-orange-600);
    --spectrum-orange-visual-color: var(--spectrum-orange-700);
    --spectrum-overlay-color: var(--spectrum-black);
    --spectrum-positive-100: var(--spectrum-green-100);
    --spectrum-positive-1000: var(--spectrum-green-1000);
    --spectrum-positive-1100: var(--spectrum-green-1100);
    --spectrum-positive-1200: var(--spectrum-green-1200);
    --spectrum-positive-1300: var(--spectrum-green-1300);
    --spectrum-positive-1400: var(--spectrum-green-1400);
    --spectrum-positive-1500: var(--spectrum-green-1500);
    --spectrum-positive-1600: var(--spectrum-green-1600);
    --spectrum-positive-200: var(--spectrum-green-200);
    --spectrum-positive-300: var(--spectrum-green-300);
    --spectrum-positive-400: var(--spectrum-green-400);
    --spectrum-positive-500: var(--spectrum-green-500);
    --spectrum-positive-600: var(--spectrum-green-600);
    --spectrum-positive-700: var(--spectrum-green-700);
    --spectrum-positive-800: var(--spectrum-green-800);
    --spectrum-positive-900: var(--spectrum-green-900);
    --spectrum-positive-background-color-default: var(--spectrum-positive-900);
    --spectrum-positive-background-color-down: var(--spectrum-positive-1000);
    --spectrum-positive-background-color-hover: var(--spectrum-positive-1000);
    --spectrum-positive-background-color-key-focus: var(--spectrum-positive-1000);
    --spectrum-positive-visual-color: var(--spectrum-positive-700);
    --spectrum-purple-100: rgb(251, 247, 254);
    --spectrum-purple-1000: rgb(134, 40, 217);
    --spectrum-purple-1100: rgb(115, 13, 204);
    --spectrum-purple-1200: rgb(93, 0, 177);
    --spectrum-purple-1300: rgb(75, 0, 144);
    --spectrum-purple-1400: rgb(59, 0, 111);
    --spectrum-purple-1500: rgb(44, 0, 84);
    --spectrum-purple-1600: rgb(23, 0, 45);
    --spectrum-purple-200: rgb(245, 237, 252);
    --spectrum-purple-300: rgb(234, 216, 249);
    --spectrum-purple-400: rgb(223, 196, 247);
    --spectrum-purple-500: rgb(210, 171, 243);
    --spectrum-purple-600: rgb(196, 147, 240);
    --spectrum-purple-700: rgb(183, 122, 236);
    --spectrum-purple-800: rgb(169, 98, 232);
    --spectrum-purple-900: rgb(153, 71, 226);
    --spectrum-purple-background-color-default: var(--spectrum-purple-900);
    --spectrum-purple-visual-color: var(--spectrum-purple-800);
    --spectrum-red-100: rgb(255, 246, 245);
    --spectrum-red-1000: rgb(183, 40, 24);
    --spectrum-red-1100: rgb(156, 33, 19);
    --spectrum-red-1200: rgb(129, 27, 14);
    --spectrum-red-1300: rgb(104, 21, 10);
    --spectrum-red-1400: rgb(80, 16, 6);
    --spectrum-red-1500: rgb(59, 11, 4);
    --spectrum-red-1600: rgb(29, 5, 2);
    --spectrum-red-200: rgb(255, 235, 232);
    --spectrum-red-300: rgb(255, 214, 209);
    --spectrum-red-400: rgb(255, 192, 184);
    --spectrum-red-500: rgb(255, 163, 152);
    --spectrum-red-600: rgb(255, 132, 118);
    --spectrum-red-700: rgb(255, 95, 76);
    --spectrum-red-800: rgb(247, 59, 38);
    --spectrum-red-900: rgb(215, 50, 32);
    --spectrum-red-background-color-default: var(--spectrum-red-900);
    --spectrum-red-visual-color: var(--spectrum-red-800);
    --spectrum-seafoam-100: rgb(226, 252, 253);
    --spectrum-seafoam-1000: rgb(13, 106, 111);
    --spectrum-seafoam-1100: rgb(8, 90, 95);
    --spectrum-seafoam-1200: rgb(3, 74, 79);
    --spectrum-seafoam-1300: rgb(0, 59, 63);
    --spectrum-seafoam-1400: rgb(0, 45, 48);
    --spectrum-seafoam-1500: rgb(0, 32, 35);
    --spectrum-seafoam-1600: rgb(0, 15, 17);
    --spectrum-seafoam-200: rgb(202, 248, 250);
    --spectrum-seafoam-300: rgb(138, 239, 242);
    --spectrum-seafoam-400: rgb(86, 226, 231);
    --spectrum-seafoam-500: rgb(60, 206, 211);
    --spectrum-seafoam-600: rgb(45, 185, 190);
    --spectrum-seafoam-700: rgb(35, 164, 169);
    --spectrum-seafoam-800: rgb(27, 146, 151);
    --spectrum-seafoam-900: rgb(20, 126, 131);
    --spectrum-seafoam-background-color-default: var(--spectrum-seafoam-900);
    --spectrum-seafoam-visual-color: var(--spectrum-seafoam-700);
    --spectrum-static-black-focus-indicator-color: var(--spectrum-black);
    --spectrum-static-white-focus-indicator-color: var(--spectrum-white);
    --spectrum-transparent-black-100: rgba(0, 0, 0, 0.09);
    --spectrum-transparent-black-1000: rgb(0, 0, 0);
    --spectrum-transparent-black-200: rgba(0, 0, 0, 0.12);
    --spectrum-transparent-black-25: rgba(0, 0, 0, 0.);
    --spectrum-transparent-black-300: rgba(0, 0, 0, 0.15);
    --spectrum-transparent-black-400: rgba(0, 0, 0, 0.22);
    --spectrum-transparent-black-50: rgba(0, 0, 0, 0.03);
    --spectrum-transparent-black-500: rgba(0, 0, 0, 0.44);
    --spectrum-transparent-black-600: rgba(0, 0, 0, 0.56);
    --spectrum-transparent-black-700: rgba(0, 0, 0, 0.69);
    --spectrum-transparent-black-75: rgba(0, 0, 0, 0.05);
    --spectrum-transparent-black-800: rgba(0, 0, 0, 0.84);
    --spectrum-transparent-black-900: rgba(0, 0, 0, 0.93);
    --spectrum-transparent-white-100: rgba(255, 255, 255, 0.11);
    --spectrum-transparent-white-1000: rgb(255, 255, 255);
    --spectrum-transparent-white-200: rgba(255, 255, 255, 0.14);
    --spectrum-transparent-white-25: rgba(255, 255, 255, 0.);
    --spectrum-transparent-white-300: rgba(255, 255, 255, 0.17);
    --spectrum-transparent-white-400: rgba(255, 255, 255, 0.21);
    --spectrum-transparent-white-50: rgba(255, 255, 255, 0.04);
    --spectrum-transparent-white-500: rgba(255, 255, 255, 0.39);
    --spectrum-transparent-white-600: rgba(255, 255, 255, 0.51);
    --spectrum-transparent-white-700: rgba(255, 255, 255, 0.66);
    --spectrum-transparent-white-75: rgba(255, 255, 255, 0.07);
    --spectrum-transparent-white-800: rgba(255, 255, 255, 0.85);
    --spectrum-transparent-white-900: rgba(255, 255, 255, 0.94);
    --spectrum-typography-content-color-default: var(--spectrum-gray-800);
    --spectrum-white: rgb(255, 255, 255);
    --spectrum-yellow-100: rgb(255, 248, 204);
    --spectrum-yellow-1000: rgb(134, 85, 0);
    --spectrum-yellow-1100: rgb(114, 72, 0);
    --spectrum-yellow-1200: rgb(93, 59, 0);
    --spectrum-yellow-1300: rgb(75, 47, 0);
    --spectrum-yellow-1400: rgb(56, 35, 0);
    --spectrum-yellow-1500: rgb(40, 25, 0);
    --spectrum-yellow-1600: rgb(18, 11, 0);
    --spectrum-yellow-200: rgb(255, 241, 151);
    --spectrum-yellow-300: rgb(255, 222, 44);
    --spectrum-yellow-400: rgb(247, 203, 0);
    --spectrum-yellow-500: rgb(233, 179, 0);
    --spectrum-yellow-600: rgb(217, 158, 0);
    --spectrum-yellow-700: rgb(199, 137, 0);
    --spectrum-yellow-800: rgb(180, 119, 0);
    --spectrum-yellow-900: rgb(158, 102, 0);
    --spectrum-yellow-background-color-default: var(--spectrum-yellow-400);
    --spectrum-yellow-visual-color: var(--spectrum-yellow-600);
}

.spectrum {
    /* TODO */
    --spectrum-alias-background-color-modal-overlay: rgba(0,0,0,0.4);
    --spectrum-alias-dropshadow-color: rgba(0,0,0,0.15);
    --spectrum-alias-background-color-hover-overlay: rgba(0,0,0,0.04);
    --spectrum-alias-highlight-hover: rgba(0,0,0,0.06);
    --spectrum-alias-highlight-active: rgba(44,44,44,0.1);
    --spectrum-alias-highlight-selected: rgba(2,101,220,0.1);
    --spectrum-alias-highlight-selected-hover: rgba(2,101,220,0.2);
    --spectrum-alias-highlight-invalid: rgba(211, 21, 16, 0.15); /* matches red-900 */
    --spectrum-alias-text-highlight-color: rgba(2,101,220,0.2);
    --spectrum-alias-background-color-quickactions: rgba(248,248,248,0.9);
    --spectrum-alias-radial-reaction-color-default: rgba(34,34,34,0.6);
    --spectrum-alias-pasteboard-background-color: var(--spectrum-global-color-gray-300);
    --spectrum-alias-appframe-border-color: var(--spectrum-global-color-gray-300);
    --spectrum-alias-appframe-separator-color: var(--spectrum-global-color-gray-300);
    --spectrum-colorarea-border-color: rgba(44,44,44,0.1);
    --spectrum-colorarea-border-color-hover: rgba(44,44,44,0.1);
    --spectrum-colorarea-border-color-down: rgba(44,44,44,0.1);
    --spectrum-colorarea-border-color-key-focus: rgba(44,44,44,0.1);
    --spectrum-colorslider-border-color: rgba(44,44,44,0.1);
    --spectrum-colorslider-border-color-hover: rgba(44,44,44,0.1);
    --spectrum-colorslider-border-color-down: rgba(44,44,44,0.1);
    --spectrum-colorslider-border-color-key-focus: rgba(44,44,44,0.1);
    --spectrum-colorslider-vertical-border-color: rgba(44,44,44,0.1);
    --spectrum-colorslider-vertical-border-color-hover: rgba(44,44,44,0.1);
    --spectrum-colorslider-vertical-border-color-down: rgba(44,44,44,0.1);
    --spectrum-colorslider-vertical-border-color-key-focus: rgba(44,44,44,0.1);
    --spectrum-colorwheel-border-color: rgba(44,44,44,0.1);
    --spectrum-colorwheel-border-color-hover: rgba(44,44,44,0.1);
    --spectrum-colorwheel-border-color-down: rgba(44,44,44,0.1);
    --spectrum-colorwheel-border-color-key-focus: rgba(44,44,44,0.1);
    --spectrum-miller-column-item-background-color-selected: rgba(20,115,230,0.1);
    --spectrum-miller-column-item-background-color-selected-hover: rgba(20,115,230,0.2);
    --spectrum-tabs-compact-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-compact-vertical-rule-color: var(--spectrum-global-color-gray-200);
    --spectrum-tabs-compact-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-compact-vertical-emphasized-rule-color: var(--spectrum-global-color-gray-200);
    --spectrum-tabs-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-quiet-compact-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-quiet-compact-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-quiet-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-tabs-quiet-vertical-emphasized-selection-indicator-color: var(--spectrum-global-color-blue-500);
    --spectrum-well-background-color: rgba(34,34,34,0.02);
    --spectrum-well-border-color: rgba(0,0,0,0.05);
    --spectrum-tray-background-color: var(--spectrum-global-color-gray-50);
    /* react spectrum additions */
    --react-spectrum-datepicker-placeholder-color: rgb(118, 118, 118); /* 4.54:1 contrast ratio */
}
