/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
.prettyprint {
  background: white;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px; }

.pln {
  color: #4d4d4c; }

@media screen {
  .str {
    color: #718c00; }
  .kwd {
    color: #8959a8; }
  .com {
    color: #8e908c; }
  .typ {
    color: #4271ae; }
  .lit {
    color: #f5871f; }
  .pun {
    color: #4d4d4c; }
  .opn {
    color: #4d4d4c; }
  .clo {
    color: #4d4d4c; }
  .tag {
    color: #c82829; }
  .atn {
    color: #f5871f; }
  .atv {
    color: #3e999f; }
  .dec {
    color: #f5871f; }
  .var {
    color: #c82829; }
  .fun {
    color: #4271ae; } }

@media print, projection {
  .str {
    color: #006600; }
  .kwd {
    color: #006;
    font-weight: bold; }
  .com {
    color: #600;
    font-style: italic; }
  .typ {
    color: #404;
    font-weight: bold; }
  .lit {
    color: #004444; }
  .pun, .opn, .clo {
    color: #444400; }
  .tag {
    color: #006;
    font-weight: bold; }
  .atn {
    color: #440044; }
  .atv {
    color: #006600; } }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */ }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */ }

* {
  box-sizing: border-box; }

body {
  font-family: "Adobe Clean", Helvetica, Arial, sans-serif;
  line-height: 2;
  color: #444;
  margin: 0;
  padding: 0; }

.magenta {
  color: #ec008c; }

.box, .box-first, .box-large, .box-nested, .box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 2.25rem;
  margin-bottom: 0;
  background: rgba(41, 75, 105, 0.1);
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #294b69;
  border-radius: 2px;
  border: 1px solid #6f9dc7; }

.box-large {
  height: 8rem; }

.box, .box-first, .box-large, .box-nested, .box-row {
  padding: 1rem; }

.box-row {
  margin-bottom: 1em; }

pre.prettyprint {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid #d2d2d2;
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: 1em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal; }

.list-plain {
  list-style: none; }

.list-horz {
  margin: 0;
  padding: 0; }

.list-horz li {
  float: left;
  margin-left: 30px; }

.list-horz li:first-child {
  margin-left: 0; }

.no-border {
  border: 0 !important; }

.main-title,
.title,
h2,
h3,
h4,
h5 {
  font-family: "Adobe Clean", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.main-title {
  font-size: 55px;
  line-height: 1.2em;
  text-align: center;
  font-weight: 300;
  margin-top: 2em; }

p {
  margin-bottom: 15px; }

h1 {
  font-size: 40px; }

h2,
.title {
  font-size: 31px;
  color: black;
  margin: 40px 0 30px; }

h3 {
  font-size: 26px;
  color: black;
  margin: 40px 0 15px; }

h4,
h5 {
  font-size: 22px;
  color: black;
  margin: 35px 0 15px; }

.button {
  border-radius: 0;
  line-height: 54px;
  font-family: "Adobe Clean", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  padding: 1.75em;
  text-decoration: none;
  height: auto;
  border-color: #000;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased; }

.button.primary {
  background-color: #000;
  color: white;
  border: 0; }

.button.primary:hover {
  background-color: #ec008c; }

.button.secondary {
  border: 3px solid #000;
  color: #000;
  font-size: 15px; }

.button.secondary:hover {
  border-color: #ec008c; }

ul {
  list-style: initial;
  margin-left: 20px; }

a {
  color: #ec008c; }

a:hover {
  color: #d3007d; }

pre {
  margin: 30px 0 50px; }

.top {
  padding: 30px 0; }

.menu {
  font-size: 12px;
  float: right;
  margin-top: 4px; }

.menu a {
  color: white;
  text-decoration: none; }

.action-secondary {
  margin-bottom: 120px;
  overflow: hidden; }

.action-secondary li {
  margin-left: 15px; }

.section .action-secondary {
  margin-bottom: 0; }

.action {
  margin-top: 45px; }

.action .button {
  margin: 0 10px; }

header {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  margin-bottom: 70px;
  overflow: hidden;
  position: static;
  top: -82px;
  z-index: 10;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: top 0.3s cubic-bezier(0.84, 0.3, 0.33, 0.9);
  transition: top 0.3s cubic-bezier(0.84, 0.3, 0.33, 0.9); }

header.home {
  margin-bottom: 0; }

header .top {
  position: relative;
  z-index: 15; }

header .wrap {
  position: absolute;
  width: 100%;
  z-index: 2; }

header p {
  padding: 0 30px;
  font-size: 17px; }

header.inner {
  height: 200px;
  border-bottom: 0;
  background-position: center center;
  -webkit-transition: height 0.5s cubic-bezier(0.71, 0.23, 0.33, 0.99);
  transition: height 0.5s cubic-bezier(0.71, 0.23, 0.33, 0.99);
  position: fixed;
  top: 0; }

header.inner .top {
  padding: 30px 0 20px; }

header.bg {
  background-position: bottom center;
  -webkit-transition: opacity 0.5s cubic-bezier(0.71, 0.23, 0.33, 0.99);
  transition: opacity 0.5s cubic-bezier(0.71, 0.23, 0.33, 0.99); }

header.inner .hero {
  padding: 10px 0 10px;
  -webkit-transition: -webkit-transform .5s ease-in-out, opacity .2s ease-in-out;
  transition: transform .5s ease-in-out, opacity .2s ease-in-out;
  -webkit-transition-delay: .1s;
  transition-delay: .1s; }

header.inner-fixed-reload {
  height: 82px !important;
  -webkit-transition: none;
  transition: none; }

header.inner-fixed-reload .bg {
  background-position: center -187px !important;
  opacity: 0.5 !important;
  -webkit-transition: none;
  transition: none; }

header.inner-fixed-reload .hero {
  -webkit-transform: translate3d(0, -50px, 0) !important;
  transform: translate3d(0, -50px, 0) !important;
  -webkit-transition: none;
  transition: none;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  opacity: 0 !important; }

header.inner-fixed {
  height: 82px !important; }

header.inner-fixed .bg {
  opacity: 0.5 !important; }

header.inner-fixed .hero {
  -webkit-transform: translate3d(0, -50px, 0) !important;
  transform: translate3d(0, -50px, 0) !important;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  opacity: 0 !important; }

.section {
  padding-bottom: 110px;
  border-bottom: 1px solid #979797;
  padding-top: 110px;
  width: 100%; }

.section .columns {
  padding-right: 70px; }

.section .button {
  margin-top: 25px; }

.section.inner .button {
  margin-right: 15px; }

footer {
  background-color: #000;
  height: 200px;
  margin-top: 100px;
  text-align: center;
  padding: 60px 0 0; }

footer .h {
  display: inline-block;
  width: 46px;
  height: 54px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAiCAYAAABBY8kOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF1JREFUeNpi+E8YbABiBgJ4AyFDmBjoBEYtGrVo1KJRizABCxFqRIDYgQg1eAEjqMCjh49GLRq1aIRbdBSIawioaQFia0pLhjdAfIAINaOl96hFoxaNWjRYLQIIMABdEogcjpWdDQAAAABJRU5ErkJggg==") 50% 50% no-repeat;
  text-decoration: none; }

footer .h:hover {
  background-color: #ec008c; }

footer p {
  font-family: "Adobe Clean", Helvetica, Arial, sans-serif;
  letter-spacing: -0.06em;
  font-size: 15px;
  color: #999;
  margin-top: 16px; }

footer sup {
  font-size: 7px;
  vertical-align: super; }

body.home-fixed main,
body.home-fixed-reload main {
  margin-top: 632px; }

body.home-fixed header,
body.home-fixed-reload header {
  height: 82px !important;
  position: fixed;
  top: 0; }

body.home-fixed header .bg,
body.home-fixed-reload header .bg {
  background-position: center -187px !important;
  opacity: 0.5 !important; }

body.home-fixed header .container,
body.home-fixed-reload header .container {
  -webkit-transform: translate3d(0, -187px, 0) !important;
  transform: translate3d(0, -187px, 0) !important;
  opacity: 0 !important; }

body.home-fixed header .top .container,
body.home-fixed-reload header .top .container {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.84, 0.3, 0.33, 0.9);
  transition: transform 0.5s cubic-bezier(0.84, 0.3, 0.33, 0.9);
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
  opacity: 1 !important; }

.image {
  text-align: center;
  padding: 50px 0;
  background: #eee;
  margin-bottom: 90px; }

.image.inner {
  padding: 80px 0; }

.image img {
  border: 1px solid #ccc; }

main {
  padding-top: 80px; }

main.inner {
  margin-top: 100px;
  min-height: calc(100% - 340px); }

main.home {
  padding-top: 0; }