@import '@spectrum/spectrum-css/dist/components/taglist/index.css';
@import '@spectrum/spectrum-css/dist/components/taglist/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/taglist/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/taglist/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/taglist/multiStops/darkest.css';
