/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$tag-colored-text-color = white
$spectrum-tag-remove-button-color = white
$spectrum-tag-disabled-bg = $spectrum-alias-background-color-transparent

.coral-Tag.is-closable:not([color]) {
  &:focus {
    border-color: $spectrum-tag-border-color-focus;
    color: $spectrum-tag-text-color-focus;

    .coral-Icon {
      color: $spectrum-tag-icon-color-focus;
    }
  }

  &:hover {
    border-color: $spectrum-tag-border-color-hover;
    color: $spectrum-tag-text-color-hover;
    box-shadow: none;

    .coral-Icon {
      color: $spectrum-tag-icon-color-hover;
    }
  }

  &:active {
    border-color: $spectrum-tag-border-color-active;
    color: $spectrum-tag-text-color-active;
    box-shadow: none;

    .coral-Icon {
      color: $spectrum-tag-icon-color-active;
    }
  }
}

.coral-Tag {
  color: $spectrum-tag-text-color-default;
  background-color: transparent;
  border: 1*$px solid $spectrum-tag-border-color-default;

  &:focus {
    box-shadow: 0 0 0 1*$px $spectrum-tag-border-color-focus;
  }

  &.coral-Tag--quiet {
    border-color: transparent;
    background-color: transparent;
    color: $spectrum-tag-text-color-default;

    &.is-closable:hover,
    &.is-closable:active {
      border-color: transparent;
    }
  }
}

// Color variants
.coral-Tag--blue,
.coral-Tag--lightblue,
.coral-Tag--periwinkle,
.coral-Tag--plum,
.coral-Tag--fuchsia,
.coral-Tag--magenta,
.coral-Tag--red,
.coral-Tag--orange,
.coral-Tag--tangerine,
.coral-Tag--yellow,
.coral-Tag--chartreuse,
.coral-Tag--green,
.coral-Tag--kellygreen,
.coral-Tag--seafoam,
.coral-Tag--cyan {
  color: $tag-colored-text-color;

  &.is-closable {
    .coral-Icon {
      opacity: .75;
    }

    .coral-Tag-removeButton {
      color: $spectrum-tag-remove-button-color;

      &:focus {
        color: $spectrum-tag-remove-button-color;

        .coral-Icon {
          opacity: 1;
        }
      }

      &:hover {
        color: $spectrum-tag-remove-button-color;
      }
    }

    &:focus {
      color: $tag-colored-text-color;
      border-color: $spectrum-tag-border-color-focus;
      background-color: $spectrum-tag-border-color-focus;

      .coral-Tag-removeButton .coral-Icon {
        color: $spectrum-tag-remove-button-color;
      }
    }

    &:hover {
      color: $tag-colored-text-color;

      .coral-Icon {
        opacity: .9;
      }
    }

    &:active .coral-Icon {
      opacity: 1;
    }
  }
}

.coral-Tag--lightblue {
  background-color: $spectrum-global-color-blue1;
  border-color: $spectrum-global-color-blue1;
}

.coral-Tag--periwinkle {
  background-color: $spectrum-global-color-periwinkle;
  border-color: $spectrum-global-color-periwinkle;
}

.coral-Tag--plum {
  background-color: $spectrum-global-color-plum;
  border-color: $spectrum-global-color-plum;
}

.coral-Tag--fuchsia {
  background-color: $spectrum-global-color-fuchsia;
  border-color: $spectrum-global-color-fuchsia;
}

.coral-Tag--magenta {
  background-color: $spectrum-global-color-magenta;
  border-color: $spectrum-global-color-magenta;
}

.coral-Tag--orange {
  background-color: $spectrum-global-color-orange;
  border-color: $spectrum-global-color-orange;
}

.coral-Tag--tangerine {
  background-color: $spectrum-global-color-tangerine;
  border-color: $spectrum-global-color-tangerine;
}

.coral-Tag--chartreuse {
  background-color: $spectrum-global-color-chartreuse;
  border-color: $spectrum-global-color-chartreuse;
}

.coral-Tag--kellygreen {
  background-color: $spectrum-global-color-kellygreen;
  border-color: $spectrum-global-color-kellygreen;
}

.coral-Tag--seafoam {
  background-color: $spectrum-global-color-seafoam;
  border-color: $spectrum-global-color-seafoam;
}

.coral-Tag--cyan {
  background-color: $spectrum-global-color-cyan;
  border-color: $spectrum-global-color-cyan;
}

.coral-Tag--blue {
  background-color: $spectrum-global-color-blue1;
  border-color: $spectrum-global-color-blue1;
}

.coral-Tag--red {
  background-color: $spectrum-global-color-red1;
  border-color: $spectrum-global-color-red1;
}

.coral-Tag--yellow {
  background-color: $spectrum-global-color-yellow1;
  border-color: $spectrum-global-color-yellow1;
}

.coral-Tag--green {
  background-color: $spectrum-global-color-green1;
  border-color: $spectrum-global-color-green1;
}

.coral-Tag--grey {
  background-color: $spectrum-global-color-grey8;
  border-color: $spectrum-global-color-grey8;
}

.coral-TagList {
  &.is-disabled > .coral-Tag {
    border-color: $spectrum-tag-border-color-disabled;
    background-color: $spectrum-tag-disabled-bg;
    color: $spectrum-tag-text-color-disabled;

    &:focus,
    &:hover,
    &:active {
      box-shadow: none;
      border-color: $spectrum-tag-border-color-disabled;
      background-color: $spectrum-tag-disabled-bg;
      color: $spectrum-tag-text-color-disabled;
    }

    .coral-Tag-removeButton .coral-Icon {
      color: $spectrum-tag-icon-color-disabled;
    }
  }
}
