.coral-Datepicker
  display: inline-block

// We need the specificity in this rule so we don't accidentally trump it with the styles defined
// in popover.  See:  https://git.corp.adobe.com/React/react-coral/pull/172
.coral-DatepickerPopover-drop
  .coral3-Popover
    .coral3-Popover-content
      padding: 0

.coral-Datepicker-clockContainer
  .coral-Clock
    width: 100%
