.coral-Datepicker
  display: inline-block

.coral-DatepickerPopover-drop
  .coral3-Popover
    .coral3-Popover-content
      padding: 0

.coral-Datepicker-clockContainer
  .coral-Clock
    width: 100%
