.coral3-Popover
  position: static
  .coral3-Popover-content
    background: #fff
    padding: .9375rem

.coral-Popover-drop-element
  display: block
  &.coral-Popover-drop-hidden
    display: none
  &.coral-Popover-drop-target-attached-right .coral-Popover-drop-content
    margin-left: 10px
  &.coral-Popover-drop-target-attached-left .coral-Popover-drop-content
    margin-right: 10px
  &.coral-Popover-drop-target-attached-bottom .coral-Popover-drop-content
    margin-top: 10px
  &.coral-Popover-drop-target-attached-top .coral-Popover-drop-content
    margin-bottom: 10px
