// Due to element selectors in CUI, I had to redefine the styles.
// See https://jira.corp.adobe.com/browse/CUI-5891
.coral-Search .coral-DecoratedTextfield-icon:not([hidden]) + .coral-DecoratedTextfield-input
  padding-left: 2.375rem

.coral-Search .coral-DecoratedTextfield-input.coral-Search-input
  padding-right: 2.125rem
