@import '@spectrum/spectrum-css/dist/components/progress/index.css';
@import '@spectrum/spectrum-css/dist/components/progress/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/progress/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/progress/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/progress/multiStops/darkest.css';
