/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

@require '../../commons'

$spectrum-progress-label-padding = 10*$px
$spectrum-progress-label-vertical-padding = 2*$px

$spectrum-progress-small-width = 148*$px
$spectrum-progress-small-height = 4*$px
$spectrum-progress-small-label-size = 11*$px
$spectrum-progress-small-label-width = 28*$px
$spectrum-progress-small-label-height = $spectrum-progress-small-label-size + 2*$px
$spectrum-progress-small-radius = 2*$px;

$spectrum-progress-medium-width = 182*$px
$spectrum-progress-medium-height = 6*$px
$spectrum-progress-medium-label-size = 12*$px
$spectrum-progress-medium-label-width = 30*$px
$spectrum-progress-medium-label-height = $spectrum-progress-medium-label-size + 2*$px
$spectrum-progress-medium-radius = 4*$px;

$spectrum-progress-large-width = 272*$px
$spectrum-progress-large-height = 8*$px
$spectrum-progress-large-label-size = 13*$px
$spectrum-progress-large-label-width = 32*$px
$spectrum-progress-large-label-height = $spectrum-progress-large-label-size + 2*$px
$spectrum-progress-large-radius = 6*$px;

.coral-Progress {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: $spectrum-progress-medium-width;
  height: $spectrum-progress-medium-height;
}

.coral-Progress-bar {
  // Visually apply border radius to child elements
  overflow: hidden;
}

.coral-Progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  // rightLabel is the default style
  right: $spectrum-progress-medium-label-width + $spectrum-progress-label-padding;

  height: $spectrum-progress-medium-height;
}

.coral-Progress-status {
  height: $spectrum-progress-medium-height;

  transition: width 1s;
}

.coral-Progress-label {
  position: absolute;
  top: 0;

  height: $spectrum-progress-medium-label-height;
  width: $spectrum-progress-medium-label-width;

  font-size: $spectrum-progress-medium-label-size;

  right: 0;
  padding-left: $spectrum-progress-label-padding;

  text-align: left;
}

.coral-Progress--indeterminate {
  .coral-Progress-status {
    display: none;
  }

  .coral-Progress-bar {
    transform: translateZ(0);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #1473e6;
      transform: translateX(-110%);

      animation: indeterminate 934ms cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite forwards;
    }
  }
}

@keyframes indeterminate {
  to {
    transform:translateX(110%);
  }
}

.coral-Progress--leftLabel {
  .coral-Progress-label {
    left: 0;
    padding-right: $spectrum-progress-label-padding;

    // resets the default rightLabel style
    padding-left: 0;

    text-align: right;
  }
  .coral-Progress-bar {
    left: $spectrum-progress-medium-label-width + $spectrum-progress-label-padding;
    right: 0;
  }
}

.coral-Progress--bottomLabel {
  height: $spectrum-progress-medium-height + $spectrum-progress-medium-label-height;

  .coral-Progress-label {
    top: $spectrum-progress-medium-height + $spectrum-progress-label-vertical-padding;
    left: 0;
    right: 0;
    width: auto;
    // resets the default rightLabel style
    padding-left: 0;

    // text-align: center // Alan said to inherit

    line-height: inherit;
  }

  .coral-Progress-bar {
    // resets the default rightLabel style
    right: 0;
  }
}

.coral-Progress--noLabel {
  .coral-Progress-label {
    display: none;
  }

  .coral-Progress-bar {
    right: 0;
  }
}

.coral-Progress--small {
  height: $spectrum-progress-small-height;
  min-width: $spectrum-progress-small-width;

  .coral-Progress-label {
    height: $spectrum-progress-small-label-height;
    width: $spectrum-progress-small-label-width;

    font-size: $spectrum-progress-small-label-size;
  }

  .coral-Progress-status {
    height: $spectrum-progress-small-height;
  }

  .coral-Progress-bar {
    height: $spectrum-progress-small-height;
    border-radius: $spectrum-progress-small-radius;
  }

  &.coral-Progress--bottomLabel {
    height: $spectrum-progress-small-height + $spectrum-progress-small-label-height;

    .coral-Progress-label {
      top: $spectrum-progress-small-height + $spectrum-progress-label-vertical-padding;
      width: auto;

      line-height: inherit;
    }
  }

  &.coral-Progress--leftLabel,
  &.coral-Progress--rightLabel {
    // Be the same height as the label
    height: $spectrum-progress-small-label-height;

    // Move the bar to the vertical center
    .coral-Progress-bar {
      top: ($spectrum-progress-small-label-height / 2) - ($spectrum-progress-small-height / 2);
    }

    .coral-Progress-label {
      line-height: $spectrum-progress-small-label-height;
    }
  }
}

.coral-Progress--medium {
  .coral-Progress-bar {
    border-radius: $spectrum-progress-medium-radius;
  }

  &.coral-Progress--leftLabel,
  &.coral-Progress--rightLabel {
    // Be the same height as the label
    height: $spectrum-progress-medium-label-height;

    // Move the bar to the vertical center
    .coral-Progress-bar {
      top: ($spectrum-progress-medium-label-height / 2) - ($spectrum-progress-medium-height / 2);
    }

    .coral-Progress-label {
      line-height: $spectrum-progress-medium-label-height;
    }
  }
}

.coral-Progress--large {
  height: $spectrum-progress-large-height;
  min-width: $spectrum-progress-large-width;

  .coral-Progress-label {
    height: $spectrum-progress-large-label-height;
    width: $spectrum-progress-large-label-width;

    font-size: $spectrum-progress-large-label-size;
  }

  .coral-Progress-status {
    height: $spectrum-progress-large-height;
  }

  .coral-Progress-bar {
    height: $spectrum-progress-large-height;
    border-radius: $spectrum-progress-large-radius;
  }

  &.coral-Progress--bottomLabel {
    height: $spectrum-progress-large-height + $spectrum-progress-large-label-height;

    .coral-Progress-label {
      top: $spectrum-progress-large-height + $spectrum-progress-label-vertical-padding;
      width: auto;

      line-height: inherit;
    }
  }

  &.coral-Progress--leftLabel,
  &.coral-Progress--rightLabel {
    // Be the same height as the label
    height: $spectrum-progress-large-label-height;

    // Move the bar to the vertical center
    .coral-Progress-bar {
      top: ($spectrum-progress-large-label-height / 2) - ($spectrum-progress-large-height / 2);
    }

    .coral-Progress-label {
      line-height: $spectrum-progress-large-label-height;
    }
  }
}

@require 'light.styl'
@require 'dark.styl'
