div.react-spectrum-ProgressCircle--centered {
  top: calc(50% - var(--spectrum-loader-circle-medium-height) / 2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  &.react-spectrum-ProgressCircle--small {
    top: calc(50% - var(--spectrum-loader-circle-small-height) / 2);
  }

  &.react-spectrum-ProgressCircle--large {
    top: calc(50% - var(--spectrum-loader-circle-large-height) / 2);
  }
}
