/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  /* Hardcoded for wrapping study.
  Will be a DNA token in https://jira.corp.adobe.com/browse/SDS-4466
  */
  --spectrum-checkbox-label-margin-top: var(--spectrum-global-dimension-size-85);

  /* Fix for inconsistent line-height between browsers that would push the label 1px below the intended baseline */
  /* more info: https://stackoverflow.com/questions/47700568/css-fonts-render-differently-in-firefox-and-chrome */
  --spectrum-checkbox-label-line-height: 1.49;
}

.spectrum-Checkbox {
  display: inline-flex;
  align-items: flex-start;

  position: relative;

  min-block-size: var(--spectrum-checkbox-height);
  max-inline-size: 100%;

  margin-inline-end: calc(var(--spectrum-checkbox-cursor-hit-x) * 2);

  vertical-align: top;
}

.spectrum-Checkbox-input {
  /* Change the font styles in all browsers for input. */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Add the correct box sizing for [type="checkbox"] in IE 10-. */
  box-sizing: border-box;

  /* Remove the padding for [type="checkbox"] in IE 10-. */
  padding: 0;

  /* Hit area */
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(var(--spectrum-checkbox-cursor-hit-x) * -1);
  inline-size: calc(100% + var(--spectrum-checkbox-cursor-hit-x) * 2);
  block-size: 100%;

  opacity: .0001;
  z-index: 1;

  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:checked + .spectrum-Checkbox-box {
    border-width: calc(var(--spectrum-checkbox-box-size) / 2);

    .spectrum-Checkbox-checkmark {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.spectrum-Checkbox.is-indeterminate {
  .spectrum-Checkbox-box,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-width: calc(var(--spectrum-checkbox-box-size) / 2);

    .spectrum-Checkbox-checkmark {
      display: none;
    }

    .spectrum-Checkbox-partialCheckmark {
      display: block;

      transform: scale(1);
      opacity: 1;
    }
  }
}

.spectrum-Checkbox-label {
  margin-inline-start: var(--spectrum-checkbox-text-gap);
  margin-block-start: var(--spectrum-checkbox-label-margin-top);
  font-size: var(--spectrum-checkbox-text-size);
  font-weight: var(--spectrum-checkbox-text-font-weight);
  line-height: var(--spectrum-checkbox-label-line-height);
  transition: color var(--spectrum-global-animation-duration-100) ease-in-out;
}

.spectrum-Checkbox-box {
  position: relative;
  box-sizing: border-box;
  inline-size: var(--spectrum-checkbox-box-size);
  block-size: var(--spectrum-checkbox-box-size);

  /* Fix vertical alignment when not wrapping since we're flex-start */
  margin: calc((var(--spectrum-checkbox-height) - var(--spectrum-checkbox-box-size)) / 2) 0;

  flex-grow: 0;
  flex-shrink: 0;

  border-radius: var(--spectrum-checkbox-box-border-radius);
  border-width: var(--spectrum-checkbox-box-border-size);
  border-style: solid;

  transition: border var(--spectrum-global-animation-duration-100) ease-in-out, box-shadow var(--spectrum-global-animation-duration-100) ease-in-out;
}

.spectrum-Checkbox-checkmark,
.spectrum-Checkbox-partialCheckmark {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;

  margin-block-start: calc(var(--spectrum-icon-checkmark-small-height) / -2);
  margin-inline-start: calc(var(--spectrum-icon-checkmark-small-width) / -2);

  opacity: 0;
  transform: scale(0);

  transition: opacity var(--spectrum-global-animation-duration-100) ease-in-out, transform var(--spectrum-global-animation-duration-100) ease-in-out;
}

.spectrum-Checkbox-partialCheckmark {
  display: none;
}
