/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:root {
  /* todo: fix in DNA */
  --spectrum-checkbox-emphasized-text-color-key-focus: var(--spectrum-checkbox-emphasized-text-color-hover);
  --spectrum-checkbox-emphasized-box-border-color-selected-key-focus: var(--spectrum-checkbox-emphasized-box-border-color-selected-hover);
}

.spectrum-Checkbox {
  color: var(--spectrum-checkbox-text-color);
}
.spectrum-Checkbox .spectrum-Checkbox-checkmark,
.spectrum-Checkbox .spectrum-Checkbox-partialCheckmark {
  color: var(--spectrum-checkbox-checkmark-color);
}

.spectrum-Checkbox-box {
  &:before {
    border-color: var(--spectrum-checkbox-emphasized-box-border-color);
    background-color: var(--spectrum-checkbox-emphasized-box-background-color);
  }
}

.spectrum-Checkbox-label {
  color: var(--spectrum-checkbox-emphasized-text-color);
}

/* Indeterminate is basically a checked state, so handle colors for checked state here */
.spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-box,
.spectrum-Checkbox.is-checked .spectrum-Checkbox-box {
  &:before {
    border-color: var(--spectrum-checkbox-emphasized-box-border-color-selected);
  }
}

.spectrum-Checkbox:hover {
  &.is-indeterminate .spectrum-Checkbox-box,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    &:before {
      border-color: var(--spectrum-checkbox-emphasized-box-border-color-selected-hover);
    }
  }
}

.spectrum-Checkbox:active {
  &.is-indeterminate .spectrum-Checkbox-box,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    &:before {
      border-color: var(--spectrum-checkbox-emphasized-box-border-color-selected-down);
    }
  }
}

.spectrum-Checkbox {
  border-color: var(--spectrum-checkbox-emphasized-box-border-color);

  &:hover {
    .spectrum-Checkbox-box {
      &:before {
        border-color: var(--spectrum-checkbox-emphasized-box-border-color-hover);
      }
    }
    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-emphasized-text-color-hover);
    }
  }

  &:active {
    .spectrum-Checkbox-box {
      &:before {
        border-color: var(--spectrum-checkbox-emphasized-box-border-color-down);
      }
    }
    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-emphasized-text-color-down);
    }
  }
}

.spectrum-Checkbox .spectrum-Checkbox-input,
.spectrum-Checkbox .spectrum-Checkbox-input:checked {
  &:disabled + .spectrum-Checkbox-box,
  &:disabled:active + .spectrum-Checkbox-box {
    &:before {
      border-color: var(--spectrum-checkbox-emphasized-box-border-color-disabled);
      background-color: var(--spectrum-checkbox-emphasized-box-background-color-disabled);
    }
  }

  &:disabled ~ .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-text-color-disabled);
  }
}

/* Focus */
.spectrum-Checkbox-input {
  & + .spectrum-Checkbox-box {
    &:after {
      box-shadow: 0 0 0 var(--spectrum-checkbox-focus-ring-size-key-focus) var(--spectrum-checkbox-focus-ring-color-key-focus);
      opacity: 0;
    }
  }
  &:focus-ring + .spectrum-Checkbox-box {
    &:before {
      border-color: var(--spectrum-checkbox-box-border-color-key-focus);
    }
    &:after {
      opacity: 1;
    }
  }
  .spectrum-Checkbox.is-indeterminate &,
  &:checked {
    &:focus-ring + .spectrum-Checkbox-box {
      &:before {
        border-color: var(--spectrum-checkbox-emphasized-box-border-color-selected-key-focus);
      }
    }
  }
  &:focus-ring ~ .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-emphasized-text-color-key-focus);
  }
}

.spectrum-Checkbox--quiet .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box,
.spectrum-Checkbox--quiet.is-indeterminate .spectrum-Checkbox-box,
.spectrum-Checkbox--quiet.is-indeterminate .spectrum-Checkbox-input:focus-ring + .spectrum-Checkbox-box {
  &:before {
    border-color: var(--spectrum-checkbox-quiet-box-border-color-selected);
  }
}
.spectrum-Checkbox--quiet:hover {
  &.is-indeterminate .spectrum-Checkbox-box,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    &:before {
      border-color: var(--spectrum-checkbox-quiet-box-border-color-selected-hover);
    }
  }
}
.spectrum-Checkbox--quiet:active {
  &.is-indeterminate .spectrum-Checkbox-box,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    &:before {
      border-color: var(--spectrum-checkbox-quiet-box-border-color-selected-down);
    }
  }
}

.spectrum-Checkbox.is-invalid {
  /* Extra-specific selectors added here to handle checked state */
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box,
  .spectrum-Checkbox-box {
    &:before {
      border-color: var(--spectrum-checkbox-box-border-color-error);
    }
  }

  .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-text-color-error);
  }

  &.is-indeterminate .spectrum-Checkbox-input:focus-ring,
  .spectrum-Checkbox-input:focus-ring {
    & + .spectrum-Checkbox-box {
      &:before {
        border-color: var(--spectrum-checkbox-box-border-color-error-hover);
      }
    }

    & ~ .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-text-color-error-hover);
    }
  }

  &:hover {
    .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box,
    .spectrum-Checkbox-box {
      &:before {
        border-color: var(--spectrum-checkbox-box-border-color-error-hover);
      }
    }

    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-text-color-error-hover);
    }
  }

  &:active {
    .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box,
    .spectrum-Checkbox-box {
      &:before {
        border-color: var(--spectrum-checkbox-box-border-color-error-down);
      }
    }

    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-text-color-error-down);
    }
  }
}
@media (forced-colors: active) {
  .spectrum-Checkbox {
    forced-color-adjust: none;
    --spectrum-checkbox-box-border-color: ButtonText;
    --spectrum-checkbox-box-border-color-error: Highlight;
    --spectrum-checkbox-box-border-color-error-down: Highlight;
    --spectrum-checkbox-box-border-color-error-hover: Highlight;
    --spectrum-checkbox-box-border-color-key-focus: Highlight;
    --spectrum-checkbox-checkmark-color: HighlightText;
    --spectrum-checkbox-emphasized-box-background-color: ButtonFace;
    --spectrum-checkbox-emphasized-box-background-color-disabled: ButtonFace;
    --spectrum-checkbox-emphasized-box-border-color: ButtonText;
    --spectrum-checkbox-emphasized-box-border-color-disabled: GrayText;
    --spectrum-checkbox-emphasized-box-border-color-down: Highlight;
    --spectrum-checkbox-emphasized-box-border-color-hover: Highlight;
    --spectrum-checkbox-emphasized-box-border-color-selected: Highlight;
    --spectrum-checkbox-emphasized-box-border-color-selected-down: Highlight;
    --spectrum-checkbox-emphasized-box-border-color-selected-hover: Highlight;
    --spectrum-checkbox-emphasized-box-border-color-selected-key-focus: Highlight;
    --spectrum-checkbox-emphasized-text-color: FieldText;
    --spectrum-checkbox-emphasized-text-color-down: FieldText;
    --spectrum-checkbox-emphasized-text-color-hover: FieldText;
    --spectrum-checkbox-emphasized-text-color-key-focus: FieldText;
    --spectrum-checkbox-focus-ring-color-key-focus: ButtonText;
    --spectrum-checkbox-quiet-box-border-color-selected: Highlight;
    --spectrum-checkbox-quiet-box-border-color-selected-down: Highlight;
    --spectrum-checkbox-quiet-box-border-color-selected-hover: Highlight;
    --spectrum-checkbox-text-color: FieldText;
    --spectrum-checkbox-text-color-disabled: GrayText;
    --spectrum-checkbox-text-color-error: FieldText;
    --spectrum-checkbox-text-color-error-down: FieldText;
    --spectrum-checkbox-text-color-error-hover: FieldText;

     &.is-invalid {
      .spectrum-Checkbox-box {
        &:before {
          border-color: var(--spectrum-checkbox-box-border-color);
        }
      }
      &.is-indeterminate .spectrum-Checkbox-box {
          &:before {
            border-color: var(--spectrum-checkbox-box-border-color-error);
          }
        }
      &.is-disabled .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
        &:before {
          border-color: GrayText;
        }
      }
      /* Extra-specific selectors added here to handle checked state */
      .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box
      {
        &:before {
          border-color: var(--spectrum-checkbox-box-border-color-error);
        }
      }
    }
  }
}
