/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.react-spectrum-TableView {
  height: 100%
  display: flex
  flex-direction: column
}

.react-spectrum-TableView-body {
  flex: 1
  outline: none

  > div > .item {
    overflow: visible !important; /* override inline styles applied by collection-view */
  }
}
.react-spectrum-TableView-row {
  display: flex
  align-items: center

  &.spectrum-Table-row {
    box-sizing: border-box;
    height: 100%;
  }

  .spectrum-Table-cell {
    // Needed to pass an implied width to the child elements (so truncating can be added in children)
    // % because IE
    min-width: 0%
    // height so that borders used to divide take up full height
    height: 100%;
    // height 100% causes all elements to be rendered at the top of the row, not in the center
    // adding flex with align-items center puts all the contents back in the vertical middle
    display: flex;
    align-items: center;
  }
}

