.button {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  outline: none;

  &[data-selected] {
    filter: invert();
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  display: none;
}
.spinner-pending {
  opacity: 1;
  visibility: visible;
  display: block;
}

.pending {
  opacity: 0;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}