@import '@spectrum/spectrum-css/dist/components/calendar/index.css';
@import '@spectrum/spectrum-css/dist/components/calendar/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/calendar/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/calendar/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/calendar/multiStops/darkest.css';

.react-spectrum-Calendar-tableCaption {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.spectrum-Calendar-tableCell:focus {
  outline: 0;
}
