@import '@spectrum/spectrum-css/dist/components/alert/index.css';
@import '@spectrum/spectrum-css/dist/components/alert/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/alert/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/alert/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/alert/multiStops/darkest.css';
