/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  --spectrum-slider-controls-margin: calc(var(--spectrum-slider-handle-width) / 2);
  --spectrum-slider-track-margin-offset: calc(var(--spectrum-slider-controls-margin) * -1);

  --spectrum-slider-handle-margin-top: calc(var(--spectrum-slider-handle-width) / -2);
  --spectrum-slider-handle-margin-left: calc(var(--spectrum-slider-handle-width) / -2);

  --spectrum-dial-width: var(--spectrum-slider-height);
  --spectrum-dial-label-gap-y: var(--spectrum-global-dimension-size-65);
  --spectrum-dial-handle-position: var(--spectrum-global-dimension-size-100);

  --spectrum-slider-track-handleoffset: calc(var(--spectrum-slider-handle-gap));
  --spectrum-slider-track-middle-handleoffset: calc(var(--spectrum-slider-handle-gap) + calc(var(--spectrum-slider-handle-width) / 2));

  --spectrum-slider-input-top: calc(var(--spectrum-slider-handle-margin-top) / 4);
  --spectrum-slider-input-left: calc(var(--spectrum-slider-handle-margin-left) / 4);

  --spectrum-dial-handle-size: 100%;
  --spectrum-dial-min-height: 0;
  --spectrum-dial-controls-min-height: 0;
  --spectrum-dial-controls-margin: 0;

  --spectrum-slider-color-min-height: auto;
  --spectrum-slider-color-track-padding: 0;
  --spectrum-slider-color-track-top: 0;
  --spectrum-slider-color-track-margin-top: 0;
  --spectrum-slider-color-track-margin-left: 0;
  --spectrum-slider-color-track-margin-right: 0;
  --spectrum-slider-color-handle-top: 50%;

  --spectrum-slider-ramp-margin-top: 0;

  --spectrum-slider-range-track-reset: 0;
}

.spectrum-Slider {
  position: relative;

  /* Don't let z-index'd child elements float above other things on the page */
  z-index: 1;
  display: block;
  min-height: var(--spectrum-slider-height);
  min-width: var(--spectrum-slider-min-width);

  user-select: none;
}

.spectrum-Slider-controls {
  display: inline-block;
  box-sizing: border-box;

  position: relative;
  z-index: auto;

  /* These calculations prevent the track from spilling outside of the control */
  width: calc(100% - calc(var(--spectrum-slider-controls-margin) * 2));
  margin-left: var(--spectrum-slider-controls-margin);
  min-height: var(--spectrum-slider-height);

  vertical-align: top;
}

.spectrum-Slider-track,
.spectrum-Slider-buffer,
.spectrum-Slider-ramp,
.spectrum-Slider-fill {
  height: var(--spectrum-slider-track-height);
  box-sizing: border-box;

  position: absolute;
  z-index: 1;
  top: calc(var(--spectrum-slider-height) / 2);
  left: 0;
  right: auto;

  margin-top: calc(var(--spectrum-slider-fill-track-height) / -2);

  pointer-events: none;
}

.spectrum-Slider-track,
.spectrum-Slider-buffer,
.spectrum-Slider-fill {
  padding: 0 var(--spectrum-slider-track-handleoffset) 0 0;
  margin-left: var(--spectrum-slider-track-margin-offset);

  &::before {
    content: '';
    display: block;
    height: 100%;

    border-radius: var(--spectrum-slider-track-border-radius);
  }
}

.spectrum-Slider-fill {
  margin-left: 0;
  padding: 0 0 0 calc(var(--spectrum-slider-controls-margin) + var(--spectrum-slider-track-handleoffset));
}

.spectrum-Slider-fill--right {
  padding: 0 calc(var(--spectrum-slider-controls-margin) + var(--spectrum-slider-track-handleoffset)) 0 0;
}

.spectrum-Slider-buffer {
  padding: 0 var(--spectrum-slider-track-handleoffset) 0 0;
}

.spectrum-Slider-track ~ .spectrum-Slider-track,
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  left: auto;
  right: var(--spectrum-slider-range-track-reset);
  padding: 0 0 0 var(--spectrum-slider-track-handleoffset);
  margin-left: var(--spectrum-slider-range-track-reset);
  margin-right: var(--spectrum-slider-track-margin-offset);
}

.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-right: var(--spectrum-slider-range-track-reset);
  padding: 0 0 0 var(--spectrum-slider-track-middle-handleoffset);

  &:after {
    display: none;
  }
}

.spectrum-Slider--range {
  .spectrum-Slider-value {
    user-select: text;
  }

  .spectrum-Slider-track {
    &:first-of-type {
      padding: 0 var(--spectrum-slider-track-handleoffset) 0 0;
      left: var(--spectrum-slider-range-track-reset);
      right: auto;
      margin-left: var(--spectrum-slider-track-margin-offset);
    }
    & {
      padding: 0 var(--spectrum-slider-track-middle-handleoffset) 0 var(--spectrum-slider-track-middle-handleoffset);
      left: auto;
      right: auto;
      margin: var(--spectrum-slider-range-track-reset);
    }
    &:last-of-type {
      padding: 0 0 0 var(--spectrum-slider-track-handleoffset);
      left: auto;
      right: var(--spectrum-slider-range-track-reset);
      margin-right: var(--spectrum-slider-track-margin-offset);
    }
  }
}

.spectrum-Slider-buffer {
  /* Appear above track */
  z-index: 2;
}

.spectrum-Slider-ramp {
  margin-top: var(--spectrum-slider-ramp-margin-top);
  height: var(--spectrum-slider-ramp-track-height);

  position: absolute;
  left: var(--spectrum-slider-track-margin-offset);
  right: var(--spectrum-slider-track-margin-offset);
  top: calc(var(--spectrum-slider-ramp-track-height) / 2);

  svg {
    width: 100%;
    height: 100%;
  }
}

.spectrum-Slider-handle {
  position: absolute;
  left: 0;
  top: calc(var(--spectrum-slider-height) / 2);
  z-index: 2;

  display: inline-block;
  box-sizing: border-box;

  width: var(--spectrum-slider-handle-width);
  height: var(--spectrum-slider-handle-height);

  margin: var(--spectrum-slider-handle-margin-top) 0 0 calc(var(--spectrum-slider-handle-width) / -2);

  border-width: var(--spectrum-slider-handle-border-size);
  border-style: solid;

  border-radius: var(--spectrum-slider-handle-border-radius);

  transition: border-width var(--spectrum-slider-animation-duration) ease-in-out;

  outline: none;
  cursor: pointer;
  cursor: grab;

  &:active,
  &.is-focused,
  &.is-dragged {
    border-width: var(--spectrum-slider-handle-border-size-down);
    cursor: ns-resize;
    cursor: grabbing;
  }

  &:active,
  &.is-focused,
  &.is-dragged,
  &.is-tophandle {
    z-index: 3;
  }
}

.spectrum-Slider-input {
  /*  Remove the margin for input in Firefox and Safari. */
  margin: 0;

  width: var(--spectrum-slider-handle-width);
  height: var(--spectrum-slider-handle-height);
  padding: 0;
  position: absolute;
  top: var(--spectrum-slider-input-top);
  left: var(--spectrum-slider-input-left);
  overflow: hidden;
  opacity: .000001;
  cursor: default;
  -webkit-appearance: none;
  border: 0;
  pointer-events: none;

  &:focus {
    outline: none;
  }
}

.spectrum-Slider-labelContainer {
  display: flex;
  position: relative;

  width: auto;

  padding-top: var(--spectrum-fieldlabel-padding-top);

  font-size: var(--spectrum-text-size-text-label);
  line-height: var(--spectrum-line-height-text-label);
}

.spectrum-Slider-label,
.spectrum-Dial-label {
  padding-left: 0;
  flex-grow: 1;
}

.spectrum-Slider-value,
.spectrum-Dial-value {
  flex-grow: 0;
  padding-right: 0;
  cursor: default;
}

.spectrum-Slider-value {
  margin-left: var(--spectrum-slider-label-gap-x);
}

.spectrum-Slider-ticks {
  display: flex;
  justify-content: space-between;

  z-index: 0;

  margin: 0 var(--spectrum-slider-track-margin-offset);
  margin-top: calc(var(--spectrum-slider-tick-mark-height) + calc(var(--spectrum-slider-track-height) / 2));
}

.spectrum-Slider-tick {
  position: relative;

  width: var(--spectrum-slider-tick-mark-width);

  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - calc(var(--spectrum-slider-tick-mark-width) / 2));
    content: '';
    width: var(--spectrum-slider-tick-mark-width);
    height: var(--spectrum-slider-tick-mark-height);

    border-radius: var(--spectrum-slider-tick-mark-border-radius);
  }

  .spectrum-Slider-tickLabel {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: var(--spectrum-slider-label-gap-x) calc(var(--spectrum-slider-label-gap-x) * -1) 0 calc(var(--spectrum-slider-label-gap-x) * -1);

    font-size: var(--spectrum-text-size-text-label);
    line-height: var(--spectrum-line-height-text-label);
  }

  &:first-of-type,
  &:last-of-type {
    .spectrum-Slider-tickLabel {
      display: block;
      position: absolute;
      margin: var(--spectrum-slider-label-gap-x) 0 0 0;
    }
  }

  &:first-of-type {
    .spectrum-Slider-tickLabel {
      left: 0;
    }
  }

  &:last-of-type {
    .spectrum-Slider-tickLabel {
      right: 0;
    }
  }
}

.spectrum-Slider--color {
  .spectrum-Slider-labelContainer {
    padding-bottom: var(--spectrum-fieldlabel-padding-bottom);
  }
  .spectrum-Slider-controls,
  .spectrum-Slider-controls::before,
  .spectrum-Slider-track {
    min-height: var(--spectrum-slider-color-min-height);
    height: var(--spectrum-slider-color-track-height);
    margin-left: var(--spectrum-slider-color-track-margin-left);
    width: 100%;
  }
  .spectrum-Slider-controls::before {
    display: block;
    content: '';
  }
  .spectrum-Slider-controls::before,
  .spectrum-Slider-track {
    top: var(--spectrum-slider-color-track-top);
    padding: var(--spectrum-slider-color-track-padding);
    margin-top: var(--spectrum-slider-color-track-margin-top);
    margin-right: var(--spectrum-slider-color-track-margin-right);
    border-radius: var(--spectrum-alias-border-radius-regular);
  }
  .spectrum-Slider-handle {
    top: var(--spectrum-slider-color-handle-top);
  }
}

.spectrum-Dial {
  @inherit: .spectrum-Slider;
  display: inline-flex;
  flex-direction: column;

  height: auto;
  min-width: var(--spectrum-dial-min-height);
  min-height: var(--spectrum-dial-min-height);
  width: var(--spectrum-dial-container-width);
}

.spectrum-Dial-labelContainer {
  @inherit: .spectrum-Slider-labelContainer;
  margin-bottom: var(--spectrum-dial-label-gap-y);
}

.spectrum-Dial-label {
  &:only-child {
    /* Only center if we don't have a value */
    text-align: center;
  }
}

.spectrum-Dial-controls {
  @inherit: .spectrum-Slider-controls;
  width: var(--spectrum-dial-width);
  height: var(--spectrum-dial-width);
  min-height: var(--spectrum-dial-controls-min-height);

  border-radius: var(--spectrum-dial-border-radius);
  position: relative;
  display: inline-block;
  margin: var(--spectrum-dial-controls-margin);

  box-sizing: border-box;
  outline: none;

  &::before,
  &::after {
    content: '';
    width: calc(var(--spectrum-slider-tick-mark-width) * 2);
    height: var(--spectrum-slider-tick-mark-width);
    border-radius: var(--spectrum-slider-tick-mark-border-radius);
    position: absolute;
    bottom: 0;
  }
  &::before {
    left: auto;
    right: calc(var(--spectrum-slider-tick-mark-width) * -1);
    transform: rotate(var(--spectrum-dial-min-max-tick-angles));
  }
  &::after {
    left: calc(var(--spectrum-slider-tick-mark-width) * -1);
    transform: rotate(calc(var(--spectrum-dial-min-max-tick-angles) * -1));
  }
}

.spectrum-Dial-handle {
  @inherit: .spectrum-Slider-handle;
  width: var(--spectrum-dial-handle-size);
  height: var(--spectrum-dial-handle-size);
  border-width: var(--spectrum-slider-handle-border-size);
  box-shadow: none;
  position: absolute;
  top: var(--spectrum-dial-handle-position);
  left: var(--spectrum-dial-handle-position);
  right: var(--spectrum-dial-handle-position);
  bottom: var(--spectrum-dial-handle-position);
  border-radius: var(--spectrum-dial-border-radius);
  transform: rotate(calc(var(--spectrum-dial-min-max-tick-angles) * -1));
  cursor: pointer;
  cursor: grab;

  transition: background-color var(--spectrum-slider-animation-duration) ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(var(--spectrum-slider-tick-mark-width) * -1);
    width: var(--spectrum-dial-handle-marker-width);
    height: var(--spectrum-dial-handle-marker-height);
    border-radius: var(--spectrum-dial-handle-marker-border-radius);
    transform: translateY(-50%);
    transition: background-color var(--spectrum-slider-animation-duration) ease-in-out;
  }

  &:active,
  &.is-focused,
  &.is-dragged {
    border-width: var(--spectrum-slider-handle-border-size);
    cursor: ns-resize;
    cursor: grabbing;
  }
}

.spectrum-Dial-input {
  @inherit: .spectrum-Slider-input;
  width: var(--spectrum-dial-handle-size);
  height: var(--spectrum-dial-handle-size);
  left: 0;
  top: 0;
}

.spectrum-Dial--small {
  .spectrum-Dial-controls {
    width: var(--spectrum-dial-small-width);
    height: var(--spectrum-dial-small-height);
  }
}

.spectrum-Slider,
.spectrum-Dial {
  &.is-disabled {
    cursor: default;

    .spectrum-Slider-handle {
      cursor: default;
      pointer-events: none;
    }

    &.spectrum-Slider--color {
      .spectrum-Slider-handle {
        &:hover,
        &:active {
          border-width: var(--spectrum-slider-color-handle-outset-border-size);
        }
      }
    }
  }
}

.u-isGrabbing {
  cursor: ns-resize;
  cursor: -webkit-grabbing;
  cursor: grabbing;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .spectrum-Dial {
    .spectrum-Dial-label,
    .spectrum-Dial-value {
      cursor: inherit;
    }
  }

  .spectrum-Slider {
    .spectrum-Slider-label,
    .spectrum-Slider-value {
      cursor: inherit;
    }
  }
}
