@require '../core';
@require '~coralui-component-shell-header/styles/index';

// CoralUI is using a descendent element selector `.coral-Shell-homeAnchor coral-icon`.
// Overriding it here.  Logged CUI-5813.
.coral-Shell-homeAnchor .coral-Icon
  vertical-align: middle
  margin-right: .625rem

.coral-Shell-header
  z-index: 10020

@require '~coralui-component-shell-menubar/styles/index';
@require '~coralui-theme-cloudui/styles/coralui-component-list/basiclist.styl';
@require '~coralui-component-shell-help/styles/index';
@require '~coralui-component-shell-orgswitcher/styles/index';
@require '~coralui-component-shell-user/styles/index';
@require '~coralui-component-shell-workspaces/styles/index';
@require '~coralui-component-shell-solutionswitcher/styles/index';
