name: PR comment run TS Diff
on:
  pull_request:
    types: [opened]
  issue_comment:
    types: [created]
jobs:
  Run-TS-Diff:
    runs-on: ubuntu-latest
    steps:
      - uses: khan/pull-request-comment-trigger@master
        id: check
        with:
          trigger: '@typescript-report'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - run: 'echo Found it!'
        if: steps.check.outputs.triggered == 'true'
