name: PR Title Lint
on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
permissions:
  pull-requests: read
env:
  YARN_ENABLE_HARDENED_MODE: 0
jobs:
  pr-title-lint:
    runs-on: ubuntu-latest
    name: Lint PR Title
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Use Node 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'
      - name: Restore cached node_modules
        uses: actions/cache@v4
        id: node_modules
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('yarn.lock') }}
      - name: install
        run: yarn install --immutable
      - name: Lint PR
        uses: ./.github/actions/pr-linting
        with:
          pr-title: ${{ github.event.pull_request.title }}