/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2019 Adobe
* All Rights Reserved.
*
* NOTICE: All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
**************************************************************************/

 @import '@spectrum/spectrum-variables/stylus/spectrum-dark.styl'

.gridview-test-item
  width: 100%
  height: 100%
  line-height: 24px
  img
    width: 100%
    height: 100%
    object-fit: contain
  .img-wrapper
    position: relative
    height: calc(100% - 24px)

.react-spectrum-GridView
  .selected
    .img-wrapper:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      box-sizing: border-box
      border: 2px solid $spectrum-global-color-blue400

  .drop-target
    .img-wrapper:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      box-sizing: border-box
      border: 2px solid red
