.card {
  width: 200px;
  position: relative;
}

.body {
  align-items: center;
  background-color: gainsboro;
  border-radius: 5px;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.caption {
  margin-top: 18px;
}

.title {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 400;
}

.subtitle {
  font-size: 11px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.quickActions {
  display: inline-flex;
  position: absolute;
  right: 16px;
  top: 16px;
}
