/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  /* The width of a step */
  --spectrum-steplist-step-width: 80px;

  /* The diameter of the marker */
  --spectrum-steplist-marker-diameter: 8px;

  /* The width of the hit area */
  --spectrum-steplist-marker-hitArea: 20px;

  /* The height of the line */
  --spectrum-steplist-segment-height: 2px;

  /* This gives enough space for one line of text */
  --spectrum-steplist-topPadding: 22px;
  --spectrum-steplist-small-topPadding: 11px;

  /* This gives enough space for the longest possible label */
  --spectrum-steplist-sidePadding: 60px;

  /* Offset from the BOTTOM of the steplist */
  --spectrum-steplist-label-labelOffset: 10px;

  /* Font size of the label */
  --spectrum-steplist-label-text-size: 12px;
}

.spectrum-Steplist {
  /* Contain child elements with positive z-index */
  z-index: 0;
  position: relative;

  display: block;
  vertical-align: top;
  margin: 0;
  padding-top: var(--spectrum-steplist-topPadding);
  padding-left: var(--spectrum-steplist-sidePadding);
  padding-right: var(--spectrum-steplist-sidePadding);

  text-align: center;
  white-space: nowrap;
  font-size: 0; /* To remove html whitespace between inline elements */
  line-height: 16px; /* in case the container changes it */
}

.spectrum-Steplist--interactive {
  .spectrum-Steplist-label,
  .spectrum-Steplist-markerContainer {
    /* Show cursor on hit zone when clickable */
    cursor: pointer;
  }
}

/* Small (w/o label or tooltip) */
.spectrum-Steplist--small {
  padding: var(--spectrum-steplist-small-topPadding) 0;

  .spectrum-Steplist-item {
    padding: 0 40px 0 0;
    width: 80px;

    /* Disable Label */
    .spectrum-Steplist-label {
      display: none;
    }

    &:first-child, &:last-child {
      width: 20px;
    }

    /* Disable first line */
    &:first-child {
      .spectrum-Steplist-markerContainer {
        margin-left: -10px;
      }
    }

    &:last-child {
      .spectrum-Steplist-markerContainer {
        margin-right: -10px;
      }
    }
  }
}

.spectrum-Steplist-item {
  outline: none;
  position: relative;
  display: inline-block;
  margin: 0;

  /* Don't let tooltips mess up alignment */
  vertical-align: bottom;

  box-sizing: content-box;
  width: var(--spectrum-steplist-step-width);
  padding: 0 calc(var(--spectrum-steplist-step-width) / 2) 0 0;

  /* Completed State */
  &.is-complete {
    .spectrum-Steplist-marker {
      border: none;
    }

    /* The next step's line should be solid */
    & + .spectrum-Steplist-item .spectrum-Steplist-segment {
      border-bottom-width: var(--spectrum-steplist-segment-height);
      border-bottom-style: solid;
    }
  }

  /* Selected state */
  &.is-selected {
    /* Focus */
    &:focus,
    &.is-focused,
    *:focus {
      outline: none;
    }
    .spectrum-Steplist-marker {
      border: none;
    }
  }
}

.spectrum-Steplist-label {
  position: absolute;
  left: 50%;
  bottom: var(--spectrum-steplist-label-labelOffset);

  display: block;
  width: calc(var(--spectrum-steplist-step-width) * 1.5);

  font-size: var(--spectrum-steplist-label-text-size);
  white-space: normal;

  transform: translateX(-50%);
}

.spectrum-Steplist-markerContainer {
  display: block;

  z-index: 2;
  position: absolute;
  bottom: -10px;
  left: 50%;

  width: var(--spectrum-steplist-marker-hitArea);
  height: var(--spectrum-steplist-marker-hitArea);

  margin-left: calc(calc(var(--spectrum-steplist-marker-hitArea) / 2) * -1);
}

/* Circle step marker */
.spectrum-Steplist-marker {
  box-sizing: border-box; /* So we can stroke nicely */
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(calc(var(--spectrum-steplist-marker-diameter) / 2) * -1);
  margin-left: calc(calc(var(--spectrum-steplist-marker-diameter) / 2) * -1);

  width: var(--spectrum-steplist-marker-diameter);
  height: var(--spectrum-steplist-marker-diameter);

  border-radius: var(--spectrum-steplist-marker-diameter);

  border: 2px solid;
  border-color: transparent;
  background: transparent;
}

/* Step line */
.spectrum-Steplist-segment {
  display: block;
  z-index: 1;
  position: absolute;
  right: calc(var(--spectrum-steplist-step-width) - calc(var(--spectrum-steplist-marker-diameter) * 1.5));

  box-sizing: content-box;
  width: calc(calc(var(--spectrum-steplist-step-width) * 1.5) - calc(var(--spectrum-steplist-marker-diameter) * 2));
  bottom: calc(calc(var(--spectrum-steplist-segment-height) / 2) * -1);

  /* Default is dashed */
  border-bottom-width: var(--spectrum-steplist-segment-height);
  border-bottom-style: dashed;
}

/* First step overrides */
.spectrum-Steplist-item:first-child {
  .spectrum-Steplist-markerContainer {
    left: 0;
  }

  .spectrum-Steplist-label {
    left: 0;
  }

  .spectrum-Steplist-segment {
    /* Not visible for first step */
    display: none;
  }
}

/* Last step overrides */
.spectrum-Steplist-item:last-child {
  .spectrum-Steplist-label {
    left: auto;
    right: 0;

    transform: translateX(50%);
  }

  .spectrum-Steplist-markerContainer {
    left: auto;
    right: 0;

    margin-left: 0;
    margin-right: calc(calc(var(--spectrum-steplist-marker-hitArea) / 2) * -1);
  }

  .spectrum-Steplist-segment {
    right: var(--spectrum-steplist-marker-diameter);
    left: auto;
  }
}

.spectrum-Steplist-item:first-child,
.spectrum-Steplist-item:last-child {
  width: calc(calc(var(--spectrum-steplist-step-width) / 2) - calc(var(--spectrum-steplist-marker-diameter) * 2.5));
}

/* Single step */
.spectrum-Steplist-item:only-child {
  .spectrum-Steplist-label {
    /* Be centered */
    left: 50%;

    /* Override last-child bits */
    transform: translate(-50%);
  }

  .spectrum-Steplist-markerContainer {
    /* Be centered */
    left: 50%;

    /* Override last-child bits */
    margin-right: 0;
    margin-left: calc(calc(var(--spectrum-steplist-marker-hitArea) / 2) * -1);
  }
}
