/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';

:root {
  --spectrum-steplist-incomplete-marker-color: var(--spectrum-global-color-gray-400);
  /* The color of the complete marker */
  --spectrum-steplist-complete-marker-color: var(--spectrum-global-color-gray-700);
  /* The color of the selected marker */
  --spectrum-steplist-current-marker-color: var(--spectrum-global-color-gray-900);

  /* The diameter of the marker */
  --spectrum-steplist-marker-diameter-small: 8px;
  --spectrum-steplist-marker-diameter-medium: 16px;
  --spectrum-steplist-marker-diameter-large: 24px;
  --spectrum-steplist-marker-diameter-xlarge: 32px;

  /* The width of the border */
  --spectrum-steplist-marker-border-width: 2px;
  --spectrum-steplist-marker-total-border-width: calc(var(--spectrum-steplist-marker-border-width) * 4);

  /* The height of the line */
  --spectrum-steplist-segment-height: 2px;

  /* The width of the marker including borders */ 
  --spectrum-steplist-marker-box-width-small: calc(var(--spectrum-steplist-marker-diameter-small) + var(--spectrum-steplist-marker-total-border-width));
  --spectrum-steplist-marker-box-width-medium: calc(var(--spectrum-steplist-marker-diameter-medium) + var(--spectrum-steplist-marker-total-border-width));
  --spectrum-steplist-marker-box-width-large: calc(var(--spectrum-steplist-marker-diameter-large) + var(--spectrum-steplist-marker-total-border-width));
  --spectrum-steplist-marker-box-width-xlarge: calc(var(--spectrum-steplist-marker-diameter-xlarge) + var(--spectrum-steplist-marker-total-border-width));

  /* Distance between chevron and previous/next link */ 
  --spectrum-steplist-chevron-link-gap-small: 6px;
  --spectrum-steplist-chevron-link-gap-medium: 12px;
  --spectrum-steplist-chevron-link-gap-large: 16px;
  --spectrum-steplist-chevron-link-gap-xlarge: 24px;

  /* Distance between number bullet and label */ 
  --spectrum-steplist-number-label-gap-small: 6px;
  --spectrum-steplist-number-label-gap-medium: 8px;
  --spectrum-steplist-number-label-gap-large: 12px;
  --spectrum-steplist-number-label-gap-xlarge: 16px;

  /* The distance between steps in vertical  */
  --spectrum-steplist-vertical-separation: 28px;

}

.spectrum-Steplist {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.spectrum-Steplist-marker-focus {
  padding: var(--spectrum-steplist-marker-border-width);
  border-width: var(--spectrum-steplist-marker-border-width);
  border-color: transparent;
  border-style: solid;
  border-radius: 100%;
}

.spectrum-Steplist-item {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-rows: auto;
  grid-template-areas: 
    "chevron link";
  .spectrum-Steplist-segment {
    grid-area: chevron;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Focus */
  &:focus,
  &.is-focused,
  *:focus {
    outline: none;
  }

  /* Completed State */
  &.is-complete {
    .spectrum-Steplist-marker {
      border: none;
    }
  }

  /* Selected state */
  &.is-selected {
   .spectrum-Steplist-marker {
      border: none;
    }
  }
  &.is-navigable .spectrum-Steplist-link {
    cursor: pointer;
  }
  &.is-hovered {
    &.is-navigable .spectrum-Steplist-marker {
      border: none;
    }
  }
}

.spectrum-Steplist-link {
  grid-area: link;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: "number label";
  
  .spectrum-Steplist-marker {
    grid-area: number;
    outline: none;
    box-sizing: border-box; /* So we can stroke nicely */
    border-style: solid;
    border-width: var(--spectrum-steplist-marker-border-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
  .spectrum-Steplist-label {
    grid-area: label;
  }
}

/* Small size */
.spectrum-Steplist--small {
  line-height: calc(var(--spectrum-steplist-marker-diameter-small) + (var(--spectrum-steplist-marker-border-width) * 4));
  column-gap: calc(var(--spectrum-steplist-chevron-link-gap-small) + (var(--spectrum-steplist-marker-border-width) * 2));
  font-size: var(--spectrum-global-dimension-font-size-50);     

  .spectrum-Steplist-item {
    grid-template-columns: var(--spectrum-steplist-marker-box-width-small) auto;
    grid-column-gap: var(--spectrum-steplist-chevron-link-gap-small);
  }
  .spectrum-Steplist-link {
    grid-column-gap: var(--spectrum-steplist-number-label-gap-small); 

    .spectrum-Steplist-marker {
      line-height: var(--spectrum-steplist-marker-diameter-small);
      width: var(--spectrum-steplist-marker-diameter-small);
      height: var(--spectrum-steplist-marker-diameter-small);
      border-radius: var(--spectrum-steplist-marker-diameter-small);
      font-size: 0;     
    }
  }
  .spectrum-Steplist-chevron {
    transform: scale(0.9);
  }
}

/* Medium size */
.spectrum-Steplist--medium {
  line-height: calc(var(--spectrum-steplist-marker-diameter-medium) + (var(--spectrum-steplist-marker-border-width) * 4));
  column-gap: calc(var(--spectrum-steplist-chevron-link-gap-medium) + (var(--spectrum-steplist-marker-border-width) * 2));
  font-size: var(--spectrum-global-dimension-font-size-75);     

  .spectrum-Steplist-item {
    grid-template-columns: var(--spectrum-steplist-marker-box-width-medium) auto;
    grid-column-gap: var(--spectrum-steplist-chevron-link-gap-medium);
  }
  .spectrum-Steplist-link {
    grid-column-gap: var(--spectrum-steplist-number-label-gap-medium); 

    .spectrum-Steplist-marker {
      line-height: var(--spectrum-steplist-marker-diameter-medium);
      width: var(--spectrum-steplist-marker-diameter-medium);
      height: var(--spectrum-steplist-marker-diameter-medium);
      border-radius: var(--spectrum-steplist-marker-diameter-medium);
      font-size: var(--spectrum-global-dimension-font-size-50);     
    }
  }
}

/* large size */
.spectrum-Steplist--large {
  line-height: calc(var(--spectrum-steplist-marker-diameter-large) + (var(--spectrum-steplist-marker-border-width) * 4));
  column-gap: calc(var(--spectrum-steplist-chevron-link-gap-large) + (var(--spectrum-steplist-marker-border-width) * 2));
  font-size: var(--spectrum-global-dimension-font-size-150);     

  .spectrum-Steplist-item {
    grid-template-columns: var(--spectrum-steplist-marker-box-width-large) auto;
    grid-column-gap: var(--spectrum-steplist-chevron-link-gap-large);
  }
  .spectrum-Steplist-link {
    grid-column-gap: var(--spectrum-steplist-number-label-gap-large); 

    .spectrum-Steplist-marker {
      line-height: var(--spectrum-steplist-marker-diameter-large);
      width: var(--spectrum-steplist-marker-diameter-large);
      height: var(--spectrum-steplist-marker-diameter-large);
      border-radius: var(--spectrum-steplist-marker-diameter-large);
      font-size: var(--spectrum-global-dimension-font-size-100);     
    }
  }
  .spectrum-Steplist-chevron {
    transform: scale(1.25);
  }
}

/* xlarge size */
.spectrum-Steplist--xlarge {
  line-height: calc(var(--spectrum-steplist-marker-diameter-xlarge) + (var(--spectrum-steplist-marker-border-width) * 4));
  column-gap: calc(var(--spectrum-steplist-chevron-link-gap-xlarge) + (var(--spectrum-steplist-marker-border-width) * 2));
  font-size: var(--spectrum-global-dimension-font-size-200);     

  .spectrum-Steplist-item {
    grid-template-columns: var(--spectrum-steplist-marker-box-width-xlarge) auto;
    grid-column-gap: var(--spectrum-steplist-chevron-link-gap-xlarge);
  }
  .spectrum-Steplist-link {
    grid-column-gap: var(--spectrum-steplist-number-label-gap-xlarge); 

    .spectrum-Steplist-marker {
      line-height: var(--spectrum-steplist-marker-diameter-xlarge);
      width: var(--spectrum-steplist-marker-diameter-xlarge);
      height: var(--spectrum-steplist-marker-diameter-xlarge);
      border-radius: var(--spectrum-steplist-marker-diameter-xlarge);
      font-size: var(--spectrum-global-dimension-font-size-150);     
    }
  }
  .spectrum-Steplist-chevron {
    transform: scale(1.5);
  }
}


/* First step overrides */
.spectrum-Steplist-item:first-child {
  grid-template-areas: "link";
  grid-template-columns: auto;
  .spectrum-Steplist-segment {
    /* Not visible for first step */
    display: none;
  }
}


/* vertical version */
.spectrum-Steplist--vertical {
  flex-direction: column;
  gap: 0;
  .spectrum-Steplist-item {
    grid-template-areas: "chevron ."
                         "link link";
    justify-items: left;
    &.is-navigable {
      .spectrum-Steplist-segment {
        border-style: solid;
      }
    }
  }
  .spectrum-Steplist-chevron {
    display: none;
  }
  .spectrum-Steplist-segment {
    grid-area: chevron;
    justify-self: center;
    display: block;
    box-sizing: content-box;
    height: var(--spectrum-steplist-vertical-separation);
    width: 0;
    border-width: 0;
    border-left-width: 2px;
    border-left-style: dashed;
  }  
}
