@require '../../commons'

$spectrum-font-size-text-label= 12*$px
$spectrum-line-height-text-label = 12*$px

spectrum-label() {
  font-size: $spectrum-font-size-text-label;
  border-radius: $spectrum-border-radius;
  display:inline-block;
  position:relative;
  padding: 6*$px 9*$px;
  line-height: $spectrum-line-height-text-label;
  width:auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}

spectrum-label-typeIcon() {
  font-size: 14*$px;
  line-height: 0;

  &:before {
    vertical-align: sub;
  }
}

spectrum-label--large() {
  padding: 10*$px 14*$px;
}
