spectrum-label-grey() {
  background-color: $spectrum-color-background-label-grey;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-green() {
  background-color: $spectrum-color-background-label-green;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-blue() {
  background-color: $spectrum-color-background-label-blue;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-red() {
  background-color: $spectrum-color-background-label-red;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-seafoam() {
  background-color: $spectrum-color-background-label-seafoam;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-periwinkle() {
  background-color: $spectrum-color-background-label-periwinkle;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-fuchsia() {
  background-color: $spectrum-color-background-label-fuchsia;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-orange() {
  background-color: $spectrum-color-background-label-orange;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-yellow() {
  background-color: $spectrum-color-background-label-yellow;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-plum() {
  background-color: $spectrum-color-background-label-plum;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-cyan() {
  background-color: $spectrum-color-background-label-cyan;
  color: $spectrum-color-text-label-colored;
}

spectrum-label-kellygreen() {
  background-color: $spectrum-color-background-label-kellygreen;
  color: $spectrum-color-text-label-colored;
}
