.spectrum--large .spectrum-ToggleSwitch {

  min-height: 40px;

  margin-right: 20px;
}
.spectrum--large .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::after {
      transform: translateX(18px);
    }
.spectrum--large .spectrum-ToggleSwitch-label {
  margin: 0 13px;
  font-size: 17px;
  transition: color 160ms ease-in-out;

  margin-top: 8px;
}
.spectrum--large .spectrum-ToggleSwitch-switch {

  height: 18px;
  width: 36px;
  margin: 11px 0;
}
.spectrum--large .spectrum-ToggleSwitch-switch::before {
    transition: background 130ms ease-in-out, border 130ms ease-in-out;

    height: 18px;

    border-radius: 9px;
  }
.spectrum--large .spectrum-ToggleSwitch-switch::after {
    transition: background 130ms ease-in-out, border 130ms ease-in-out, transform 130ms ease-in-out, box-shadow 130ms ease-in-out;

    width: 18px;
    height: 18px;

    border-width: 2px;
    border-radius: 9px;
  }
