@import '@spectrum/spectrum-css/dist/components/loader/index.css';
@import '@spectrum/spectrum-css/dist/components/loader/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/loader/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/loader/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/loader/multiStops/darkest.css';
