@import '@spectrum/spectrum-css/dist/components/loader/index.css';
@import '@spectrum/spectrum-css/dist/components/loader/multiStops/light.css';
@import '@spectrum/spectrum-css/dist/components/loader/multiStops/lightest.css';
@import '@spectrum/spectrum-css/dist/components/loader/multiStops/dark.css';
@import '@spectrum/spectrum-css/dist/components/loader/multiStops/darkest.css';

.react-spectrum-Wait--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
